{% comment %}
  Renders a discount badge

  Accepts:
  - image: {Image} image
  - border_radius: {Number} border radius
  - max_width: {Number} maximum width
  - aspect_ratio: {Number} aspect ratio

  Outputs:
  Usage:
  {% render 'animate-image', image: image, border_radius: border_radius,  aspect_ratio: aspect_ratio %}
{% endcomment %}

{% if border_radius %}
  {% assign border_radius = border_radius %}
{% else %}
  {% assign border_radius = 1000 %}
{% endif %}
{% if aspect_ratio %}
  {% assign aspect_ratio = aspect_ratio %}
{% else %}
  {% assign aspect_ratio = 1 %}
{% endif %}
{% if lazyload == false %}
  {% assign lazyload = lazyload %}
{% else %}
  {% assign lazyload = true %}
{% endif %}

<div
  class='animate-image'
  style='
    --border-radius: {{ border_radius }}px;{% if max_width %}
      --max-width: {{ max_width }}%;
    {% endif %}
  '
>
  <xo-animate xo-cascade xo-type='zoom-out' xo-duration='1500' xo-strength='1' style='height: 100%;'>
    {% render 'image', image: image, aspect_ratio: aspect_ratio, lazyload: lazyload, disable_alt: disable_alt, width_range: width_range %}
  </xo-animate>
</div>
