{% comment %}
  Renders a list of annoucement bar

  Accepts:
  - link: {String} Annoucement bar link to page (optional)
  - text: {String} text of annoucement bar (optional)

  Usage:
  {% render 'annoucement-bar',
    link: "abc",
    text: "abc",
  %}
{% endcomment %}

<div class='announcement-bar'>
  {% if link != '' %}
    <a href='{{ link }}'>{{ text | default: 'text' }}</a>
  {% else %}
    {{ text | default: 'text' }}
  {% endif %}
</div>
