<div
  class='xo-announcement-text__item'
  role='region'
  aria-label='{{ 'sections.header.announcement' | t }}'
  {{ block.shopify_attributes }}
>
  {%- if block.settings.text != blank -%}
    {%- if block.settings.link != blank -%}
      <a href='{{ block.settings.link }}' class='xo-announcement-text__link link focus-inset'>
    {%- endif -%}
    <div class='xo-announcement-text__message'>
      {{ block.settings.text }}
    </div>
    {%- if block.settings.link != blank -%}
      </a>
    {%- endif -%}
  {%- endif -%}
  {% if announcement_bar_style == 'marquee' %}
    <span class='xo-announcement-text__dot'></span>
  {% endif %}
</div>
