<div class='xo-article-comments' id='comments'>
  {%- if article.comments_count > 0 -%}
    <xo-animate xo-cascade>
      <h5 class='xo-article-comments__title h5'>{{ 'customer.comment.title' | t }} ({{ article.comments_count }})</h5>
    </xo-animate>
    {% paginate article.comments by 5 %}
      <div class='xo-article-comments__list'>
        {% for comment in article.comments %}
          {% render 'comment-card', comment: comment %}
        {% endfor %}
      </div>
      <xo-animate xo-cascade>
        {% render 'pagination', paginate: paginate, anchor: '#comments' %}
      </xo-animate>
    {% endpaginate %}
  {% endif %}
</div>
