{% comment %}
  Renders a badge block

  Accepts:
  - image: {Object} Image (required)
  - text: {String} Text (required)
  - bg_color: {String} Background color (required)
  - text_color: {String} Text color (required)

  Usage:
  {% render 'badge-block',
    image: image,
    text: "Hot",
    bg_color: '#19FFA0',
    text_color: '#242833'
  %}
{% endcomment %}

<div class="xo-badge-block" style="--bg-color: {{ bg_color }}; --text-color: {{ text_color }}">
  {% if image != blank %}
    <div class="xo-badge-block__image">
      {% render 'image', image: image %}
    </div>
  {% endif %}
  <span class="xo-badge-block__text">{{ text }}</span>
</div>
