{% comment %}
  Renders a tag list
  Accepts:
  - all_tags: {array} List of tags
  Usage:
  {% render 'blog-tags', all_tags: blog.all_tags %}
{% endcomment %}

<div class='xo-blog-tags'>
  {% assign size = all_tags | size %}
  {%- if size > 0 -%}
    {% comment %} <span class='xo-blog-tags__title'>{{ 'blogs.article.tags' | t }}:</span> {% endcomment %}
    {%- for tag in all_tags -%}
      <div class='xo-blog-tags__item {% if settings.enable_border_radius %}xo-blog-tags__item--radius{% endif %}'>{{ tag }}</div>
    {%- endfor -%}
  {%- endif -%}
</div>
