{% comment %}
  Renders a bundle empty

  Accepts:
  - icon: {String} Icon name (required)
  - size: {Number} Icon size (optional)
  - title: {String} Title (required)

  Usage:
  {% render 'bundle-empty', icon: icon, size: size, title: title %}
{% endcomment %}

{% liquid
  assign icon_name = 'cart-empty-1'
  if icon
    assign icon_name = icon
  endif

  assign icon_size = '11.2rem'
  if size
    assign icon_size = icon
  endif

  assign text_empty = 'general.bundle.empty' | t
  if title
    assign text_empty = title
  endif
%}

<div class='xo-bundle-empty'>
  <div class='xo-bundle-empty__wrapper xo-stack' style='--ai: center; --jc: center; --dir: column; --gap: 18.2; --gap-mobile: 18.2'>
    <div class='xo-bundle-empty__icon xo-stack' style='--ai: center; --jc: center'>
      {% render 'icon', name: icon_name, size: icon_size, color: 'rgba(var(--color-accent))' %}
    </div>
    <span class='xo-bundle-empty__title'>{{ text_empty }}</span>
  </div>
</div>
