{% comment %}
  Renders a button icon

  Accepts:
  - size: {String} size of button
  - style: {String} style of the button
  - type: {String} type of the button
  - effect: {String} effect animate  of the button
  - icon: {String} icon name
  - icon_size: {Number} icon size

  Usage:
  {% render 'button-icon',
    size: 'md',
    style: 'primary',
    type: 'boxed',
    icon: 'plus',
    icon_size: '20',
    effect: 'fill',
  %}
{% endcomment %}

{% liquid
  assign size = size | default: 'md'
  assign style = style | default: 'primary'
  assign type = type | default: 'boxed'
  assign effect = effect | default: 'fill'
  assign icon = icon | default: 'plus'
  assign icon_size = icon_size | default: '20'
  assign loading_size = 4
  if size == 'md'
    assign loading_size = 6
  elsif size == 'lg'
    assign loading_size = 8
  endif
%}

<button class="xo-btn-icon{% if size %} xo-btn-icon--{{ size }}{% endif %}{% if style %} xo-btn-icon--{{ style }}{% endif %}{% if type %} xo-btn-icon--{{ type }}{% endif %}{% if effect %} xo-btn-icon--{{ effect }}{% endif %}{% if settings.enable_border_radius %} xo-btn-icon--radius{% endif %}" aria-label='Button icon'>
  {% if effect == 'slide-up' %}
    <span class="xo-btn-icon__icon xo-btn-icon__icon--before">
      {% render 'icon', name: icon, size: icon_size %}
    </span>
    <span class="xo-btn-icon__icon xo-btn-icon__icon--after">
      {% render 'icon', name: icon, size: icon_size %}
    </span>
  {%- else -%}
    <span class="xo-btn-icon__icon">
      {% render 'icon', name: icon, size: icon_size %}
    </span>
  {% endif %}
  <span class="xo-btn-icon__loading">
    {% render 'loader-3', size: loading_size %}
  </span>
</button>
