{% comment %}
  Renders a button-slide

  Accepts:
  - slide_direction: {String} Direction when hover (left | right) (required)
  - btn_size: {String} Button size (rem) (required)
  - icon: {String} Icon name (required)
  - icon_size: {String} Icon size (required)

  Usage:
  {% render 'button-slide' %}
{% endcomment %}

<div
  class='button-slide button-slide--{{ direction }}{% if type == 'boxes' %} button-slide--boxed{% endif %}{% if style %} button-slide--{{ style }}{% endif %}{% if settings.enable_border_radius %} button-slide--radius{% endif %}'
  style='--btn-size: {{ size }}'
>
  {% if text != null %}
    <span class='button-slide__text'>{{ text }}</span>
  {% endif %}
  {% if text != null %}
    <div class='button-slide__wrapper'>
  {% endif %}
  <div class='button-slide__icon-before'>
    {% render 'icon', name: icon, size: icon_size %}
  </div>
  <div class='button-slide__icon-after'>
    {% render 'icon', name: icon, size: icon_size %}
  </div>
  {% if text != null %}
    </div>
  {% endif %}
</div>
