{% assign title_empty = 'sections.cart.empty' | t %}
{% assign button_text = 'sections.cart.continue_shoping' | t %}

{% capture content_empty %}
  <div class="cart-empty__header">
    {% render 'button', text: button_text, style: 'primary', size: 'sm', link: routes.all_products_collection_url, icon: 'chevron-right' %}
  </div>
  <div class="cart-empty__login">
    <div class='cart-empty__login-paragraph'>
      <p>
        Have an account? 
        <a href="{{ routes.account_login_url }}" class="link underlined-link">Log in</a> 
        to check in faster.
      </p>
    </div>
  </div>
{% endcapture %}

<xo-animate xo-cascade>
  <div class='xo-cart-empty'>
    {% render 'empty', title: title_empty, content: content_empty %}
  </div>
</xo-animate>
