{% comment %}
  Renders a category

  Accepts:
  - class: {String} Font size heading
  - heading: {String} Heading
  - tag_name: {String} Tag name
  - effect: {String} Effect
  - duration: {String} Duration
  - heading_width_desktop: {Number} Heading width desktop
  - heading_width_mobile: {Number} Heading width mobile
  - collection: {Object} Collection
  - button: {Object} Button
  - image: {String} Image
  - aspect_ratio: {Object} Aspect ratio
  - block: {Object} Blocks

  Usage:
    {% render 'category-2-block',
    block: block,
    class: class,
    heading: heading,
    sub_heading: sub_heading,
    effect: effect,
    duration: duration,
    tag_name: tag_name,
    heading_width_desktop: heading_width_desktop,
    heading_width_mobile: heading_width_mobile,
    image_desktop: image_desktop,
    aspect_ratio_desktop: aspect_ratio_desktop,
    image_mobile: image_mobile,
    aspect_ratio_mobile: aspect_ratio_mobile,
    button: button
  %}
{% endcomment %}

<xo-animate
  xo-cascade
  class='category-2-block{% if settings.enable_border_radius %} category-2-block--radius{% endif %}{% if color_schema_box %} color-{{ color_schema_box }}{% endif %}'
>
  <div class='category-2-block__wrapper'>
    <div class='category-2-block__head'>
      {% if heading %}
        <div class='category-2-block__heading'>
          {% render 'text',
            class: class,
            text: heading,
            effect: effect,
            duration: duration,
            tag_name: tag_name,
            heading_width_desktop: heading_width_desktop,
            heading_width_mobile: heading_width_mobile
          %}
        </div>
      {% endif %}
      <div class='category-2-block__button'>
        {% render 'button',
          text: button.button_text,
          link: button.button_link,
          style: button.button_style,
          size: button.button_size,
          radius: settings.button_radius,
          padding: settings.button_padding
        %}
      </div>
      <div class='category-2-block__image'>
        <xo-animate xo-cascade xo-type='zoom-out' style='height: 100%'>
          {% render 'image', image: image_desktop, aspect_ratio: aspect_ratio_desktop %}
        </xo-animate>
      </div>
    </div>
    <div class='category-2-block__bottom'>
      <xo-carousel
        class='category-2-block__carousel'
        xo-per-view='4'
        xo-gap='54'
        xo-breakpoints='
          {
            400: {
              perView: 2,
              perMove: 1,
              gap: 20
            },
            768: {
              perView: 3,
              perMove: 1,
              gap: 20
            },
            992: {
              perView: 3,
              perMove: 1,
              gap: 20
            },
            1200: {
              perView: 3,
              perMove: 1,
              gap: 30
            },
            1400: {
              perView: 3,
              perMove: 1,
              gap: 40
            },
          }
        '
      >
        <xo-carousel-inner>
          <xo-carousel-list>
            {% if collection_list != blank %}
              {% for collection in collection_list %}
                <xo-carousel-slide>
                  <div class='category-2-block__item'>
                    {% render 'collection-card-v2',
                      collection: collection,
                      padding_vertical: 18,
                      padding_horizontal: 18,
                      image_size: image_size,
                      layout: 'vertical',
                      animated_enable: true
                    %}
                  </div>
                </xo-carousel-slide>
              {% endfor %}
            {% else %}
              {% for item in (1..4) %}
                <xo-carousel-slide>
                  <div class='category-2-block__item'>
                    {% render 'collection-card-v2', padding_vertical: 10, padding_horizontal: 10, image_size: image_size, layout: 'vertical', animated_enable: true %}
                  </div>
                </xo-carousel-slide>
              {% endfor %}
            {% endif %}
          </xo-carousel-list>
        </xo-carousel-inner>
      </xo-carousel>
    </div>
  </div>
</xo-animate>
