{% comment %}
  Renders a collection list

  Accepts:
  - collection_image: {String} Image of the collection (required),
  - collection_name: {String} Title of the collection (required),
  - collection_link: {String} URL of the collection (required),

  Usage:
  {% render 'collection-list',
  collection_image: collection_image,
  collection_name: collection_name,
  collection_link: collection_link,
  color_scheme_collection: color_scheme_collection,
  %}
{% endcomment %}

<xo-animate xo-cascade>
  <div class='collection-list{% if settings.enable_border_radius %} collection-list--radius{% endif %}{% if color_scheme_collection %} color-{{ color_scheme_collection }} {% endif %}'>
    <a
      {% if collection_link == blank %}
      role='link'
      aria-disabled='true'
      {% else %}
      href='{{ collection_link }}'
      {% endif %}
      class='collection-list__link'
      title='Collection link'>
      <div class='collection-list__content' style='--opacity: {{ background_overlay }}'>
        {% if collection_image == blank %}
          <div class='collection-list__image collection-list__image--desktop'>
            {% render 'image', image: image, placeholder: placeholder, aspect_ratio: aspect_ratio_dt | default: '3/2', disable_alt: true %}
          </div>
          <div class='collection-list__image collection-list__image--mobile'>
            {% render 'image', image: image, placeholder: placeholder, aspect_ratio: aspect_ratio_mb | default: '3/4', disable_alt: true %}
          </div>
        {%- else -%}
          <div class='collection-list__image collection-list__image--desktop'>
            {% render 'image', image: collection_image, aspect_ratio: aspect_ratio_dt | default: '3/2', disable_alt: true %}
          </div>
          <div class='collection-list__image collection-list__image--mobile'>
            {% render 'image', image: collection_image, aspect_ratio: aspect_ratio_mb | default: '3/4', disable_alt: true %}
          </div>
        {% endif %}
        <div class='collection-list__text'>
          <div class='collection-list__heading'>
            {% render 'text', class: class, text: collection_name, tag_name: tag_name, effect: 'split', duration: 1000 %}
          </div>
          <div class='collection-list__button'>
            {% render 'button', text: 'Shop all', style: 'primary', size: 'sm' %}
          </div>
        </div>
      </div>
    </a>
  </div>
</xo-animate>
