{% comment %}
  Renders a collapse component.

  Accepts:
  - heading: {String} Heading of the collapse (optional)
  - content: {String} Content of the collapse (optional)
  - name: {String} Name of the collapse (optional)

  Usage:
  {% render 'collapse',
    heading: heading,
    content: content,
    name: name,
  %}
{% endcomment %}

<div class='xo-collapse-2'>
  <div class='xo-collapse-2__trigger'>
    <div class='xo-collapse-2__heading {{ tag }}'>{{ heading }}</div>
  </div>
  <div class='xo-collapse-2__collapse xo-collapse-2__collapse--open'>
    {% if content %}
      <div class='xo-collapse-2__content'>
        {{ content }}
      </div>
    {% endif %}
  </div>
</div>
