{% comment %}
  Renders a collection empty

  Accepts:
  - title: {String} Title (required)

  Usage:
  {% render 'collection-empty'%}
{% endcomment %}

{% liquid
  if button_enable == null
    assign button_enable = fasle
  endif

  assign icon_size = icon_size | default: '11.2rem'
%}

<xo-animate xo-cascade>
  <div class='collection-empty'>
    <div class='collection-empty__content'>
      <div class='collection-empty__image'>
        {% render 'icon', name: 'cart-empty-1', size: icon_size %}
      </div>
      <div class='collection-empty__title'>
        <p>{{ title }}</p>
      </div>
      {% if button_enable %}
        <div class='collection-empty__button'>
          {% render 'button', text: button_text, size: 'md', style: 'primary', link: button_link, block: true %}
        </div>
      {% endif %}
    </div>
  </div>
</xo-animate>
