{% comment %}
  Renders a column block

  Accepts:
  - content: {String} Content (required)
  - desktop_row_span: {Number} Desktop row span (required)
  - desktop_col_span: {Number} Desktop column span (required)
  - mobile_row_span: {Number} Mobile row span (required)
  - mobile_col_span: {Number} Mobile column span (required)

  Usage:
  {% render 'column-block',
  content: content,
  desktop_row_span: 1,
  desktop_col_span: 1,
  mobile_row_span: 1,
  mobile_col_span: 1
  %}
{% endcomment %}

{% liquid
  assign tablet_row_span = desktop_row_span | minus: 1
  assign tablet_col_span = desktop_col_span | minus: 1
  assign css_vars = '--xo-row-span-desktop:' | append: desktop_row_span | append: ';'
  assign css_vars = css_vars | append: '--xo-col-span-desktop:' | append: desktop_col_span | append: ';'
  assign css_vars = css_vars | append: '--xo-row-span-tablet:' | append: tablet_row_span | append: ';'
  assign css_vars = css_vars | append: '--xo-col-span-tablet:' | append: tablet_col_span | append: ';'
  assign css_vars = css_vars | append: '--xo-row-span-mobile:' | append: mobile_row_span | append: ';'
  assign css_vars = css_vars | append: '--xo-col-span-mobile:' | append: mobile_col_span | append: ';'
%}

<div class="xo-column-2__content{% unless request.design_mode %} xo-column-2__content--modifier{% endunless %}">{{- content -}}</div>
<template data-style-start="{{ css_vars }}" data-style-end></template>
<template data-column-space></template>
