{{ 'comment-card.css' | asset_url | stylesheet_tag }}

<div class='comment-card'>
  <div class='comment-card__content'>{{ comment.content }}</div>
  <div class='comment-card__info'>
    <div class='comment-card__author'>{{ comment.author }}</div>
    <div class='comment-card__dot'></div>
    <div class='comment-card__date'>{{ comment.created_at | date: '%B %d, %Y' }}</div>
  </div>
</div>
