{% comment %}
  Accepts:
  - title: {Text} Title (required)
  - description: {Text} Description (required)
  - button: {Button} Button (required)
  Usage:
  {%
    render 'count-number',
     title: "Shop all (50)",
     description: 'text' ,
     button: 'View all'
    %}
{% endcomment %}

<div class='count-number'>
  <h2 class='count-number__heading'>
    <p>{{ title }}</p>
    <span>( {{ shop.products_count }} )</span>
  </h2>
  {% if description %}
    <div class='count-number__sub-heading'>
      <p>{{ description }}</p>
    </div>
  {% endif %}
  <div class='count-number__button'>
    {% render 'button',
      text: button.settings.button_text,
      link: button.settings.button_link,
      style: button.settings.button_style,
      size: button.settings.button_size,
      radius: button.settings.button_radius,
      padding: button.settings.button_padding
    %}
  </div>
</div>
