{% comment %}
  Renders a divider block

  Accepts:

  Usage:
  {% render 'column-block',
  %}
{% endcomment %}

<div class="xo-divider-block">
  <div
    class="xo-divider-block__inner{% if text == blank %} xo-divider-block__inner--empty{% endif %}"
    style="--width: {{ divider_width }}%; --divider-style: {{ divider_style }}; --divider-weight: {{ divider_weight }}px"
  >
    {{ text }}
  </div>
</div>
