{% comment %}
  Renders facets vertical (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - color_scheme: {String} Color scheme

  Usage:
  {% render 'facets-vertical', results: collection, enable_filtering: true, enable_sorting: true %}
{% endcomment %}

<div class='xo-facets-vertical'>
  <div>
    {% if enable_filtering %}
      {% for filter in results.filters %}
        {% render 'filters-fieldset', type: 'collapse', filter: filter, facets_vertical: true %}
      {% endfor %}
    {% endif %}
  </div>
</div>
