{% comment %}
  Renders a feature collection element with a given value

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - title_list: {String} Title specifications (required)
  - content_list: {String} Content specifications (required)
  - block: {Object} Block (required)

  Usage:
  {% render 'featured-collection-2',
    class: font_size,
    heading: heading,
    title_list: title_list,
    content_list: content_list,
    block: block
  %}
{% endcomment %}

<div class='featured-collection-2'>
  <xo-animate xo-cascade>
    <div class='featured-collection-2__head'>
      {% if heading != blank %}
        <div class='featured-collection-2__heading'>
          {% render 'text', class: class, text: heading, tag_name: tag_name, effect: effect, duration: duration %}
        </div>
      {%- else -%}
        <div class='featured-collection-2__heading'>
          {% render 'text', class: class, text: default_heading, tag_name: tag_name, effect: effect, duration: duration %}
        </div>
      {% endif %}
    </div>
  </xo-animate>
  <xo-grid class='featured-collection-2__grid'>
    <div xo-cascade class='featured-collection-2__left' style='--lg: 6; --md: 12; --xs: 12;'>
      <xo-animate xo-cascade>
        <div class='featured-collection-2__specification'>
          {% render 'product-information', title_list: title_list, content_list: content_list, color_schema_box: color_schema_specification %}
        </div>
      </xo-animate>
      <div class='featured-collection-2__product'>
        <xo-grid class='featured-collection-2__product-grid' style='--lg: 2; --md: 2; --xs: 1'>
          {% for item in block %}
            {% liquid
              assign product_card_aspect_ratio = item.settings.product_card_aspect_ratio
              assign card_color_scheme = item.settings.card_color_scheme
              assign placeholder_image = 'collection-1'
            %}
            <div class='featured-collection-2__item-product'>
              {% render 'product-card',
                product: item.settings.product,
                show_image: settings.product_card_show_image,
                show_secondary_image: settings.product_card_show_secondary_image,
                show_vendor: settings.product_card_show_vendor,
                show_description: settings.product_card_show_description,
                show_quick_add: settings.product_card_show_quick_add,
                show_quick_view: settings.product_card_show_quick_view,
                show_favorite: settings.product_card_show_favorite,
                show_price: settings.product_card_show_price,
                show_badge: settings.product_card_show_badge,
                position_badge: settings.position_badge,
                media_aspect_ratio: product_card_aspect_ratio,
                color_scheme: card_color_scheme,
                placeholder_image: placeholder_image,
                animate_enabled: true,
                product_handle: true
              %}
            </div>
          {% endfor %}
        </xo-grid>
      </div>
    </div>
    <div xo-cascade style='--lg: 6; --md: 12; --xs: 12;'>
      <div class='featured-collection-2__right'>
        <div class='featured-collection-2__image{% if settings.enable_border_radius %} featured-collection-2__image--radius{% endif %}'>
          {% comment %} {% render 'image', image: image, aspect_ratio: aspect_ratio %} {% endcomment %}
          {% render 'animate-image', image: image, border_radius: 0, aspect_ratio: aspect_ratio %}
        </div>
      </div>
    </div>
  </xo-grid>
</div>
