<xo-filters-refine class='xo-filters-refine'>
  <xo-filters-clear xo-clear-all tabindex="0" role="button">
    <p>{{ 'products.facets.clear_all' | t }}</p>
  </xo-filters-clear>
  <xo-filters-refine-clear-icon>
    {% render 'icon', name: 'close', size: '1rem' %}
  </xo-filters-refine-clear-icon>
</xo-filters-refine>
