{% comment %}
  Renders a heading multi column

  Accepts:
  - heading: {String} Heading (required)
  - class : {String} Font size heading (required)
  - col : {Number} Column (required)

  Usage:
  {% render 'heading-multi-column', heading: heading, class: class, col: col, style: style %}
{% endcomment %}

<div class='heading-multi-column {% if layout == 'style-2' %}heading-multi-column--style-2{% endif %}'>
  <xo-grid class='heading-multi-column__grid'>
    <div class='heading-multi-column__heading {{ class }}' style='--lg: {{ column }}; --md: 12; --xs: 12'>
      {% render 'text',
        class: class,
        text: heading,
        tag_name: tag_name,
        effect: effect,
        duration: duration,
        heading_width_desktop: heading_width_desktop,
        heading_width_mobile: heading_width_mobile
      %}
    </div>
  </xo-grid>
</div>
