{% comment %}
  Renders a image button

  Accepts:
  - image: {String} Image (required)
  - button: {Object} Button (required)

  Usage:
  {% render 'image-button', image: image, button: button %}
{% endcomment %}

<div class='image-button'>
  {% if button.button_link != blank %}
    <a href='{{ button.button_link }}' class='image-button__link'>
  {% endif %}
  <div class='image-button__image{% if settings.enable_border_radius %} image-button__image--radius{% endif %}'>
    {% render 'animate-image', image: image, border_radius: 0, aspect_ratio: aspect_ratio, width_range: width_range %}
  </div>
  {% if button.button_link != blank %}
    </a>
  {% endif %}
  <div class='image-button__button'>
    {% render 'button',
      text: button.button_text,
      link: button.button_link,
      style: button.button_style,
      size: button.button_size,
      radius: settings.button_radius,
      padding: settings.button_padding
    %}
  </div>
</div>
