{% comment %}
  Renders a image button

  Accepts:
  - block: {Object} Block (required)

  Usage:
  {% render 'image-button-block',
    image_desktop: image_desktop,
    aspect_ratio_desktop: aspect_ratio_desktop,
    image_mobile: image_mobile,
    aspect_ratio_mobile: aspect_ratio_mobile,
    button: button
  %}
{% endcomment %}

{{ 'collection-image.css' | asset_url | stylesheet_tag }}

<div class='image-button-block'>
  <div class='image-button-block__content'>
    {% render 'collection-image',
      image_desktop: image_desktop,
      media_aspect_ratio_desktop: media_aspect_ratio_desktop,
      image_mobile: image_mobile,
      media_aspect_ratio_mobile: media_aspect_ratio_mobile,
      show_button: true,
      animate_enabled: false,
      button: button
    %}
  </div>
</div>
