{% comment %}
  Renders a image comparison block

  Accepts:
  - image_before: {Object} Image before (required)
  - image_after: {Object} Image after (required)

  Usage:
  {% render 'image-comparison-block',
    image_before: image_before,
    image_after: image_after
  %}
{% endcomment %}

<xo-image-comparison class="xo-img-compare">
  <xo-image-comparison-before>
    {% render 'image', image: image_before, width: '100%' %}
    <xo-image-comparison-label class="xo-img-compare__badge">Before</xo-image-comparison-label>
  </xo-image-comparison-before>
  <xo-image-comparison-after>
    {% render 'image', image: image_after, width: '100%' %}
    <xo-image-comparison-label class="xo-img-compare__badge">After</xo-image-comparison-label>
  </xo-image-comparison-after>
  <xo-image-comparison-handle class="xo-img-compare__handle">
    <xo-image-comparison-handle-icon class="xo-img-compare__handle-icon">
      <div class="xo-img-compare__icon-left">
        {% render 'icon', name: 'chevron-left', size: '2rem', color: 'rgba(var(--color-accent))' %}
      </div>
      <div class="xo-img-compare__icon-right">
        {% render 'icon', name: 'chevron-right', size: '2rem', color: 'rgba(var(--color-accent))' %}
      </div>
    </xo-image-comparison-handle-icon>
  </xo-image-comparison-handle>
</xo-image-comparison>
