{% comment %}
  Accepts:
  - tag: {String} Tags heading (required)
  - heading: {String} Heading (required)
  - sub_heading: {String} Subheading (required)
  - image: {String} Image (required)
  - block: {Object} Blocks (required)
  Usage:
  {%
    render 'img-with-text-1',
    tag: tag,
    heading: heading,
    sub_heading: sub_heading,
    image: image ,
    block: block,
    %}
{% endcomment %}

<div class='img-with-text-1'>
  <xo-animate xo-cascade>
    <div class='img-with-text-1__text'>
      {% if sub_heading %}
        <div class='img-with-text-1__sub-heading'>
          <p>{{ sub_heading }}</p>
        </div>
      {% endif %}
      {% if heading %}
        <div class='img-with-text-1__heading {{ tag }}'>{{ heading }}</div>
      {% endif %}
    </div>
  </xo-animate>
  {% if block.size > 0 %}
    <xo-animate xo-cascade>
      <div class='img-with-text-1__feature'>
        {% for item in block %}
          {% liquid
            assign image_icon = item.settings.image
            assign heading = item.settings.heading
          %}
          <div class='img-with-text-1__feature-item'>
            <div class='img-with-text-1__feature-image'>
              {% render 'image', image: image_icon %}
            </div>
            <div class='img-with-text-1__feature-heading'>
              <p>{{ heading }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </xo-animate>
  {% endif %}
  <div class='img-with-text-1__image-box'>
    <xo-parallax>
      <xo-parallax-scroll
        class='xo-background-lazyload'
        xo-keyframes="
          {
            '0%': { y: 0, scale: 0.5 },
            '50%': { y: 0, scale: 1 },
            '100%': { y: 0, scale: 0.5 }
          }
        "
      >
        <xo-animate xo-cascade xo-type='zoom-out' xo-duration='600' class='img-with-text-1__image'>
          {% render 'image', image: image, aspect_ratio: aspect_ratio %}
        </xo-animate>
      </xo-parallax-scroll>
    </xo-parallax>
  </div>
</div>
