{% comment %}
  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - sub_heading: {String} Subheading (required)
  - image: {String} Image (required)
  - button: {Object} Button (required)
  Usage:
  {%
    render 'img-with-text-6',
    class: class,
    heading: heading,
    sub_heading: sub_heading,
    image: image ,
    button: button,
    %}
{% endcomment %}

<div class='img-with-text-6'>
  <xo-grid class='img-with-text-6__grid'>
    <div class='img-with-text-6__left' style='--lg: 8; --md: 12; --xs: 12'>
      <div class='img-with-text-6__image'>
        {% render 'image', image: image_1, aspect_ratio: aspect_ratio %}
      </div>
      <div class='img-with-text-6__image'>
        {% render 'image', image: image_2, aspect_ratio: aspect_ratio %}
      </div>
    </div>
    <div class='img-with-text-6__right' style='--lg: 4; --md: 12; --xs: 12'>
      <div class='img-with-text-6__text'>
        {% if sub_heading %}
          <div class='img-with-text-6__sub-heading'>
            <p>{{ sub_heading }}</p>
          </div>
        {% endif %}
        {% if content %}
          <h6 class='img-with-text-6__content {{ class }}'>{{ content }}</h6>
        {% endif %}
        <div class='img-with-text-6__button'>
          {% render 'button',
            text: button.button_text,
            link: button.button_link,
            style: button.button_style,
            size: button.button_size,
            radius: settings.button_radius,
            padding: settings.button_padding
          %}
        </div>
      </div>
    </div>
  </xo-grid>
</div>
