{% comment %}
  Accepts:
  - title: {Text} Title (required)
  - button: {Button} Button (required)
  - description: {Text} Description (required)
  Usage:
  {%
    render 'introducing-card',
     title: "collection-name",
     button: "Explore now" ,
     description: 'Introducing: Leroy Fabric Collection',
    %}
{% endcomment %}

<div class='introducing-card'>
  <div class='introducing-card__header {% if color_scheme_box %}color-{{ color_scheme_box }}{% endif %}'>
    <div class='introducing-card__image {% if settings.enable_border_radius %}introducing-card__image--radius{% endif %}'>
      {% render 'image', image: image, aspect_ratio: aspect_ratio %}
    </div>
    {% if title %}
      <div class='introducing-card__title'>{{ title }}</div>
    {% endif %}
    <div class='introducing-card__button'>
      {% render 'button',
        text: button.settings.button_text,
        link: button.settings.button_link,
        style: button.settings.button_style,
        size: button.settings.button_size,
        radius: button.settings.button_radius,
        padding: button.settings.button_padding
      %}
    </div>
  </div>
  <div class='introducing-card__description'>
    <p>{{ description }}</p>
  </div>
</div>
