{% comment %}
  Accepts:
  - title: {Text} Title (required)
  - nav: {Button} Nav link (required)
  Usage:
  {% render 'link-list-2', title: title, nav: link %}
{% endcomment %}

<div class='link-list-2'>
  <div class='link-list-2__desktop'>
    <xo-grid class='link-list-2__grid' style='--lg: 1; --md: 1; --xs: 1'>
      <div class='link-list-2__item'>
        <ul class='link-list-2__nav'>
          {% for link in menu.links %}
            <li class='link-list-2__nav-item'>
              <a href='{{ link.url }}'>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </xo-grid>
  </div>
  <div class='link-list-2__mobile'>
    <xo-collapse-provider>
      <xo-grid class='link-list-2__grid' style='--lg: 2; --md: 2; --xs: 2'>
        <div class='link-list-2__item'>
          <ul class='link-list-2__nav'>
            {% for link in menu.links %}
              <li class='link-list-2__nav-item'>
                <a href='{{ link.url }}'>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </xo-grid>
    </xo-collapse-provider>
  </div>
</div>
