{% comment %}
  Renders a product specification element with a given value

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - image: {String} Image (required)
  - aspect_ratio: {String} Aspect ratio (required)
  - block: {Object} Block (required)

  Usage:
  {% render 'product-specification-5', class: class, heading: heading, image: image, aspect_ratio: aspect_ratio, block: block %}
{% endcomment %}

{% if block.size == 1 %}
  {% capture style %}
    style="--lg: 12; --md: 12; --xs: 12"
  {% endcapture %}
{%- elsif block.size == 2 -%}
  {% capture style %}
    style="--lg: 6; --md: 12; --xs: 12"
  {% endcapture %}
{% endif %}

{% if layout == 'style-1' %}
  {% capture style_1 %}
    style="--lg: 7; --md: 12; --xs: 12"
  {% endcapture %}
  {% capture style_2 %}
    style="--lg: 5; --md: 12; --xs: 12"
  {% endcapture %}
{%- else -%}
  {% capture style_1 %}
    style="--lg: 6; --md: 12; --xs: 12"
  {% endcapture %}
  {% capture style_2 %}
    style="--lg: 6; --md: 12; --xs: 12"
  {% endcapture %}
{% endif %}

<div class='product-specification-5 {% if layout %}product-specification-5--{{ layout }}{% endif %}'>
  {% if layout == 'style-1' %}
    <xo-animate xo-cascade>
      {% if heading %}
        <div class='product-specification-5__heading'>
          {% render 'text', class: class, text: heading, tag_name: tag_name, effect: effect, duration: duration %}
        </div>
      {% endif %}
    </xo-animate>
  {% endif %}
  <div class='product-specification-5__content'>
    <xo-grid class='product-specification-5__grid'>
      <div xo-cascade class='product-specification-5__left' {{ style_1 }}>
        <div class='product-specification-5__image-comparison'>
          {% if layout == 'style-2' %}
            <xo-animate xo-cascade style="height: 100%;">
              <div class='product-specification-5__image{% if settings.enable_border_radius %} product-specification-5__image--radius{% endif %}'>
                {% render 'image', image: image_1, aspect_ratio: aspect_ratio | default: '377/549' %}
              </div>
            </xo-animate>
            <xo-animate xo-cascade style="height: 100%;">
              <div class='product-specification-5__image{% if settings.enable_border_radius %} product-specification-5__image--radius{% endif %}'>
                {% render 'image', image: image_2, aspect_ratio: aspect_ratio | default: '377/549' %}
              </div>
            </xo-animate>
          {%- else -%}
            <xo-image-comparison class="product-specification-5__thumbnail">
              <xo-image-comparison-before>
                <div class='product-specification-5__image{% if settings.enable_border_radius %} product-specification-5__image--radius{% endif %}'>
                  {% render 'image', image: image_1, aspect_ratio: aspect_ratio | default: '917/608' %}
                </div>
              </xo-image-comparison-before>
              <xo-image-comparison-after>
                <div class='product-specification-5__image{% if settings.enable_border_radius %} product-specification-5__image--radius{% endif %}'>
                  {% render 'image', image: image_2, aspect_ratio: aspect_ratio | default: '917/608' %}
                </div>
              </xo-image-comparison-after>
              <xo-image-comparison-handle>
                <xo-image-comparison-handle-icon>
                  {% render 'icon', name: 'comparison', size: '36' %}
                </xo-image-comparison-handle-icon>
              </xo-image-comparison-handle>
            </xo-image-comparison>
          {% endif %}
        </div>
      </div>
      <xo-animate xo-cascade {{ style_2 }}>
        <div class='product-specification-5__right{% if settings.enable_border_radius %} product-specification-5__right--radius{% endif %}'>
          {% if layout == 'style-2' %}
            {% if heading %}
              <div class='product-specification-5__heading'>
                {% render 'text', class: class, text: heading, tag_name: tag_name, effect: effect, duration: duration %}
              </div>
            {% endif %}
          {% endif %}
          <xo-grid class='product-specification-5__right-grid'>
            {% for item in block %}
              <div class='product-specification-5__right-item' {{ style }}>
                {% render 'feature-special', item: item %}
              </div>
            {% endfor %}
          </xo-grid>
        </div>
      </xo-animate>
    </xo-grid>
  </div>
</div>
