{% comment %}
  Renders a product special element with a given value

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - color_schema_box: {String} Background box (required)
  - block: {Object} Block (required)

  Usage:
  {% render 'product-specification-6', class: class, heading: heading, color_schema_box: color_schema_box, block: block %}
{% endcomment %}

<div class='product-specification-6'>
  <xo-grid class='product-specification-6__grid' style='--lg: 2; --md: 1; --xs: 1'>
    {% for item in block %}
      {% liquid
        assign heading = item.settings.heading
        assign title_list = item.settings.title_list
        assign content_list = item.settings.content_list
      %}
      <xo-animate xo-cascade>
        <div class='product-specification-6__item'>
          {% render 'product-information', class: 'h6', heading: heading, title_list: title_list, content_list: content_list %}
        </div>
      </xo-animate>
    {% endfor %}
  </xo-grid>
</div>
