{% comment %}
  Renders a product featured element with a given value

  Accepts:
  - heading: {String} Heading (required)
  - image: {String} Image featured (required)
  - content: {String} Description featured (required)
  - icon: {Object} Icon featured (required)

  Usage:
  {% render 'product-featured-2',
    heading: heading,
    image: image,
    icon: icon,
    content: content,
  %}
{% endcomment %}

<xo-animate xo-cascade style='height: 100%;'>
  <div class='product-featured-2'>
    <xo-grid class='product-featured-2__box{% if settings.enable_border_radius %} product-featured-2__box--radius{% endif %}'>
      <div class='product-featured-2__left' style='--lg: 7; --md: 12; --xs: 12'>
        {% if heading %}
          <h6 class='product-featured-2__heading h6'>{{ heading }}</h6>
        {% endif %}
        <div class='product-featured-2__featured'>
          <div class='product-featured-2__item'>
            <div class='product-featured-2__icon{% if color_config_enable %} product-featured-2__icon--modifier{% endif %}'>
              {% render 'image', image: icon_image_1 %}
            </div>
            {% if description_1 %}
              <div class='product-featured-2__description'>{{ description_1 }}</div>
            {% endif %}
          </div>
          <div class='product-featured-2__item'>
            <div class='product-featured-2__icon{% if color_config_enable %} product-featured-2__icon--modifier{% endif %}'>
              {% render 'image', image: icon_image_2 %}
            </div>
            {% if description_2 %}
              <div class='product-featured-2__description'>{{ description_2 }}</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class='product-featured-2__right' style='--lg: 5; --md: 12; --xs: 12'>
        <div class='product-featured-2__image product-featured-2__image--desktop'>
          {% render 'image', image: image_desktop %}
        </div>
        <div class='product-featured-2__image product-featured-2__image--mobile'>
          {% render 'image', image: image_mobile %}
        </div>
      </div>
    </xo-grid>
  </div>
</xo-animate>
