{% comment %}
  Renders a product featured element with a given value

  Accepts:
  - class: {String} Font size heading (optional)
  - heading: {String} Heading (optional)
  - image: {String} Icon featured (required)
  - title: {String} Title featured (required)
  - button: {Object} Button (optional)

  Usage:
  {% render 'product-featured-block',
    class: font_size,
    heading: heading,
    image: image,
    title: title,
    button: button
  %}
{% endcomment %}

<xo-animate xo-cascade style='height: 100%;'>
  <div class='product-featured-block{% if settings.enable_border_radius %} product-featured-block--radius{% endif %}'>
    <div class='product-featured-block__head'>
      {% if heading %}
        <div class='product-featured-block__heading'>
          {% render 'text',
            class: class,
            text: heading,
            tag_name: tag_name,
            effect: effect,
            duration: duration,
            heading_width_desktop: heading_width_desktop,
            heading_width_mobile: heading_width_mobile
          %}
        </div>
      {% endif %}
      {% if show_button %}
        <div class='product-featured-block__button'>
          {% render 'button',
            text: button.button_text,
            link: button.button_link,
            style: button.button_style,
            size: button.button_size,
            radius: settings.button_radius,
            padding: settings.button_padding
          %}
        </div>
      {% endif %}
    </div>
    <div class='product-featured-block__bottom'>
      <div class='product-featured-block__item'>
        <div class='product-featured-block__image{% if color_config_enable %} product-featured-block__image--modifier{% endif %}'>
          {% render 'image', image: image_1 %}
        </div>
        {% if title_1 %}
          <div class='product-featured-block__title'>
            {{ title_1 }}
          </div>
        {% endif %}
      </div>
      <div class='product-featured-block__item'>
        <div class='product-featured-block__image{% if color_config_enable %} product-featured-block__image--modifier{% endif %}'>
          {% render 'image', image: image_2 %}
        </div>
        {% if title_2 %}
          <div class='product-featured-block__title'>
            {{ title_2 }}
          </div>
        {% endif %}
      </div>
      <div class='product-featured-block__item'>
        <div class='product-featured-block__image{% if color_config_enable %} product-featured-block__image--modifier{% endif %}'>
          {% render 'image', image: image_3 %}
        </div>
        {% if title_3 %}
          <div class='product-featured-block__title'>
            {{ title_3 }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</xo-animate>
