{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - show_secondary_image: {Boolean} Whether to show the secondary image (optional)
  - aspect_ratio: {Number} Aspect ratio of the image (optional)
  - placeholder_image: {String} Placeholder image (optional)

  Usage:
  {% render 'product-image', product: product, show_secondary_image: true %}
{% endcomment %}

<div
  class='xo-product-image{% if settings.product_card_image_config %} xo-product-image--{{ settings.product_card_image_config }}{% endif %}{% if show_secondary_image and product.media[1] != null %} xo-product-image--modifier{% endif %}'
  tabindex='-1'
>
  {% if product %}
    <div class='xo-product-image__first'>
      {% if variant %}
        {% render 'image', image: variant.featured_image, aspect_ratio: aspect_ratio, lazyload: lazyload, show_placeholder_product: true, disable_alt: true %}
      {% else %}
        {% render 'image', image: product.featured_image, aspect_ratio: aspect_ratio, lazyload: lazyload, show_placeholder_product: true, disable_alt: true %}
      {% endif %}
    </div>
    {%- if product.media[1] != null and show_secondary_image -%}
      {% if product.media[1].media_type == 'image' %}
        <div class='xo-product-image__secondary' tabindex='-1'>
          {%- render 'image', image: product.media[1].preview_image, aspect_ratio: aspect_ratio, show_placeholder_product: true, disable_alt: true -%}
        </div>
      {% else %}
        <div class='xo-product-image__secondary' tabindex='-1'>
          {% render 'media', type: product.media[1].media_type, media: product.media[1], enable_video_looping: true, controls: false, muted: true, autoplay: true %}
        </div>
      {% endif %}
    {%- endif -%}
  {% else %}
    {% if placeholder_image %}
      {{ placeholder | default: placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
    {% else %}
      {{ placeholder | default: 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  {% endif %}
</div>
