{% comment %}
  Renders a product information element with a given value

  Accepts:
  - caption: {String} Caption (required)
  - block: {Object} Block (required)

  Usage:
  {% render 'product-information', caption: caption, block: block, color_schema_box: color_schema_box %}
{% endcomment %}

<div class='product-information'>
  <div class='product-information__box {% if settings.enable_border_radius %}product-information__box--radius{% endif %} {% if heading or caption %}product-information__box-dflex{% endif %} {% if color_schema_box %} color-{{ color_schema_box }}{% endif %}'>
    {% if heading %}
      <h3 class='product-information__heading {{ class }}'>{{ heading }}</h3>
    {% endif %}
    {% if caption %}
      <div class='product-information__caption'>
        <p>{{ caption }}</p>
      </div>
    {% endif %}
    <div class='product-information__content'>
      {% render 'transform-list', title_list: title_list, content_list: content_list %}
    </div>
  </div>
</div>
