{% comment %}
  Accepts:
  - title: {Text} Title (required)
  - menu: {Link} Menu (required)
  Usage:
  {%
    render 'quick-link',
     title: "quick link",
     menu: menu ,
    %}
{% endcomment %}

<div class='quick-link'>
  {% if title %}
    <div class='quick-link__title'>{{ title }}</div>
  {% endif %}
  {% if menu %}
    <ul class='quick-link__nav'>
      {% for link in menu.links %}
        <li class='quick-link__nav-item'>
          <a href='{{ link.url }}'>{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
