{{ 'recover-password-form.css' | asset_url | stylesheet_tag }}

{% liquid
  assign title = 'customer.recover_password.title' | t
  assign description = 'customer.recover_password.subtext' | t
  assign cancel = 'customer.login_page.cancel' | t
%}

<div class='xo-recover-password'>
  <div class='xo-recover-password__header'>
    <h5 class='xo-recover-password__heading h5'>
      {{ title }}
    </h5>
    <div class='xo-recover-password__description'>
      {{ description }}
    </div>
  </div>
  <div class='xo-recover-password__form'>
    {% form 'recover_customer_password' %}
      {% liquid
        assign success_message_text = 'customer.recover_password.success' | t
        render 'form-success', form: form, message: success_message_text
        render 'form-error', form: form
      %}
      <div class='xo-recover-password__email'>
        {% assign email_recover_id = 'recover-password--' | append: section.id %}
        {% assign email_label = 'customer.login_page.email_reset' | t %}
        {% render 'field-input',
          type: 'email',
          value: '',
          label: email_label,
          autocomplete: 'email',
          autocorrect: 'off',
          autocapitalize: 'off',
          id: email_recover_id,
          name: 'customer[email]',
          required: 'required'
        %}
        <span class='xo-recover-password__email-icon'>
          {% render 'icon', name: 'mail', size: '1.8rem' %}
        </span>
      </div>
      {% render 'space', spacing_dt: '24', spacing_mb: '16' %}
      <div class='xo-recover-password__sendcode'>
        {% assign button_text = 'customer.recover_password.send_code' | t %}
        {% render 'button', text: button_text, style: 'primary', size: 'md', block: true, type: 'submit' %}
      </div>
      {% render 'space', spacing_dt: '20', spacing_mb: '14' %}
      <xo-modal-trigger xo-name='forgot-your-password' class='xo-recover-password__cancel'>
        {% render 'button', text: cancel, size: 'md', style: 'link', type: 'button', block: true %}
      </xo-modal-trigger>
    {% endform %}
  </div>
</div>
