{% comment %}
  Accepts:
  - title: {Text} Title (required)
  - button: {Button} Button (required)
  Usage:
  {%
    render 'sale-up-card',
     title: "SALE UP TO 50%",
     button: "Shop now" ,
    %}
{% endcomment %}

<div class='sale-up-card'>
  <div class='sale-up-card__image {% if settings.enable_border_radius %}sale-up-card__image--radius{% endif %}'>
    {% render 'image', image: image, aspect_ratio: aspect_ratio %}
  </div>
  <div class='sale-up-card__content {% if color_scheme_box %}color-{{ color_scheme_box }}{% endif %}'>
    <div class='sale-up-card__title'>{{ title }}</div>
    <div class='sale-up-card__button'>
      {% render 'button',
        text: button.settings.button_text,
        link: button.settings.button_link,
        style: button.settings.button_style,
        size: button.settings.button_size,
        radius: button.settings.button_radius,
        padding: button.settings.button_padding
      %}
    </div>
  </div>
</div>
