{% comment %}
  Renders a scroll to block

  Accepts:
  - selector: {String} Selector (required)
  - icon_name: {String} Name icon (optional)
  - icon_size: {String} Size icon (optional)
  - button_text: {String} Text button (optional)

  Usage:
  {% render 'stack-block',
    selector: '#stack-block',
    icon_name: 'arrow-down',
    icon_size: '20',
    button_text: 'Scroll to block'
  %}
{% endcomment %}

<div xo-scroll-to xo-href="{{ selector }}" class="xo-scroll-to-block">
  {% if button_text != blank %}
    <span>{{ button_text }}</span>
  {% endif %}
  {% if icon_name != 'none' %}
    {% render 'icon', name: icon_name, size: icon_size %}
  {% endif %}
</div>
