{% comment %}
  Renders a separator with a custom value.

  Accepts:
  - value: {String} The value of the separator. Default: 1rem (optional)
  - color: {String} The color of the separator (optional)
  - class: {String} The class of the separator (optional)

  Usage:
  {% render 'separator', value: '1rem' %}
{% endcomment %}

<div
  class='xo-separator{% if class != blank %} {{ class }}{% endif %}'
  style='{% if value != blank %}--separator: {{ value }}{% endif %}{% if color != blank %}; --color: {{ color }}{% endif %}'
></div>
