{% comment %}
  Renders a shop-look-1

  Accepts:
  - heading: {String} Heading (optional)
  - block: {Object} Block (optional)
  Usage:
  {% render 'shop-look-1', heading: heading, class: class, block: block %}
{% endcomment %}

<div class='shop-look-1'>
  <xo-animate xo-cascade xo-order='1' style='height: 100%;'>
    <div class='shop-look-1__content{% if settings.enable_border_radius %} shop-look-1__content--radius{% endif %}'>
      {% if heading %}
        <div class='shop-look-1__head'>
          {% render 'text',
            class: class,
            text: heading,
            tag_name: tag_name,
            effect: effect,
            duration: duration,
            heading_width_desktop: heading_width_desktop,
            heading_width_mobile: heading_width_mobile
          %}
        </div>
      {% endif %}
      <div class='shop-look-1__bottom'>
        <div class='shop-look-1__feature'>
          {% for item in block %}
            {% case item.type %}
              {% when 'feature' %}
                {% liquid
                  assign image = item.settings.image
                  assign color_config_enable = item.settings.color_config_enable
                  assign content = item.settings.content
                %}
                <div class='shop-look-1__feature-item'>
                  <div class='shop-look-1__image{% if color_config_enable %} shop-look-1__image--modifier{% endif %}'>
                    {% render 'image', image: image %}
                  </div>
                  <div class='shop-look-1__info'>{{ content }}</div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
        <div class='shop-look-1__button'>
          {% render 'button',
            text: section.settings.button_text,
            link: section.settings.button_link,
            style: section.settings.button_style,
            size: section.settings.button_size,
            radius: section.settings.button_radius,
            padding: section.settings.button_padding
          %}
        </div>
      </div>
    </div>
  </xo-animate>
</div>
