<div class='xo-skeleton{% if settings.enable_border_radius %} xo-skeleton--radius{% endif %}'>
  <div class='xo-skeleton__wrapper'>
    <div class='xo-skeleton__thumbnail'></div>
    <div class='xo-skeleton__group'>
      <div class='xo-skeleton__line xo-skeleton__line--1'></div>
      <div class='xo-skeleton__line xo-skeleton__line--2'></div>
    </div>
  </div>
</div>
