{% comment %}
  Renders a sticky variants modal

  Accepts:
  - product: {Object} product object

  Usage:
  {% render 'sticky-variant-modal', product: product %}
{% endcomment %}

<div class='xo-sticky-variant-modal'>
  <div class='xo-sticky-variant-modal__container{% if settings.enable_border_radius %} xo-sticky-variant-modal__container--radius{% endif %}'>
    <div class='xo-sticky-variant-modal__content'>
      <div class='xo-sticky-variant-modal__wrapper'>
        <xo-animate xo-cascade>
          <h3 class='xo-sticky-variant-modal__title h6'>
            {{ product.title }}
          </h3>
        </xo-animate>

        <xo-modal-trigger class='xo-sticky-variant-modal__close' xo-name='variant-options-{{ product.id }}'>
          {% render 'icon', name: 'close', size: '2.4rem' %}
        </xo-modal-trigger>
      </div>

      <div class='xo-sticky-variant-modal__variant-list'>
        {%- for option in product.options_with_values -%}
          <xo-animate xo-cascade class='xo-sticky-variant-modal__variant-item'>
            {% if option.name == 'Color' %}
              {% render 'product-variant', option: option, style: variant_color_style, select_custom_popover_name_suffix: 'sticky' %}
            {% else %}
              {% render 'product-variant', option: option, style: variant_style, select_custom_popover_name_suffix: 'sticky' %}
            {% endif %}
          </xo-animate>
        {%- endfor -%}
      </div>

      <xo-animate xo-cascade class='xo-sticky-variant-modal__quantity'>
        {%- render 'quantity', size: 'md' %}
      </xo-animate>

      <xo-product-will-change xo-unique-id='sticky-product-add-cart-modal-{{ product.id }}'>
        <xo-cart-add
          class='xo-sticky-variant-modal__button-add'
          {% if product.selected_or_first_available_variant.available == false %}
            xo-disabled
          {% endif %}
        >
          {%- if product.selected_or_first_available_variant.available == false -%}
            {%- assign button_sold_out = 'products.product.sold_out' | t -%}
            <div class='xo-sticky-variant-modal__button-text xo-sticky-variant-modal__button-text--sold-out'>
              {% render 'button', text: button_sold_out, style: 'primary', loading_type: 'loader-3', size: 'md', block: true %}
            </div>
          {%- else -%}
            {%- assign button_add_cart = 'products.product.add_to_cart' | t -%}
            <div class='xo-sticky-variant-modal__button-text'>
              {% render 'button', text: button_add_cart, style: 'primary', loading_type: 'loader-3', size: 'md', block: true %}
            </div>
          {%- endif -%}
        </xo-cart-add>
      </xo-product-will-change>
    </div>
  </div>
</div>
