{% comment %}
  Renders a testimonial element with a given value

  Accepts:
  - autoplay: {String} Autoplay slide (required)
  - autoplay_time: {String} Set time for autoplay slide (required)

  Usage:
  {% render 'testimonial-box-8', autoplay: autoplay, autoplay_time: autoplay_time %}
{% endcomment %}

<div class='testimonial-box-8{% if layout %} testimonial-box-8--{{ layout }}{% endif %}'>
  <xo-carousel
    xo-per-view='1'
    xo-per-move='1'
    {% if autoplay == 'on' %}
      xo-autoplay='{{ autoplay_time }}'
      xo-loop
    {% endif %}
    xo-type='none'
    xo-breakpoints='
      {
        768: {
          perView: 1,
          perMove: 1,
          gap: 10,
          overflow: "visible"
        },
      }
    '
  >
    <xo-carousel-inner>
      <xo-carousel-list>
        {% for item in block %}
          {% liquid
            assign content = item.settings.content
            assign name = item.settings.customer_name
            assign image = item.settings.image
            assign aspect_ratio = item.settings.aspect_ratio
            assign button = item.settings
            assign placeholder_image = 'collection-1'
          %}
          <xo-carousel-slide>
            {% if layout == 'product' %}
              <div class='testimonial-box-8__item'>
                <xo-grid class='testimonial-box-8__grid testimonial-box-8__grid--product'>
                  <xo-animate xo-duration='300' xo-cascade class='testimonial-box-8__left' style='--xl: 3; --lg: 4; --md: 5; --xs: 12'>
                    {% render 'product-card',
                      product: item.settings.product,
                      show_image: settings.product_card_show_image,
                      show_secondary_image: settings.product_card_show_secondary_image,
                      show_vendor: settings.product_card_show_vendor,
                      show_description: settings.product_card_show_description,
                      show_quick_add: settings.product_card_show_quick_add,
                      show_quick_view: settings.product_card_show_quick_view,
                      show_favorite: settings.product_card_show_favorite,
                      show_price: settings.product_card_show_price,
                      show_badge: settings.product_card_show_badge,
                      media_aspect_ratio: item.settings.product_card_aspect_ratio,
                      color_scheme: item.settings.card_color_scheme,
                      placeholder_image: placeholder_image,
                      product_handle: true
                    -%}
                  </xo-animate>
                  <div class='testimonial-box-8__right' style='--xl: 6; --lg: 8; --md: 7; --xs: 12'>
                    {% render 'testimonial-box', content: content, name: name, show_navigation: 'true', enable_show_icon: 'false', tag_1: 'div', tag_2: 'div'. tag_3: 'xo-animate' %}
                  </div>
                </xo-grid>
              </div>
            {%- else -%}
              <div class='testimonial-box-8__item'>
                <xo-grid class='testimonial-box-8__grid testimonial-box-8__grid--image'>
                  <div xo-cascade xo-oder='4' class='testimonial-box-8__left ' style='--lg: 6; --md: 12; --xs: 12'>
                    {% render 'testimonial-box', content: content, name: name, show_navigation: 'true', enable_show_icon: 'true', tag_1: 'div', tag_2: 'xo-animate' %}
                  </div>
                  <div class='testimonial-box-8__right' style='--lg: 6; --md: 12; --xs: 12'>
                    {% render 'image-button', image: image, aspect_ratio: aspect_ratio, button: button %}
                  </div>
                </xo-grid>
              </div>
            {% endif %}
          </xo-carousel-slide>
        {% endfor %}
      </xo-carousel-list>
    </xo-carousel-inner>
  </xo-carousel>
</div>
