{% comment %}
  Transform pill list and content list become a div. Then render the div

  Accepts:
  - title_pill: {String} The list of title of the collapse with html ul>li (optional)

  Usage:
  {% render 'transform-pill',
  title_pill: '<ul><li>title1</li><li>title2</li></ul>',
  %}
{% endcomment %}

<xo-transform-pill class='xo-transform-pill{% if settings.enable_border_radius %} xo-transform-pill--radius{% endif %}'>
  <xo-transform-pill-title class='xo-transform-pill__hidden-item'>{{ title_pill }}</xo-transform-pill-title>
  <xo-transform-pill-data></xo-transform-pill-data>
</xo-transform-pill>
