{% comment %}
  Transform title list and content list become a table. Then render the table

  Accepts:
  - title_list: {String} The list of title of the collapse with html ul>li (optional)
  - content_list: {String} The list of content of the collapse with html ul>li (optional)

  Usage:
  {% render 'transform-list',
  title_list: '<ul><li>title1</li><li>title2</li></ul>',
  content_list: '<ul><li>content1</li><li>tcontent2</li></ul>',
  %}
{% endcomment %}

<xo-transform-list class='xo-transform-list'>
  <xo-transform-list-title class='xo-transform-list__hidden-item'>{{ title_list }}</xo-transform-list-title>
  <xo-transform-list-content class='xo-transform-list__hidden-item'>{{ content_list }}</xo-transform-list-content>
  <xo-transform-list-data></xo-transform-list-data>
</xo-transform-list>
