{% assign name = 'collapse-' | append: block.id %}

{% render 'collapse', title: block.settings.collapse_title, content: block.settings.collapse_content, name: name %}

{% schema %}
{
  "name": "t:blocks.collapse.name",
  "settings": [
    {
      "type": "text",
      "id": "collapse_title",
      "label": "t:blocks.collapse.settings.collapse_title.label",
      "default": "Collapse heading"
    },
    {
      "type": "richtext",
      "id": "collapse_content",
      "label": "t:blocks.collapse.settings.collapse_content.label",
      "default": "<p>Collapse content</p>"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.collapse.presets.name"
    }
  ]
}
{% endschema %}
