{% render 'section-heading', title: block.settings.title, title_tag: block.settings.title_tag, description: block.settings.description, align: block.settings.alignment %}

{% schema %}
{
  "name": "t:blocks.heading.name",
  "settings": [
    {
      "type": "select",
      "id": "title_tag",
      "label": "t:blocks.heading.settings.title_tag.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:blocks.heading.settings.title_tag.options_1.label"
        },
        {
          "value": "h2",
          "label": "t:blocks.heading.settings.title_tag.options_2.label"
        },
        {
          "value": "h3",
          "label": "t:blocks.heading.settings.title_tag.options_3.label"
        },
        {
          "value": "h4",
          "label": "t:blocks.heading.settings.title_tag.options_4.label"
        },
        {
          "value": "h5",
          "label": "t:blocks.heading.settings.title_tag.options_5.label"
        },
        {
          "value": "h6",
          "label": "t:blocks.heading.settings.title_tag.options_6.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:blocks.heading.settings.title.label",
      "default": "Block heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:blocks.heading.settings.description.label",
      "default": "<p>Block description</p>"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:blocks.heading.settings.alignment.label"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.heading.presets.name"
    }
  ]
}
{% endschema %}
