{% liquid
  assign product_list = block.settings.product_list
  assign autoplay = block.settings.autoplay
  assign autoplay_time = block.settings.autoplay_time
  assign product_per_view = block.settings.product_per_view
  assign product_per_move = block.settings.product_per_move
  assign overflow = block.settings.overflow
%}

<div class='product-list'>
  {% render 'product-list-block',
    product_list: product_list,
    autoplay: autoplay,
    autoplay_time: autoplay_time,
    product_per_view: product_per_view,
    product_per_move: product_per_move,
    overflow: overflow
  %}
</div>

{% schema %}
{
  "name": "t:blocks.product_list.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.product_card_heading.content"
    },
    {
      "type": "select",
      "id": "product_card_aspect_ratio",
      "label": "t:sections.all.product_card_aspect_ratio.label",
      "default": "1",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.card_color_scheme.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:blocks.product_list.settings.product_list.label",
      "limit": 10
    },
    {
      "type": "header",
      "content": "t:blocks.product_list.settings.general_settings.content"
    },
    {
      "type": "range",
      "id": "product_per_view",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "t:blocks.product_list.settings.product_per_view.label",
      "default": 4
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:blocks.product_list.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:blocks.product_list.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:blocks.product_list.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "label": "t:blocks.product_list.settings.autoplay_time.label",
      "default": 3000
    },
    {
      "type": "select",
      "id": "overflow",
      "label": "t:blocks.product_list.settings.overflow.label",
      "options": [
        {
          "value": "",
          "label": "t:blocks.product_list.settings.overflow.option__1.label"
        },
        {
          "value": "visible",
          "label": "t:blocks.product_list.settings.overflow.option__2.label"
        }
      ],
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "t:blocks.product_list.presets.name"
    }
  ]
}
{% endschema %}
