{% liquid
  assign image = block.settings.image
  assign image_size = block.settings.image_size
  assign color_config_enable = block.settings.color_config_enable
  assign heading = block.settings.heading
  assign heading_link = block.settings.heading_link
  assign content = block.settings.content
  assign alignment = block.settings.alignment
  assign color_schema_box = block.settings.color_schema_box
%}

<div class='service' style='height: 100%'>
  {% render 'service-block',
    image: image,
    image_size: image_size,
    color_config_enable: color_config_enable,
    heading: heading,
    heading_link: heading_link,
    content: content,
    alignment: alignment,
    color_schema_box: color_schema_box
  %}
</div>

{% schema %}
{
  "name": "t:blocks.service.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:blocks.service.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:blocks.service.settings.image_size.label",
      "options": [
        {
          "value": "auto",
          "label": "t:blocks.service.settings.image_size.option__1.label"
        },
        {
          "value": "sm",
          "label": "t:blocks.service.settings.image_size.option__2.label"
        },
        {
          "value": "md",
          "label": "t:blocks.service.settings.image_size.option__3.label"
        },
        {
          "value": "lg",
          "label": "t:blocks.service.settings.image_size.option__4.label"
        }
      ],
      "default": "md"
    },
    {
      "type": "checkbox",
      "id": "color_config_enable",
      "label": "t:blocks.service.settings.color_config_enable.label",
      "default": false
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:blocks.service.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "url",
      "id": "heading_link",
      "label": "t:blocks.service.settings.heading_link.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:blocks.service.settings.content.label",
      "default": "<p>Use this text to share information about your brand with your customers</p>"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:blocks.service.settings.alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:blocks.service.settings.alignment.option__1.label"
        },
        {
          "value": "center",
          "label": "t:blocks.service.settings.alignment.option__2.label"
        },
        {
          "value": "end",
          "label": "t:blocks.service.settings.alignment.option__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "color_schema_box",
      "label": "t:blocks.service.settings.color_schema_box.label",
      "default": "inverse"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.service.presets.name"
    }
  ]
}
{% endschema %}
