{% liquid
  assign class = block.settings.font_size_heading
  assign heading = block.settings.text_heading
  assign duration = block.settings.text_duration
  assign effect = block.settings.text_effect
  assign tag_name = block.settings.text_tag_name
  assign heading_width_desktop = block.settings.text_heading_width_desktop
  assign heading_width_mobile = block.settings.text_heading_width_mobile
  assign image_1 = block.settings.image_1
  assign title_1 = block.settings.title_1
  assign image_2 = block.settings.image_2
  assign title_2 = block.settings.title_2
  assign image_3 = block.settings.image_3
  assign title_3 = block.settings.title_3
  assign color_config_enable = block.settings.color_config_enable
%}

{% render 'product-featured-block',
  class: class,
  heading: heading,
  effect: effect,
  duration: duration,
  tag_name: tag_name,
  heading_width_desktop: heading_width_desktop,
  heading_width_mobile: heading_width_mobile,
  image_1: image_1,
  title_1: title_1,
  image_2: image_2,
  title_2: title_2,
  image_3: image_3,
  title_3: title_3,
  color_config_enable: color_config_enable
%}

{% schema %}
{
  "name": "t:blocks.text_feature.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Text feature"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_0.content"
    },
    {
      "type": "checkbox",
      "id": "color_config_enable",
      "label": "t:blocks.text_feature.settings.color_config_enable.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:blocks.text_feature.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "title_1",
      "label": "t:blocks.text_feature.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:blocks.text_feature.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "title_2",
      "label": "t:blocks.text_feature.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "header",
      "content": "t:blocks.text_feature.settings.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:blocks.text_feature.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "title_3",
      "label": "t:blocks.text_feature.settings.heading.label",
      "default": "<p>Heading</p>"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.text_feature.presets.name"
    }
  ]
}
{% endschema %}
