{% stylesheet %}
  .text-block--left {
    text-align: left;
  }

  .text-block--center .xo-text__heading {
    justify-content: center;
  }

  .text-block--center {
    text-align: center;
  }

  .text-block--right {
    text-align: right;
  }

  .text-block--right .xo-text__heading {
    justify-content: end;
  }

  .text-block .xo-text__heading {
    padding-bottom: 2rem;
  }

  @media (min-width: 992px) {
    .text-block .xo-text__heading {
      padding-bottom: 3.1rem;
    }
  }
{% endstylesheet %}

{% liquid
  assign alignment = block.settings.alignment
  assign class = block.settings.font_size_heading
  assign heading = block.settings.text_heading
  assign duration = block.settings.text_duration
  assign effect = block.settings.text_effect
  assign tag_name = block.settings.text_tag_name
  assign heading_width_desktop = block.settings.text_heading_width_desktop
  assign heading_width_mobile = block.settings.text_heading_width_mobile
%}

<div class='text-block text-block--{{ alignment }}'>
  {% render 'text',
    class: class,
    text: heading,
    effect: effect,
    duration: duration,
    tag_name: tag_name,
    heading_width_desktop: heading_width_desktop,
    heading_width_mobile: heading_width_mobile
  %}
</div>

{% schema %}
{
  "name": "t:blocks.text.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Text"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 100
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:blocks.text.settings.alignment_block.label"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.text.presets.name"
    }
  ]
}
{% endschema %}
