@use "../settings/init" as *;

.custom-sticky-two-col {

  &__container {
    background: var(--color-midnight-blue);
    color: var(--color-white);
  }

  &__row {
    display: flex;
    gap: rem(36);
    margin: auto;
    padding: rem(36) 0;
    flex-direction: column;
  }

  @media (min-width: 769px) {
    &__row {
      gap: rem(24);
      padding: rem(120) 0;
      flex-direction: row;
      max-width: rem(1158);
    }
  }

  &__left {
    flex: 1;

  }

  @media (min-width: 769px) {
    &__inner {
      position: sticky;
      top: rem(80);
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: rem(72);
    }

    &__block {
      max-width: rem(500);

      p {
        font-size: rem(18);
        max-width: rem(372);

        @media (max-width: 768px) {
          font-size: rem(14);
        }
      }
    }

    &__block img {
      width: 100%;
    }
  }

  &__heading {
    color: var(--title-color);
    margin: 0;
    margin-bottom: rem(60) !important;

    @media (max-width: 768px) {
      margin-bottom: rem(12) !important;
    }

    &.h2 {
      font-size: rem(42);
      line-height: 1;
    }

    &.h1 {
      font-size: rem(42);
      line-height: 1;
    }

    @media (min-width: 769px) {
      &.h2 {
        font-size: rem(72);
        line-height: 1;
      }

      &.h1 {
        font-size: rem(96);
        line-height: 1;
      }
    }
  }

  &__eyebrow {

    @media (max-width: 768px) {
      font-size: rem(14) !important;
      margin-bottom: rem(12) !important;
    }
  }

  h3.custom-sticky-two-col__block-title {
    font-size: rem(26);
    line-height: 1.1;
    margin: rem(18) 0 rem(4);
  }

  @media (min-width: 769px) {
    h3.custom-sticky-two-col__block-title {
      font-size: rem(32);
      line-height: 1.2;
      margin: rem(24) 0;
    }

    &__eyebrow {
      font-size: rem(18);
      margin-bottom: rem(16) !important;
    }
  }

  &__right--mobile {
    display: none;
  }

  &__right--desktop {
    display: flex;
  }

}

@media (max-width: 768px) {

  .custom-sticky-two-col {
    &__right--mobile {
      display: block;
    }

    &__block img {
      aspect-ratio: 286/200;
      object-fit: cover;
    }

    &__right--desktop {
      display: none;
    }

    .splide__track {
      margin-bottom: rem(36);
      overflow: visible;
    }

    .splide__arrow svg {
      fill: transparent;
      height: rem(40);
      width: rem(40);
    }

    .splide__arrows {
      display: flex;
      gap: rem(12)
    }

    .splide__slide {
      width: clamp(286px, 75vw, 400px);
    }

    .splide__arrow {
      -ms-flex-align: center;
      align-items: center;
      background: transparent;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      height: rem(40);
      -ms-flex-pack: center;
      justify-content: center;
      opacity: .7;
      padding: 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      width: rem(40);
      z-index: 1;
    }

    .splide__arrow--prev {
      left: 0;
    }

    .splide__arrow--next {
      right: auto;
      left: auto;
    }

  }
}