@use "../settings/init" as *;

body {
  .featured-collection-5__heading {
    margin: 0 0 rem(18) 0;

    @include media-breakpoint-up(xl) {
      margin-bottom: rem(60);
    }

    .xo-text__heading {
      color: var(--color-black);
      font-size: rem(32);
      line-height: 1;
      justify-content: center;

      @include media-breakpoint-up(md) {
        justify-content: unset;
      }

      @include media-breakpoint-up(xl) {
        font-size: rem(48);
      }
    }
  }

  .featured-collection-5__grid {
    row-gap: rem(22)
  }

  .featured-collection-5__content {
    .xo-product-card {
      position: relative;
      background-color: var(--color-neutral-cream-110);
      border-radius: 0;

      .xo-product-image {
        margin-bottom: rem(18);
        padding: rem(34) rem(34) 0 rem(34);

        @include media-breakpoint-up(xl) {
          margin-bottom: rem(36);
          padding: rem(54) rem(54) 0 rem(54);
        }

        .xo-product-image__first {
          height: rem(188);
          transform: unset !important;
          opacity: 1 !important;
          visibility: visible !important;

          @include media-breakpoint-up(md) {
            height: rem(220);
          }

          @include media-breakpoint-up(lg) {
            height: rem(290);
          }

          .xo-image {
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .xo-product-image__secondary {
          display: none !important;
        }
      }

      .xo-product-card__information {
        padding: rem(0) rem(34) rem(106) rem(34);

        @include media-breakpoint-up(xl) {
          padding: rem(0) rem(54) rem(142) rem(54);
        }

        .xo-product-card__title {
          margin-bottom: 0;

          a {
            color: var(--color-black);
            font-family: var(--font-beausite-fit-web);
            font-size: rem(30);
            line-height: 1.1;
            text-decoration: none;

            @include media-breakpoint-up(xl) {
              font-size: rem(48);
            }
          }
        }

        .xo-product-card__price-badge {
          display: none;
        }
      }

      .xo-product-card__header {
        position: static;
      }

      .xo-product-card__actions {
        position: absolute;
        left: 50%;
        bottom: 3.4rem;
        top: unset;
        right: unset;
        transform: translateX(-50%);
        opacity: 1;

        @include media-breakpoint-up(xl) {
          bottom: rem(54);
        }

        .xo-product-card__add {
          width: min-content;
          transform: unset !important;
          opacity: 1 !important;

          .xo-btn-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(54);
            width: rem(266);
            max-width: unset;
            padding: rem(14) rem(20) rem(16) rem(20);
            text-align: center;
            background-color: var(--color-midnight-blue);
            border: unset;
            border-radius: rem(27);
            transition: background-color .3s ease-in-out;

            @include media-breakpoint-up(lg) {
              max-width: rem(238);
              padding: rem(10) rem(20) rem(12) rem(20);
            }

            &:hover {
              background-color: var(--color-purple-100);
            }

            &::after {
              position: static;
              content: "Add to Cart";
              display: inline-block;
              color: var(--color-white);
              font-size: rem(14);
              font-weight: 300;
              line-height: 1.6;

              @include media-breakpoint-up(lg) {
                font-size: rem(18);
              }
            }

            span {
              display: none;
            }
          }
        }

        &>.tooltip {
          display: none !important;
        }
      }
    }
  }

  .featured-collection-5__banner {
    display: none !important;
  }

  xo-tooltip-content {
    display: none !important;
  }

  .xo-product-variant-modal {
    --color-button: 29, 28, 80;
    --color-secondary-button-text: 29, 27, 80;
  }
}