@use "../settings/init" as *;

body {
  .shopify-section {
    h1 {
      &.xo-page-heading__heading {
        margin-bottom: rem(12);
        color: var(--color-black);
        font-family: var(--font-beausite-fit-web);
        font-weight: 300;
        font-size: rem(36);
        line-height: 1;

        p {
          color: var(--color-black);
          font-family: var(--font-beausite-fit-web);
          font-weight: 300;
          font-size: rem(36);
          line-height: 1;
        }
      }
    }

    .xo-main-cart__container {
      .xo-main-cart__left {
        .xo-cart-table__body-row {
          border: unset;
        }

        .xo-cart-table__row-product {
          display: block;
          box-sizing: border-box;
          width: calc(100% + rem(40));
          margin-left: rem(-20);
          padding: rem(32) rem(20);
          border-top: rem(1) solid var(--color-black);

          .xo-cart-item {
            display: grid;
            grid-template-columns: rem(160) 1fr;
            gap: rem(40);
            padding: 0;

            .xo-cart-item__img {
              width: 100%;
              height: rem(134);
            }

            .xo-cart-item__content {
              .xo-cart-item__title {
                margin-bottom: rem(6);

                p {
                  color: var(--color-black);
                  font-size: rem(16);
                  line-height: 1.6;
                  font-weight: 300;
                }
              }

              .xo-cart-item__price {
                margin-bottom: rem(30);

                .xo-cart-item__final-price {
                  color: var(--color-black);
                  font-size: rem(21);
                  font-weight: 600;
                  line-height: 1;
                }
              }

              .xo-cart-item__quantity-item {
                margin-bottom: rem(12);
                padding: 0;

                .xo-quantity {
                  width: rem(112);
                  height: rem(45);
                  padding: rem(0) rem(2);
                  border: rem(1) solid var(--color-black);
                  border-radius: 0;

                  .xo-quantity__button {
                    svg {
                      width: rem(20);
                      height: rem(20);
                    }
                  }

                  .xo-quantity__number {
                    font-size: rem(16);
                  }
                }
              }

              .xo-cart-item__remove {
                color: var(--color-black);
                font-size: rem(16);
                line-height: 1;
                opacity: .6;
              }
            }
          }
        }
      }
    }
  }
}