@use "../settings/init" as *;

.custom-dream-hero {
  background-color: var(--bg-color);
  color: var(--desc-color);
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__top {
    padding: rem(90) 0 rem(72) 0;
    background-color: var(--bg-color);
    text-align: center;
    z-index: 2;
    position: relative;

    @media (max-width: 992px) {
      padding: rem(36) 0 rem(20) 0;
    }
  }

  &__container {
    max-width: rem(1200);
    margin: 0 auto;
    padding: 0 rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: var(--title-color);
    font-size: rem(90) !important;
    font-weight: 300;
    line-height: 1;
    margin-bottom: rem(36) !important;

    @media (max-width: 992px) {
      font-size: rem(32) !important;
      margin-bottom: rem(18) !important;
    }
  }

  &__desc {
    color: var(--desc-color);
    font-size: rem(18);
    line-height: 1.6;
    margin-bottom: rem(36);
    max-width: rem(820);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 992px) {
      font-size: rem(14) !important;
      margin-bottom: rem(24);
    }

    p {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: rem(24);
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 992px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: rem(18);
    }
  }

  &__button {
    display: inline-block;
    border: none;
    border-radius: rem(120);
    padding: rem(12) rem(69);
    font-size: rem(18);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: var(--default-transition);

    @media (max-width: 992px) {
      font-size: rem(14.4) !important;
      width: 100%;
    }

    &--primary {
      background-color: var(--color-blue-80);
      color: var(--button1-color, #1d1c50);

      &:hover {
        background-color: var(--color-blue-120) !important;
      }
    }

    &--secondary {
      background: none;
      color: var(--color-neutral-cream);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(12);
      opacity: 1;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__arrow {
    font-size: rem(24);
    line-height: 1;
    margin-left: rem(4);
    display: inline-block;
  }

  &__bottom {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: rem(-20);
    display: flex;
    justify-content: center;
    background: none;
  }

  &__image {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;


    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    animation: reveal-image-diagonal 1.2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    animation-delay: 0.3s;
  }
}

@keyframes reveal-image-diagonal {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
