@use "../settings/init" as *;

.custom-product-slider-section {
  background-color: var(--bg-color);
  padding: rem(80) 0;
  color: white;
}

.custom-product-slider {
  &__main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(200);
    align-items: center;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: rem(40);
    }
  }

  &__text-col {
    @media (max-width: 991px) {
      order: 2;
    }
  }

  &__desktop-header {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &__overtitle {
    font-size: rem(18);
    font-weight: 300;
    color: var(--color-purple-80);
    margin-top: rem(54) !important;
    margin-bottom: rem(60) !important;

    @media (max-width: 991px) {
      margin-top: rem(0) !important;
      margin-bottom: rem(24) !important;
    }
  }
  
  &__text-items-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text-item {
    position: relative;
    padding: rem(24);
    border-radius: rem(8);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &::after {
        content: "";
        display: block;
        width: calc(100% - rem(16));
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
        left: rem(8);
    }
    
    &.is-active {
      background-color: var(--color-white);

      p {
        color: var(--color-black);
      }
    }
    
    @media (max-width: 991px) {
      border: none;
      padding-top: rem(16);
      padding-bottom: rem(16);
      &:first-of-type { border-top: none; }
    }
  }

  &__item-title {
    font-size: rem(36) !important;
    font-family: var(--font-beausite-fit-web);    
    font-weight: 300;
    margin: 0 !important;
    color: var(--color-purple-100);
  }

  &__item-desc {
    font-size: rem(18) !important;
    font-weight: 300;
  }
  
  &__media-col {
    @media (max-width: 991px) {
      order: 1;
    }
  }
  
  &__mobile-header {
    display: none;
    @media (max-width: 991px) {
      display: block;
      margin-bottom: rem(24);
    }
  }
  
  &__pagination {
    display: flex;
    gap: rem(8);
    
    .dot {
      flex: 1;
      height: 2px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 1px;
      transition: background 0.3s ease;
      border: none;
      padding: 0;

      &.is-selected {
        background: white;
      }
    }
  }

  &__image-slider-wrapper {
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: relative;

    @media (max-width: 991px) {
      width: 100%;
      height: rem(340);
    }
  }
  
  &__image-slider {
    width: 100%;
    height: 100%;
  }

  &__image-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;

    &.is-active {
      opacity: 1;
      visibility: visible;
      z-index: 2;
      transition-delay: 0s;
    }

    img, .placeholder-svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    @media (max-width: 991px) {
      position: relative;
    }
  }
  
  .flickity-enabled &__image-item {
    position: absolute;
  }
}
