@use "../settings/init" as *;

.custom-dream-center {
  background-color: var(--bg-color);
  padding: rem(200) 0;

  @media (max-width: 992px) {
    padding: rem(48) 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(1248);
    margin: 0 auto;
    gap: rem(120);

    @media (max-width: 992px) {
      flex-direction: column;
      gap: rem(36);
    }
  }

  &__image-col {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;

    @media (max-width: 992px) {
      order: 1;
    }
  }

  &__content-col {
    padding: 0 rem(20);
    order: 1;

    @media (max-width: 992px) {
      order: 0;
    }
  }

  &__image-bg {
    background: var(--image-bg, #8fc6f7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(668);
    height: rem(459);

    @media (max-width: 992px) {
      width: 90vw;
      max-width: rem(300);
      height: rem(200);
      aspect-ratio: 3 / 2;
    }
  }

  &__image {
    width: 100%;
    max-width: rem(670);
    height: auto;
    display: block;
    object-fit: contain;

    @media (max-width: 992px) {
      max-width: rem(300);
      height: rem(200);
    }
  }

  &__content-col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: rem(360);

    @media (max-width: 992px) {
      align-items: center;
      min-width: 0;
      text-align: center;
    }
  }

  &__title {
    font-family: var(--font-beausite-fit-web);
    font-size: rem(90) !important;
    margin-top: 0;
    font-weight: 300;
    line-height: 1;
    margin-bottom: rem(36) !important;

    @media (max-width: 992px) {
      font-size: rem(32) !important;
      margin-bottom: rem(18) !important; 
    }
  }

  &__desc {
    font-size: rem(18);
    line-height: 1.6;
    max-width: rem(460);

    @media (max-width: 992px) {
      font-size: rem(14) !important;
    }

    b {
      font-weight: 700;
    }
  }
}
