@use "../settings/init" as *;

.custom-dream-gallery {
  background: var(--bg-color);
  width: 100%;

  &__slider-row {
    width: 100%;
    margin-bottom: rem(24);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__splide {
    width: 100%;
    .splide__track {
      width: 100%;
    }
    .splide__list {
      display: flex;
      align-items: center;
    }
    .splide__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
    }
  }

  &__slide {
    background: none;
    overflow: hidden;
    width: rem(320) !important;
    height: rem(320) !important;
    margin-right: rem(54) !important;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);

    @media (max-width: 768px) {
      margin-right: rem(12) !important;
      width: rem(102) !important;
      height: rem(102) !important;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__middle-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(54) 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 992px) {
      margin: rem(24) 0;
    }
  }

  &__side-img {
    width: rem(320);
    height: rem(320);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--right {
        margin-right: rem(54);
    }

    &--left {
      margin-left: rem(54);
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__center {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 rem(24);
    min-width: 0;
    text-align: center;
  }

  &__subtitle {
    color: var(--subtitle-color);
    font-size: rem(18);
    margin-bottom: rem(36) !important;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: rem(14);
      margin-bottom: rem(18) !important;
    }
  }

  &__title {
    font-family: var(--font-beausite-fit-web);
    color: var(--title-color);
    font-size: rem(90) !important;
    font-weight: 300;
    margin-bottom: rem(24);
    line-height: 1.1;
    margin-top: 0;

    @media (max-width: 768px) {
      font-size: rem(36) !important;
    }
  }

  &__desc {
    color: var(--desc-color);
    font-size: rem(18);
    line-height: 1.5;
    margin: 0 auto;
    max-width: rem(1000);

    @media (max-width: 768px) {
      font-size: rem(14) !important;
      text-align: center;
    }

    p {
      margin: 0;
    }
  }
}
