@use "../settings/init" as *;

.custom-hero-banner {
    position: relative;
    width: 100%;
    min-height: rem(955);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 992px) {
      min-height: rem(557);
      justify-content: center;
    }
  
    &__content-box {
      position: relative;
      z-index: 2;
      background: var(--color-midnight-blue);
      color: var(--color-blue-40);
      padding: rem(64) rem(48);
      max-width: rem(700);
      border-radius: rem(8);
      margin-left: rem(48);
  
      @media (max-width: 992px) {
        background: none;
        margin: rem(32) rem(8);
        padding: rem(32) rem(16);
        max-width: 100%;
        text-align: center;
      }
    }
  
    &__heading {
      font-size: rem(60);
      font-weight: 400;
      color: var(--color-blue-80);
      margin-bottom: rem(24);
      max-width: rem(513);
      font-weight: 300;

      @media (max-width: 992px) {
        font-size: rem(42) !important;
        text-align: center;
        max-width: 100%;
      }
    }
  
    &__subheading, &__desc { 
      font-size: rem(18);
      color:  var(--color-white);
      margin-bottom: rem(8);
  
      strong {
        font-weight: 600;
      }
    }
  
    &__desc {
      margin-bottom: rem(32);
    }
  
    &__buttons {
      display: flex;
      gap: rem(32);
      margin-top: rem(24);
  
      @media (max-width: 992px) {
        flex-direction: column;
        gap: rem(16);
      }
    }
  
    &__button {
      display: inline-block;
      padding: rem(12) rem(36);
      border-radius: rem(32);
      font-size: rem(20);
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      transition: var(--default-transition);

      @media (max-width: 992px) {
        font-size: rem(14);
        padding: rem(16) rem(24);
      }
  
      &--primary {
        background: var(--color-blue-40);
        color: var(--color-midnight-blue);
  
        &:hover {
          background: var(--color-blue-80);
          color: var(--color-white);
        }
      }
  
      &--secondary {
        background: transparent;
        color: var(--color-neutral-cream);
        border: none;
        display: flex;
        align-items: center;
        gap: rem(8);
  
        &:hover {
          color: var(--color-blue-40);
        }

        @media (max-width: 992px) {
          justify-content: center;
        }
      }
  
      &-arrow {
        font-size: rem(20);
        line-height: 1;
        display: inline-block;
        vertical-align: middle; 
      }
    }
  }
