@use "../settings/init" as *;

.btn {
	font-family: var(--font-twk-lausanne);
	font-size: rem(14);
	font-weight: 300;
	line-height: 100%;
	border-radius: rem(60);
	color: var(--color-black);
	padding: rem(12) rem(24);
	transition: background-color var(--default-transition);
	border: none;
	cursor: pointer;
	text-decoration: none;

	@include media-breakpoint-up(lg) {
		font-size: rem(18);
		line-height: 160%;
		border-radius: rem(120);
		padding: rem(12) rem(72);
	}

	&--primary {
		background-color: var(--color-blue-80);

		&:hover,
		&:focus-visible {
			background-color: var(--color-blue-120);
		}
	}
}