@font-face {
    font-family: 'twk_lausanne';
    src: url('twklausanne-350.woff2') format('woff2'),
         url('twklausanne-350.woff') format('woff');
    font-weight: 350;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'twk_lausanne';
    src: url('twklausanne-600.woff2') format('woff2'),
         url('twklausanne-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'beausite_fit_web';
    src: url('BeausiteFitWeb-Light.woff2') format('woff2'),
         url('BeausiteFitWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'beausite_fit_web_light';
    src: url('BeausiteFitWeb-LightItalic.woff2') format('woff2'),
         url('BeausiteFitWeb-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
	font-display: swap;
}

