@use "../settings/init" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	margin: 0;
	font-family: var(--font-twk-lausanne);
	font-size: 1.4rem;
	font-weight: 350;
	line-height: 160%;
	color: var(--color-black);
	background: var(--color-neutral-cream);
	-webkit-font-smoothing: antialiased;
	-ms-scroll-limit-x-max: 100%;
	-ms-scroll-limit-x-min: 0;
	-moz-osx-font-smoothing: grayscale;

	@include media-breakpoint-up (lg) {
		font-size: 1.8rem;
	}
}

figure {
	margin: 0;
}

// Make all images responsive
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}


.xo-section {
	padding-top: rem(72) !important;

	@media (max-width: 768px) {
		padding-top: 0 !important;
	}
}


.xo-media .xo-image {
	@media (max-width: 768px) {
		min-height: rem(72);
	}
}

.xo-cart-item__options-name {
	display: none;
}


//QUIZ 

#start-over {
	display: none;
}


.kkVAjA {
	margin: 0 auto 0 !important;
}

.esdXTd {
	margin: 0 auto 0 !important;
}

#shopify-section-template--19771884503299__main_cart_AxiBwR .xo-section{
	padding-top: 0 !important;
}

.next-question-button {
	display: none !important;
}

.button .start-button {
	font-size: rem(14);
	line-height: 1.6;
	font-weight: 300;
	border-radius: rem(96);
}

@media (max-width: 768px) {
	.answer-text-with-image{
		font-size: rem(14) !important;
		font-weight: 300 !important;
	}

	.welcome-container h1 {
		font-size: rem(32) !important;
	}

	.jvVUzO p {
		font-size: rem(14) !important;
	}

	.kaaQLd {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	#shopify-section-template--19827288015107__custom_sticky_two_col_bR3hrC {
		padding-top: 0 !important;
	}

	.testimonial-box-5__left {
		text-align: center;
	}

	.testimonial-box-5__item .testimonial-box--radius {
		border-radius: 0 !important;
	}
}