@use "../settings/init" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	margin: 0;
	font-family: var(--font-twk-lausanne);
	font-size: 1.4rem;
	font-weight: 350;
	line-height: 160%;
	color: var(--color-black);
	background: var(--color-neutral-cream);
	-webkit-font-smoothing: antialiased;
	-ms-scroll-limit-x-max: 100%;
	-ms-scroll-limit-x-min: 0;
	-moz-osx-font-smoothing: grayscale;

	@include media-breakpoint-up (lg) {
		font-size: 1.8rem;
	}
}

figure {
	margin: 0;
}

// Make all images responsive
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}


.xo-section {
	padding-top: rem(72) !important;

	@media (max-width: 768px) {
		padding-top: 0 !important;
	}
}


.xo-media .xo-image {
	@media (max-width: 768px) {
		min-height: rem(72);
	}
}

.xo-cart-item__options-name {
	display: none;
}

.xo-empty__title{
	font-family: var(--font-beausite-fit-web-light);
	font-size: rem(72) !important;
	font-weight: 300;
	line-height: 1;
	color: var(--color-black);

	b{
		font-weight: 300;
		color: var(--color-purple-100);
	}


	@media (max-width: 991px) {
		font-size: rem(32) !important;
	}
}

.xo-product-info-media-carousel img{
	border-radius: rem(8) !important;
}