@use "../settings/init" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	margin: 0;
	font-family: var(--font-twk-lausanne);
	font-size: 1.4rem;
	font-weight: 350;
	line-height: 160%;
	color: var(--color-black);
	background: var(--color-neutral-cream);
	-webkit-font-smoothing: antialiased;
	-ms-scroll-limit-x-max: 100%;
	-ms-scroll-limit-x-min: 0;
	-moz-osx-font-smoothing: grayscale;

	@include media-breakpoint-up (lg) {
		font-size: 1.8rem;
	}
}

figure {
	margin: 0;
}

// Make all images responsive
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

