{{ 'category-1.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block = section.blocks
  assign class = section.settings.font_size_heading
  assign heading = section.settings.text_heading
  assign sub_heading = section.settings.sub_heading
  assign duration = section.settings.text_duration
  assign effect = section.settings.text_effect
  assign tag_name = section.settings.text_tag_name
  assign heading_width_desktop = section.settings.text_heading_width_desktop
  assign heading_width_mobile = section.settings.text_heading_width_mobile
  assign collection_per_view = section.settings.collection_per_view
  assign space_between = section.settings.space_between
  assign layout = section.settings.layout
%}

<section {% render 'section-attr' %}>
  <div class='category-style-1'>
    <xo-container class='category-style-1__container'>
      <div class='category-style-1__content'>
        {% render 'category-1',
          block: block,
          collection_per_view: collection_per_view,
          space_between: space_between,
          layout: layout,
          class: class,
          heading: heading,
          sub_heading: sub_heading,
          effect: effect,
          duration: duration,
          tag_name: tag_name,
          heading_width_desktop: heading_width_desktop,
          heading_width_mobile: heading_width_mobile
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.category_style_1.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "collection_per_view",
      "min": 1,
      "max": 8,
      "step": 1,
      "label": "t:sections.category_style_1.settings.collection_per_view.label",
      "default": 7
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 10,
      "max": 200,
      "step": 5,
      "label": "t:sections.category_style_1.settings.space_between.label",
      "default": 15
    },
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Collection by category"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.category_style_1.settings.sub_heading.label",
      "default": "<p>Use this text to share information about your brand with your customers</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.category_style_1.blocks.name",
      "type": "collection-item",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.header.content"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collection.label"
        },
        {
          "type": "range",
          "id": "collection_card_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding_vertical.label",
          "default": 7
        },
        {
          "type": "range",
          "id": "collection_card_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding_horizontal.label",
          "default": 7
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "t:sections.all.image_size.label",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.all.image_size.option__1.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.image_size.option__2.label"
            }
          ],
          "default": "sm"
        },
        {
          "type": "color_scheme",
          "id": "color_schema_card",
          "label": "t:sections.all.color_schema_card.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.category_style_1.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "collection-item",
          "settings": {}
        },
        {
          "type": "collection-item",
          "settings": {}
        },
        {
          "type": "collection-item",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
