{{ 'collection-list-6.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection_list = section.settings.collection_list
  assign product_per_view = section.settings.product_per_view
  assign autoplay = section.settings.autoplay
  assign autoplay_speed = section.settings.autoplay_speed

  assign class = section.settings.font_size_heading
  assign heading = section.settings.text_heading
  assign duration = section.settings.text_duration
  assign effect = section.settings.text_effect
  assign tag_name = section.settings.text_tag_name
  assign heading_width_desktop = section.settings.text_heading_width_desktop
  assign heading_width_mobile = section.settings.text_heading_width_mobile
%}

<section {% render 'section-attr' %}>
  <div class='collection-slide'>
    <xo-container class='collection-slide__container'>
      <div class='collection-slide__content'>
        {% render 'collection-list-6',
          collection_list: collection_list,
          product_per_view: product_per_view,
          autoplay: autoplay,
          autoplay_speed: autoplay_speed,
          class: class,
          heading: heading,
          duration: duration,
          effect: effect,
          tag_name: tag_name,
          heading_width_desktop: heading_width_desktop,
          heading_width_mobile: heading_width_mobile,
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection_slide.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:sections.collection_slide.settings.collection_list.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Collection slide"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.collection_slide.settings.header_slide.content"
    },
    {
      "type": "range",
      "id": "product_per_view",
      "min": 4,
      "max": 9,
      "step": 1,
      "label": "t:sections.collection_slide.settings.product_per_view.label",
      "default": 6
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.collection_slide.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.collection_slide.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.collection_slide.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "t:sections.collection_slide.settings.autoplay_speed.label",
      "default": 5000
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.collection_slide.presets.name",
      "settings": {},
      "blocks": [

  ]
    }
  ]
}
{% endschema %}
