{{ 'section-collapse-content.css' | asset_url | stylesheet_tag }}
{{ 'collapse-content-box-1.css' | asset_url | stylesheet_tag }}
{{ 'collapse.css' | asset_url | stylesheet_tag }}

{% liquid
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='collapse-content'>
    <xo-container class='collapse-content__container'>
      {% render 'collapse-content-box-1', class: class, heading: heading, block: block %}
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collapse_content.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h4",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.collapse_content.settings.heading.label",
      "default": "<p>Collapse content</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "collapse",
      "name": "t:sections.collapse_content.blocks.name",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.collapse_content.blocks.settings.title.label",
          "info": "t:sections.collapse_content.blocks.settings.title.info",
          "default": "<p>Heading</p>"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.collapse_content.blocks.settings.content.label",
          "info": "t:sections.collapse_content.blocks.settings.content.info",
          "default": "<p>Showcase a benefit of your product</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapse_content.presets.name",
      "settings": {
        "font_size_heading": "h4",
        "heading": "<p>Collapse content</p>",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "collapse",
          "settings": {
            "title": "<p>Heading</p>",
            "content": "<p>Showcase a benefit of your product</p>"
          }
        },
        {
          "type": "collapse",
          "settings": {
            "title": "<p>Heading</p>",
            "content": "<p>Showcase a benefit of your product </p>"
          }
        },
        {
          "type": "collapse",
          "settings": {
            "title": "<p>Heading</p>",
            "content": "<p>Showcase a benefit of your product </p>"
          }
        },
        {
          "type": "collapse",
          "settings": {
            "title": "<p>Heading</p>",
            "content": "<p>Showcase a benefit of your product </p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
