{{ 'section-custom-section.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='custom-section'>
    <xo-container class='custom-section__container'>
      <div class='xo-custom-section'>
        {% content_for 'blocks' %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.custom_section.name",
  "tag": "div",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.presets.name",
      "blocks": [
        {
          "type": "grid",
          "settings": {
            "desktop_col": 3,
            "fixed_row": false,
            "auto_row": 20,
            "tablet_col": 2,
            "mobile_col": 1
          },
          "blocks": [
            {
              "type": "column",
              "settings": {
                "desktop_col_span": 1,
                "desktop_row_span": 1,
                "mobile_col_span": 1,
                "mobile_row_span": 1
              }
            },
            {
              "type": "column",
              "settings": {
                "desktop_col_span": 1,
                "desktop_row_span": 1,
                "mobile_col_span": 1,
                "mobile_row_span": 1
              }
            },
            {
              "type": "column",
              "settings": {
                "desktop_col_span": 1,
                "desktop_row_span": 1,
                "mobile_col_span": 1,
                "mobile_row_span": 1
              }
            }
          ]
        }
      ],
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      }
    }
  ]
}
{% endschema %}
