{{ 'section-featured-collection-style-10.css' | asset_url | stylesheet_tag }}
{{ 'featured-collection-10.css' | asset_url | stylesheet_tag }}

{% liquid
  assign sub_heading = section.settings.sub_heading
  assign class = section.settings.font_size_heading
  assign heading = section.settings.text_heading
  assign duration = section.settings.text_duration
  assign effect = section.settings.text_effect
  assign tag_name = section.settings.text_tag_name
  assign heading_width_desktop = section.settings.text_heading_width_desktop
  assign heading_width_mobile = section.settings.text_heading_width_mobile
  assign autoplay = section.settings.autoplay
  assign autoplay_time = section.settings.autoplay_time
  assign background_style = section.settings.background_style
  assign video_url = section.settings.video_url
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='featured-collection-style-10'>
    {% if background_style == 'video' %}
      <div class='featured-collection-style-10__background'>
        <xo-video-cover class='featured-collection-style-10__video' xo-src='{{ video_url }}'></xo-video-cover>
      </div>
    {%- else -%}
      {% render 'section-bg-image' %}
    {% endif %}
    <xo-container class='featured-collection-style-10__container'>
      <div class='featured-collection-style-10__content'>
        {% render 'featured-collection-10',
          sub_heading: sub_heading,
          heading: heading,
          tag_name: tag_name,
          class: class,
          duration: duration,
          heading_width_desktop: heading_width_desktop,
          heading_width_mobile: heading_width_mobile,
          effect: effect,
          autoplay: autoplay,
          autoplay_time: autoplay_time,
          block: block
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured_collection_style_10.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 100
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.featured_collection_style_10.settings.sub_heading.label",
      "default": "Subheading"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_10.settings.header_carousel.content"
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.featured_collection_style_10.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.featured_collection_style_10.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.featured_collection_style_10.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "unit": "s",
      "label": "t:sections.featured_collection_style_10.settings.autoplay_time.label",
      "default": 2000
    },
    {
      "type": "select",
      "id": "background_style",
      "label": "t:sections.featured_collection_style_10.settings.background_style.label",
      "options": [
        {
          "value": "image",
          "label": "t:sections.featured_collection_style_10.settings.background_style.option__1.label"
        },
        {
          "value": "video",
          "label": "t:sections.featured_collection_style_10.settings.background_style.option__2.label"
        }
      ],
      "default": "image"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "t:sections.featured_collection_style_10.settings.video.label",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://vimeo.com/821281577"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.all.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.background_image_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "t:sections.all.use_parallax.label",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.featured_collection_style_10.blocks.name",
      "type": "featured-slide",
      "limit": 20,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.featured_collection_style_10.blocks.settings.product.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.product_card_heading.content"
        },
        {
          "type": "checkbox",
          "id": "product_card_show_image",
          "default": true,
          "label": "t:sections.all.product_card_show_image.label"
        },
        {
          "type": "checkbox",
          "id": "product_card_show_secondary_image",
          "default": true,
          "label": "t:sections.all.product_card_show_secondary_image.label"
        },
        {
          "type": "checkbox",
          "id": "product_card_show_price",
          "label": "t:sections.all.product_card_show_price.label",
          "default": true
        },
        {
          "type": "color_scheme",
          "id": "card_color_scheme",
          "label": "t:sections.all.card_color_scheme.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection_style_10.presets.name",
      "settings": {
        "sub_heading": "SUBHEADING",
        "font_size_heading": "h3",
        "text_heading": "Featured collection",
        "text_duration": 1000,
        "text_effect": "split",
        "autoplay": "on",
        "autoplay_time": 3000,
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "background_image_desktop": "",
        "background_image_mobile": "",
        "use_parallax": true,
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "featured-slide",
          "settings": {
            "product": "",
            "product_card_show_image": true,
            "product_card_show_secondary_image": true,
            "product_card_show_price": true,
            "card_color_scheme": ""
          }
        },
        {
          "type": "featured-slide",
          "settings": {
            "product": "",
            "product_card_show_image": true,
            "product_card_show_secondary_image": true,
            "product_card_show_price": true,
            "card_color_scheme": ""
          }
        },
        {
          "type": "featured-slide",
          "settings": {
            "product": "",
            "product_card_show_image": true,
            "product_card_show_secondary_image": true,
            "product_card_show_price": true,
            "card_color_scheme": ""
          }
        },
        {
          "type": "featured-slide",
          "settings": {
            "product": "",
            "product_card_show_image": true,
            "product_card_show_secondary_image": true,
            "product_card_show_price": true,
            "card_color_scheme": ""
          }
        },
        {
          "type": "featured-slide",
          "settings": {
            "product": "",
            "product_card_show_image": true,
            "product_card_show_secondary_image": true,
            "product_card_show_price": true,
            "card_color_scheme": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
