{{ 'featured-collection-7.css' | asset_url | stylesheet_tag }}
{{ 'product-featured.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.heading
  assign button = section.settings
  assign color_config_enable = section.settings.color_config_enable
  assign image_1 = section.settings.image_1
  assign title_1 = section.settings.title_1
  assign image_2 = section.settings.image_2
  assign title_2 = section.settings.title_2
  assign image_3 = section.settings.image_3
  assign title_3 = section.settings.title_3
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='featured-collection-style-7'>
    <xo-container class='featured-collection-style-7__container'>
      <div class='featured-collection-style-7__content'>
        {% render 'featured-collection-7',
          class: 'h5',
          heading: heading,
          button: button,
          color_config_enable: color_config_enable,
          image_1: image_1,
          title_1: title_1,
          image_2: image_2,
          title_2: title_2,
          image_3: image_3,
          title_3: title_3,
          block: block
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured_collection_style_7.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.product_card_heading.content"
    },
    {
      "type": "select",
      "id": "product_card_aspect_ratio",
      "label": "t:sections.all.product_card_aspect_ratio.label",
      "default": "1",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.card_color_scheme.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.featured_collection_style_7.settings.heading.label",
      "default": "<p>Featured collection</p>"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_7.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.all.button_text.label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.option__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.option__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.button_style.option__3.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.all.button_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.button_size.option__0.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.button_size.option__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.button_size.option__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.button_size.option__3.label"
        }
      ],
      "default": "sm"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_7.settings.header_0.content"
    },
    {
      "type": "checkbox",
      "id": "color_config_enable",
      "label": "t:sections.featured_collection_style_7.settings.color_config_enable.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_7.settings.header_1.content"
    },
    {
      "type": "richtext",
      "id": "title_1",
      "label": "t:sections.featured_collection_style_7.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.featured_collection_style_7.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_7.settings.header_1.content"
    },
    {
      "type": "richtext",
      "id": "title_2",
      "label": "t:sections.featured_collection_style_7.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.featured_collection_style_7.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_7.settings.header_1.content"
    },
    {
      "type": "richtext",
      "id": "title_3",
      "label": "t:sections.featured_collection_style_7.settings.heading.label",
      "default": "<p>Heading</p>"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.featured_collection_style_7.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.featured_collection_style_7.blocks.name_1",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_collection_style_7.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        }
      ]
    },
    {
      "name": "t:sections.featured_collection_style_7.blocks.name_2",
      "type": "product",
      "limit": 10,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.featured_collection_style_7.blocks.settings.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection_style_7.presets.name",
      "settings": {
        "product_card_aspect_ratio": "1",
        "card_color_scheme": "inverse",
        "heading": "<p>Featured collection</p>",
        "button_text": "Shop all",
        "button_link": "shopify://collections/all",
        "button_style": "primary",
        "button_size": "sm",
        "title_1": "<p>Heading</p>",
        "image_1": "",
        "title_2": "<p>Heading</p>",
        "image_2": "",
        "title_3": "<p>Heading</p>",
        "image_3": "",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "product",
          "settings": {
            "product": ""
          }
        },
        {
          "type": "product",
          "settings": {
            "product": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
