{{ 'featured-collection-6.css' | asset_url | stylesheet_tag }}
{{ 'collection-image.css' | asset_url | stylesheet_tag }}
{{ 'collection-empty.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection = section.settings.collection
  assign image_collection_desktop = section.settings.image_collection_desktop
  assign image_collection_mobile = section.settings.image_collection_mobile
  assign aspect_ratio_collection_mobile = section.settings.aspect_ratio_collection_mobile
  assign class = section.settings.font_size_heading
  assign heading = section.settings.text_heading
  assign duration = section.settings.text_duration
  assign effect = section.settings.text_effect
  assign tag_name = section.settings.text_tag_name
  assign heading_width_desktop = section.settings.text_heading_width_desktop
  assign heading_width_mobile = section.settings.text_heading_width_mobile
  assign product_display = section.settings.product_display
  assign column_mobile = section.settings.column_mobile
  assign color_schema_collection = section.settings.color_schema_collection
%}

<section {% render 'section-attr' %}>
  <div class='featured-collection-style-6'>
    <xo-container class='featured-collection-style-6__container'>
      <div class='featured-collection-style-6__content'>
        {% render 'featured-collection-6',
          collection: collection,
          image_desktop: image_collection_desktop,
          image_mobile: image_collection_mobile,
          aspect_ratio_mobile: aspect_ratio_collection_mobile,
          class: class,
          heading: heading,
          tag_name: tag_name,
          effect: effect,
          duration: duration,
          heading_width_desktop: heading_width_desktop,
          heading_width_mobile: heading_width_mobile,
          product_display: product_display,
          column_mobile: column_mobile,
          color_schema_collection: color_schema_collection
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured_collection_style_6.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h5"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_6.settings.header_collection.content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured_collection_style_6.settings.collection.label"
    },
    {
      "type": "image_picker",
      "id": "image_collection_desktop",
      "label": "t:sections.featured_collection_style_6.settings.image_collection_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "image_collection_mobile",
      "label": "t:sections.featured_collection_style_6.settings.image_collection_mobile.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_collection_mobile",
      "label": "t:sections.featured_collection_style_6.settings.aspect_ratio_collection_mobile.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_schema_collection",
      "label": "t:sections.featured_collection_style_6.settings.color_schema_collection.label",
      "default": "scheme_1"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_6.settings.header_grid.content"
    },
    {
      "type": "select",
      "id": "column_mobile",
      "label": "t:sections.featured_collection_style_6.settings.column_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured_collection_style_6.settings.column_mobile.option__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured_collection_style_6.settings.column_mobile.option__2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "product_display",
      "min": 0,
      "max": 4,
      "step": 1,
      "label": "t:sections.featured_collection_style_6.settings.product_display.label",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:sections.all.product_card_heading.content"
    },
    {
      "type": "select",
      "id": "product_card_aspect_ratio",
      "label": "t:sections.all.product_card_aspect_ratio.label",
      "default": "1",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.card_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.featured_collection_style_6.presets.name",
      "settings": {
        "font_size_heading": "h5",
        "text_heading": "Featured collection",
        "text_duration": 1000,
        "text_effect": "split",
        "collection": "",
        "image_collection_desktop": "",
        "image_collection_mobile": "",
        "aspect_ratio_collection_mobile": "auto",
        "color_schema_collection": "background-2",
        "column_mobile": "2",
        "product_display": 4,
        "product_card_aspect_ratio": "1",
        "card_color_scheme": "inverse",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [

  ]
    }
  ]
}
{% endschema %}
