{{ 'section-feature-product-style-4.css' | asset_url | stylesheet_tag }}
{{ 'feature-product-4.css' | asset_url | stylesheet_tag }}
{{ 'transform-list.css' | asset_url | stylesheet_tag }}

{% liquid
  assign sub_heading = section.settings.sub_heading
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='feature-product-style-4'>
    <div class='feature-product-style-4__container'>
      <div class='feature-product-style-4__content'>
        {% render 'feature-product-4', sub_heading: sub_heading, block: block %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.feature_product_style_4.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.feature_product_style_4.settings.sub_heading.label",
      "default": "Subheading"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.feature_product_style_4.blocks.name",
      "type": "feature",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "t:sections.feature_product_style_4.blocks.settings.header_text.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.feature_product_style_4.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "header",
          "content": "t:sections.feature_product_style_4.blocks.settings.header_orther.content"
        },
        {
          "type": "textarea",
          "id": "list_information",
          "label": "t:sections.feature_product_style_4.blocks.settings.title_list.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.feature_product_style_4.presets.name",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "product": "",
            "heading": "Heading"
          }
        },
        {
          "type": "feature",
          "settings": {
            "product": "",
            "heading": "Heading"
          }
        },
        {
          "type": "feature",
          "settings": {
            "product": "",
            "heading": "Heading"
          }
        }
      ],
      "settings": {
        "sub_heading": "Subheading",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      }
    }
  ]
}
{% endschema %}
