{{ 'featured-collection-4.css' | asset_url | stylesheet_tag }}
{{ 'collection-empty.css' | asset_url | stylesheet_tag }}
{{ 'product-information.css' | asset_url | stylesheet_tag }}
{{ 'transform-list.css' | asset_url | stylesheet_tag }}

{% liquid
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign title_list = section.settings.list_title
  assign content_list = section.settings.list_content
  assign color_schema_specification = section.settings.color_schema_specification
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='featured-collection-style-4'>
    <xo-container class='featured-collection-style-4__container'>
      <div class='featured-collection-style-4__content'>
        {% render 'featured-collection-4',
          class: class,
          heading: heading,
          title_list: title_list,
          content_list: content_list,
          color_schema_specification: color_schema_specification,
          block: block
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured_collection_style_4.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.featured_collection_style_4.settings.heading.label",
      "default": "<p>Featured collection</p>"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection_style_4.settings.header_specification.content"
    },
    {
      "type": "richtext",
      "id": "list_title",
      "label": "t:sections.featured_collection_style_4.settings.list_title.label"
    },
    {
      "type": "richtext",
      "id": "list_content",
      "label": "t:sections.featured_collection_style_4.settings.list_content.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema_specification",
      "label": "t:sections.featured_collection_style_4.settings.color_schema_specification.label",
      "default": "scheme_1"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.featured_collection_style_4.blocks.name",
      "type": "featured-product",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.featured_collection_style_4.blocks.settings.product.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.product_card_heading.content"
        },
        {
          "type": "select",
          "id": "product_card_aspect_ratio",
          "label": "t:sections.all.product_card_aspect_ratio.label",
          "default": "1",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "card_color_scheme",
          "label": "t:sections.all.card_color_scheme.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection_style_4.presets.name",
      "settings": {
        "heading": "<p>Featured collection</p>",
        "list_title": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>",
        "list_content": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>",
        "color_schema_specification": "background-1",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "featured-product",
          "settings": {
            "product": "",
            "product_card_aspect_ratio": "1",
            "card_color_scheme": "inverse"
          }
        },
        {
          "type": "featured-product",
          "settings": {
            "product": "",
            "product_card_aspect_ratio": "1",
            "card_color_scheme": "inverse"
          }
        }
      ]
    }
  ]
}
{% endschema %}
