{{ 'section-gallery-style-1.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.heading
  assign button = section.settings
%}

<section {% render 'section-attr' %}>
  <div class='gallery-style-1'>
    <div class='gallery-style-1__container'>
      <div class='gallery-style-1__content'>
        <div class='gallery-style-1__desktop'>
          <div class='gallery-style-1__flex'>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'image-1' %}
                  {%- assign image_dt = block.settings.image_dt -%}
                  <xo-animate
                    xo-cascade
                    class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--1'
                  >
                    {% render 'image', image: image_dt, aspect_ratio: '230/415' %}
                  </xo-animate>
              {% endcase %}
            {% endfor %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'image-2' %}
                  {%- assign image_dt = block.settings.image_dt -%}
                  <xo-animate
                    xo-cascade
                    class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--2'
                  >
                    {% render 'image', image: image_dt, aspect_ratio: '415/415' %}
                  </xo-animate>
              {% endcase %}
            {% endfor %}
            <xo-animate xo-cascade>
              <div class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %}'>
                <div class='gallery-style-1__text'>
                  {% if heading %}
                    <h3 class='gallery-style-1__heading h3'>{{ heading }}</h3>
                  {% endif %}
                  <div class='gallery-style-1__button'>
                    {% render 'button',
                      text: button.button_text,
                      link: button.button_link,
                      style: button.button_style,
                      size: button.button_size,
                      radius: settings.button_radius,
                      padding: settings.button_padding
                    %}
                  </div>
                </div>
              </div>
            </xo-animate>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'image-3' %}
                  {%- assign image_dt = block.settings.image_dt -%}
                  <xo-animate
                    xo-cascade
                    class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--3'
                  >
                    {% render 'image', image: image_dt, aspect_ratio: '415/415' %}
                  </xo-animate>
              {% endcase %}
            {% endfor %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'image-4' %}
                  {%- assign image_dt = block.settings.image_dt -%}
                  <xo-animate
                    xo-cascade
                    class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--4'
                  >
                    {% render 'image', image: image_dt, aspect_ratio: '230/415' %}
                  </xo-animate>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
        <div class='gallery-style-1__mobile'>
          <xo-container>
            <xo-grid class='gallery-style-1__grid'>
              <div class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %}' style='--lg: 12; --md: 12; --xs: 12'>
                <xo-animate xo-cascade>
                  <div class='gallery-style-1__text'>
                    {% if heading %}
                      <h3 class='gallery-style-1__heading h3'>{{ heading }}</h3>
                    {% endif %}
                    <div class='gallery-style-1__button'>
                      {% render 'button',
                        text: button.button_text,
                        link: button.button_link,
                        style: button.button_style,
                        size: button.button_size,
                        radius: settings.button_radius,
                        padding: settings.button_padding
                      %}
                    </div>
                  </div>
                </xo-animate>
              </div>
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'image-1' %}
                    {%- assign image_mb = block.settings.image_mb -%}
                    <xo-animate
                      xo-cascade
                      class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--1'
                      style='--lg: 6; --md: 6; --xs: 6'
                    >
                      {% render 'image', image: image_mb %}
                    </xo-animate>
                {% endcase %}
              {% endfor %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'image-2' %}
                    {%- assign image_mb = block.settings.image_mb -%}
                    <xo-animate
                      xo-cascade
                      class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--2'
                      style='--lg: 6; --md: 6; --xs: 6'
                    >
                      {% render 'image', image: image_mb %}
                    </xo-animate>
                {% endcase %}
              {% endfor %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'image-3' %}
                    {%- assign image_mb = block.settings.image_mb -%}
                    <xo-animate
                      xo-cascade
                      class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--3'
                      style='--lg: 6; --md: 6; --xs: 6'
                    >
                      {% render 'image', image: image_mb %}
                    </xo-animate>
                {% endcase %}
              {% endfor %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'image-4' %}
                    {%- assign image_mb = block.settings.image_mb -%}
                    <xo-animate
                      xo-cascade
                      class='gallery-style-1__item {% if settings.enable_border_radius %}gallery-style-1__item--radius{% endif %} gallery-style-1__item--4'
                      style='--lg: 6; --md: 6; --xs: 6'
                    >
                      {% render 'image', image: image_mb %}
                    </xo-animate>
                {% endcase %}
              {% endfor %}
            </xo-grid>
          </xo-container>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.gallery_style_1.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.gallery_style_1.settings.heading.label",
      "default": "<p>Enter your instagram</p>"
    },
    {
      "type": "header",
      "content": "t:sections.gallery_style_1.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.all.button_text.label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.option__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.option__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.button_style.option__3.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.all.button_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.button_size.option__0.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.button_size.option__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.button_size.option__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.button_size.option__3.label"
        }
      ],
      "default": "sm"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.gallery_style_1.blocks.name_1",
      "type": "image-1",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.gallery_style_1.blocks.settings.image_dt.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.gallery_style_1.blocks.settings.image_mb.label"
        }
      ]
    },
    {
      "name": "t:sections.gallery_style_1.blocks.name_2",
      "type": "image-2",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.gallery_style_1.blocks.settings.image_dt.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.gallery_style_1.blocks.settings.image_mb.label"
        }
      ]
    },
    {
      "name": "t:sections.gallery_style_1.blocks.name_3",
      "type": "image-3",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.gallery_style_1.blocks.settings.image_dt.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.gallery_style_1.blocks.settings.image_mb.label"
        }
      ]
    },
    {
      "name": "t:sections.gallery_style_1.blocks.name_4",
      "type": "image-4",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.gallery_style_1.blocks.settings.image_dt.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.gallery_style_1.blocks.settings.image_mb.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.gallery_style_1.presets.name",
      "blocks": [
        {
          "type": "image-1",
          "settings": {
            "image_dt": "",
            "image_mb": ""
          }
        },
        {
          "type": "image-2",
          "settings": {
            "image_dt": "",
            "image_mb": ""
          }
        },
        {
          "type": "image-3",
          "settings": {
            "image_dt": "",
            "image_mb": ""
          }
        },
        {
          "type": "image-4",
          "settings": {
            "image_dt": "",
            "image_mb": ""
          }
        }
      ],
      "settings": {
        "heading": "<p>#Our<br/>Instagram</p>",
        "button_text": "@unicase.ig",
        "button_link": "shopify://collections/all",
        "button_style": "primary",
        "button_size": "sm",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 43,
        "padding_bottom_desktop": 60,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 23
      }
    }
  ]
}
{% endschema %}
