{{ 'section-hero-carousel.css' | asset_url | stylesheet_tag }}
{{ 'img-banner-3.css' | asset_url | stylesheet_tag }}
{{ 'media.css' | asset_url | stylesheet_tag }}
{{ 'video.css' | asset_url | stylesheet_tag }}

{% liquid
  assign layout = section.settings.layout
  assign autoplay = section.settings.autoplay
  assign autoplay_speed = section.settings.autoplay_speed
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='hero-carousel'>
    <div class='hero-carousel__inner'>
      {% render 'img-banner-3',
        layout: layout,
        autoplay: autoplay,
        autoplay_speed: autoplay_speed,
        block: block
      %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.hero_carousel.name",
  "class": "section-hero",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.hero_carousel.settings.layout.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.hero_carousel.settings.layout.options.options__1.label"
        },
        {
          "value": "style-2",
          "label": "t:sections.hero_carousel.settings.layout.options.options__2.label"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.hero_carousel.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.hero_carousel.settings.autoplay.options.options__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.hero_carousel.settings.autoplay.options.options__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "t:sections.hero_carousel.settings.autoplay_speed.label",
      "default": 5000
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.hero_carousel.blocks.name_1",
      "type": "image",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.hero_carousel.blocks.settings.header_text.content"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "t:sections.hero_carousel.blocks.settings.heading.label",
          "info": "t:sections.hero_carousel.blocks.settings.heading.info",
          "default": "Hero carousel"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.hero_carousel.blocks.settings.description.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "t:sections.hero_carousel.blocks.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.all.button_text.label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option__3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.all.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button_size.option__0.label"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button_size.option__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.all.button_size.option__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button_size.option__3.label"
            }
          ],
          "default": "sm"
        },
        {
          "type": "header",
          "content": "t:sections.hero_carousel.blocks.settings.header_image.content"
        },
        {
          "type": "image_picker",
          "id": "background_image_desktop",
          "label": "t:sections.hero_carousel.blocks.settings.background_image_desktop.label"
        },
        {
          "type": "image_picker",
          "id": "background_image_mobile",
          "label": "t:sections.hero_carousel.blocks.settings.background_image_mobile.label"
        }
      ]
    },
    {
      "name": "t:sections.hero_carousel.blocks.name_2",
      "type": "video",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.hero_carousel.blocks.settings.header_text.content"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "t:sections.hero_carousel.blocks.settings.heading.label",
          "info": "t:sections.hero_carousel.blocks.settings.heading.info",
          "default": "Hero carousel"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.hero_carousel.blocks.settings.description.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "t:sections.hero_carousel.blocks.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.all.button_text.label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option__3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.all.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button_size.option__0.label"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button_size.option__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.all.button_size.option__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button_size.option__3.label"
            }
          ],
          "default": "sm"
        },
        {
          "type": "header",
          "content": "t:sections.hero_carousel.blocks.settings.header_video.content"
        },
        {
          "type": "video",
          "id": "video_dt",
          "label": "t:sections.hero_carousel.blocks.settings.video_dt.label"
        },
        {
          "type": "video",
          "id": "video_mb",
          "label": "t:sections.hero_carousel.blocks.settings.video_mb.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero_carousel.presets.name",
      "blocks": [
        {
          "type": "image",
          "settings": {}
        },
        {
          "type": "image",
          "settings": {}
        },
        {
          "type": "image",
          "settings": {}
        }
      ],
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 0,
        "padding_bottom_desktop": 0,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 0
      }
    }
  ]
}
{% endschema %}
