{{ 'img-with-text-5.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block = section.blocks
  assign hover_show_content = section.settings.hover_show_content
  assign caption = section.settings.caption
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign sub_heading = section.settings.sub_heading
  assign image_dt = section.settings.image_dt
  assign aspect_ratio_dt = section.settings.aspect_ratio_dt
  assign image_mb = section.settings.image_mb
  assign aspect_ratio_mb = section.settings.aspect_ratio_mb
%}

<section {% render 'section-attr' %}>
  <div class='image-with-text-style-5'>
    <div class='image-with-text-style-5__content'>
      {% render 'img-with-text-5',
        caption: caption,
        class: class,
        heading: heading,
        sub_heading: sub_heading,
        image_dt: image_dt,
        aspect_ratio_dt: aspect_ratio_dt,
        image_mb: image_mb,
        aspect_ratio_mb: aspect_ratio_mb,
        hover_show_content: hover_show_content,
        block: block
      %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image_with_text_style_5.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_5.settings.header_text.content"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.image_with_text_style_5.settings.caption.label",
      "default": "Caption"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.image_with_text_style_5.settings.heading.label",
      "default": "<p>Image with text</p>"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.image_with_text_style_5.settings.sub_heading.label",
      "default": "<p>Showcase a benefit of your product</p>"
    },
    {
      "type": "checkbox",
      "id": "hover_show_content",
      "label": "t:sections.image_with_text_style_5.settings.hover_show_content.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_5.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "image_dt",
      "label": "t:sections.image_with_text_style_5.settings.image_dt.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_dt",
      "label": "t:sections.image_with_text_style_5.settings.aspect_ratio_dt.label",
      "default": "16/9",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "t:sections.image_with_text_style_5.settings.image_mb.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_mb",
      "label": "t:sections.image_with_text_style_5.settings.aspect_ratio_mb.label",
      "default": "3/4",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.image_with_text_style_5.blocks.name",
      "type": "feature",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.image_with_text_style_5.blocks.settings.icon_image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.image_with_text_style_5.blocks.settings.title.label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "sub_title",
          "label": "t:sections.image_with_text_style_5.blocks.settings.sub_title.label",
          "default": "<p>Showcase a benefit of your product</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text_style_5.presets.name",
      "settings": {
        "caption": "Caption",
        "font_size_heading": "h5",
        "heading": "<p>Image with text</p>",
        "sub_heading": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "title": "Heading",
            "sub_title": "<p>Showcase a benefit of your product</p>"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Heading",
            "sub_title": "<p>Showcase a benefit of your product</p>"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Heading",
            "sub_title": "<p>Showcase a benefit of your product</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
