{% liquid
  assign sub_heading = section.settings.sub_heading
  assign image_dt = section.settings.image_dt
  assign aspect_ratio_dt = section.settings.aspect_ratio_dt
  assign image_mb = section.settings.image_mb
  assign aspect_ratio_mb = section.settings.aspect_ratio_mb
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='image-with-text-style-3'>
    <xo-container class='image-with-text-style-3__container'>
      {% render 'img-with-text-3',
        sub_heading: sub_heading,
        image_dt: image_dt,
        aspect_ratio_dt: aspect_ratio_dt,
        image_mb: image_mb,
        aspect_ratio_mb: aspect_ratio_mb,
        block: block
      %}
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image_with_text_style_3.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.image_with_text_style_3.settings.sub_heading.label",
      "default": "<p>Subheading</p>"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_3.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "image_dt",
      "label": "t:sections.image_with_text_style_3.settings.image_dt.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_dt",
      "label": "t:sections.all.aspect_ratio.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "t:sections.image_with_text_style_3.settings.image_mb.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_mb",
      "label": "t:sections.all.aspect_ratio.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.image_with_text_style_3.blocks.name",
      "type": "feature",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.image_with_text_style_3.blocks.settings.header_text.content"
        },
        {
          "type": "select",
          "id": "font_size_heading",
          "label": "t:sections.all.font_size_heading.label",
          "default": "h5",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.font_size_heading.option__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.font_size_heading.option__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.font_size_heading.option__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.font_size_heading.option__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.font_size_heading.option__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.font_size_heading.option__6.label"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "t:sections.image_with_text_style_3.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.image_with_text_style_3.blocks.settings.link.label",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text_style_3.presets.name",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "font_size_heading": "h5",
            "heading": "Heading"
          }
        },
        {
          "type": "feature",
          "settings": {
            "font_size_heading": "h5",
            "heading": "Heading"
          }
        },
        {
          "type": "feature",
          "settings": {
            "font_size_heading": "h5",
            "heading": "Heading"
          }
        }
      ],
      "settings": {
        "sub_heading": "<p>Subheading</p>",
        "aspect_ratio_dt": "21/9",
        "aspect_ratio_mb": "3/2",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      }
    }
  ]
}
{% endschema %}
