{{ 'section-image-banner-style-2.css' | asset_url | stylesheet_tag }}
{{ 'img-banner-2.css' | asset_url | stylesheet_tag }}
{{ 'media.css' | asset_url | stylesheet_tag }}
{{ 'video.css' | asset_url | stylesheet_tag }}

{% liquid
  assign background_type = section.settings.background_type
  assign video_dt = section.settings.video_dt
  assign video_mb = section.settings.video_mb
  assign layout = section.settings.layout
  assign heading = section.settings.heading
  assign description = section.settings.description
  assign button = section.settings
  assign img_desktop = section.settings.background_image_desktop | image_url
  assign img_mobile = section.settings.background_image_mobile | image_url
  assign placeholder = 'hero-apparel-1'
%}

<section {% render 'section-attr' %}>
  <div class='image-banner-style-2'>
    <div class='image-banner-style-2__inner'>
      {% render 'img-banner-2',
        layout: layout,
        background_type: background_type,
        video_dt: video_dt,
        video_mb: video_mb,
        heading: heading,
        description: description,
        button: button,
        img_desktop: img_desktop,
        img_mobile: img_mobile,
        placeholder: placeholder
      %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image_banner_style_2.name",
  "class": "section-hero",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.image_banner_style_2.settings.layout.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.image_banner_style_2.settings.layout.options.options__1.label"
        },
        {
          "value": "style-2",
          "label": "t:sections.image_banner_style_2.settings.layout.options.options__2.label"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "t:sections.image_banner_style_2.settings.background_type.label",
      "options": [
        {
          "value": "image",
          "label": "t:sections.image_banner_style_2.settings.background_type.options.option__1.label"
        },
        {
          "value": "video",
          "label": "t:sections.image_banner_style_2.settings.background_type.options.option__2.label"
        }
      ],
      "default": "image"
    },
    {
      "type": "header",
      "content": "t:sections.image_banner_style_2.settings.header_text.content"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.image_banner_style_2.settings.heading.label",
      "info": "t:sections.image_banner_style_2.settings.heading.info",
      "default": "Image banner"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.image_banner_style_2.settings.description.label",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    },
    {
      "type": "header",
      "content": "t:sections.image_banner_style_2.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.all.button_text.label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.option__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.option__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.button_style.option__3.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.all.button_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.button_size.option__0.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.button_size.option__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.button_size.option__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.button_size.option__3.label"
        }
      ],
      "default": "sm"
    },
    {
      "type": "header",
      "content": "t:sections.image_banner_style_2.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.image_banner_style_2.settings.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.image_banner_style_2.settings.background_image_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.image_banner_style_2.settings.header_video.content"
    },
    {
      "type": "video",
      "id": "video_dt",
      "label": "t:sections.image_banner_style_2.settings.video_dt.label"
    },
    {
      "type": "video",
      "id": "video_mb",
      "label": "t:sections.image_banner_style_2.settings.video_mb.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.image_banner_style_2.presets.name",
      "blocks": [

  ],
      "settings": {
        "heading": "Image banner",
        "description": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.",
        "button_text": "Button",
        "button_link": "shopify://collections/all",
        "button_style": "primary",
        "button_size": "sm",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 0,
        "padding_bottom_desktop": 0,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 0
      }
    }
  ]
}
{% endschema %}
