{{ 'img-with-text-6.css' | asset_url | stylesheet_tag }}

{% liquid
  assign sub_heading = section.settings.sub_heading
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2
  assign aspect_ratio = section.settings.aspect_ratio
  assign button = section.settings
%}

<section {% render 'section-attr' %}>
  <div class='image-with-text-style-6'>
    <xo-container class='image-with-text-style-6__container'>
      <div class='image-with-text-style-6__content'>
        {% render 'img-with-text-6', sub_heading: sub_heading, class: class, content: heading, image_1: image_1, image_2: image_2, aspect_ratio: aspect_ratio, button: button %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image_with_text_style_6.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_6.settings.header_text.content"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.image_with_text_style_6.settings.sub_heading.label",
      "default": "Subheading"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.image_with_text_style_6.settings.heading.label",
      "default": "<p>Image with text</p>"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_6.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.all.button_text.label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.option__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.option__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.button_style.option__3.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.all.button_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.button_size.option__0.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.button_size.option__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.button_size.option__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.button_size.option__3.label"
        }
      ],
      "default": "sm"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_6.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.image_with_text_style_6.settings.image_1.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image_with_text_style_6.settings.image_2.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:sections.all.aspect_ratio.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.image_with_text_style_6.presets.name",
      "settings": {},
      "blocks": [

  ]
    }
  ]
}
{% endschema %}
