{{ 'section-main-login.css' | asset_url | stylesheet_tag }}

{% liquid
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign subheading = section.settings.sub_heading
%}

<section {% render 'section-attr' %}>
  <div class='xo-login'>
    <xo-container class='xo-login__container'>
      <div class='xo-login__content'>
        <xo-animate xo-cascade>
          <div class='xo-login__header'>
            {% if heading %}
              <h3 class='xo-login__heading {{ class }}'>{{ heading }}</h3>
            {% endif %}
            {% if subheading %}
              <div class='xo-login__sub-heading'>
                <p>{{ subheading }}</p>
              </div>
            {% endif %}
          </div>
        </xo-animate>
        <div class='xo-login__form'>
          <xo-animate xo-cascade>
            {% render 'login-form' %}
            {% capture recover_form %}
              {% render 'recover-password-form' %}
            {% endcapture %}
            <xo-modal xo-portal xo-name='forgot-your-password' style='z-index: 99999;'>
              {% comment %} {% assign title = 'customer.recover_password.title' | t %} {% endcomment %}
              {% render 'modal-content', content: recover_form %}
            </xo-modal>
          </xo-animate>
        </div>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_login.name",
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h4",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.main_login.settings.heading.label",
      "default": "Sign in"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.main_login.settings.sub_heading.label",
      "default": "<p>If you have an account with us, please sign in.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ]
}
{% endschema %}
