{{ 'product-recommendations.css' | asset_url | stylesheet_tag }}
{{ 'collection-empty.css' | asset_url | stylesheet_tag }}

{% liquid
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign autoplay = section.settings.autoplay
  assign autoplay_time = section.settings.autoplay_time
  assign product_per_view = section.settings.product_per_view
  assign product_per_move = section.settings.product_per_move
  assign media_aspect_ratio = section.settings.product_card_aspect_ratio
  assign card_color_scheme = section.settings.card_color_scheme
  assign button = section.settings
%}

<section {% render 'section-attr' %}>
  <div class='main-product-recommendations'>
    <xo-container class='main-product-recommendations__container'>
      <div class='main-product-recommendations__content'>
        {% render 'product-recommendations',
          intent: 'related',
          class: class,
          heading: heading,
          autoplay: autoplay,
          autoplay_time: autoplay_time,
          product_per_view: product_per_view,
          product_per_move: product_per_move,
          button: button,
          media_aspect_ratio: media_aspect_ratio,
          card_color_scheme: card_color_scheme
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_product_recommendations.name",
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.main_product_recommendations.settings.heading.label",
      "default": "May you also like"
    },
    {
      "type": "header",
      "content": "t:sections.main_product_recommendations.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.all.button_text.label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.option__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.option__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.button_style.option__3.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.all.button_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.button_size.option__0.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.button_size.option__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.button_size.option__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.button_size.option__3.label"
        }
      ],
      "default": "sm"
    },
    {
      "type": "header",
      "content": "t:sections.main_product_recommendations.settings.header_carousel.content"
    },
    {
      "type": "range",
      "id": "product_per_view",
      "min": 2,
      "max": 5,
      "step": 1,
      "unit": "col",
      "label": "t:sections.main_product_recommendations.settings.product_per_view.label",
      "default": 4
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.main_product_recommendations.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.main_product_recommendations.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.main_product_recommendations.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "product_per_move",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "col",
      "label": "t:sections.main_product_recommendations.settings.product_per_move.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "unit": "s",
      "label": "t:sections.main_product_recommendations.settings.autoplay_time.label",
      "default": 3000
    },
    {
      "type": "header",
      "content": "t:sections.all.product_card_heading.content"
    },
    {
      "type": "select",
      "id": "product_card_aspect_ratio",
      "label": "t:sections.all.product_card_aspect_ratio.label",
      "default": "1",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.card_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ]
}
{% endschema %}
