{{ 'section-main-subscribe.css' | asset_url | stylesheet_tag }}

<xo-grid>
  <div class='xo-subscribe' style='--xs: 12'>
    {% form 'customer_login' %}
    {% render 'form-error', form: form %}
    <xo-animate xo-cascade>
      <div class='xo-subscribe-form__email'>
        <div class='xo-subscribe-form__email-input'>
          {% assign email_label = 'customer.login_page.email' | t %}
          {% render 'field-input', type: 'text', name: 'customer[email]', value: '', label: email_label %}
        </div>
        <span class='xo-subscribe-form__email-icon'>
          {% render 'icon', name: 'mail', size: '2rem', type: 'button' %}
        </span>
      </div>
    </xo-animate>
    <xo-animate xo-cascade>
      <div class='xo-subscribe-form__signin'>
        {% assign btn_subscribe = 'customer.subscribe.submit' | t %}
        {% render 'button', text: btn_subscribe, size: 'md', block: true, effect: 'slide-up', style: 'primary' %}
      </div>
    </xo-animate>
    {% endform %}
    {% render 'space', value: '1.5rem' %}
  </div>
</xo-grid>

{% schema %}
{
  "name": "t:sections.main_subscribe.name",
  "settings": [

  ]
}
{% endschema %}
