{{ 'section-main-breadcrumb.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <xo-container>
    <xo-animate xo-cascade>
      <div class='xo-breadcrumb-heading{% if section.settings.align %} xo-breadcrumb-heading--{{ section.settings.align }}{% endif %}'>
        {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
          {% render 'breadcrumb', align: section.settings.align %}
        {%- endunless -%}
      </div>
    </xo-animate>
  </xo-container>
</section>

{% schema %}
{
  "name": "t:sections.main_breadcrumb.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "align",
      "label": "t:sections.main_breadcrumb.settings.align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main_breadcrumb.settings.value_left.label"
        },
        {
          "value": "center",
          "label": "t:sections.main_breadcrumb.settings.value_center.label"
        },
        {
          "value": "right",
          "label": "t:sections.main_breadcrumb.settings.value_right.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ]
}
{% endschema %}
