{{ 'section-main-account.css' | asset_url | stylesheet_tag }}
{{ 'account-detail.css' | asset_url | stylesheet_tag }}
{{ 'orders-table.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='xo-main-account'>
    <xo-container class='xo-main-account__container'>
      <xo-animate xo-cascade>
        <div class='xo-main-account__head'>
          <h3 class='xo-main-account__heading h3'>
            {{ 'customer.account.title' | t }}
          </h3>
          <div class='xo-main-account__log-out'>
            {% assign log_out_label = 'customer.log_out' | t %}
            {% render 'button', text: log_out_label, link: routes.account_logout_url, style: 'link' %}
          </div>
        </div>
      </xo-animate>
      <div class='xo-main-account__body'>
        <xo-grid class='xo-main-account__grid'>
          <div style='--xs: 12; --md: 12; --lg: 9'>
            {% render 'orders-table' %}
          </div>
          <div style='--xs: 12; --md: 12; --lg: 3'>
            {% render 'account-detail' %}
          </div>
        </xo-grid>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ]
}
{% endschema %}
