{{ 'multi-column-2.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <xo-animate xo-cascade>
    <div class='multi-column-style-2'>
      <xo-container class='multi-column-style-2__container'>
        {% liquid
          assign class = section.settings.font_size_heading
          assign heading = section.settings.text_heading
          assign duration = section.settings.text_duration
          assign effect = section.settings.text_effect
          assign tag_name = section.settings.text_tag_name
          assign heading_width_desktop = section.settings.text_heading_width_desktop
          assign heading_width_mobile = section.settings.text_heading_width_mobile
          assign column = section.settings.column
          assign block = section.blocks
        %}
        {% render 'multi-column-2',
          class: class,
          heading: heading,
          tag_name: tag_name,
          effect: effect,
          duration: duration,
          column: column,
          heading_width_desktop: heading_width_desktop,
          heading_width_mobile: heading_width_mobile,
          block: block
        %}
      </xo-container>
    </div>
  </xo-animate>
</section>

{% schema %}
{
  "name": "t:sections.multi_column_style_2.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "column",
      "label": "t:sections.multi_column_style_2.settings.column.label",
      "options": [
        {
          "value": "3",
          "label": "t:sections.multi_column_style_2.settings.column.option__1.label"
        },
        {
          "value": "4",
          "label": "t:sections.multi_column_style_2.settings.column.option__2.label"
        }
      ],
      "default": "3"
    },
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Multi column"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.multi_column_style_2.blocks.name",
      "type": "column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multi_column_style_2.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.multi_column_style_2.blocks.settings.title.label",
          "default": "<p>Heading</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi_column_style_2.presets.name",
      "settings": {
        "font_size_heading": "h5",
        "text_heading": "Multi column",
        "text_duration": 2000,
        "text_effect": "split",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "column",
          "settings": {
            "image": "",
            "aspect_ratio": "auto",
            "title": "<p>Heading</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "image": "",
            "aspect_ratio": "auto",
            "title": "<p>Heading</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "image": "",
            "aspect_ratio": "auto",
            "title": "<p>Heading</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
