{{ 'product-special.css' | asset_url | stylesheet_tag }}
{{ 'product-specification-6.css' | asset_url | stylesheet_tag }}
{{ 'product-information.css' | asset_url | stylesheet_tag }}
{{ 'transform-list.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-6'>
    <xo-container class='product-specification-style-6__container'>
      <div class='product-specification-style-6__content'>
        {% render 'product-specification-6', block: section.blocks %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_6.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_6.blocks.name",
      "type": "detail-information",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "t:sections.product_specification_style_6.blocks.settings.heading.label",
          "default": "<p>Product specification</p>"
        },
        {
          "type": "richtext",
          "id": "title_list",
          "label": "t:sections.product_specification_style_6.blocks.settings.title_list.label",
          "default": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>"
        },
        {
          "type": "richtext",
          "id": "content_list",
          "label": "t:sections.product_specification_style_6.blocks.settings.content_list.label",
          "default": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_6.presets.name",
      "settings": {},
      "blocks": [
        {
          "type": "detail-information",
          "settings": {
            "heading": "<p>Product specification</p>",
            "title_list": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>",
            "content_list": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>"
          }
        },
        {
          "type": "detail-information",
          "settings": {
            "heading": "<p>Product specification</p>",
            "title_list": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>",
            "content_list": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>"
          }
        },
        {
          "type": "detail-information",
          "settings": {
            "heading": "<p>Product specification</p>",
            "title_list": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>",
            "content_list": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>"
          }
        },
        {
          "type": "detail-information",
          "settings": {
            "heading": "<p>Product specification</p>",
            "title_list": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>",
            "content_list": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
