{{ 'product-specification-13.css' | asset_url | stylesheet_tag }}
{{ 'collection-image-1.css' | asset_url | stylesheet_tag }}
{{ 'chart-1.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image_desktop = section.settings.image_desktop
  assign image_mobile = section.settings.image_mobile
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-13'>
    <xo-container class='product-specification-style-13__container'>
      <div class='product-specification-style-13__content'>
        {% render 'product-specification-13', image_desktop: image_desktop, image_mobile: image_mobile, block: block %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_13.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.product_specification_style_13.settings.image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.product_specification_style_13.settings.image_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_13.blocks.name_1",
      "type": "chart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product_specification_style_13.blocks.settings.title.label",
          "default": "Subheading"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_13.blocks.settings.specifications.content"
        },
        {
          "type": "number",
          "id": "value_max",
          "label": "t:sections.product_specification_style_13.blocks.settings.value_max.label",
          "info": "t:sections.product_specification_style_13.blocks.settings.value_max.info",
          "default": 60
        },
        {
          "type": "textarea",
          "id": "x_label",
          "label": "t:sections.product_specification_style_13.blocks.settings.x_label.label",
          "default": "0\n1h\n6h\n14h\n20h\n24h"
        },
        {
          "type": "textarea",
          "id": "y_label",
          "label": "t:sections.product_specification_style_13.blocks.settings.y_label.label",
          "default": "100\n80\n60\n40\n20\n0"
        },
        {
          "type": "textarea",
          "id": "dataset",
          "label": "t:sections.product_specification_style_13.blocks.settings.dataset.label",
          "default": "0,25,40,10,15,50\n0,10,30,42,5,30\n0,40,15,5,30,40"
        },
        {
          "type": "textarea",
          "id": "list_information",
          "label": "t:sections.product_specification_style_13.blocks.settings.information.label",
          "default": "Heading - 67\nHeading - 80\nHeading - 98"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_13.blocks.name_2",
      "type": "collection",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.product_specification_style_13.blocks.settings.collection.label"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_13.blocks.settings.header_desktop.content"
        },
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.product_specification_style_13.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio_dt",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_13.blocks.settings.header_mobile.content"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.product_specification_style_13.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio_mb",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_13.blocks.settings.header_4.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.all.button_text.label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option__3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.all.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button_size.option__0.label"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button_size.option__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.all.button_size.option__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button_size.option__3.label"
            }
          ],
          "default": "sm"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_13.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "chart",
          "settings": {
            "title": "Subheading",
            "value_max": 100,
            "x_label": "0\n1h\n6h\n14h\n20h\n24h",
            "y_label": "100\n80\n60\n40\n20\n0",
            "dataset": "0,65,92,90,75,85\n0,38,65,40,30,60\n0,25,40,38,36,50",
            "list_information": "Heading - 67\nHeading - 80\nHeading - 98"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": "",
            "aspect_ratio_dt": "21/9",
            "aspect_ratio_mb": "3/2",
            "button_text": "Button",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_size": "md"
          }
        }
      ]
    }
  ]
}
{% endschema %}
