{{ 'section-product-specification-style-11.css' | asset_url | stylesheet_tag }}
{{ 'product-specification-11.css' | asset_url | stylesheet_tag }}
{{ 'chart-1.css' | asset_url | stylesheet_tag }}
{{ 'collection-image.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-11'>
    {% render 'section-bg-image' %}
    <div class='product-specification-style-11__container'>
      <div class='product-specification-style-11__content'>
        {% render 'product-specification-11', block: section.blocks %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_11.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.all.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.background_image_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "t:sections.all.use_parallax.label",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_11.blocks.name_1",
      "type": "chart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product_specification_style_11.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_11.blocks.settings.specifications.content"
        },
        {
          "type": "number",
          "id": "value_max",
          "label": "t:sections.product_specification_style_11.blocks.settings.value_max.label",
          "info": "t:sections.product_specification_style_11.blocks.settings.value_max.info",
          "default": 60
        },
        {
          "type": "textarea",
          "id": "x_label",
          "label": "t:sections.product_specification_style_11.blocks.settings.x_label.label",
          "default": "0\n1h\n6h\n14h\n20h\n24h"
        },
        {
          "type": "textarea",
          "id": "y_label",
          "label": "t:sections.product_specification_style_11.blocks.settings.y_label.label",
          "default": "60\n40\n20\n0"
        },
        {
          "type": "textarea",
          "id": "dataset",
          "label": "t:sections.product_specification_style_11.blocks.settings.dataset.label",
          "default": "0,20,39,40,30,42\n0,30,40,5,10,32"
        },
        {
          "type": "textarea",
          "id": "list_information",
          "label": "t:sections.product_specification_style_11.blocks.settings.information.label",
          "default": "Heading - 50\nHeading - 50"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_11.blocks.name_2",
      "type": "product",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.product_specification_style_11.blocks.settings.product.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.product_card_heading.content"
        },
        {
          "type": "select",
          "id": "product_card_aspect_ratio",
          "label": "t:sections.all.product_card_aspect_ratio.label",
          "default": "1",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "card_color_scheme",
          "label": "t:sections.all.card_color_scheme.label"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_11.blocks.name_3",
      "type": "collection",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.product_specification_style_11.blocks.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.product_specification_style_11.blocks.settings.image_desktop.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.product_specification_style_11.blocks.settings.image_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_11.blocks.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.all.button_text.label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option__3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.all.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button_size.option__0.label"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button_size.option__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.all.button_size.option__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button_size.option__3.label"
            }
          ],
          "default": "sm"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_11.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "background_image_desktop": "",
        "background_image_mobile": "",
        "use_parallax": false,
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "chart",
          "settings": {
            "title": "PERFOMANCE",
            "value_max": 60,
            "x_label": "0\n1h\n6h\n14h\n20h\n24h",
            "y_label": "60\n40\n20\n0",
            "dataset": "0,20,39,40,30,42\n0,30,40,5,10,32",
            "list_information": "Heading - 50\nHeading - 50"
          }
        },
        {
          "type": "product",
          "settings": {
            "product": "",
            "product_card_aspect_ratio": "1",
            "card_color_scheme": ""
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": "",
            "image_dt": "",
            "image_mb": "",
            "button_text": "Explore more",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_size": "sm"
          }
        }
      ]
    }
  ]
}
{% endschema %}
