{{ 'product-specification-12.css' | asset_url | stylesheet_tag }}
{{ 'product-featured-2.css' | asset_url | stylesheet_tag }}
{{ 'perfomance.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image_dt = section.settings.image_dt
  assign image_mb = section.settings.image_mb
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-12'>
    <xo-container class='product-specification-style-12__container'>
      <div class='product-specification-style-12__content'>
        {% render 'product-specification-12', image_desktop: image_dt, image_mobile: image_mb, block: block %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_12.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_dt",
      "label": "t:sections.product_specification_style_12.settings.image_dt.label"
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "t:sections.product_specification_style_12.settings.image_mb.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_12.blocks.name_1",
      "type": "product-featured",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "t:sections.product_specification_style_12.blocks.settings.heading.label",
          "default": "<p>Heading</p>"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_12.blocks.settings.header_image.content"
        },
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.product_specification_style_12.blocks.settings.image_dt.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.product_specification_style_12.blocks.settings.image_mb.label"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_12.blocks.settings.header_0.content"
        },
        {
          "type": "checkbox",
          "id": "color_config_enable",
          "label": "t:sections.product_specification_style_12.blocks.settings.color_config_enable.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_12.blocks.settings.header_1.content"
        },
        {
          "type": "image_picker",
          "id": "icon_image_1",
          "label": "t:sections.product_specification_style_12.blocks.settings.icon_image.label"
        },
        {
          "type": "richtext",
          "id": "description_1",
          "label": "t:sections.product_specification_style_12.blocks.settings.description.label",
          "default": "<p>Description</p>"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_12.blocks.settings.header_1.content"
        },
        {
          "type": "image_picker",
          "id": "icon_image_2",
          "label": "t:sections.product_specification_style_12.blocks.settings.icon_image.label"
        },
        {
          "type": "richtext",
          "id": "description_2",
          "label": "t:sections.product_specification_style_12.blocks.settings.description.label",
          "default": "<p>Description</p>"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_12.blocks.name_2",
      "type": "perfomance",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.product_specification_style_12.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "number",
          "id": "percent",
          "label": "t:sections.product_specification_style_12.blocks.settings.percent.label",
          "default": 50
        },
        {
          "type": "text",
          "id": "specifications",
          "label": "t:sections.product_specification_style_12.blocks.settings.specifications.label",
          "default": "Battery"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_12.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "product-featured",
          "settings": {
            "heading": "<p>Heading</p>",
            "description_1": "<p>Description</p>",
            "description_2": "<p>Description</p>"
          }
        },
        {
          "type": "perfomance",
          "settings": {
            "sub_heading": "Subheading",
            "percent": 50,
            "specifications": "Battery"
          }
        },
        {
          "type": "perfomance",
          "settings": {
            "sub_heading": "Subheading",
            "percent": 50,
            "specifications": "Battery"
          }
        },
        {
          "type": "perfomance",
          "settings": {
            "sub_heading": "Subheading",
            "percent": 50,
            "specifications": "Battery"
          }
        }
      ]
    }
  ]
}
{% endschema %}
