{{ 'product-specification-10.css' | asset_url | stylesheet_tag }}
{{ 'perfomance.css' | asset_url | stylesheet_tag }}
{{ 'chart.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block = section.blocks
  assign sub_heading = section.settings.sub_heading
  assign collection = section.settings.collection
%}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-10'>
    <xo-container class='product-specification-style-10__container'>
      <div class='product-specification-style-10__content'>
        {% render 'product-specification-10', sub_heading: sub_heading, collection: collection, block: block %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_10.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.product_specification_style_10.settings.sub_heading.label",
      "default": "Subheading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.product_specification_style_10.settings.collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_10.blocks.name_1",
      "type": "perfomance",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product_specification_style_10.blocks.settings.title.label",
          "default": "Heading"
        },
        {
          "type": "number",
          "id": "number",
          "label": "t:sections.product_specification_style_10.blocks.settings.number.label",
          "default": 50
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "t:sections.product_specification_style_10.blocks.settings.sub_title.label",
          "default": "Subheading"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_10.blocks.name_2",
      "type": "chart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.product_specification_style_10.blocks.settings.sub_title.label",
          "default": "Heading"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_10.blocks.settings.specifications.content"
        },
        {
          "type": "number",
          "id": "value_max",
          "label": "t:sections.product_specification_style_10.blocks.settings.value_max.label",
          "default": 60
        },
        {
          "type": "textarea",
          "id": "x_label",
          "label": "t:sections.product_specification_style_10.blocks.settings.x_label.label",
          "default": "0\n1h\n6h\n14h\n20h\n24h"
        },
        {
          "type": "textarea",
          "id": "y_label",
          "label": "t:sections.product_specification_style_10.blocks.settings.y_label.label",
          "default": "60\n40\n20\n0"
        },
        {
          "type": "textarea",
          "id": "dataset",
          "label": "t:sections.product_specification_style_10.blocks.settings.dataset.label",
          "default": "0,20,39,40,30,42\n0,30,40,5,10,32"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_10.presets.name",
      "settings": {
        "sub_heading": "FEATURE",
        "collection": "",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "perfomance",
          "settings": {
            "title": "PERFOMANCE",
            "number": 80,
            "sub_title": "Battery"
          }
        },
        {
          "type": "perfomance",
          "settings": {
            "title": "PERFOMANCE",
            "number": 80,
            "sub_title": "Battery"
          }
        },
        {
          "type": "chart",
          "settings": {
            "sub_heading": "PERFOMANCE",
            "value_max": 60,
            "x_label": "0\n1h\n6h\n14h\n20h\n24h",
            "y_label": "60\n40\n20\n0",
            "dataset": "0,20,39,40,30,42\n0,30,40,5,10,32"
          }
        }
      ]
    }
  ]
}
{% endschema %}
