{{ 'section-product-specification-style-1.css' | asset_url | stylesheet_tag }}
{{ 'product-special.css' | asset_url | stylesheet_tag }}
{{ 'product-specification-1.css' | asset_url | stylesheet_tag }}

{% liquid
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-1'>
    {% render 'section-bg-image' %}
    <div class='product-specification-style-1__content'>
      {% render 'product-specification-1', class: class, heading: heading, block: block %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_1.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.product_specification_style_1.settings.heading.label",
      "default": "<p>Product specification</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.all.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.background_image_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "t:sections.all.use_parallax.label",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_1.blocks.name",
      "type": "detail-infomation",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "font_size_heading",
          "label": "t:sections.all.font_size_heading.label",
          "default": "h1",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.font_size_heading.option__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.font_size_heading.option__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.font_size_heading.option__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.font_size_heading.option__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.font_size_heading.option__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.font_size_heading.option__6.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_1.blocks.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "t:sections.product_specification_style_1.blocks.settings.heading_1.label",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "sub_heading_1",
          "label": "t:sections.product_specification_style_1.blocks.settings.sub_heading_1.label",
          "default": "Subheading"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_1.blocks.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "t:sections.product_specification_style_1.blocks.settings.heading_2.label",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "sub_heading_2",
          "label": "t:sections.product_specification_style_1.blocks.settings.sub_heading_2.label",
          "default": "Subheading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_1.presets.name",
      "settings": {
        "font_size_heading": "h6",
        "heading": "<p>Product specification</p>",
        "color_scheme": "background-2",
        "background_color": "",
        "background_gradient": "",
        "background_image_desktop": "",
        "background_image_mobile": "",
        "use_parallax": true,
        "padding_top_desktop": 0,
        "padding_bottom_desktop": 0,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 0
      },
      "blocks": [
        {
          "type": "detail-infomation",
          "settings": {
            "font_size_heading": "h1",
            "heading_1": "Heading 1",
            "sub_heading_1": "Subheading 1",
            "heading_2": "Heading 2",
            "sub_heading_2": "Subheading 2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
