{{ 'section-search.css' | asset_url | stylesheet_tag }}

{% liquid
  assign value = ''
  unless value
    assign value = ''
  endunless
  assign label = 'general.search.search' | t
%}

<section {% render 'section-attr' %}>
  <div class='xo-search'>
    <xo-container class='xo-search__container'>
      <div class='xo-search__content'>
        <div class='xo-search__notice'>
          <p>{{ 'general.search.notice' | t }}</p>
        </div>
        <form action='{{ routes.search_url }}' method='get' role='search' class='xo-search__form'>
          <div class='xo-search__input'>
            {% render 'field-input', value: value, name: 'q', label: label, type: 'search', attr: "id='predictive-search' data-predictive-search-input='header'", block: true %}
            <div class='xo-search__icon'>
              {% render 'button', type: 'submit', icon: 'search-1', icon_size: '3rem', style: 'link' %}
            </div>
            <div class="xo-search__line">
              <div class="xo-search__line-anim{% if settings.enable_border_radius %} xo-search__line-anim--radius{% endif %}"></div>
            </div>
          </div>
        </form>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.search.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.search.presets.name",
      "settings": {},
      "blocks": [

  ]
    }
  ]
}
{% endschema %}
