<div class='spacing'>
  <div class='spacing__container'>
    {% liquid
      assign type = section.settings.type
      assign spacing_dt = section.settings.spacing_dt
      assign spacing_mb = section.settings.spacing_mb
    %}
    {% render 'space', type: type, spacing_dt: spacing_dt, spacing_mb: spacing_mb %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.spacing.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "number",
      "id": "spacing_dt",
      "label": "t:sections.spacing.settings.spacing_dt.label",
      "default": 10
    },
    {
      "type": "number",
      "id": "spacing_mb",
      "label": "t:sections.spacing.settings.spacing_mb.label",
      "default": 0
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.spacing.presets.name",
      "settings": {},
      "blocks": [

  ]
    }
  ]
}
{% endschema %}
