{% liquid
  assign heading = section.settings.heading
  assign class = section.settings.font_size_heading
  assign col_dt = section.settings.col_dt
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='team-member'>
    <xo-container class='team-member__container'>
      {% render 'our-team', heading: heading, class: class, col: col_dt, block: block %}
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.team_member.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.team_member.settings.heading.label",
      "default": "Team member"
    },
    {
      "type": "header",
      "content": "t:sections.team_member.settings.layout.content"
    },
    {
      "type": "select",
      "id": "col_dt",
      "label": "t:sections.team_member.settings.col_dt.label",
      "options": [
        {
          "value": "3",
          "label": "t:sections.team_member.settings.col_dt.option__1.label"
        },
        {
          "value": "4",
          "label": "t:sections.team_member.settings.col_dt.option__2.label"
        }
      ],
      "default": "3"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.team_member.blocks.name",
      "type": "team-member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.team_member.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "name",
          "label": "t:sections.team_member.blocks.settings.name.label",
          "default": "Full name"
        },
        {
          "type": "text",
          "id": "position",
          "label": "t:sections.team_member.blocks.settings.position.label",
          "default": "Position"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.team_member.presets.name",
      "blocks": [
        {
          "type": "team-member",
          "settings": {
            "aspect_ratio": "auto",
            "name": "Full name",
            "position": "Position"
          }
        },
        {
          "type": "team-member",
          "settings": {
            "aspect_ratio": "auto",
            "name": "Full name",
            "position": "Position"
          }
        },
        {
          "type": "team-member",
          "settings": {
            "aspect_ratio": "auto",
            "name": "Full name",
            "position": "Position"
          }
        },
        {
          "type": "team-member",
          "settings": {
            "aspect_ratio": "auto",
            "name": "Full name",
            "position": "Position"
          }
        },
        {
          "type": "team-member",
          "settings": {
            "aspect_ratio": "auto",
            "name": "Full name",
            "position": "Position"
          }
        },
        {
          "type": "team-member",
          "settings": {
            "aspect_ratio": "auto",
            "name": "Full name",
            "position": "Position"
          }
        }
      ],
      "settings": {
        "font_size_heading": "h5",
        "heading": "Team member",
        "col_dt": "3",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      }
    }
  ]
}
{% endschema %}
