{{ 'testimonial-box.css' | asset_url | stylesheet_tag }}
{{ 'testimonial-box-6.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='testimonial-style-6'>
    <xo-container class='testimonial-style-6__container'>
      <div class='testimonial-style-6__content'>
        {% liquid
          assign sub_heading = section.settings.sub_heading
          assign column_dt = section.settings.column_dt
          assign autoplay = section.settings.autoplay
          assign autoplay_time = section.settings.autoplay_time
        %}
        {% render 'testimonial-box-6', column_dt: column_dt, autoplay: autoplay, autoplay_time: autoplay_time, sub_heading: sub_heading, block: section.blocks %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.testimonial_style_6.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.testimonial_style_6.settings.sub_heading.label",
      "default": "Subheading"
    },
    {
      "type": "header",
      "content": "t:sections.testimonial_style_6.settings.header_grid.content"
    },
    {
      "type": "select",
      "id": "column_dt",
      "label": "t:sections.testimonial_style_6.settings.column_dt.label",
      "options": [
        {
          "value": "3",
          "label": "t:sections.testimonial_style_6.settings.column_dt.option__1.label"
        },
        {
          "value": "4",
          "label": "t:sections.testimonial_style_6.settings.column_dt.option__2.label"
        }
      ],
      "default": "3"
    },
    {
      "type": "header",
      "content": "t:sections.testimonial_style_6.settings.header_carousel.content"
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.testimonial_style_6.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.testimonial_style_6.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.testimonial_style_6.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.testimonial_style_6.blocks.name",
      "type": "testimonial-box",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.testimonial_style_6.blocks.settings.header_1.content"
        },
        {
          "type": "richtext",
          "id": "content_1",
          "label": "t:sections.testimonial_style_6.blocks.settings.content_1.label",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "image_picker",
          "id": "avatar_1",
          "label": "t:sections.testimonial_style_6.blocks.settings.avatar_1.label"
        },
        {
          "type": "text",
          "id": "customer_name_1",
          "label": "t:sections.testimonial_style_6.blocks.settings.customer_name_1.label",
          "default": "Customer name"
        },
        {
          "type": "header",
          "content": "t:sections.testimonial_style_6.blocks.settings.header_2.content"
        },
        {
          "type": "richtext",
          "id": "content_2",
          "label": "t:sections.testimonial_style_6.blocks.settings.content_2.label",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "image_picker",
          "id": "avatar_2",
          "label": "t:sections.testimonial_style_6.blocks.settings.avatar_2.label"
        },
        {
          "type": "text",
          "id": "customer_name_2",
          "label": "t:sections.testimonial_style_6.blocks.settings.customer_name_2.label",
          "default": "Customer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial_style_6.presets.name",
      "settings": {
        "sub_heading": "Testimonial",
        "column_dt": "3",
        "autoplay": "on",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "testimonial-box",
          "settings": {
            "content_1": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "avatar_1": "",
            "customer_name_1": "Customer name",
            "content_2": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "avatar_2": "",
            "customer_name_2": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content_1": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "avatar_1": "",
            "customer_name_1": "Customer name",
            "content_2": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "avatar_2": "",
            "customer_name_2": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content_1": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "avatar_1": "",
            "customer_name_1": "Customer name",
            "content_2": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "avatar_2": "",
            "customer_name_2": "Customer name"
          }
        }
      ]
    }
  ]
}
{% endschema %}
