{{ 'testimonial-box-9.css' | asset_url | stylesheet_tag }}
{{ 'testimonial-box-9-config.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block = section.blocks
  assign class = section.settings.font_size_heading
  assign heading = section.settings.text_heading
  assign duration = section.settings.text_duration
  assign effect = section.settings.text_effect
  assign tag_name = section.settings.text_tag_name
  assign heading_width_desktop = section.settings.text_heading_width_desktop
  assign heading_width_mobile = section.settings.text_heading_width_mobile
  assign active_index = section.settings.active_index
  assign autoplay = section.settings.autoplay
  assign autoplay_speed = section.settings.autoplay_speed
%}

<section {% render 'section-attr', style: 'z-index: 10' %}>
  <xo-animate xo-cascade>
    <div class='testimonial-style-9'>
      <xo-container class='testimonial-style-9__container'>
        <div class='testimonial-style-9__content'>
          {% render 'testimonial-box-9',
            class: class,
            heading: heading,
            duration: duration,
            effect: effect,
            tag_name: tag_name,
            heading_width_desktop: heading_width_desktop,
            heading_width_mobile: heading_width_mobile,
            active_index: active_index,
            autoplay: autoplay,
            autoplay_speed: autoplay_speed,
            block: block
          %}
        </div>
      </xo-container>
    </div>
  </xo-animate>
</section>

{% schema %}
{
  "name": "t:sections.testimonial_style_9.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_text.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Testimonial"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "split"
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_desktop.label",
      "default": 20
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.heading_width_mobile.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "active_index",
      "label": "t:sections.testimonial_style_9.settings.active_index.label",
      "default": "3",
      "options": [
        {
          "value": "0",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__1.label"
        },
        {
          "value": "1",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__2.label"
        },
        {
          "value": "2",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__3.label"
        },
        {
          "value": "3",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__4.label"
        },
        {
          "value": "4",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__5.label"
        },
        {
          "value": "5",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__6.label"
        },
        {
          "value": "6",
          "label": "t:sections.testimonial_style_9.settings.active_index.option__7.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.testimonial_style_9.settings.autoplay.label",
      "default": "off",
      "options": [
        {
          "value": "off",
          "label": "t:sections.testimonial_style_9.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.testimonial_style_9.settings.autoplay.option__2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "label": "t:sections.testimonial_style_9.settings.autoplay_speed.label",
      "default": 5000
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.testimonial_style_9.blocks.name",
      "type": "testimonial-box",
      "limit": 7,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.testimonial_style_9.blocks.settings.content.label",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "t:sections.testimonial_style_9.blocks.settings.avatar.label"
        },
        {
          "type": "select",
          "id": "avatar_size",
          "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.option__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.option__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.testimonial_style_9.blocks.settings.avatar_size.option__3.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "t:sections.testimonial_style_9.blocks.settings.customer_name.label",
          "default": "Customer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial_style_9.presets.name",
      "settings": {
        "font_size_heading": "h5",
        "text_heading": "Testimonial",
        "text_duration": 1000,
        "text_effect": "split",
        "active_index": "3",
        "autoplay": "off",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>1.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>2.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>3.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>4.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>5.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>6.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>7.“Share what your customers are saying about your products, customer service or shipping rates.”</p>",
            "avatar": "",
            "customer_name": "Customer name"
          }
        }
      ]
    }
  ]
}
{% endschema %}
