{{ 'testimonial-box.css' | asset_url | stylesheet_tag }}
{{ 'testimonial-box-5.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='testimonial-style-5'>
    <xo-container class='testimonial-style-5__container'>
      <div class='testimonial-style-5__content'>
        {% liquid
          assign autoplay = section.settings.autoplay
          assign autoplay_time = section.settings.autoplay_time
          assign class = section.settings.font_size_heading
          assign heading = section.settings.heading
        %}
        {% render 'testimonial-box-5', autoplay: autoplay, autoplay_time: autoplay_time, class: class, heading: heading, block: section.blocks %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.testimonial_style_5.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h4",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.testimonial_style_5.settings.heading.label",
      "default": "<p>Testimonial</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.testimonial_style_5.blocks.name",
      "type": "testimonial-box",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.testimonial_style_5.blocks.settings.content.label",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "t:sections.testimonial_style_5.blocks.settings.customer_name.label",
          "default": "Customer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial_style_5.presets.name",
      "settings": {
        "font_size_heading": "h4",
        "heading": "<p>Testimonial</p>",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer name"
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer name"
          }
        }
      ]
    }
  ]
}
{% endschema %}
