{{ 'testimonial-box.css' | asset_url | stylesheet_tag }}
{{ 'testimonial-box-4.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <xo-animate xo-cascade>
    <div class='testimonial-style-4'>
      <xo-container class='testimonial-style-4__container'>
        <div class='testimonial-style-4__content'>
          {% liquid
            assign autoplay_time = section.settings.autoplay_time
            assign autoplay = section.settings.autoplay
            assign sub_heading = section.settings.sub_heading
            assign block = section.blocks
          %}
          {% render 'testimonial-box-4', sub_heading: sub_heading, autoplay: autoplay, autoplay_time: autoplay_time, block: block %}
        </div>
      </xo-container>
    </div>
  </xo-animate>
</section>

{% schema %}
{
  "name": "t:sections.testimonial_style_4.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.testimonial_style_4.settings.sub_heading.label",
      "default": "Subheading"
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "label": "t:sections.testimonial_style_4.settings.autoplay_time.label",
      "default": 3000
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.testimonial_style_4.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.testimonial_style_4.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.testimonial_style_4.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.testimonial_style_4.blocks.name",
      "type": "testimonial-box",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.testimonial_style_4.blocks.settings.content.label",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "t:sections.testimonial_style_4.blocks.settings.customer_name.label",
          "default": "Customer name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonial_style_4.blocks.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial_style_4.presets.name",
      "settings": {
        "autoplay_time": 3000,
        "autoplay": "off",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer's name",
            "image": ""
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer's name",
            "image": ""
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer's name",
            "image": ""
          }
        },
        {
          "type": "testimonial-box",
          "settings": {
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>",
            "customer_name": "Customer's name",
            "image": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
