.xo-account-detail__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}
@media (min-width: 768px) {
  .xo-account-detail__title {
    font-size: calc(var(--font-body-scale) * 3.1rem);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.093rem);
  }
}

.xo-account-detail__content {
  padding: 2.4rem 0;
}

.xo-account-detail__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.2rem;
}

.xo-account-detail__text {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.8;
}

.xo-account-detail__icon {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-account-detail__icon svg {
  opacity: 0.8;
}

.xo-account-detail__view-address {
  display: inline-flex;
  padding-top: 0.4rem;
}

.xo-account-detail__empty .xo-btn__content {
  text-decoration: none;
}
.xo-account-detail__empty .xo-btn {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-account-detail__empty .xo-btn svg {
  width: 2rem;
}
.xo-account-detail__empty .xo-btn__text {
  padding: 0;
}
.xo-account-detail__empty .xo-account-detail__add-address {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}
.xo-account-detail__empty .xo-empty__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}
@media (min-width: 768px) {
  .xo-account-detail__empty .xo-empty__title {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.44 / var(--font-body-scale));
    letter-spacing: normal;
  }
}

xo-modal[xo-name=create-address] .xo-modal-content__inner {
  max-width: 54rem;
  padding: 2.4rem 0;
}
@media (max-width: 767px) {
  xo-modal[xo-name=create-address] .xo-modal-content__inner {
    max-width: 100%;
    padding: 2.2rem 0 2.6rem 0;
  }
}
xo-modal[xo-name=create-address] .xo-modal-content__title-icon {
  display: none !important;
}
xo-modal[xo-name=create-address] .xo-modal-content__header {
  padding-bottom: 2.3rem;
  padding: 0 2.4rem 2.3rem 2.4rem;
}
@media (max-width: 767px) {
  xo-modal[xo-name=create-address] .xo-modal-content__header {
    padding: 0 1.8rem 2.3rem 1.8rem;
  }
}
xo-modal[xo-name=create-address] .xo-modal-content__top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
xo-modal[xo-name=create-address] .xo-modal-content__close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
[dir=ltr] xo-modal[xo-name=create-address] .xo-modal-content__close {
  right: 0;
}
[dir=rtl] xo-modal[xo-name=create-address] .xo-modal-content__close {
  left: 0;
}
xo-modal[xo-name=create-address] .xo-modal-content__title {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-4-scale) * 2.6rem);
  line-height: calc(1 + 0.1 / var(--font-heading-4-scale));
  letter-spacing: calc(var(--font-heading-4-scale) * -0.078rem);
}
@media (min-width: 768px) {
  xo-modal[xo-name=create-address] .xo-modal-content__title {
    font-size: calc(var(--font-heading-4-scale) * 3.1rem);
    line-height: calc(1 + 0.2 / var(--font-heading-4-scale));
    letter-spacing: calc(var(--font-heading-4-scale) * -0.093rem);
  }
}
xo-modal[xo-name=create-address] .xo-modal-content__body {
  padding: 2.4rem 2.4rem 0 2.4rem;
}
@media (max-width: 767px) {
  xo-modal[xo-name=create-address] .xo-modal-content__body {
    padding: 2.4rem 1.8rem 0 1.8rem;
  }
}