.xo-address-table {
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .xo-address-table {
    padding-inline-end: 2.6rem;
  }
}
@media (min-width: 1400px) {
  .xo-address-table {
    padding-inline-end: 5.6rem;
  }
}

.xo-address-table__button {
  display: flex;
  border-bottom: 0.1rem solid rgba(var(--color-foreground));
}
.xo-address-table__button .xo-btn__content {
  text-decoration: none;
}

.xo-address-table__title {
  padding: 2rem 0rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}

.xo-address-table__table {
  width: 100%;
  border-collapse: collapse;
}
.xo-address-table__table th {
  padding: 1.6rem;
}
@media (max-width: 767px) {
  .xo-address-table__table th {
    padding: 1.6rem 0;
  }
}
.xo-address-table__table td {
  padding: 2rem 1.6rem;
}
@media (max-width: 767px) {
  .xo-address-table__table td {
    padding: 0.8rem 0;
  }
}
@media (max-width: 767px) {
  .xo-address-table__table {
    display: block;
  }
  .xo-address-table__table tbody,
  .xo-address-table__table tfoot,
  .xo-address-table__table tr,
  .xo-address-table__table th,
  .xo-address-table__table td {
    display: block;
  }
  .xo-address-table__table thead {
    display: none;
  }
  .xo-address-table__table td {
    text-align: right;
  }
  .xo-address-table__table td:before {
    content: attr(data-th);
    float: left;
    text-transform: uppercase;
    color: rgba(var(--color-foreground));
    display: flex;
    justify-content: space-between;
    padding-inline-end: 10rem;
  }
  .xo-address-table__table .xo-address-table__row-action {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .xo-address-table__table .xo-address-table__row-action {
    padding: 2rem 0 1.2rem 0;
  }
  .xo-address-table__table .xo-address-table__row-action::before {
    content: "";
  }
}

.xo-address-table__head-row {
  padding: 1.6rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-align: left;
  text-transform: uppercase;
  opacity: 0.6;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}

.xo-address-table__body-row {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}
@media (max-width: 767px) {
  .xo-address-table__body-row {
    padding: 1rem 0 2rem 0;
  }
}
.xo-address-table__body-row td {
  opacity: 0.8;
}
.xo-address-table__body-row td:last-child {
  opacity: 1;
}

.xo-address-table__row-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
}

.xo-address-table__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-address-table__delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-address-table__delete svg {
  width: 1.6rem;
}

.xo-address-table__edit,
.xo-address-table__default {
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-address-table__edit svg,
.xo-address-table__default svg {
  width: 2.4rem;
}

.xo-address-table__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}
@media (max-width: 767px) {
  .xo-address-table__footer {
    flex-direction: column;
    padding-bottom: 2.4rem;
  }
}

xo-modal[xo-name=create-address] .xo-modal-content__inner {
  max-width: 54rem;
  padding: 2.4rem 0;
}
@media (max-width: 767px) {
  xo-modal[xo-name=create-address] .xo-modal-content__inner {
    max-width: 100%;
    padding: 2.2rem 0 2.6rem 0;
  }
}
xo-modal[xo-name=create-address] .xo-modal-content__title-icon {
  display: none !important;
}
xo-modal[xo-name=create-address] .xo-modal-content__header {
  padding-bottom: 2.3rem;
  padding: 0 2.4rem 2.3rem 2.4rem;
}
@media (max-width: 767px) {
  xo-modal[xo-name=create-address] .xo-modal-content__header {
    padding: 0 1.8rem 2.3rem 1.8rem;
  }
}
xo-modal[xo-name=create-address] .xo-modal-content__top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
xo-modal[xo-name=create-address] .xo-modal-content__close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
[dir=ltr] xo-modal[xo-name=create-address] .xo-modal-content__close {
  right: 0;
}
[dir=rtl] xo-modal[xo-name=create-address] .xo-modal-content__close {
  left: 0;
}
xo-modal[xo-name=create-address] .xo-modal-content__body {
  padding: 2.4rem 2.4rem 0 2.4rem;
}
@media (max-width: 767px) {
  xo-modal[xo-name=create-address] .xo-modal-content__body {
    padding: 2.4rem 1.8rem 0 1.8rem;
  }
}

.xo-address-table__edit-modal .xo-modal-content__inner {
  max-width: 54rem !important;
  padding: 2.4rem 0 !important;
}
@media (max-width: 767px) {
  .xo-address-table__edit-modal .xo-modal-content__inner {
    max-width: 100%;
    padding: 2.2rem 0 2.6rem 0;
  }
}
.xo-address-table__edit-modal .xo-modal-content__title-icon {
  display: none !important;
}
.xo-address-table__edit-modal .xo-modal-content__header {
  padding: 0 2.4rem 2.3rem 2.4rem !important;
}
@media (max-width: 767px) {
  .xo-address-table__edit-modal .xo-modal-content__header {
    padding: 0 1.8rem 2.3rem 1.8rem !important;
  }
}
.xo-address-table__edit-modal .xo-modal-content__top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.xo-address-table__edit-modal .xo-modal-content__close {
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
[dir=ltr] .xo-address-table__edit-modal .xo-modal-content__close {
  right: "0 !important";
}
[dir=rtl] .xo-address-table__edit-modal .xo-modal-content__close {
  left: 0 !important;
}
.xo-address-table__edit-modal .xo-modal-content__title {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
}
.xo-address-table__edit-modal .xo-modal-content__body {
  padding: 2.4rem 2.4rem 0 2.4rem;
}
@media (max-width: 767px) {
  .xo-address-table__edit-modal .xo-modal-content__body {
    padding: 2.4rem 1.8rem 0 1.8rem;
  }
}

.xo-address-table__empty {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.4rem;
}
@media (min-width: 992px) {
  .xo-address-table__empty {
    padding: 0 1.6rem;
    max-width: 64rem;
  }
}
.xo-address-table__empty .xo-empty__header {
  gap: 1.6rem;
}
.xo-address-table__empty .xo-empty__title {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-4-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-heading-4-scale));
  letter-spacing: calc(var(--font-heading-4-scale) * -0.02rem);
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .xo-address-table__empty .xo-empty__title {
    font-size: calc(var(--font-heading-4-scale) * 4.2rem);
    line-height: calc(1 + 0.1 / var(--font-heading-4-scale));
    letter-spacing: calc(var(--font-heading-4-scale) * -0.21rem);
  }
}
.xo-address-table__empty .xo-empty__content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.7;
  padding: 1rem 0.8rem 1rem;
}