.xo-announcement-text__link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.xo-announcement-text__link:hover {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  background-color: color-mix(in srgb, rgba(var(--color-card-hover)) calc(0.06 * 100%), transparent);
}

.xo-announcement-text__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.xo-announcement-text__message {
  margin: 0;
  padding: 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.xo-announcement-text__dot {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}