.xo-article-comments__title {
  padding-bottom: 2.2rem;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
}

.xo-article-comments__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 4.8rem;
}