.xo-article-card {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(var(--color-background));
  border: var(--article-card-border-width) solid rgba(var(--color-border), var(--article-card-border-opacity));
  box-shadow: var(--article-card-shadow-horizontal-offset) var(--article-card-shadow-vertical-offset) var(--article-card-shadow-blur-radius) rgba(var(--color-shadow), var(--article-card-shadow-opacity));
}
.xo-article-card:hover .xo-article-card__image img, .xo-article-card:focus .xo-article-card__image img, .xo-article-card:focus-within .xo-article-card__image img, .xo-article-card:focus-visible .xo-article-card__image img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.xo-article-card--radius {
  border-radius: var(--article-radius);
}
.xo-article-card--radius .xo-image__placeholder {
  border-radius: var(--article-image-radius);
}

.xo-article-card__image {
  padding: var(--article-card-image-padding);
  position: relative;
  display: block;
  overflow: hidden;
}
.xo-article-card__image::after {
  content: "";
  position: absolute;
  inset: 0.2rem;
  z-index: 9;
  border: 0.1rem solid transparent;
  transition: 0.3s;
}
.xo-article-card__image .xo-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.xo-article-card__image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  will-change: transform;
}
.xo-article-card__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.xo-article-card__image .placeholder-svg {
  width: 100%;
  height: 100%;
}
.xo-article-card__image:focus-within::after, .xo-article-card__image:focus-visible::after {
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-article-card__image:focus-within img, .xo-article-card__image:focus-visible img {
  transform: scale(0.8);
}

.xo-article-card__image--radius {
  border-radius: var(--article-image-radius);
}
.xo-article-card__image--radius::after {
  border-radius: var(--article-image-radius);
}

.xo-article-card__information {
  text-align: var(--article-card-text-alignment);
  padding-top: max(var(--article-card-content-padding-vertical), 1.6rem);
  padding-bottom: max(var(--article-card-content-padding-vertical), 1.6rem);
  padding-inline-start: max(var(--article-card-content-padding-horizontal), 0);
  padding-inline-end: max(var(--article-card-content-padding-horizontal), 2.4rem);
}

[dir=ltr] .xo-article-card__information--left {
  text-align: left;
}

[dir=rtl] .xo-article-card__information--left {
  text-align: right;
}

[dir=ltr] .xo-article-card__information--right {
  text-align: right;
}

[dir=rtl] .xo-article-card__information--right {
  text-align: left;
}

.xo-article-card__heading {
  padding-bottom: 0.7rem;
  display: inline-flex;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.8;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .xo-article-card__heading {
    font-size: calc(var(--font-body-scale) * 2rem);
    letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  }
}
.xo-article-card__heading:hover {
  opacity: 1;
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}

.xo-article-card__box {
  display: flex;
  align-items: center;
  justify-content: var(--alignment);
  gap: 0.8rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.65;
}
@media (min-width: 768px) {
  .xo-article-card__box {
    opacity: 0.6;
  }
}

.xo-article-card__dot {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-article-card__tag {
  position: absolute;
  top: 2rem;
  z-index: 10;
}
[dir=ltr] .xo-article-card__tag {
  left: 2rem;
}
[dir=rtl] .xo-article-card__tag {
  right: 2rem;
}

.xo-article-card__description {
  padding-top: 1rem;
  padding-inline-end: 1.6rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 400;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.6;
}

.xo-article-card--boxed .xo-article-card__information {
  padding-top: max(var(--article-card-content-padding-vertical), 2rem);
  padding-bottom: max(var(--article-card-content-padding-vertical), 2rem);
  padding-inline-start: max(var(--article-card-content-padding-horizontal), 2rem);
  padding-inline-end: max(var(--article-card-content-padding-horizontal), 2rem);
}