.banner-box {
  display: block;
  height: 100%;
  position: relative;
  border: var(--collection-card-border-width) solid rgba(var(--color-border), var(--collection-card-border-opacity));
  box-shadow: var(--collection-card-shadow-horizontal-offset) var(--collection-card-shadow-vertical-offset) var(--collection-card-shadow-blur-radius) rgba(var(--color-shadow), var(--collection-card-shadow-opacity));
  overflow: hidden;
}
.banner-box:hover, .banner-box:focus-within {
  cursor: pointer;
}
.banner-box:hover img, .banner-box:focus-within img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.banner-box .xo-video--modifier {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-box--radius {
  border-radius: var(--collection-card-radius);
  overflow: hidden;
}

.banner-box__content {
  height: 100%;
  position: relative;
  background: none;
}
.banner-box__content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-overlay-2), calc(var(--opacity) / 100));
  z-index: 1;
}
[dir=ltr] .banner-box__content::after {
  left: 0;
}
[dir=rtl] .banner-box__content::after {
  right: 0;
}

.banner-box__button {
  width: fit-content;
}

.banner-box__wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
}
[dir=ltr] .banner-box__wrapper {
  left: 0;
}
[dir=rtl] .banner-box__wrapper {
  right: 0;
}

.banner-box__image .xo-image,
.banner-box__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}
.banner-box__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.banner-box__image .xo-image__placeholder {
  aspect-ratio: var(--xo-ratio-percent);
}
.banner-box__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.banner-box__image--desktop {
  display: none;
}
@media (min-width: 992px) {
  .banner-box__image--desktop {
    display: block;
  }
}

.banner-box__image--mobile {
  display: block;
}
@media (min-width: 992px) {
  .banner-box__image--mobile {
    display: none;
  }
}

.banner-box__link {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner-box__video {
  height: 100%;
  aspect-ratio: var(--aspect-ratio-mb);
}
@media (min-width: 992px) {
  .banner-box__video {
    aspect-ratio: var(--aspect-ratio-dt);
  }
}

.banner-box__wrapper {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.banner-box__wrapper--middle {
  height: 100%;
  align-items: start;
  justify-content: center;
}

.banner-box__wrapper--middle.banner-box__wrapper--right {
  height: 100%;
  align-items: end;
  justify-content: center;
}

.banner-box__wrapper--bottom {
  height: 100%;
  align-items: start;
  justify-content: end;
}

.banner-box__wrapper--bottom.banner-box__wrapper--center {
  justify-content: end;
  align-items: center;
  text-align: center;
}

.banner-box__wrapper--bottom.banner-box__wrapper--right {
  justify-content: end;
  align-items: end;
  text-align: right;
}

.banner-box__wrapper--center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-box__wrapper--right {
  justify-content: end;
  align-items: end;
  text-align: right;
}

.banner-box__wrapper--modifier {
  height: 100%;
  justify-content: space-between !important;
}

.banner-box__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.7;
}
@media (min-width: 740px) {
  .banner-box__sub-heading {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.5 / var(--font-body-scale));
  }
}

.banner-box__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}