.xo-bundle-empty {
  padding: 4.5rem 3rem 12.4rem 3rem;
}
@media (min-width: 1400px) {
  .xo-bundle-empty {
    padding: 6.6rem 4.2rem 10rem 4.2rem;
  }
}
@media (min-width: 1600px) {
  .xo-bundle-empty {
    padding: 6.6rem 4.2rem 14.5rem 4.2rem;
  }
}

.xo-bundle-empty__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.8rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.018rem);
  text-align: center;
}
@media (min-width: 1200px) {
  .xo-bundle-empty__title {
    font-size: calc(var(--font-body-scale) * 2rem);
    letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  }
}