.xo-bundle-modal {
  width: 100%;
  height: 100%;
}

.xo-bundle-modal--radius .xo-bundle-modal__step {
  border-radius: 4rem;
  overflow: hidden;
}
.xo-bundle-modal--radius .xo-bundle-modal__step-item {
  border-radius: 1.7rem;
  overflow: hidden;
}
.xo-bundle-modal--radius .xo-bundle-modal__step-item::before {
  border-radius: 50% 50% 0 0;
}
.xo-bundle-modal--radius .xo-bundle-modal__modal-inner {
  border-radius: 2rem 2rem 0 0;
}
.xo-bundle-modal--radius .xo-bundle-modal__progress,
.xo-bundle-modal--radius .xo-bundle-modal__progress-inner {
  border-radius: 0.5rem;
  overflow: hidden;
}

.xo-bundle-modal__wrapper {
  position: absolute;
  top: 50rem;
  left: 0;
  width: 100%;
}

.xo-bundle-modal__wrapper[xo-is-sticky] .xo-bundle-modal__inner {
  transform: translateX(0);
}

.xo-bundle-modal__inner {
  transform: translateX(-120%);
  transition: all 0.5s cubic-bezier(0.31, 0.41, 0.38, 0.96);
  height: 100%;
}

.xo-bundle-modal__box {
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  padding: 2rem;
}

.xo-bundle-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.xo-bundle-modal__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-bundle-modal__modal-inner {
  position: relative;
  width: 100vw;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  padding: 2rem;
}

.xo-bundle-modal__pan {
  position: absolute;
  top: 0.7rem;
  left: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  touch-action: none;
}
.xo-bundle-modal__pan span {
  width: 20%;
  height: 0.5rem;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
  border-radius: 10rem;
}

.xo-bundle-modal__step {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  padding: 0.5rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .xo-bundle-modal__step {
    padding: 0.7rem 0.8rem;
  }
}

.xo-bundle-modal__step-item-wrap {
  flex: 1;
}

.xo-bundle-modal__step-text {
  color: rgba(var(--color-foreground), 0.6);
}

.xo-bundle-modal__step-item {
  position: relative;
  z-index: 1;
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
}
@media (min-width: 768px) {
  .xo-bundle-modal__step-item {
    font-size: calc(var(--font-body-scale) * 1.3rem);
  }
}
.xo-bundle-modal__step-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.05s, border-radius 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.22s;
}
[dir=ltr] .xo-bundle-modal__step-item::before {
  left: 50%;
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-modal__step-item::before {
  right: 50%;
  transform: translate(50%, 0);
}

.xo-bundle-modal__step-item[xo-qualified]::before {
  width: 101%;
  height: 101%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .xo-bundle-modal__step-item[xo-qualified]::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-modal__step-item[xo-qualified]::before {
  transform: translate(50%, 0);
}
.xo-bundle-modal__step-item[xo-qualified] .xo-bundle-modal__step-text {
  text-shadow: 0 -3rem 0 transparent, 0 0 0 color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  color: transparent;
}

.xo-bundle-modal__sub-title {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  padding-bottom: 1rem;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .xo-bundle-modal__sub-title {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    padding-bottom: 0.9rem;
  }
}

.xo-bundle-modal__progress {
  width: 100%;
  height: 0.4rem;
  background-color: rgba(var(--color-border), 0.6);
  overflow: hidden;
}

.xo-bundle-modal__progress-inner {
  width: 100%;
  height: 100%;
  transform: translateX(var(--xo-x));
  transition: 0.3s;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-bundle-modal__progress[xo-qualified] .xo-bundle-modal__progress-inner {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}