.xo-bundle-box {
  width: 100%;
  padding: 2.1rem 2.4rem 1.1rem 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  position: sticky;
}
@media (min-width: 1800px) {
  .xo-bundle-box {
    padding: 2.9rem 3.3rem 2rem 3.3rem;
  }
}

.xo-bundle-box--radius {
  border-radius: 2rem;
  overflow: hidden;
}
.xo-bundle-box--radius .xo-bundle-box__step {
  border-radius: 2.1rem;
  overflow: hidden;
}
.xo-bundle-box--radius .xo-bundle-box__step-item {
  border-radius: 1.7rem;
  overflow: hidden;
}
.xo-bundle-box--radius .xo-bundle-box__step-item::before {
  border-radius: 50% 50% 0 0;
}
.xo-bundle-box--radius .xo-bundle-box__progress,
.xo-bundle-box--radius .xo-bundle-box__progress-inner {
  border-radius: 0.5rem;
  overflow: hidden;
}

.xo-bundle-box__body-inner {
  margin-inline-end: -1.5rem;
  padding-inline-end: 1.5rem;
  max-height: 40rem;
}
@media (min-width: 768px) {
  .xo-bundle-box__body-inner {
    max-height: 50rem;
    margin-inline-end: -1rem;
    padding-inline-end: 1rem;
  }
}
@media (min-width: 992px) {
  .xo-bundle-box__body-inner {
    max-height: calc(100vh - 30rem);
  }
}
@media (min-width: 1920px) {
  .xo-bundle-box__body-inner {
    max-height: calc(100vh - 40rem);
  }
}

.xo-bundle-box__body-inner--modifier {
  max-height: unset;
}

.xo-bundle-box:has(.xo-bundle-box__body-inner--modifier) .xo-bundle-box__footer {
  display: none;
}

.xo-bundle-box:has(.xo-bundle-box__content--product[xo-empty]) .xo-bundle-box__empty {
  display: block;
}
.xo-bundle-box:has(.xo-bundle-box__content--product[xo-empty]) .xo-bundle-box__placeholder {
  display: none;
}
.xo-bundle-box:has(.xo-bundle-box__content--product[xo-empty]) .xo-bundle-box__footer {
  display: none;
}
.xo-bundle-box:has(.xo-bundle-box__content--product[xo-empty]) .xo-bundle-box__body-inner {
  max-height: unset;
}

.xo-bundle-box:has(.xo-bundle-box__content--collection[xo-empty]) .xo-bundle-box__empty {
  display: block;
}
.xo-bundle-box:has(.xo-bundle-box__content--collection[xo-empty]) .xo-bundle-box__placeholder {
  display: none;
}
.xo-bundle-box:has(.xo-bundle-box__content--collection[xo-empty]) .xo-bundle-box__footer {
  display: none;
}
.xo-bundle-box:has(.xo-bundle-box__content--collection[xo-empty]) .xo-bundle-box__body-inner {
  max-height: unset;
}

.xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__empty {
  display: none;
}
.xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__placeholder {
  display: block;
}
.xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__footer {
  display: block;
}
.xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__body-inner {
  max-height: 40rem;
}
@media (min-width: 768px) {
  .xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__body-inner {
    max-height: 50rem;
  }
}
@media (min-width: 992px) {
  .xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__body-inner {
    max-height: calc(100vh - 30rem);
  }
}
@media (min-width: 1920px) {
  .xo-bundle-box:has(.xo-bundle-box__content--collection:not([xo-empty])) .xo-bundle-box__body-inner {
    max-height: calc(100vh - 40rem);
  }
}

.xo-bundle-box__body:has(.xo-bundle-box__content[xo-empty]) .xo-bundle-box__text {
  display: none;
}

.xo-bundle-box__body:has(.xo-bundle-box__content:not([xo-empty])) .xo-bundle-box__text {
  display: block;
}

.xo-bundle-box__inner--modifier .xo-bundle-box__title {
  padding-bottom: 1.4rem;
}
@media (min-width: 992px) {
  .xo-bundle-box__inner--modifier .xo-bundle-box__title {
    padding-bottom: 0.9rem;
  }
}
.xo-bundle-box__inner--modifier .xo-bundle-box__content:not([xo-empty]) {
  padding: 0;
}
.xo-bundle-box__inner--modifier .xo-product-bundle-content:first-child {
  padding-top: 1.8rem;
}
.xo-bundle-box__inner--modifier .xo-bundle-box__header {
  padding-bottom: 0.2rem;
}
@media (min-width: 992px) {
  .xo-bundle-box__inner--modifier .xo-bundle-box__header {
    padding-bottom: 0.9rem;
  }
}

.xo-bundle-box__button[xo-disabled] {
  padding-top: 2rem;
  display: block;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.xo-bundle-box__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
  padding-bottom: 1.4rem;
}
@media (min-width: 992px) {
  .xo-bundle-box__title {
    padding-bottom: 0.9rem;
  }
}

.xo-bundle-box__sub-title {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  padding-bottom: 1rem;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .xo-bundle-box__sub-title {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    padding-bottom: 0.9rem;
  }
}

.xo-bundle-box__progress {
  width: 100%;
  height: 0.4rem;
  background-color: rgba(var(--color-border), 0.6);
  overflow: hidden;
}

.xo-bundle-box__progress-inner {
  width: 100%;
  height: 100%;
  transform: translateX(var(--xo-x));
  transition: 0.3s;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-bundle-box__progress[xo-qualified] .xo-bundle-box__progress-inner {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-bundle-box__content:not([xo-empty]) {
  padding-top: 1.8rem;
}

.xo-bundle-box__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1.8rem 0;
}
@media (min-width: 1200px) {
  .xo-bundle-box__wrapper {
    padding: 2.1rem 0 2.4rem 0;
  }
}

.xo-bundle-box__price-inner {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.xo-bundle-box__price {
  display: block;
  color: rgba(var(--color-foreground));
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
}
@media (min-width: 992px) {
  .xo-bundle-box__price {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    letter-spacing: calc(var(--font-body-scale) * -0.018rem);
  }
}

.xo-bundle-box__price--compare {
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: line-through;
}
@media (min-width: 992px) {
  .xo-bundle-box__price--compare {
    font-size: calc(var(--font-body-scale) * 1.7rem);
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.034rem);
  }
}

.xo-bundle-box__text {
  font-size: calc(var(--font-body-scale) * 1.2rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.8;
  padding: 1.4rem 0;
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
@media (min-width: 768px) {
  .xo-bundle-box__text {
    font-size: calc(var(--font-body-scale) * 1.3rem);
    padding: 1.3rem 0;
  }
}

.xo-bundle-box__step {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  padding: 0.5rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .xo-bundle-box__step {
    padding: 0.8rem;
  }
}

.xo-bundle-box__step-item-wrap {
  flex: 1;
}

.xo-bundle-box__step-text {
  color: rgba(var(--color-foreground), 0.6);
}

.xo-bundle-box__step-item {
  position: relative;
  z-index: 1;
  padding: 0.4rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  white-space: nowrap;
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
}
@media (min-width: 768px) {
  .xo-bundle-box__step-item {
    font-size: calc(var(--font-body-scale) * 1.3rem);
  }
}
@media (min-width: 1800px) {
  .xo-bundle-box__step-item {
    padding: 0.4rem 2rem;
  }
}
.xo-bundle-box__step-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.05s, border-radius 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.22s;
}
[dir=ltr] .xo-bundle-box__step-item::before {
  left: 50%;
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-box__step-item::before {
  right: 50%;
  transform: translate(50%, 0);
}

.xo-bundle-box__step-item[xo-qualified]::before {
  width: 101%;
  height: 101%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .xo-bundle-box__step-item[xo-qualified]::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-bundle-box__step-item[xo-qualified]::before {
  transform: translate(50%, 0);
}
.xo-bundle-box__step-item[xo-qualified] .xo-bundle-box__step-text {
  text-shadow: 0 -3rem 0 transparent, 0 0 0 color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  color: transparent;
}

.xo-bundle-box__size[xo-size="0"] .xo-bundle-box__wrapper {
  display: none;
}

.xo-bundle-box__placeholder {
  display: block;
}

.xo-bundle-box__empty {
  display: none;
}

.xo-bundle-box__empty--modifier {
  display: block;
}