.bundle-collection {
  width: 100%;
  height: 100%;
}

.bundle-collection__head {
  padding-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .bundle-collection__head {
    padding-bottom: 3.3rem;
  }
}

.bundle-collection__heading--modifier {
  padding-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .bundle-collection__heading--modifier {
    padding-bottom: 2.3rem;
  }
}

.bundle-collection__tab-trigger {
  width: fit-content;
  padding: 0.5rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
}

.bundle-collection__tab-trigger--desktop {
  display: none;
}
@media (min-width: 992px) {
  .bundle-collection__tab-trigger--desktop {
    display: flex;
    gap: 0.4rem;
  }
}

.bundle-collection__tab-trigger--mobile {
  display: block;
}
@media (min-width: 992px) {
  .bundle-collection__tab-trigger--mobile {
    display: none;
  }
}

.bundle-collection__tab-trigger--radius {
  border-radius: 4rem;
  overflow: hidden;
}
.bundle-collection__tab-trigger--radius .bundle-collection__trigger {
  border-radius: 5.6rem;
  overflow: hidden;
}
.bundle-collection__tab-trigger--radius .bundle-collection__trigger::before {
  border-radius: 50% 50% 0 0;
}

.bundle-collection__trigger {
  position: relative;
  z-index: 1;
  padding: 0.95rem 1.55rem;
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.bundle-collection__trigger::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.05s, border-radius 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.22s;
}
[dir=ltr] .bundle-collection__trigger::before {
  left: 50%;
  transform: translate(-50%, 0);
}
[dir=rtl] .bundle-collection__trigger::before {
  right: 50%;
  transform: translate(50%, 0);
}
.bundle-collection__trigger:hover::before {
  width: 101%;
  height: 101%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .bundle-collection__trigger:hover::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .bundle-collection__trigger:hover::before {
  transform: translate(50%, 0);
}
.bundle-collection__trigger:hover .bundle-collection__trigger-text {
  text-shadow: 0 -3rem 0 transparent, 0 0 0 color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  color: transparent;
}

.bundle-collection__trigger--placeholder:first-child::before,
.bundle-collection__trigger[xo-active]::before {
  width: 101%;
  height: 101%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .bundle-collection__trigger--placeholder:first-child::before,
[dir=ltr] .bundle-collection__trigger[xo-active]::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .bundle-collection__trigger--placeholder:first-child::before,
[dir=rtl] .bundle-collection__trigger[xo-active]::before {
  transform: translate(50%, 0);
}
.bundle-collection__trigger--placeholder:first-child .bundle-collection__trigger-text,
.bundle-collection__trigger[xo-active] .bundle-collection__trigger-text {
  text-shadow: 0 -3rem 0 transparent, 0 0 0 color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  color: transparent;
}

.bundle-collection__trigger-text {
  color: rgba(var(--color-foreground), 0.7);
}

.bundle-collection__sticky-mobile {
  display: block;
}
@media (min-width: 992px) {
  .bundle-collection__sticky-mobile {
    display: none;
  }
}

.bundle-collection__right {
  display: none;
}
@media (min-width: 992px) {
  .bundle-collection__right {
    display: block;
  }
}

.bundle-collection__box {
  display: flex;
  gap: 0.2rem;
  padding-top: 0.2rem;
}

.bundle-collection__box-label,
.bundle-collection__box-value {
  color: rgba(var(--color-foreground), 0.7);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.bundle-collection__box-value {
  color: rgba(var(--color-foreground), 1);
}