.xo-cart-note .xo-collapse:first-child {
  border-top: none;
}
.xo-cart-note .xo-btn--xs .xo-btn__content {
  padding: 1rem;
}

.xo-cart-note__regular {
  padding: 1.6rem 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.xo-cart-note__change {
  padding: 1.6rem 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.xo-cart-note__btn {
  cursor: pointer;
  position: relative;
  user-select: none;
  text-align: center;
  padding: 1rem 0;
}

.xo-cart-note__trigger {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.xo-cart-note__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .xo-cart-note__icon svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.xo-cart-note__text {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
}

.xo-cart-note__content {
  z-index: 9999;
  overflow-x: unset;
  overflow-y: unset;
}

.xo-cart-note__inner {
  background-color: rgb(var(--color-background));
}

.xo-cart-note__inner--padding {
  padding: 2rem;
}

.xo-cart-note__inner--effect {
  padding: 2rem calc(var(--drawer-padding) / 2);
  box-shadow: 0 0.2rem 1rem rgba(var(--color-shadow), 0.2);
  width: 100vw;
}
@media (min-width: 768px) {
  .xo-cart-note__inner--effect {
    width: 45rem;
  }
}
@media (min-width: 992px) {
  .xo-cart-note__inner--effect {
    padding: 2.2rem var(--drawer-padding);
  }
}
.xo-cart-note__inner--effect .xo-field-textarea {
  padding: 1rem;
}

.xo-cart-note__title {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-cart-note__flex-drawer {
  padding: 2rem 0 0 0;
}
.xo-cart-note__flex-drawer xo-cart-note-submit,
.xo-cart-note__flex-drawer xo-modal-trigger {
  width: 50%;
}
.xo-cart-note__flex-drawer .xo-btn {
  width: 100%;
}