.xo-cart-table .xo-cart-table__table {
  width: 100%;
  border-collapse: collapse;
}
.xo-cart-table .xo-cart-table__head-row {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.xo-cart-table .xo-cart-table__head-row th {
  font-size: calc(var(--font-body-scale) * 1.3rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  text-align: left;
  text-transform: uppercase;
  opacity: 0.6;
  padding-bottom: 1.6rem;
}
@media (max-width: 767px) {
  .xo-cart-table .xo-cart-table__head-row th {
    display: none;
  }
}
.xo-cart-table .xo-cart-table__head-quantity {
  text-align: right !important;
  width: 21.6%;
}
.xo-cart-table .xo-cart-table__head-total {
  text-align: right !important;
  width: 21.6%;
}
.xo-cart-table .xo-cart-table__body-row {
  position: relative;
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.xo-cart-table .xo-cart-table__body-row td {
  padding: 1.6rem 0;
}
.xo-cart-table .xo-cart-table__row-quantity {
  display: flex;
  align-items: end;
  justify-content: end;
}
@media (max-width: 767px) {
  .xo-cart-table .xo-cart-table__row-quantity {
    display: none;
  }
}
.xo-cart-table .xo-cart-table__row-total {
  position: relative;
}
@media (max-width: 767px) {
  .xo-cart-table .xo-cart-table__row-total {
    display: none;
  }
}
.xo-cart-table .xo-cart-table__row-product .xo-cart-item__content {
  padding-top: 1.2rem;
}
.xo-cart-table .xo-cart-table__row-product:has(.xo-cart-table__loading[xo-visible]) ~ .xo-cart-table__row-total .xo-cart-table__price {
  opacity: 0;
}
.xo-cart-table .xo-cart-table__remove-text {
  position: absolute;
  bottom: 3.2rem;
  z-index: 2;
  display: block;
}
[dir=ltr] .xo-cart-table .xo-cart-table__remove-text {
  right: 0;
}
[dir=rtl] .xo-cart-table .xo-cart-table__remove-text {
  left: 0;
}
@media (max-width: 991px) {
  .xo-cart-table .xo-cart-table__remove-text {
    display: none;
  }
}
.xo-cart-table .xo-cart-table__remove-text .xo-btn__content {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.xo-cart-table .xo-cart-table__remove-text .xo-btn__text::before, .xo-cart-table .xo-cart-table__remove-text .xo-btn__text::after {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.xo-cart-table .xo-cart-table__price {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.31 / var(--font-body-scale));
  display: none;
  position: absolute;
  transition: all 0.3s;
}
[dir=ltr] .xo-cart-table .xo-cart-table__price {
  right: 0;
}
[dir=rtl] .xo-cart-table .xo-cart-table__price {
  left: 0;
}
@media (min-width: 768px) {
  .xo-cart-table .xo-cart-table__price {
    top: 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    gap: 0.3rem;
  }
}
.xo-cart-table .xo-cart-table__old-price--del {
  opacity: 0.35;
  text-decoration: line-through;
}

.xo-cart-table__loading {
  position: absolute;
  top: 2.7rem;
}
[dir=ltr] .xo-cart-table__loading {
  right: 0;
}
[dir=rtl] .xo-cart-table__loading {
  left: 0;
}
@media (max-width: 767px) {
  .xo-cart-table__loading {
    display: none;
  }
}

@media (max-width: 767px) {
  .xo-cart-table__loading[xo-visible] {
    display: none !important;
  }
}
.xo-cart-table__loading[xo-visible] ~ .xo-cart-table__price {
  display: none;
}

.xo-cart-table__body-row .xo-cart-table__loading[xo-visible] .xo-cart-table__price {
  display: none;
}