.xo-cart-totals__subtotal {
  padding-bottom: 0.2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.7;
}

.xo-cart-totals__value {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 4.2rem);
  font-weight: 500;
  line-height: calc(1 + 0.1 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.21rem);
}