.xo-cart-free-shipping {
  display: flex;
  flex-direction: column;
}
.xo-cart-free-shipping .xo-cart-mini-footer__separator-pd {
  padding-top: 1.6rem;
}

.xo-cart-free-shipping__checking {
  display: none;
  padding-bottom: 1.5rem;
  font-size: 0;
}
.xo-cart-free-shipping__checking:empty {
  display: none;
}
.xo-cart-free-shipping__checking:empty ~ * {
  display: none;
}

.xo-cart-free-shipping-text {
  display: block;
}

.xo-cart-free-shipping__text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.65;
  padding-bottom: 1rem;
}

.xo-cart-free-shipping__progress {
  position: relative;
  display: block;
  height: 0.4rem;
  background-color: rgba(var(--color-foreground), 0.1);
  font-size: 0;
}
.xo-cart-free-shipping__progress:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--progress);
  transition: 0.3s;
}
[dir=ltr] .xo-cart-free-shipping__progress:after {
  left: 0;
}
[dir=rtl] .xo-cart-free-shipping__progress:after {
  right: 0;
}

.xo-cart-free-shipping__progress--radius {
  border-radius: var(--general-radius-4);
  overflow: hidden;
}
.xo-cart-free-shipping__progress--radius::after {
  border-radius: var(--general-radius-4);
}

.xo-cart-free-shipping__progress--level-1:after {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-cart-free-shipping__progress--level-2:after {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-cart-free-shipping__progress--level-3:after {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-cart-free-shipping__progress--level-4:after {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}