@charset "UTF-8";
.xo-cart-attribute {
  padding-top: 1.6rem;
}
.xo-cart-attribute:first-child {
  padding-top: 0;
}
.xo-cart-attribute .xo-field-input {
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid rgba(var(--color-border), 0.4);
}

.xo-cart-attribute__label {
  display: block;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgba(var(--color-foreground), 0.5);
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.xo-cart-attribute__dropdown {
  width: 100%;
  position: relative;
}
.xo-cart-attribute__dropdown::after {
  content: "▾";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(var(--color-foreground), 1);
  pointer-events: none;
  font-size: calc(var(--font-body-scale) * 2remrem);
  margin-inline-end: 1rem;
}
[dir=ltr] .xo-cart-attribute__dropdown::after {
  right: 1rem;
}
[dir=rtl] .xo-cart-attribute__dropdown::after {
  left: 1rem;
}

.xo-cart-attribute__select {
  width: 100%;
  padding: 1.7rem 2.4rem;
  color: rgba(var(--color-foreground), 1);
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid rgba(var(--color-border), 0.4);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.xo-cart-attribute__select--radius {
  border-radius: 1.2rem;
}

.xo-cart-attribute__option {
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  color: rgba(var(--color-foreground), 0.75);
  font-weight: 400;
}