.category-1 {
  width: 100%;
  height: 100%;
}
.category-1 xo-carousel-slide {
  padding-bottom: 0.2rem;
}
.category-1 .collection-card-v2:hover {
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}

.category-1__head {
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .category-1__head {
    padding-bottom: 2.4rem;
  }
}
@media (min-width: 992px) {
  .category-1__head {
    padding-bottom: 3.2rem;
  }
}
@media (min-width: 1400px) {
  .category-1__head {
    padding-bottom: 3.9rem;
  }
}

.category-1__d-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.category-1__item {
  height: 100%;
}

.category-1__line {
  width: 100%;
  height: 0.1rem;
  background-color: color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}

.category-1__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foregrround)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.43 / var(--font-body-scale));
  opacity: 0.8;
  padding-top: 0.8rem;
  max-width: 37.7rem;
}
@media (min-width: 768px) {
  .category-1__sub-heading {
    padding-top: 1.4rem;
  }
}

.category-1__item--active .collection-card-v2 {
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.category-1__item--active .collection-card-v2--vertical {
  border: none;
}

.category-1__paginate {
  padding-top: 1.6rem;
}

.category-1__carousel {
  padding-inline-end: 11.5rem;
}
@media (min-width: 768px) {
  .category-1__carousel {
    padding-inline-end: 0;
  }
}