.chart {
  height: 100%;
}
.chart text {
  opacity: 0.3;
}

.chart__box {
  height: 100%;
  padding: 2.5rem 3.1rem 3.3rem 3.1rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
@media (min-width: 992px) {
  .chart__box {
    gap: 2.4rem;
    padding: 4rem 5.5rem 4.3rem 4.7rem;
  }
}

.chart__box--radius {
  border-radius: var(--chart-radius);
}

.chart__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}

.chart__image .xo-image {
  width: 100%;
  height: 100%;
}
.chart__image img {
  width: 100%;
  height: 100%;
}
.chart__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.chart__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.chart__image--desktop {
  height: 18.3rem;
}
@media (min-width: 768px) {
  .chart__image--desktop {
    height: 24.2rem;
  }
}