.chart-1 {
  height: 100%;
}
.chart-1 text {
  opacity: 0.3;
}

.chart-1__box {
  height: 100%;
  padding: 2.5rem 3.1rem 3.1rem 3.1rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
@media (min-width: 992px) {
  .chart-1__box {
    gap: 2.4rem;
    padding: 4rem 5.7rem 4.1rem 4.7rem;
  }
}

.chart-1__box--radius {
  border-radius: var(--chart-radius);
}

.chart-1__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}

.chart-1__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}
@media (min-width: 992px) {
  .chart-1__content {
    flex-direction: row;
    gap: 4.4rem;
  }
}

.chart-1__image {
  height: 18.3rem;
}
@media (min-width: 768px) {
  .chart-1__image {
    height: 24.2rem;
  }
}
.chart-1__image .xo-image {
  width: 100%;
  height: 100%;
}
.chart-1__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.chart-1__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.chart-1__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.chart-1__perfomance {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
@media (min-width: 992px) {
  .chart-1__perfomance {
    justify-content: space-between;
    gap: 4rem;
  }
}
@media (min-width: 1400px) {
  .chart-1__perfomance {
    gap: 6.3rem;
  }
}

.chart-1__thumbnail {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .chart-1__thumbnail {
    height: unset;
    max-width: 58.4rem;
  }
}

.chart-1__percent {
  width: 100%;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  display: flex;
}

.chart-1__percent-value {
  display: block;
  width: unset;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .chart-1__percent-value {
    min-width: 5.9rem;
  }
}
@media (min-width: 1400px) {
  .chart-1__percent-value {
    min-width: 7.1rem;
  }
}

.chart-1__description {
  padding-bottom: 1rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}
@media (min-width: 768px) {
  .chart-1__description {
    padding-bottom: 1.3rem;
    font-size: calc(var(--font-body-scale) * 1.6rem);
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}