.collection-list {
  height: 100%;
  position: relative;
  background: transparent;
  border: var(--collection-card-border-width) solid rgba(var(--color-border), var(--collection-card-border-opacity));
  box-shadow: var(--collection-card-shadow-horizontal-offset) var(--collection-card-shadow-vertical-offset) var(--collection-card-shadow-blur-radius) rgba(var(--color-shadow), var(--collection-card-shadow-opacity));
  overflow: hidden;
}
.collection-list:hover, .collection-list:focus-within {
  cursor: pointer;
}
.collection-list:hover img, .collection-list:focus-within img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.collection-list:hover .collection-list__button, .collection-list:focus-within .collection-list__button {
  opacity: 1;
  transition: all 0.5s;
}

.collection-list--radius {
  border-radius: var(--collection-card-radius);
  overflow: hidden;
}

.collection-list__content {
  height: 100%;
  position: relative;
}
.collection-list__content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-overlay-2), calc(var(--opacity) / 100));
  z-index: 1;
}
[dir=ltr] .collection-list__content::after {
  left: 0;
}
[dir=rtl] .collection-list__content::after {
  right: 0;
}

.collection-list__button {
  transition: all 0.5s;
  padding: 0 0 2.1rem 0;
}
@media (min-width: 992px) {
  .collection-list__button {
    opacity: 0;
    padding: 2.1rem 0 0 0;
  }
}

.collection-list__text {
  width: 100%;
  position: absolute;
  top: 3.3rem;
  z-index: 9;
  color: inherit;
}
[dir=ltr] .collection-list__text {
  left: 4.2rem;
}
[dir=rtl] .collection-list__text {
  right: 4.2rem;
}
@media (max-width: 991px) {
  .collection-list__text {
    top: unset;
    bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  [dir=ltr] .collection-list__text {
    left: 2.5rem;
  }
  [dir=rtl] .collection-list__text {
    right: 2.5rem;
  }
}

.collection-list__heading {
  width: 58%;
}
.collection-list__heading .xo-text__heading {
  font-size: calc(var(--font-heading-4-scale) * 2.8rem);
}
@media (min-width: 768px) {
  .collection-list__heading .xo-text__heading {
    font-size: calc(var(--font-heading-4-scale) * 4.2rem);
  }
}
@media (min-width: 992px) {
  .collection-list__heading {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .collection-list__heading {
    width: 50%;
  }
}
@media (min-width: 1800px) {
  .collection-list__heading {
    width: 40%;
  }
}

.collection-list__image .xo-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}
.collection-list__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.collection-list__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.collection-list__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.collection-list__image--desktop {
  height: 100%;
  display: none;
}
@media (min-width: 768px) {
  .collection-list__image--desktop {
    display: block;
  }
}

.collection-list__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .collection-list__image--mobile {
    display: none;
  }
}