.collection-image {
  height: 100%;
  position: relative;
  background-color: transparent;
}
.collection-image:hover {
  cursor: pointer;
}
.collection-image:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.collection-image__link {
  height: 100%;
}

.collection-image__image {
  height: 100%;
  overflow: hidden;
}
.collection-image__image .xo-image {
  width: 100%;
  height: 100%;
}
.collection-image__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.collection-image__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.collection-image__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.collection-image__image--radius {
  border-radius: 2rem;
}

.collection-image__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .collection-image__image--desktop {
    display: block;
  }
}

.collection-image__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .collection-image__image--mobile {
    display: none;
  }
}

.collection-image__text {
  position: absolute;
  top: 2.6rem;
  z-index: 3;
}
[dir=ltr] .collection-image__text {
  left: 3.1rem;
}
[dir=rtl] .collection-image__text {
  right: 3.1rem;
}
@media (min-width: 992px) {
  .collection-image__text {
    top: 3.3rem;
  }
  [dir=ltr] .collection-image__text {
    left: 4.2rem;
  }
  [dir=rtl] .collection-image__text {
    right: 4.2rem;
  }
}

.collection-image__button {
  position: absolute;
  top: 50%;
  z-index: 3;
}
[dir=ltr] .collection-image__button {
  left: 50%;
  transform: translate(-50%, -50%);
}
[dir=rtl] .collection-image__button {
  right: 50%;
  transform: translate(50%, -50%);
}