.collapse-content-box-1 {
  width: 87.7rem;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .collapse-content-box-1 {
    width: 100%;
  }
}

.collapse-content-box-1__content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
@media (max-width: 767px) {
  .collapse-content-box-1__content {
    gap: 1rem;
  }
}

.collapse-content-box-1__item {
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
}

.collapse-content-box-1__item--radius {
  border-radius: var(--general-radius-1);
}

.collapse-content-box-1__heading {
  padding-bottom: 2.6rem;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 992px) {
  .collapse-content-box-1__heading {
    padding-bottom: 3.6rem;
  }
}