.collection-list-6 {
  height: 100%;
}

.collection-list-6__carousel {
  padding-inline-end: 2.3rem;
}
.collection-list-6__carousel xo-carousel-slide {
  padding-bottom: 0.1rem;
}
@media (min-width: 1600px) {
  .collection-list-6__carousel {
    padding-inline-end: 0;
  }
}

.collection-list-6__head {
  padding-bottom: 2.4rem;
}
@media (min-width: 992px) {
  .collection-list-6__head {
    padding-bottom: 3.2rem;
  }
}

.collection-list-6__heading {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.collection-list-6__body {
  padding-top: 2rem;
  border-top: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .collection-list-6__body {
    padding-top: 2.6rem;
  }
}

.collection-list-6__content--modifier .collection-list-6__head {
  padding-bottom: 2.4rem;
}