.collection-image-1 {
  height: 100%;
  position: relative;
  background-color: transparent;
}
.collection-image-1:hover {
  cursor: pointer;
}
.collection-image-1:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.collection-image-1__bg {
  position: absolute;
  inset: 0;
  z-index: -2;
  overflow: hidden;
}

.collection-image-1__item {
  position: absolute;
  inset: 0;
}
@supports (-webkit-touch-callout: none) {
  .collection-image-1__item {
    top: 50%;
    width: 100vw;
    height: 100vh;
  }
  [dir=ltr] .collection-image-1__item {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  [dir=rtl] .collection-image-1__item {
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.collection-image-1__image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: var(--url-mobile, var(--url-desktop));
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (min-width: 768px) {
  .collection-image-1__image {
    background-image: var(--url-desktop);
  }
}
.collection-image-1__image .xo-image {
  width: 100%;
  height: 100%;
}
.collection-image-1__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.collection-image-1__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.collection-image-1__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.collection-image-1__image--radius {
  border-radius: var(--image-radius);
  overflow: hidden;
}

.collection-image-1__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .collection-image-1__image--desktop {
    display: block;
  }
}

.collection-image-1__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .collection-image-1__image--mobile {
    display: none;
  }
}

.collection-image-1__text {
  position: absolute;
  top: 2.6rem;
  z-index: 3;
}
[dir=ltr] .collection-image-1__text {
  left: 3.1rem;
}
[dir=rtl] .collection-image-1__text {
  right: 3.1rem;
}
@media (min-width: 992px) {
  .collection-image-1__text {
    top: 3.3rem;
  }
  [dir=ltr] .collection-image-1__text {
    left: 4.2rem;
  }
  [dir=rtl] .collection-image-1__text {
    right: 4.2rem;
  }
}

.collection-image-1__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.collection-image-1__button {
  position: absolute;
  top: 50%;
  z-index: 3;
}
[dir=ltr] .collection-image-1__button {
  left: 50%;
  transform: translate(-50%, -50%);
}
[dir=rtl] .collection-image-1__button {
  right: 50%;
  transform: translate(50%, -50%);
}