.collection-list-5 {
  height: 100%;
}

.collection-list-5__box {
  padding-top: 0;
}
@media (min-width: 768px) {
  .collection-list-5__box {
    padding-top: 2.4rem;
  }
}
@media (min-width: 992px) {
  .collection-list-5__box {
    padding-top: 3.6rem;
  }
}

.collection-list-5__trigger {
  width: fit-content;
  padding-bottom: 1.6rem;
}
@media (min-width: 992px) {
  .collection-list-5__trigger {
    padding-bottom: 2.5rem;
  }
}

.collection-list-5__trigger.xo-active .collection-list-5__text {
  background-size: 100% 100%;
}

.collection-list-5__image-container {
  display: none;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.collection-list-5__image-container.xo-active {
  display: block;
  animation: zoomIn 0.5s forwards;
}

.collection-list-5__image-container.zoom-in {
  transform: scale(1.05);
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.collection-list-5__d-flex {
  width: 100%;
  display: block;
}

.collection-list-5__title {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}
.collection-list-5__title:hover {
  cursor: pointer;
}
.collection-list-5__title:hover .collection-list-5__text {
  background-size: 100% 100%;
}

.collection-list-5__text {
  color: rgba(var(--color-foreground), 0.22);
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(var(--color-foreground), 1), rgba(var(--color-foreground), 1));
  background-size: 0 100%;
  transition: all 0.3s;
}
.collection-list-5__text::after {
  content: ".";
  visibility: hidden;
}

.collection-list-5__image {
  width: 100%;
  height: 100%;
}
.collection-list-5__image .xo-image,
.collection-list-5__image .xo-image__placeholder,
.collection-list-5__image .placeholder-svg,
.collection-list-5__image img {
  width: 100%;
  height: 100%;
}
.collection-list-5__image img,
.collection-list-5__image .placeholder-svg {
  transition: all 0.5s ease-in-out;
  will-change: transform;
}
.collection-list-5__image:hover img,
.collection-list-5__image:hover .placeholder-svg {
  transform: scale(1.05);
}

.collection-list-5__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .collection-list-5__image--desktop {
    display: block;
  }
}

.collection-list-5__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .collection-list-5__image--mobile {
    display: none;
  }
}