.xo-collapse__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 3rem;
  padding: 2.3rem 1.8rem 2.3rem 2.9rem;
}
@media (min-width: 768px) {
  .xo-collapse__trigger {
    padding: 2.6rem 2.5rem 2.6rem 3.1rem;
  }
}

.xo-collapse__trigger-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.44 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.8;
}

.xo-collapse__trigger-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-collapse__trigger-icon-default {
  color: rgba(var(--color-foreground));
  transition: all 0.3s;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-collapse__trigger-icon-active {
  color: rgba(var(--color-foreground));
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-collapse__trigger-icon-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.xo-collapse__trigger[xo-active] {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}
.xo-collapse__trigger[xo-active] .xo-collapse__trigger-icon-default {
  opacity: 0;
}
.xo-collapse__trigger[xo-active] .xo-collapse__trigger-icon-active {
  opacity: 1;
}
.xo-collapse__trigger[xo-active] .xo-collapse__trigger-icon-arrow {
  transition: all 0.3s;
  transform: rotate(180deg);
}

.xo-collapse__content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.6;
  padding: 1.1rem 7rem 2.9rem 2.9rem;
  width: 100%;
}
@media (min-width: 768px) {
  .xo-collapse__content {
    width: 80%;
    padding: 0.7rem 0 2.6rem 2.9rem;
  }
}
@media (min-width: 992px) {
  .xo-collapse__content {
    width: 60%;
    padding: 1.1rem 0rem 2.6rem 3.1rem;
  }
}