@media (max-width: 1140px) {
  .collection-link:first-child .collection-link__item {
    border-top: 0.1rem solid rgba(var(--color-border), 0.5);
  }
}

.collection-link__desktop {
  display: none;
  justify-content: center;
}
@media (min-width: 1140px) {
  .collection-link__desktop {
    display: flex;
  }
}

.collection-link__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 1140px) {
  .collection-link__item {
    gap: 0;
    border-bottom: 0.1rem solid rgba(var(--color-border), 0.5);
  }
}

.collection-link__title {
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  word-break: break-word;
  word-wrap: break-word;
}

.collection-link__nav {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.collection-link__collapse[xo-active] {
  padding: 1.5rem 0;
}

.collection-link__nav-item {
  display: inline-flex;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.8;
  transition: all 0.3s;
}
@media (max-width: 1140px) {
  .collection-link__nav-item {
    font-size: calc(var(--font-body-scale) * 1.4rem);
  }
}
.collection-link__nav-item:hover {
  opacity: 1;
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.collection-link__nav-item a {
  color: inherit;
}

.collection-link__mobile {
  display: block;
}
@media (min-width: 1140px) {
  .collection-link__mobile {
    display: none;
  }
}

.collection-link__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  cursor: pointer;
  padding: 1.4rem 0;
}

.collection-link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.collection-link__icon svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.collection-link__trigger[xo-active] {
  padding: 1.4rem 0 0 0;
}
.collection-link__trigger[xo-active] .collection-link__icon {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.collection-link__button-link {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.collection-link__wrapper {
  display: flex;
  align-items: start;
  gap: 3.2rem;
}