.xo-complementary-product {
  position: relative;
  z-index: 9999;
  overflow: hidden;
}
.xo-complementary-product .collection-empty {
  padding-top: 2rem;
}

.xo-complementary-product__head {
  padding-top: 2rem;
}
@media (min-width: 1200px) {
  .xo-complementary-product__head {
    padding-top: 3.2rem;
  }
}

.xo-complementary-product__heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
}

.xo-complementary-product__content {
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .xo-complementary-product__carousel {
    padding-inline-end: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .xo-complementary-product__carousel {
    padding-inline-end: 5rem;
  }
}
@media (min-width: 1400px) {
  .xo-complementary-product__carousel {
    padding-inline-end: 7.2rem;
  }
}
@media (min-width: 1600px) {
  .xo-complementary-product__carousel {
    padding-inline-end: 10rem;
  }
}

.xo-complementary-product__paginate {
  padding-top: 2.4rem;
}
@media (min-width: 992px) {
  .xo-complementary-product__paginate {
    padding-top: 2.9rem;
  }
}