.xo-countdown-timer {
  width: 100%;
  margin: 2rem 0;
}

.xo-countdown-timer__content {
  padding: 1.6rem 2.4rem;
  background: var(--bg-color);
}
@media (max-width: 767px) {
  .xo-countdown-timer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .xo-countdown-timer__content {
    padding: 1.8rem 3.2rem 1.8rem 2.3rem;
  }
}

.xo-countdown-timer__content--radius {
  border-radius: 1.5rem;
}

.xo-countdown-timer__countdown {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media (min-width: 1800px) {
  .xo-countdown-timer__countdown {
    gap: 1.6rem;
  }
}

@media (max-width: 767px) {
  .xo-countdown-timer__text {
    align-items: center;
    text-align: center;
  }
}

.xo-countdown-timer__icon {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1600px) {
  .xo-countdown-timer__icon {
    width: 4.6rem;
    height: 4.6rem;
  }
}
.xo-countdown-timer__icon .xo-image,
.xo-countdown-timer__icon .xo-image__placeholder,
.xo-countdown-timer__icon .placeholder-svg,
.xo-countdown-timer__icon img {
  width: 100%;
  height: 100%;
}
.xo-countdown-timer__icon img {
  object-fit: contain;
}

.xo-countdown-timer__heading {
  font-weight: var(--font-heading-weight);
  color: var(--text-color);
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.38 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}
@media (min-width: 1400px) {
  .xo-countdown-timer__heading {
    font-size: calc(var(--font-body-scale) * 2rem);
    line-height: calc(1 + 0.1 / var(--font-body-scale));
  }
}

.xo-countdown-timer__sub-heading {
  font-weight: 500;
  color: var(--text-color);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.6;
  padding-top: 0.1rem;
}

.xo-countdown-timer__number {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  color: var(--text-color);
}

.xo-countdown-timer__dot,
.xo-countdown-timer__label {
  font-weight: 400;
  color: var(--text-color);
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.38 / var(--font-body-scale));
  opacity: 0.9;
}
@media (min-width: 1600px) {
  .xo-countdown-timer__dot,
  .xo-countdown-timer__label {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}

.xo-countdown-timer__label {
  opacity: 0.9;
}

.xo-countdown-timer__dot {
  opacity: 0.7;
}