.xo-facets-drawer {
  border-bottom: none;
  padding: 2rem 0rem;
  display: flex;
}
@media (min-width: 768px) {
  .xo-facets-drawer {
    flex-direction: row-reverse;
    padding: 1.2rem 0rem;
    border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
  }
}

.xo-facets-drawer--mobile-unborder {
  border-top: none !important;
}

.xo-facets-drawer--mobile {
  border-top: 0.1rem solid rgba(var(--color-border));
}
@media (min-width: 768px) {
  .xo-facets-drawer--mobile {
    display: none;
  }
}
.xo-facets-drawer--mobile .xo-facets-drawer__trigger {
  padding: 0;
  border-radius: 0;
}

.xo-facets-drawer__trigger {
  padding: 1rem;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  will-change: transform;
}
@media (max-width: 767px) {
  .xo-facets-drawer__trigger {
    background-color: transparent;
    color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
    padding: 0;
    border-radius: 0;
    border: none;
  }
}
.xo-facets-drawer__trigger::before {
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50% 50% 0 0;
  transition: all 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.05s, border-radius 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0.22s;
  background-color: color-mix(in srgb, rgba(var(--color-secondary-button)) calc(1 * 100%), transparent);
  pointer-events: none;
}
[dir=ltr] .xo-facets-drawer__trigger::before {
  left: 50%;
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-facets-drawer__trigger::before {
  right: 50%;
  transform: translate(50%, 0);
}
.xo-facets-drawer__trigger:hover .xo-facets-drawer__trigger-text, .xo-facets-drawer__trigger:focus-within .xo-facets-drawer__trigger-text {
  color: color-mix(in srgb, rgba(var(--color-secondary-button-text)) calc(1 * 100%), transparent);
}
.xo-facets-drawer__trigger:hover svg, .xo-facets-drawer__trigger:focus-within svg {
  color: color-mix(in srgb, rgba(var(--color-secondary-button-text)) calc(1 * 100%), transparent);
}
.xo-facets-drawer__trigger:hover::before, .xo-facets-drawer__trigger:focus-within::before {
  width: 100%;
  height: 100%;
  padding-top: 0;
  border-radius: 0;
  top: 0;
}
[dir=ltr] .xo-facets-drawer__trigger:hover::before, [dir=ltr] .xo-facets-drawer__trigger:focus-within::before {
  transform: translate(-50%, 0);
}
[dir=rtl] .xo-facets-drawer__trigger:hover::before, [dir=rtl] .xo-facets-drawer__trigger:focus-within::before {
  transform: translate(50%, 0);
}

.xo-facets-drawer__trigger--radius {
  border-radius: var(--drawer-radius);
}

.xo-facets-drawer__trigger-text {
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-align: center;
  text-transform: uppercase;
  padding: 0 0.6rem;
}
@media (max-width: 767px) {
  .xo-facets-drawer__trigger-text {
    text-transform: capitalize;
    color: rgba(var(--color-foreground), 0.8);
  }
}

.xo-facets-drawer__trigger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-facets-drawer__trigger-icon svg {
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
}
@media (max-width: 767px) {
  .xo-facets-drawer__trigger-icon svg {
    color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  }
}

.xo-facets-drawer__modal {
  z-index: 1000;
}

.xo-facets-drawer__body {
  width: 100vw;
  height: 100vh;
  padding: 4.3rem 2rem 2.4rem 2rem;
  background-color: rgb(var(--color-background));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .xo-facets-drawer__body {
    width: 45rem;
    padding: 3.2rem 4rem 2.4rem 4rem;
  }
}
.xo-facets-drawer__body .xo-collapse {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-foreground)) calc(0.15 * 100%), transparent);
  padding: 0rem;
}
.xo-facets-drawer__body .xo-collapse__trigger {
  padding: 2.5rem 0rem;
}
.xo-facets-drawer__body .xo-collapse__trigger-title {
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  opacity: 1;
}
.xo-facets-drawer__body .xo-collapse__body[xo-active] {
  padding: 1.3rem 0 2.2rem 0;
}
.xo-facets-drawer__body .xo-collapse__content {
  padding: 0;
  opacity: 1;
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
}
.xo-facets-drawer__body .xo-collapse__content::-webkit-scrollbar {
  width: 0.5rem;
}
.xo-facets-drawer__body .xo-collapse__content::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.4);
  border-radius: 0.5rem;
}
.xo-facets-drawer__body .xo-collapse__content:has(.xo-field-color-1--swatch) {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}
.xo-facets-drawer__body .xo-collapse__trigger-icon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.xo-facets-drawer__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.15);
}

.xo-facets-drawer__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 4rem);
  font-weight: 500;
  line-height: calc(1 + -0.02 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.2rem);
}

.xo-facets-drawer__refine {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.xo-facets-drawer__clear-all {
  padding: 2.4rem 0rem;
}

.xo-facets-drawer__text {
  display: block;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  text-align: center;
  font-size: calc(var(--font-body-scale) * 1.7rem);
  font-weight: 500;
  line-height: calc(1 + 0.52 / var(--font-body-scale));
}

.xo-facets-drawer__text:hover {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}