.xo-facets-vertical {
  padding-bottom: 4rem;
}
.xo-facets-vertical .xo-collapse {
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
  padding: 0rem;
}
.xo-facets-vertical .xo-collapse:first-child {
  padding-top: 100px;
  border-top: 0.1rem solid rgba(var(--color-border), 0.4);
}
.xo-facets-vertical .xo-collapse:first-child .xo-collapse__trigger {
  border-top: 0.1rem solid rgba(var(--color-border), 0.4);
}
.xo-facets-vertical .xo-collapse__trigger {
  padding: 2.4rem 0;
}
.xo-facets-vertical .xo-collapse__body[xo-active] {
  padding: 1.3rem 0 2.2rem 0;
}
.xo-facets-vertical .xo-collapse__content {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  opacity: 1;
  max-height: 30rem;
  overflow-y: auto;
}
.xo-facets-vertical .xo-collapse__content::-webkit-scrollbar {
  width: 0.5rem;
}
.xo-facets-vertical .xo-collapse__content::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.4);
  border-radius: 0.5rem;
}
.xo-facets-vertical .xo-field-select-custom__trigger {
  border: none;
}
.xo-facets-vertical .xo-collapse__content:has(.xo-field-color-1--swatch) {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.xo-facets-vertical__item {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
@media (min-width: 768px) {
  .xo-facets-vertical__item {
    display: none;
  }
}

.xo-facets-vertical__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-transform: uppercase;
  opacity: 0.65;
}

.xo-facets-vertical__filters {
  padding-top: 5.4rem;
}