.featured-collection-1__left {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.featured-collection-1__left--radius {
  border-radius: 2rem;
}

.featured-collection-1__item {
  height: 100%;
}

.featured-collection-1__image {
  height: 100%;
}
.featured-collection-1__image:hover {
  cursor: pointer;
}
.featured-collection-1__image:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.featured-collection-1__image .xo-image {
  width: 100%;
  height: 100%;
}
.featured-collection-1__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.featured-collection-1__image .xo-image__placeholder {
  height: 100%;
  width: 100%;
}
.featured-collection-1__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.featured-collection-1__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .featured-collection-1__image--desktop {
    display: block;
  }
}

.featured-collection-1__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .featured-collection-1__image--mobile {
    display: none;
  }
}

.featured-collection-1__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.43 / var(--font-body-scale));
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.4;
  position: absolute;
  top: 2.9rem;
  z-index: 2;
  padding: 0 3.3rem;
}
[dir=ltr] .featured-collection-1__caption {
  left: 0;
}
[dir=rtl] .featured-collection-1__caption {
  right: 0;
}
@media (max-width: 767px) {
  .featured-collection-1__caption {
    padding: 0 1.6rem;
  }
}

.featured-collection-1__text {
  position: absolute;
  bottom: 2.9rem;
  z-index: 2;
  padding: 0 3.3rem;
}
[dir=ltr] .featured-collection-1__text {
  left: 0;
}
[dir=rtl] .featured-collection-1__text {
  right: 0;
}
@media (max-width: 767px) {
  .featured-collection-1__text {
    padding: 0 1.6rem;
  }
}

.featured-collection-1__sub-heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-5-scale) * 2.5rem);
  line-height: calc(1 + 0.2 / var(--font-heading-5-scale));
  letter-spacing: calc(var(--font-heading-5-scale) * -0.075rem);
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .featured-collection-1__sub-heading {
    font-size: calc(var(--font-heading-5-scale) * 3.1rem);
    letter-spacing: calc(var(--font-heading-5-scale) * -0.093rem);
  }
}

.featured-collection-1__heading .xo-text__heading {
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-heading-1-scale) * 8rem);
  line-height: calc(1 + 0.01 / var(--font-heading-1-scale));
  letter-spacing: calc(var(--font-heading-1-scale) * -0.56rem);
}
@media (min-width: 992px) {
  .featured-collection-1__heading .xo-text__heading {
    font-size: calc(var(--font-heading-1-scale) * 10rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.6rem);
  }
}
@media (min-width: 1400px) {
  .featured-collection-1__heading .xo-text__heading {
    font-size: calc(var(--font-heading-1-scale) * 15rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.105rem);
  }
}

.featured-collection-1__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .featured-collection-1__right {
    gap: 2.7rem;
  }
}
.featured-collection-1__right .collection-image__image--radius {
  border-radius: 2rem;
}
.featured-collection-1__right .product-featured__bottom {
  flex-direction: column;
}
@media (min-width: 768px) {
  .featured-collection-1__right .product-featured__bottom {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .featured-collection-1__right .product-featured__bottom {
    flex-direction: row;
  }
}
.featured-collection-1__right .product-featured__item {
  width: 100%;
}
.featured-collection-1__right .product-featured__item .product-featured__title {
  min-width: unset;
}
@media (min-width: 768px) {
  .featured-collection-1__right .product-featured__item {
    justify-content: start;
    max-width: 25rem;
  }
}
@media (min-width: 992px) {
  .featured-collection-1__right .product-featured__item {
    justify-content: start;
  }
  .featured-collection-1__right .product-featured__item .product-featured__title {
    min-width: unset;
  }
}