.featured-collection-4__left {
  height: 100%;
}
@media (min-width: 992px) {
  .featured-collection-4__left .product-information__box {
    padding: 3.6rem 4.7rem 1.9rem 4.7rem;
  }
}
.featured-collection-4__left .product-information__content tr td {
  padding: 1.4rem 0;
}
.featured-collection-4__left .product-information__content tr td:last-child {
  padding: 1.4rem 1.1rem 1.4rem 0;
}
@media (min-width: 768px) {
  .featured-collection-4__left .product-information__content tr td {
    padding: 2rem 0;
  }
  .featured-collection-4__left .product-information__content tr td:last-child {
    padding: 2rem 1.1rem 2rem 0;
  }
}

.featured-collection-4__right {
  height: 100%;
}

.featured-collection-4__right-grid {
  height: 100%;
}

.featured-collection-4__product {
  height: 100%;
}