.featured-collection-7__item {
  height: 100%;
}

.featured-collection-7__product {
  height: 100%;
}

.featured-collection-7__image {
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.featured-collection-7__image:hover {
  cursor: pointer;
}
.featured-collection-7__image:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.featured-collection-7__image .xo-image {
  width: 100%;
  height: 100%;
}
.featured-collection-7__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.featured-collection-7__image .xo-image__placeholder {
  height: 100%;
  width: 100%;
}
.featured-collection-7__image .placeholder-svg {
  width: 100%;
  height: 100%;
}