.featured-product-media .xo-media {
  width: 100%;
  height: 100%;
}
.featured-product-media .xo-image {
  width: 100%;
  height: 100%;
}
.featured-product-media img {
  width: 100%;
  height: 100%;
}

.featured-product-media__image {
  height: 100%;
}

.featured-product-media__image--radius {
  overflow: hidden;
  border-radius: var(--toggle-tab-radius);
}

.featured-product-media__content {
  padding-top: 1.6rem;
}
@media (min-width: 992px) {
  .featured-product-media__content {
    padding-top: 2rem;
  }
}
@media (min-width: 1400px) {
  .featured-product-media__content {
    padding-top: 3rem;
  }
}

.featured-product-media__thumb-image {
  height: 100%;
}
.featured-product-media__thumb-image .xo-media {
  position: relative;
  overflow: hidden;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  transition: all 0.3s;
}
.featured-product-media__thumb-image .xo-media:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-overlay), 0);
}
[dir=ltr] .featured-product-media__thumb-image .xo-media:after {
  left: 0;
}
[dir=rtl] .featured-product-media__thumb-image .xo-media:after {
  right: 0;
}
.featured-product-media__thumb-image:hover .xo-media:after {
  background-color: rgba(var(--color-overlay), 0.1);
}

.featured-product-media__thumb-image--radius .xo-media {
  border-radius: var(--toggle-tab-radius);
}

.featured-product-media__thumb-slide {
  padding-bottom: 1rem;
}

.featured-product-media__thumb-slide[xo-active]:not([xo-active=false]) .xo-media:after {
  background-color: rgba(var(--color-overlay), 0.1);
}

.xb-product-model__btn-view {
  position: absolute;
  top: 1rem;
  z-index: 10000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
[dir=ltr] .xb-product-model__btn-view {
  left: 1rem;
}
[dir=rtl] .xb-product-model__btn-view {
  right: 1rem;
}
@media (min-width: 768px) {
  .xb-product-model__btn-view {
    display: none;
  }
}