.xo-featured-product-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 768px) {
  .xo-featured-product-content {
    gap: 1.2rem;
  }
}
@media (min-width: 992px) {
  .xo-featured-product-content {
    gap: 2.4rem;
  }
}
.xo-featured-product-content .product-recommendations__head {
  display: none;
}
.xo-featured-product-content .product-recommendations__content {
  padding-top: 2.4rem;
}

.xo-featured-product-content--sticky {
  position: sticky;
  top: 0;
}

.xo-featured-product-content__add[xo-disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
.xo-featured-product-content__add[xo-disabled] .xo-btn {
  pointer-events: none;
  cursor: not-allowed;
}

.xo-featured-product-content__vendor {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.65 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-transform: uppercase;
  padding-bottom: 1.4rem;
}
@media (min-width: 768px) {
  .xo-featured-product-content__vendor {
    padding-bottom: 2rem;
  }
}

.xo-featured-product-content__share {
  padding-top: 1.7rem;
  display: flex;
  align-items: center;
}

.xo-featured-product-content__share-link {
  display: none;
}

.xo-featured-product-content__share-link--block {
  display: block;
}

.xo-featured-product-content__share-link-trigger {
  display: flex;
  align-items: end;
  gap: 0.3rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.37 / var(--font-body-scale));
  cursor: pointer;
}
.xo-featured-product-content__share-link-trigger p {
  transition: all 0.3s;
}
.xo-featured-product-content__share-link-trigger:hover p {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  transition: all 0.3s;
}

.xo-featured-product-content__link-copy {
  max-width: 30rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  overflow-y: hidden;
}
@media (max-width: 767px) {
  .xo-featured-product-content__link-copy {
    width: 100%;
    padding: 1.2rem;
  }
}
.xo-featured-product-content__link-copy a {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.37 / var(--font-body-scale));
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .xo-featured-product-content__link-copy a {
    font-size: calc(var(--font-body-scale) * 1.4rem);
    line-height: calc(1 + 0.35 / var(--font-body-scale));
  }
}

.xo-featured-product-content__icon-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.xo-featured-product-content__icon-copy:hover {
  opacity: 0.65;
}

.xo-featured-product-content__toast {
  padding: 1.5rem 2rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.37 / var(--font-body-scale));
}
@media (max-width: 767px) {
  .xo-featured-product-content__toast {
    width: 100%;
    font-size: calc(var(--font-body-scale) * 1.4rem);
    line-height: calc(1 + 0.35 / var(--font-body-scale));
  }
}

@media (max-width: 767px) {
  xo-toast-portal[xo-placement$=-center] {
    width: 100%;
  }
}

.xo-featured-product-content__icon-link {
  display: flex;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
}

.xo-featured-product-content__share-social {
  display: none;
  align-items: center;
  gap: 0.4rem;
}

.xo-featured-product-content__share-social--block {
  display: flex;
}

.xo-featured-product-content__list-icon-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.xo-featured-product-content__icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.xo-featured-product-content__icon-social:hover {
  opacity: 0.6;
}
.xo-featured-product-content__icon-social a {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-featured-product-content__quantity {
  height: 100%;
  width: 100%;
}
.xo-featured-product-content__quantity .xo-quantity {
  width: 100%;
  height: 100%;
  padding: 1.3rem 0.8rem;
  border-radius: var(--button-radius);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(0.4 * 100%), transparent);
}
@media (max-width: 767px) {
  .xo-featured-product-content__quantity .xo-quantity {
    padding: 1rem 0.8rem;
  }
}
.xo-featured-product-content__quantity .xo-quantity__number {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.45 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.0015rem);
}
@media (min-width: 768px) {
  .xo-featured-product-content__quantity .xo-quantity__number {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.45 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}
.xo-featured-product-content__quantity .xo-quantity__button {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.xo-featured-product-content__quantity .xo-quantity__button:hover {
  background-color: color-mix(in srgb, rgba(var(--color-gray-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-gray-button-text)) calc(1 * 100%), transparent);
}
.xo-featured-product-content__quantity svg {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-featured-product-content__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.xo-featured-product-content__view-full-detail a {
  color: rgba(var(--color-button), 0.8);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.25 / var(--font-body-scale));
  border-bottom: 0.1rem solid rgba(var(--color-button), 0.45);
  transition: all 0.3s;
}
.xo-featured-product-content__view-full-detail a:hover {
  color: rgba(var(--color-button), 0.5);
}

.xo-featured-product-content__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  padding-bottom: 2.2rem;
  width: 100%;
}
@media (min-width: 992px) {
  .xo-featured-product-content__title {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .xo-featured-product-content__title {
    width: 75%;
  }
}

.xo-featured-product-content__description {
  padding-bottom: 2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.7;
  width: 100%;
}
@media (min-width: 992px) {
  .xo-featured-product-content__description {
    width: 80%;
  }
}

.xo-featured-product-content__price .xo-price__sale {
  align-items: center;
  gap: 0.4rem;
  padding: 0;
}
.xo-featured-product-content__price .xo-price__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 2rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}
.xo-featured-product-content__price .xo-price__item--del {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.6;
}

.xo-featured-product-content__variant {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.xo-featured-product-content__variant .xo-product-variant__inner {
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}
.xo-featured-product-content__variant .xo-product-variant__inner-value {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 0.4rem;
}
.xo-featured-product-content__variant .xo-product-variant__inner-value .xo-field-radio--radio,
.xo-featured-product-content__variant .xo-product-variant__inner-value .xo-field-radio--boxed {
  padding-inline-end: 0.5rem;
}
.xo-featured-product-content__variant .xo-product-variant__inner-value .xo-field-radio--radio:last-child,
.xo-featured-product-content__variant .xo-product-variant__inner-value .xo-field-radio--boxed:last-child {
  padding-inline-end: 0;
}
.xo-featured-product-content__variant .xo-product-variant__inner-name,
.xo-featured-product-content__variant .xo-product-variant__top-name {
  padding-bottom: 0.8rem;
  color: rgba(var(--color-foreground), 0.65);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
}
.xo-featured-product-content__variant .xo-product-variant__inner-name p,
.xo-featured-product-content__variant .xo-product-variant__top-name p {
  opacity: 1;
}
.xo-featured-product-content__variant .xo-product-variant__inner-selected-value {
  display: none;
}
.xo-featured-product-content__variant .xo-field-select-custom {
  position: relative;
}
.xo-featured-product-content__variant .xo-field-select-custom__trigger {
  width: 100%;
}
@media (min-width: 992px) {
  .xo-featured-product-content__variant .xo-field-select-custom__trigger {
    width: 14.5rem;
  }
}
@media (min-width: 1400px) {
  .xo-featured-product-content__variant .xo-field-select-custom__trigger {
    width: 17.5rem;
  }
}
.xo-featured-product-content__variant .xo-field-select-custom__popover {
  height: auto;
  min-width: unset;
  padding: 1.6rem 1.4rem;
  border-radius: 1.2rem;
}
@media (max-width: 767px) {
  .xo-featured-product-content__variant .xo-field-select-custom__popover {
    width: calc(100% - 4.4rem);
    left: 2.2rem !important;
  }
}
@media (min-width: 992px) {
  .xo-featured-product-content__variant .xo-field-select-custom__popover {
    width: 14.5rem;
  }
}
@media (min-width: 1400px) {
  .xo-featured-product-content__variant .xo-field-select-custom__popover {
    width: 17.5rem;
  }
}
.xo-featured-product-content__variant .xo-field-select-custom__name {
  opacity: 1;
}

.xo-featured-product-content__variant--pd {
  padding-top: 2.7rem;
}
@media (min-width: 768px) {
  .xo-featured-product-content__variant--pd {
    padding-top: 3.2rem;
  }
}

.xo-featured-product-content__buy-form {
  width: 100%;
  padding: 1rem 0 2.4rem 0;
}

.xo-featured-product-content__group {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 0.8rem;
}
@media (max-width: 767px) {
  .xo-featured-product-content__group {
    flex-direction: column-reverse;
    align-items: start;
  }
}

.xo-featured-product-content__add-cart {
  width: 100%;
}
@media (min-width: 992px) {
  .xo-featured-product-content__add-cart {
    width: 13.2rem;
  }
}
.xo-featured-product-content__add-cart .xo-btn__content {
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
}

.xo-featured-product-content__buy-now {
  width: 100%;
}
.xo-featured-product-content__buy-now .shopify-product-form {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .xo-featured-product-content__buy-now {
    width: calc(100% - 13.2rem);
  }
}