.feature-product-4 {
  position: relative;
  padding: 4.8rem 0 7.1rem 0;
}
@media (min-width: 992px) {
  .feature-product-4 {
    padding: 3.3rem 0 7.7rem 0;
  }
}

.feature-product-4__container {
  height: 100%;
}

.feature-product-4__head {
  position: relative;
}
@media (min-width: 1400px) {
  .feature-product-4__head {
    position: absolute;
    width: 100%;
    top: 5%;
  }
  [dir=ltr] .feature-product-4__head {
    left: 0;
  }
  [dir=rtl] .feature-product-4__head {
    right: 0;
  }
}

.feature-product-4__head--mobile {
  display: block;
}
@media (min-width: 992px) {
  .feature-product-4__head--mobile {
    display: none;
  }
}

.feature-product-4__head--desktop {
  display: none;
}
@media (min-width: 992px) {
  .feature-product-4__head--desktop {
    display: block;
  }
}

.feature-product-4__wrapper {
  display: flex;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.feature-product-4__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (max-width: 767px) {
  .feature-product-4__wrapper {
    overflow-x: scroll;
  }
}

.feature-product-4__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .feature-product-4__sub-heading {
    padding-bottom: 2rem;
  }
}

.feature-product-4__heading {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-1-scale) * 5.4rem);
  line-height: calc(1 + 0.1 / var(--font-heading-1-scale));
  letter-spacing: calc(var(--font-heading-1-scale) * -0.36rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.17;
}
@media (min-width: 1400px) {
  .feature-product-4__heading {
    font-size: calc(var(--font-heading-1-scale) * 10rem);
    line-height: calc(1 + 0.04 / var(--font-heading-1-scale));
    letter-spacing: calc(var(--font-heading-1-scale) * -0.6rem);
  }
}
@media (min-width: 1600px) {
  .feature-product-4__heading {
    font-size: calc(var(--font-heading-1-scale) * 12rem);
    line-height: calc(1 + 0.01 / var(--font-heading-1-scale));
    letter-spacing: calc(var(--font-heading-1-scale) * -0.72rem);
  }
}

.feature-product-4__heading--modifier {
  opacity: 1;
}

.feature-product-4__item {
  display: inline-block;
  padding-inline-end: 5rem;
  position: relative;
  cursor: pointer;
}

.feature-product-4__item--modifier .feature-product-4__heading {
  opacity: 1;
}

@media (max-width: 1399px) {
  .feature-product-4__content {
    padding-top: 3.3rem;
  }
}

.feature-product-4__body {
  height: 100%;
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .feature-product-4__body {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5.4rem;
    height: unset;
  }
}
@media (max-width: 1199px) {
  .feature-product-4__body {
    align-items: center;
  }
}

.feature-product-4__left {
  height: 100%;
  width: 50%;
}
@media (max-width: 767px) {
  .feature-product-4__left {
    width: 100%;
  }
}

.feature-product-4__right {
  height: 100%;
  width: 50%;
}
@media (max-width: 767px) {
  .feature-product-4__right {
    width: 100%;
  }
}

.feature-product-4__box {
  width: 100%;
  max-width: 100%;
  padding: 3.5rem 2.4rem 2.4rem 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
@media (min-width: 768px) {
  .feature-product-4__box {
    max-width: 41.2rem;
  }
}
@media (min-width: 992px) {
  .feature-product-4__box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3.5rem 4rem 4rem 4rem;
  }
  [dir=ltr] .feature-product-4__box {
    left: 0;
  }
  [dir=rtl] .feature-product-4__box {
    right: 0;
  }
}
@media (min-width: 1024px) {
  .feature-product-4__box {
    top: 55%;
  }
}
@media (min-width: 1200px) {
  .feature-product-4__box {
    top: 50%;
  }
}
@media (min-width: 1400px) {
  .feature-product-4__box {
    max-width: 51.2rem;
    padding: 3.3rem 7rem;
    top: 70%;
    transform: translateY(-70%);
  }
}
@media (min-width: 1800px) {
  .feature-product-4__box {
    top: 60%;
    transform: translateY(-70%);
  }
}
@media (min-width: 1900px) {
  .feature-product-4__box {
    top: 80%;
    transform: translateY(-80%);
  }
}
@media (min-width: 1920px) {
  .feature-product-4__box {
    top: 60%;
    transform: translateY(-50%);
  }
}

.feature-product-4__box--radius {
  border-radius: 1.4rem;
}

.feature-product-4__info {
  padding-bottom: 2.9rem;
}

.feature-product-4__price {
  padding-bottom: 0.7rem;
  transition-delay: 100ms !important;
}
.feature-product-4__price .xo-price {
  justify-content: center;
}
.feature-product-4__price .xo-price__sale {
  justify-content: center;
}
.feature-product-4__price .xo-price__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.018rem);
  text-align: center;
  opacity: 1;
}

.feature-product-4__description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-align: center;
  opacity: 0.8;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition-delay: 175ms !important;
}
@media (min-width: 768px) {
  .feature-product-4__description {
    width: 65%;
  }
}

.feature-product-4__button {
  padding-top: 1.9rem;
  transition: 0.5s cubic-bezier(0.23, 0.78, 0.19, 0.99);
}
.feature-product-4__button .xo-btn {
  width: 100%;
}
.feature-product-4__button .xo-btn__content {
  padding: 1.55rem 0;
}

.feature-product-4__image {
  position: relative;
  z-index: 10;
  padding-inline-start: 0;
  width: 100%;
  height: 100%;
}
.feature-product-4__image .xo-media {
  width: 100%;
  height: 100%;
}
.feature-product-4__image .xo-image {
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .feature-product-4__image .xo-image {
    width: 50.5rem;
    height: 50.5rem;
  }
}
@media (min-width: 1200px) {
  .feature-product-4__image .xo-image {
    width: 72.5rem;
    height: 72.5rem;
  }
}
@media (min-width: 1600px) {
  .feature-product-4__image .xo-image {
    width: 88.5rem;
    height: 88.5rem;
  }
}
.feature-product-4__image img {
  object-fit: contain;
}
.feature-product-4__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.feature-product-4__image .placeholder-svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .feature-product-4__image {
    padding-inline-start: 3rem;
  }
}
.feature-product-4__image::after {
  content: "";
  position: absolute;
  top: 10%;
  z-index: -1;
  width: 37.9rem;
  height: 37.9rem;
  border-radius: 18.95rem;
  background-color: rgba(var(--color-accent), 0.6);
  filter: blur(7.2rem);
}
[dir=ltr] .feature-product-4__image::after {
  left: 65%;
}
[dir=rtl] .feature-product-4__image::after {
  right: 65%;
}
[dir=ltr] .feature-product-4__image::after {
  transform: translate(-50%, -50%);
}
[dir=rtl] .feature-product-4__image::after {
  transform: translate(50%, -50%);
}
@media (max-width: 991px) {
  .feature-product-4__image::after {
    width: 24.2rem;
    height: 24.2rem;
    top: 50%;
  }
  [dir=ltr] .feature-product-4__image::after {
    left: 50%;
  }
  [dir=rtl] .feature-product-4__image::after {
    right: 50%;
  }
}
@media (max-width: 767px) {
  .feature-product-4__image::after {
    width: 20.2rem;
    height: 20.2rem;
  }
}

.feature-product-4__add-cart[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

@media (min-width: 992px) {
  .feature-product-4__image-wrapper {
    position: relative;
    top: 40vw;
    width: 30vw;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
@media (min-width: 1200px) {
  .feature-product-4__image-wrapper {
    top: 25vw;
  }
}

@media (min-width: 992px) {
  .feature-product-4__image .xo-image {
    position: absolute;
    top: 0;
    margin: 0;
    transition: inherit;
  }
  [dir=ltr] .feature-product-4__image .xo-image {
    left: 65%;
    transform: translate(-50%, -50%);
  }
  [dir=rtl] .feature-product-4__image .xo-image {
    right: 65%;
    transform: translate(50%, -50%);
  }
}
@media (min-width: 1200px) {
  [dir=ltr] .feature-product-4__image .xo-image {
    left: 60%;
    transform: translate(-50%, -40%);
  }
  [dir=rtl] .feature-product-4__image .xo-image {
    right: 60%;
    transform: translate(50%, -40%);
  }
}
@media (min-width: 1400px) {
  [dir=ltr] .feature-product-4__image .xo-image {
    left: 65%;
    transform: translate(-50%, -50%);
  }
  [dir=rtl] .feature-product-4__image .xo-image {
    right: 65%;
    transform: translate(50%, -50%);
  }
}

@media (max-width: 991px) {
  .feature-product-4__scene {
    height: auto !important;
  }
}

@media (max-width: 991px) {
  .feature-product-4__scene-inner {
    width: auto;
    height: auto;
    position: static;
  }
}

@media (max-width: 991px) {
  .feature-product-4__scene-item {
    position: static;
    width: auto;
    height: auto;
    display: none;
  }
}

.feature-product-4__scene-item[xo-active] .feature-product-4__image,
.feature-product-4__scene-item[xo-prev] .feature-product-4__image,
.feature-product-4__scene-item[xo-next] .feature-product-4__image {
  transition: 1s cubic-bezier(0.23, 0.78, 0.19, 0.99);
}
.feature-product-4__scene-item[xo-active] .feature-product-4__atom-animate,
.feature-product-4__scene-item[xo-prev] .feature-product-4__atom-animate,
.feature-product-4__scene-item[xo-next] .feature-product-4__atom-animate {
  transition: 0.5s cubic-bezier(0.23, 0.78, 0.19, 0.99);
}

.feature-product-4__scene-item[xo-prev] {
  z-index: 1;
}
.feature-product-4__scene-item[xo-prev] .feature-product-4__button {
  opacity: 0;
}
.feature-product-4__scene-item[xo-prev] .feature-product-4__image {
  transform: scale(0);
}
@media (min-width: 992px) {
  .feature-product-4__scene-item[xo-prev] .feature-product-4__image {
    transform: rotate(180deg);
  }
  [dir=ltr] .feature-product-4__scene-item[xo-prev] .feature-product-4__image::after {
    transform: translate(-50%, -50%) scale(0);
  }
  [dir=rtl] .feature-product-4__scene-item[xo-prev] .feature-product-4__image::after {
    transform: translate(50%, -50%) scale(0);
  }
}
@media (min-width: 992px) {
  [dir=ltr] .feature-product-4__scene-item[xo-prev] .xo-image {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  }
  [dir=rtl] .feature-product-4__scene-item[xo-prev] .xo-image {
    transform: translate(50%, -50%) scale(0) rotate(-180deg);
  }
}
.feature-product-4__scene-item[xo-prev] .feature-product-4__atom-animate {
  opacity: 0;
  transform: translateY(-20px);
}

.feature-product-4__scene-item[xo-next] {
  z-index: 1;
}
.feature-product-4__scene-item[xo-next] .feature-product-4__button {
  opacity: 0;
}
.feature-product-4__scene-item[xo-next] .feature-product-4__image {
  transform: scale(0);
}
@media (min-width: 992px) {
  .feature-product-4__scene-item[xo-next] .feature-product-4__image {
    transform: rotate(-120deg);
  }
  [dir=ltr] .feature-product-4__scene-item[xo-next] .feature-product-4__image::after {
    transform: translate(-50%, -50%) scale(0);
  }
  [dir=rtl] .feature-product-4__scene-item[xo-next] .feature-product-4__image::after {
    transform: translate(50%, -50%) scale(0);
  }
}
@media (min-width: 992px) {
  [dir=ltr] .feature-product-4__scene-item[xo-next] .xo-image {
    transform: translate(-50%, -50%) scale(0) rotate(120deg);
  }
  [dir=rtl] .feature-product-4__scene-item[xo-next] .xo-image {
    transform: translate(50%, -50%) scale(0) rotate(120deg);
  }
}
.feature-product-4__scene-item[xo-next] .feature-product-4__atom-animate {
  opacity: 0;
  transform: translateY(20px);
}

.feature-product-4__scene-item[xo-active] {
  display: block;
}
.feature-product-4__scene-item[xo-active] .feature-product-4__image {
  transform: scale(1);
}