.xo-fieldset-popover__trigger {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  position: relative;
}
.xo-fieldset-popover__trigger svg {
  transition: all 0.5s;
  opacity: 0.6;
}

.xo-fieldset-popover__trigger::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.05rem;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  transition: width 0.3s;
}
[dir=ltr] .xo-fieldset-popover__trigger::before {
  left: 0;
}
[dir=rtl] .xo-fieldset-popover__trigger::before {
  right: 0;
}

.xo-fieldset-popover__trigger:hover::before {
  width: 100%;
}

.xo-fieldset-popover__trigger[xo-active]::before {
  width: 100%;
}
.xo-fieldset-popover__trigger[xo-active] svg {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.xo-fieldset-popover__label {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-align: center;
  opacity: 0.6;
}

.xo-fieldset-popover__popover {
  min-width: 25rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  overflow: hidden;
}

.xo-fieldset-popover__heading {
  padding: 1.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.3);
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  position: sticky;
  top: 0;
  z-index: 10;
}
.xo-fieldset-popover__heading .xo-btn__content {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.xo-fieldset-popover__heading .xo-btn__text {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.2rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.xo-fieldset-popover__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 400;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.6;
}

.xo-fieldset-popover__caption-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  padding: 0.2rem;
}
.xo-fieldset-popover__caption-icon svg {
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  opacity: 1;
}

.xo-fieldset-popover__content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.2rem;
  max-height: 35rem;
}

.xo-fieldset-popover__content:has(.xo-field-color-1--swatch) {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}