.xo-filters-content__empty {
  padding: 9.6rem 4rem;
}
.xo-filters-content__empty .xo-empty__title {
  color: foreground;
  text-align: center;
  font-size: calc(var(--font-body-scale) * 3.2rem);
  font-weight: 500;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}
.xo-filters-content__empty .xo-empty__content {
  color: foreground;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
}

.filter-content__grid {
  padding-top: 2rem;
}
@media (max-width: 767px) {
  .filter-content__grid {
    padding-top: 0;
  }
}

.filter-content__box {
  height: 100%;
  width: 100%;
  grid-column: span var(--column-span)/span var(--column-span);
  grid-row: span var(--row-span)/span var(--row-span);
}