.filters-search-content .xo-empty {
  width: fit-content;
  margin: auto;
}
.filters-search-content .xo-empty__icon {
  padding-inline-start: 0;
}

.filters-search-content__content--modifier {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.filters-search-content__item {
  height: 100%;
}

.filters-search-content__page {
  position: relative;
  height: 100%;
  min-height: 32.8rem;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
@media (min-width: 768px) {
  .filters-search-content__page {
    min-height: 26.9rem;
  }
}

.filters-search-content__page--radius {
  border-radius: var(--product-card-radius);
}

.filters-search-content__info a {
  display: inline-block;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  font-weight: 500;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.8 * 100%), transparent);
  text-decoration: none;
  transition: all 0.3s ease;
}
.filters-search-content__info a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filters-search-content__badge {
  display: inline-flex;
  position: absolute;
  bottom: 2.4rem;
  z-index: 9;
  border: 0.1rem solid transparent;
  border-radius: 4rem;
  padding: 0.6rem 1.3rem;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
}
[dir=ltr] .filters-search-content__badge {
  left: 2.4rem;
}
[dir=rtl] .filters-search-content__badge {
  right: 2.4rem;
}

.filters-search-content__text {
  display: inline-block;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  line-height: calc(1 + 0.1 / var(--font-body-scale));
  font-weight: 400;
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
}