.xo-footer-1 {
  height: 100%;
  padding: 0 2.2rem;
}
@media (min-width: 768px) {
  .xo-footer-1 {
    padding: 0 2.5rem;
  }
}

.xo-footer-1__top {
  padding: 0 0 5.5rem 0;
}
@media (min-width: 992px) {
  .xo-footer-1__top {
    padding: 0 0 5.5rem 3rem;
  }
}
@media (min-width: 1400px) {
  .xo-footer-1__top {
    padding: 0 0 7.3rem 4.8rem;
  }
}

.xo-footer-1__grid-logo {
  padding-bottom: 5.5rem;
}
@media (min-width: 768px) {
  .xo-footer-1__grid-logo {
    padding-bottom: 0;
  }
}

.xo-footer-1__logo {
  color: inherit;
  display: block;
  padding-bottom: 1.3rem;
}
@media (min-width: 768px) {
  .xo-footer-1__logo {
    padding-bottom: 1.2rem;
  }
}

.xo-footer-1__logo-image {
  width: var(--width_md);
}
@media (min-width: 992px) {
  .xo-footer-1__logo-image {
    width: var(--width_dt);
  }
}

.xo-footer-1__logo-name {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-footer-1__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.45 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 1;
  padding: 1.2rem 0 0 0;
}
@media (min-width: 768px) {
  .xo-footer-1__sub-heading {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}
@media (min-width: 1400px) {
  .xo-footer-1__sub-heading {
    padding: 1.2rem 5rem 0 0;
  }
}

.xo-footer-1__social {
  padding-top: 2.8rem;
}

.xo-footer-1__center {
  padding-bottom: 2.8rem;
}
@media (min-width: 992px) {
  .xo-footer-1__center {
    padding-bottom: 3rem;
  }
}

.xo-footer-1__input--radius .xo-footer-1__field-input {
  border-radius: var(--general-radius-3);
}
@media (max-width: 767px) {
  .xo-footer-1__input--radius .xo-footer-1__field-input {
    border-radius: var(--general-radius-1);
  }
}

.xo-footer-1__form-message {
  padding-top: 2rem;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.xo-footer-1__form-message svg {
  color: color-mix(in srgb, rgba(var(--color-success)) calc(1 * 100%), transparent);
}
.xo-footer-1__form-message .error-icon svg {
  color: color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
}

.xo-footer-1__field-input {
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(var(--color-foreground-5), 0.1);
}
.xo-footer-1__field-input .xo-field-input {
  padding: 0;
  border: none;
}
.xo-footer-1__field-input .xo-field-input--radius {
  border-radius: var(--general-radius-3);
}
.xo-footer-1__field-input .xo-field-input__input {
  padding: 2.1rem 2rem 2.3rem 2rem;
  color: rgba(var(--color-foreground-5), 0.65);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-body-scale) * 2rem);
}
.xo-footer-1__field-input .xo-field-input__input::placeholder {
  font-size: calc(var(--font-body-scale) * 2rem);
  color: rgba(var(--color-foreground-5), 1);
  font-weight: var(--font-heading-weight);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 768px) {
  .xo-footer-1__field-input .xo-field-input__input {
    font-size: calc(var(--font-body-scale) * 3rem);
    letter-spacing: calc(var(--font-body-scale) * -0.15rem);
  }
  .xo-footer-1__field-input .xo-field-input__input::placeholder {
    font-size: calc(var(--font-body-scale) * 3rem);
    letter-spacing: calc(var(--font-body-scale) * -0.15rem);
  }
}
@media (min-width: 992px) {
  .xo-footer-1__field-input .xo-field-input__input {
    font-size: calc(var(--font-body-scale) * 5rem);
    line-height: calc(1 + 0.04 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.25rem);
    padding: 4.2rem 3.8rem 4.3rem 4.6rem;
  }
  .xo-footer-1__field-input .xo-field-input__input::placeholder {
    font-size: calc(var(--font-body-scale) * 5rem);
    line-height: calc(1 + 0.04 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.25rem);
  }
}
.xo-footer-1__field-input .xo-field-input__input:focus {
  color: rgba(var(--color-foreground-5), 1);
  opacity: 1;
}

.xo-footer-1__field-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
[dir=ltr] .xo-footer-1__field-button {
  right: 3.8rem;
}
[dir=rtl] .xo-footer-1__field-button {
  left: 3.8rem;
}
@media (max-width: 767px) {
  .xo-footer-1__field-button {
    display: none;
  }
}

.xo-footer-1__field-button--radius {
  border-radius: var(--circle-radius);
}

.xo-footer-1__input--hidden {
  display: none;
}

.xo-footer-1__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
@media (min-width: 768px) {
  .xo-footer-1__bottom {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .xo-footer-1__bottom {
    padding: 0 1.5rem 0 3rem;
  }
}
@media (min-width: 1400px) {
  .xo-footer-1__bottom {
    padding: 0 2.1rem 0 4.8rem;
  }
}

.xo-footer-1__bottom-left {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}

.xo-footer-1__bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 1.1rem;
  padding-top: 1.2rem;
}
@media (min-width: 768px) {
  .xo-footer-1__bottom-right {
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    padding-top: 0;
  }
}

.xo-footer-1__policy-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.xo-footer-1__policy-list a {
  position: relative;
  color: inherit;
  transition: all 0.3s;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  line-height: calc(1 + 0.23 / var(--font-body-scale));
}
@media (min-width: 768px) {
  .xo-footer-1__policy-list a {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}
.xo-footer-1__policy-list a:hover {
  color: color-mix(in srgb, rgba(var(--color-accent-3)) calc(1 * 100%), transparent);
}
.xo-footer-1__policy-list a:hover .xo-footer-1__line-hover {
  width: 100%;
}

.xo-footer-1__policy-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.xo-footer-1__policy-list-item:first-child .xo-footer-1__policy-dot {
  display: none;
}

.xo-footer-1__policy-dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  opacity: 0.4;
}

.xo-footer-1__copyright {
  font-size: calc(var(--font-body-scale) * 1.3rem);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  line-height: calc(1 + 0.23 / var(--font-body-scale));
  opacity: 0.3;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .xo-footer-1__copyright {
    opacity: 0.45;
    font-size: calc(var(--font-body-scale) * 1.4rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
    padding-bottom: 0;
  }
}
.xo-footer-1__copyright a {
  color: inherit;
  transition: 0.3s;
}
.xo-footer-1__copyright a:hover {
  text-decoration: underline;
}

.xo-footer-1__list-payment {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  gap: 0.4rem;
}

.xo-footer-1__payment-item svg {
  height: 100%;
}

.xo-footer-1__follow-on-shop {
  padding-top: 2rem;
}

.xo-footer-1__copy-right {
  font-size: calc(var(--font-body-scale) * 1.3rem);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  line-height: calc(1 + 0.23 / var(--font-body-scale));
  word-break: break-word;
}
@media (min-width: 768px) {
  .xo-footer-1__copy-right {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}
.xo-footer-1__copy-right a {
  color: inherit;
  transition: all 0.3s;
}
.xo-footer-1__copy-right a:hover {
  color: color-mix(in srgb, rgba(var(--color-accent-3)) calc(1 * 100%), transparent);
}

.xo-footer-1__form-error {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  padding: 1rem;
  margin: 1rem 0;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
}
.xo-footer-1__form-error svg {
  color: color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
}

.xo-footer-1__image {
  width: 100%;
  height: 100%;
}

.xo-footer-1__image--radius {
  border-radius: 1rem;
  overflow: hidden;
}

.xo-footer-1__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .xo-footer-1__image--desktop {
    display: block;
  }
}

.xo-footer-1__image--desktop {
  display: block;
}
@media (min-width: 768px) {
  .xo-footer-1__image--desktop {
    display: none;
  }
}