.xo-footer-2 {
  height: 100%;
}

.xo-footer-2--image-small {
  padding: 0 2.2rem;
}
@media (min-width: 992px) {
  .xo-footer-2--image-small {
    padding: 0 2.5rem;
  }
}
.xo-footer-2--image-small .xo-footer-2__top {
  padding: 4.2rem 0 0 0;
}
.xo-footer-2--image-small .xo-footer-2__top .xo-footer-2__grid-nav {
  padding-top: 0;
}
@media (min-width: 992px) {
  .xo-footer-2--image-small .xo-footer-2__top {
    padding: 4.2rem 0 0 2.4rem;
  }
  .xo-footer-2--image-small .xo-footer-2__top .xo-footer-2__grid-nav {
    padding-top: 2.7rem;
  }
}
@media (min-width: 1400px) {
  .xo-footer-2--image-small .xo-footer-2__top {
    padding: 4.9rem 0 0 4.8rem;
  }
}

.xo-footer-2--image-large .xo-footer-2__left {
  padding: 4.2rem 2.2rem 0 2.2rem;
}
@media (min-width: 992px) {
  .xo-footer-2--image-large .xo-footer-2__left {
    padding: 4.2rem 0 2.7rem 3.2rem;
  }
}
@media (min-width: 1600px) {
  .xo-footer-2--image-large .xo-footer-2__left {
    padding: 5.3rem 0 2.7rem 7.3rem;
  }
}
.xo-footer-2--image-large .xo-footer-2__image--radius {
  border-radius: 0;
}

.xo-footer-2__top .xo-footer-2__grid {
  padding-bottom: 3.2rem;
}
@media (min-width: 1400px) {
  .xo-footer-2__top .xo-footer-2__grid {
    padding-bottom: 5.3rem;
  }
}
@media (min-width: 1600px) {
  .xo-footer-2__top .xo-footer-2__grid {
    padding-bottom: 7.3rem;
  }
}
.xo-footer-2__top .xo-footer-2__grid-nav {
  padding-top: 4.1rem;
}
@media (min-width: 992px) {
  .xo-footer-2__top .xo-footer-2__grid-nav {
    padding-top: 2.7rem;
  }
}

.xo-footer-2__grid-logo {
  padding-bottom: 5.5rem;
}
@media (min-width: 768px) {
  .xo-footer-2__grid-logo {
    padding-bottom: 0;
  }
}

.xo-footer-2__logo {
  color: inherit;
  display: block;
  padding-bottom: 1.3rem;
}
@media (min-width: 768px) {
  .xo-footer-2__logo {
    padding-bottom: 1.2rem;
  }
}

.xo-footer-2__logo-image {
  width: var(--width_md);
}
@media (min-width: 992px) {
  .xo-footer-2__logo-image {
    width: var(--width_dt);
  }
}

.xo-footer-2__logo-name {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-footer-2__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.45 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 1;
  padding: 1.2rem 0 0 0;
}
@media (min-width: 768px) {
  .xo-footer-2__sub-heading {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}
@media (min-width: 1400px) {
  .xo-footer-2__sub-heading {
    padding: 1.2rem 5rem 0 0;
  }
}

.xo-footer-2__social {
  padding-top: 2.8rem;
}

.xo-footer-2__social--hidden {
  display: none;
}

.xo-footer-2__middle {
  padding-bottom: 2.8rem;
}
@media (min-width: 992px) {
  .xo-footer-2__middle {
    padding-bottom: 3rem;
  }
}

.xo-footer-2__input--radius .xo-footer-2__field-input {
  border-radius: var(--general-radius-3);
}
@media (max-width: 767px) {
  .xo-footer-2__input--radius .xo-footer-2__field-input {
    border-radius: var(--general-radius-1);
  }
}

.xo-footer-2__form-message {
  padding-top: 2rem;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.xo-footer-2__form-message svg {
  color: color-mix(in srgb, rgba(var(--color-success)) calc(1 * 100%), transparent);
}
.xo-footer-2__form-message .error-icon svg {
  color: color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
}

.xo-footer-2__field-input {
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(var(--color-foreground-5), 0.1);
}
.xo-footer-2__field-input .xo-field-input {
  padding: 0;
  border: none;
}
.xo-footer-2__field-input .xo-field-input--radius {
  border-radius: var(--general-radius-3);
}
.xo-footer-2__field-input .xo-field-input__input {
  padding: 2.1rem 2rem 2.3rem 2rem;
  font-weight: var(--font-heading-weight);
  color: rgba(var(--color-foreground-5), 0.65);
  font-size: calc(var(--font-heading-4-scale) * 2.5rem);
  line-height: calc(1 + 0.04 / var(--font-heading-4-scale));
  letter-spacing: calc(var(--font-heading-4-scale) * -0.125rem);
}
.xo-footer-2__field-input .xo-field-input__input::placeholder {
  color: rgba(var(--color-foreground-5), 0.65);
  font-size: calc(var(--font-heading-4-scale) * 2.5rem);
  line-height: calc(1 + 0.04 / var(--font-heading-4-scale));
  letter-spacing: calc(var(--font-heading-4-scale) * -0.125rem);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 992px) {
  .xo-footer-2__field-input .xo-field-input__input {
    padding: 2.4rem 8rem 2.4rem 1.8rem;
  }
}
@media (min-width: 1400px) {
  .xo-footer-2__field-input .xo-field-input__input {
    padding: 4.2rem 3.8rem 4.3rem 4.6rem;
    font-size: calc(var(--font-heading-4-scale) * 5rem);
    line-height: calc(1 + 0.04 / var(--font-heading-4-scale));
    letter-spacing: calc(var(--font-heading-4-scale) * -0.25rem);
  }
}
.xo-footer-2__field-input .xo-field-input__input:focus {
  color: rgba(var(--color-foreground-5), 1);
  opacity: 1;
}

.xo-footer-2__field-button {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .xo-footer-2__field-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  [dir=ltr] .xo-footer-2__field-button {
    right: 2rem;
  }
  [dir=rtl] .xo-footer-2__field-button {
    left: 2rem;
  }
}
@media (min-width: 1200px) {
  [dir=ltr] .xo-footer-2__field-button {
    right: 3.8rem;
  }
  [dir=rtl] .xo-footer-2__field-button {
    left: 3.8rem;
  }
}

.xo-footer-2__field-button--radius {
  border-radius: var(--circle-radius);
}

.xo-footer-2__input--hidden {
  display: none;
}

.xo-footer-2__bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.xo-footer-2__bottom-left {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}

.xo-footer-2__bottom-right {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1.1rem;
}
@media (min-width: 768px) {
  .xo-footer-2__bottom-right {
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
  }
}

.xo-footer-2__policy-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.xo-footer-2__policy-list a {
  position: relative;
  color: inherit;
  transition: all 0.3s;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  line-height: calc(1 + 0.23 / var(--font-body-scale));
}
@media (min-width: 768px) {
  .xo-footer-2__policy-list a {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}
.xo-footer-2__policy-list a:hover {
  color: color-mix(in srgb, rgba(var(--color-accent-3)) calc(1 * 100%), transparent);
}
.xo-footer-2__policy-list a:hover .xo-footer-2__line-hover {
  width: 100%;
}

.xo-footer-2__policy-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.xo-footer-2__policy-list-item:first-child .xo-footer-2__policy-dot {
  display: none;
}

.xo-footer-2__policy-dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  opacity: 0.4;
}

.xo-footer-2__copyright {
  font-size: calc(var(--font-body-scale) * 1.3rem);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  line-height: calc(1 + 0.23 / var(--font-body-scale));
  opacity: 0.3;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .xo-footer-2__copyright {
    opacity: 0.45;
    font-size: calc(var(--font-body-scale) * 1.4rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
    padding-bottom: 0;
  }
}
.xo-footer-2__copyright a {
  color: inherit;
  transition: 0.3s;
}
.xo-footer-2__copyright a:hover {
  text-decoration: underline;
}

.xo-footer-2__list-payment {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  gap: 0.4rem;
}

.xo-footer-2__payment-item svg {
  height: 100%;
}

.xo-footer-2__follow-on-shop {
  padding-top: 2rem;
}

.xo-footer-2__copy-right {
  font-size: calc(var(--font-body-scale) * 1.3rem);
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  line-height: calc(1 + 0.23 / var(--font-body-scale));
  word-break: break-word;
}
@media (min-width: 768px) {
  .xo-footer-2__copy-right {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}
.xo-footer-2__copy-right a {
  color: inherit;
  transition: all 0.3s;
}
.xo-footer-2__copy-right a:hover {
  color: color-mix(in srgb, rgba(var(--color-accent-3)) calc(1 * 100%), transparent);
}

.xo-footer-2__form-error {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  padding: 1rem;
  margin: 1rem 0;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
}
.xo-footer-2__form-error svg {
  color: color-mix(in srgb, rgba(var(--color-error)) calc(1 * 100%), transparent);
}

.xo-footer-2__image {
  width: 100%;
  height: 100%;
}

.xo-footer-2__image--radius {
  border-radius: 1rem;
  overflow: hidden;
}

.xo-footer-2__image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .xo-footer-2__image--desktop {
    display: block;
  }
}

.xo-footer-2__image--mobile {
  display: block;
}
@media (min-width: 768px) {
  .xo-footer-2__image--mobile {
    display: none;
  }
}