xo-gallery-portal {
  background: #FFFFFF;
}
xo-gallery-portal xo-gallery-prev,
xo-gallery-portal xo-gallery-next {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid rgb(229, 229, 229);
  color: rgba(0, 0, 0, 0.6117647059);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
xo-gallery-portal xo-gallery-prev svg,
xo-gallery-portal xo-gallery-next svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: rgba(0, 0, 0, 0.6117647059);
}
xo-gallery-portal xo-gallery-prev:hover,
xo-gallery-portal xo-gallery-next:hover {
  opacity: 0.6;
}
[dir=ltr] xo-gallery-portal xo-gallery-prev {
  left: 2.4rem;
}
[dir=rtl] xo-gallery-portal xo-gallery-prev {
  right: 2.4rem;
}
xo-gallery-portal xo-gallery-prev svg {
  margin-inline-start: -0.3rem;
}
[dir=ltr] xo-gallery-portal xo-gallery-next {
  right: 2.4rem;
}
[dir=rtl] xo-gallery-portal xo-gallery-next {
  left: 2.4rem;
}
xo-gallery-portal xo-gallery-next svg {
  margin-inline-end: -0.3rem;
}
xo-gallery-portal xo-gallery-counter {
  top: 2.4rem;
  padding: 0;
  color: rgba(0, 0, 0, 0.6117647059);
}
[dir=ltr] xo-gallery-portal xo-gallery-counter {
  left: 2.4rem;
}
[dir=rtl] xo-gallery-portal xo-gallery-counter {
  right: 2.4rem;
}
xo-gallery-portal xo-modal-trigger {
  top: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.6117647059);
  border: 0.1rem solid rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
}
[dir=ltr] xo-gallery-portal xo-modal-trigger {
  right: 2.4rem;
}
[dir=rtl] xo-gallery-portal xo-modal-trigger {
  left: 2.4rem;
}
xo-gallery-portal xo-modal-trigger svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.5s;
  will-change: transform;
  fill: rgba(0, 0, 0, 0.6117647059);
}
xo-gallery-portal xo-modal-trigger:hover {
  opacity: 0.6;
}
xo-gallery-portal xo-modal-trigger:hover svg {
  transform: rotate(90deg);
}
xo-gallery-portal xo-modal[xo-name="1"] xo-modal-pan {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes zoom-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

xo-gallery-portal[xo-type=scroll] img {
  width: auto;
}