/* Base */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: calc(var(--font-body-scale) * 62.5%);
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  max-width: var(--page-width);
  margin: 0 auto;
  flex: 1 0 auto;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

::selection {
  background-color: rgba(var(--color-foreground), 0.2);
}

.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  height: auto;
  transition: 0.3s;
  font-family: var(--font-body-family);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: calc(1 + 0.44 / var(--font-body-scale));
}
@media (max-width: 767px) {
  .button {
    font-size: 1.5rem;
    line-height: calc(1 + 0.33 / var(--font-body-scale));
  }
}

.button--radius {
  border-radius: var(--button-radius-1);
}

.button:hover {
  opacity: 0.7;
}

@media print {
  .no-print {
    display: none;
  }
}
.gradient {
  background: rgb(var(--color-background));
  background: var(--gradient-background);
  background-attachment: fixed;
}

.gift-card {
  width: 100%;
  margin: 0 auto;
  padding: 8.2rem 0 10.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
@media (min-width: 740px) {
  .gift-card {
    width: 54rem;
    padding: 14.5rem 0 23.4rem 0;
  }
}
@media (min-width: 992px) {
  .gift-card {
    padding: 10.6rem 0 11.9rem 0;
  }
}
@media (min-width: 1400px) {
  .gift-card {
    padding: 16.1rem 0 20.8rem 0;
  }
}

.gift-card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.7rem;
}
@media (min-width: 740px) {
  .gift-card__container {
    padding: 0 1.4rem;
  }
}
@media (min-width: 992px) {
  .gift-card__container {
    padding: 0 2rem;
  }
}
@media (min-width: 1400px) {
  .gift-card__container {
    padding: 0 2.7rem;
  }
}

.gift-card__head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.gift-card__heading {
  margin: 0;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  text-align: center;
  font-size: 25px;
  line-height: calc(1 + 0.04 / var(--font-body-scale));
  letter-spacing: calc(var(--font-heading-scale) * -0.125rem);
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 992px) {
  .gift-card__heading {
    font-size: 42px;
    line-height: calc(1 + -0.02 / var(--font-heading-scale));
    letter-spacing: calc(var(--font-heading-scale) * -0.21rem);
  }
}
@media (min-width: 1400px) {
  .gift-card__heading {
    font-size: 50px;
    line-height: calc(1 + 0.04 / var(--font-body-scale));
    letter-spacing: calc(var(--font-heading-scale) * -0.25rem);
  }
}

.gift-card__price {
  margin: 0 0 2rem 0;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  line-height: calc(1 + 0.04 / var(--font-body-scale));
}

.gift-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift-card__sub-heading span {
  display: block;
  font-family: var(--font-body-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(1 + 0.38 / var(--font-body-scale));
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.75;
  padding-top: 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .gift-card__sub-heading span {
    padding-top: 0.7rem;
    font-size: 1.6rem;
    line-height: calc(1 + 0.37 / var(--font-body-scale));
  }
}

.gift-card__number {
  margin: 0;
  padding: 1.5rem 0 0.6rem 0;
  font-family: var(--font-body-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(1 + 0.43 / var(--font-body-scale));
  text-align: center;
}

.gift-card__qr-code {
  padding-top: 2.3rem;
}
@media (min-width: 992px) {
  .gift-card__qr-code {
    padding-top: 4rem;
  }
}
.gift-card__qr-code img {
  width: 14rem;
  height: 14rem;
}

.button--primary {
  padding: 1.4rem 3.5rem;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  text-decoration: none;
  width: 23.1rem;
}
@media (min-width: 992px) {
  .button--primary {
    width: 43.2rem;
  }
}

.button--secondary {
  padding: 1.4rem 3.5rem;
  background-color: transparent;
  color: color-mix(in srgb, rgba(var(--color-secondary-button-text)) calc(1 * 100%), transparent);
  border: 0.1rem solid rgba(var(--color-button), 0.4);
  width: 23.1rem;
}
@media (min-width: 992px) {
  .button--secondary {
    width: 43.2rem;
  }
}
.button--secondary:hover {
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  opacity: 1 !important;
}

.button--link {
  padding: 0;
  background-color: transparent;
  font-family: var(--font-body-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(1 + 0.43 / var(--font-body-scale));
  text-decoration: underline;
  opacity: 0.8;
}

.gift-card__copy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.gift-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.5rem;
}

.gift-card__button-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 3.6rem;
}
@media (min-width: 992px) {
  .gift-card__button-group {
    padding-top: 5.2rem;
  }
}

.gift-card__copy-success {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-family: var(--font-body-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(1 + 0.43 / var(--font-body-scale));
}

.gift-card__copy-success.active {
  padding: 1rem 0;
}