.image-button {
  position: relative;
}
.image-button:hover .image-button__button {
  opacity: 1;
  transition: all 0.5s ease;
}
.image-button:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.image-button__image {
  overflow: hidden;
}
.image-button__image .xo-image {
  width: 100%;
  height: 100%;
}
.image-button__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.image-button__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.image-button__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.image-button__image--radius {
  border-radius: 1rem;
}

.image-button__button {
  position: absolute;
  top: 50%;
  z-index: 2;
  transition: all 0.5s ease;
}
[dir=ltr] .image-button__button {
  left: 50%;
  transform: translate(-50%, -50%);
}
[dir=rtl] .image-button__button {
  right: 50%;
  transform: translate(50%, -50%);
}
@media (min-width: 992px) {
  .image-button__button {
    opacity: 0;
  }
}