.img-banner-1 {
  position: relative;
  height: 100dvh;
}
@media (min-width: 992px) {
  .img-banner-1 {
    height: 150vh;
  }
}

.img-banner-1__inner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
[dir=ltr] .img-banner-1__inner {
  left: 0;
}
[dir=rtl] .img-banner-1__inner {
  right: 0;
}

.img-banner-1__pr {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-banner-1__pr-2 {
  width: 100%;
  height: 100%;
}

.img-banner-1__bg {
  width: 100%;
  height: 100%;
  background-image: var(--img-mobile);
  background-size: cover;
  background-position: center;
  opacity: 1 !important;
}
@media (min-width: 768px) {
  .img-banner-1__bg {
    background-image: var(--img-desktop);
  }
}
.img-banner-1__bg svg {
  width: 100%;
  height: 100%;
}

.img-banner-1__body {
  height: 100%;
  padding: 0 2.3rem;
}
@media (min-width: 1400px) {
  .img-banner-1__body {
    padding: 0 3.8rem;
  }
}

.img-banner-1__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2.8rem;
  padding-bottom: 4.4rem;
}
@media (min-width: 768px) {
  .img-banner-1__content {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4.1rem;
    padding-bottom: 0;
  }
}

.img-banner-1__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-1-scale) * 5.3rem);
  line-height: calc(1 + -0.01 / var(--font-heading-1-scale));
  letter-spacing: calc(var(--font-heading-1-scale) * -0.1rem);
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .img-banner-1__heading {
    font-size: calc(var(--font-heading-1-scale) * 10rem);
    line-height: calc(1 + 0.04 / var(--font-heading-1-scale));
    letter-spacing: calc(var(--font-heading-1-scale) * -0.4rem);
  }
}

.img-banner-1__word {
  display: flex;
  overflow: hidden;
}

.img-banner-1__content--style-2 {
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0;
  padding-bottom: 0;
}
.img-banner-1__content--style-2 .img-banner-1__heading {
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .img-banner-1__content--style-2 .img-banner-1__heading {
    font-size: calc(var(--font-heading-1-scale) * 12rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.2rem);
  }
}
@media (min-width: 1400px) {
  .img-banner-1__content--style-2 .img-banner-1__heading {
    font-size: calc(var(--font-heading-1-scale) * 14rem);
  }
}
@media (min-width: 1600px) {
  .img-banner-1__content--style-2 .img-banner-1__heading {
    font-size: calc(var(--font-heading-1-scale) * 16rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.6rem);
  }
}
@media (min-width: 1700px) {
  .img-banner-1__content--style-2 .img-banner-1__heading {
    font-size: calc(var(--font-heading-1-scale) * 17rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.6rem);
  }
}
@media (min-width: 1900px) {
  .img-banner-1__content--style-2 .img-banner-1__heading {
    font-size: calc(var(--font-heading-1-scale) * 19.3rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.5rem);
  }
}
.img-banner-1__content--style-2 .img-banner-1__button {
  display: none;
}