.img-banner-2 {
  position: relative;
  height: 150vh;
}
@media (max-width: 767px) {
  .img-banner-2 {
    height: 100dvh;
  }
}
.img-banner-2 .xo-video--modifier {
  object-fit: cover;
}

.img-banner-2--style-1 .img-banner-2__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 14.7rem;
}
@media (min-width: 768px) {
  .img-banner-2--style-1 .img-banner-2__content {
    gap: 2.4rem;
    justify-content: space-between;
  }
}
.img-banner-2--style-1 .img-banner-2__bottom {
  padding-bottom: 2rem;
}

.img-banner-2--style-2 .img-banner-2__content {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 9.1rem 0 3.4rem 0;
}
@media (min-width: 992px) {
  .img-banner-2--style-2 .img-banner-2__content {
    gap: 2.4rem;
    padding: 12.5rem 0 7.4rem 0;
  }
}
.img-banner-2--style-2 .img-banner-2__box {
  padding-top: 0;
}

.img-banner-2__inner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
[dir=ltr] .img-banner-2__inner {
  left: 0;
}
[dir=rtl] .img-banner-2__inner {
  right: 0;
}

.img-banner-2__pr {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-banner-2__pr .xo-image,
.img-banner-2__pr .xo-image__placeholder,
.img-banner-2__pr .placeholder-svg,
.img-banner-2__pr img {
  width: 100%;
  height: 100%;
}

.img-banner-2__bg {
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.img-banner-2__bg--mobile {
  display: block;
}
@media (min-width: 768px) {
  .img-banner-2__bg--mobile {
    display: none;
  }
}

.img-banner-2__bg--desktop {
  display: none;
}
@media (min-width: 768px) {
  .img-banner-2__bg--desktop {
    display: block;
  }
}

.img-banner-2__body {
  height: 100%;
  padding: 0 2.3rem;
}
@media (min-width: 1400px) {
  .img-banner-2__body {
    padding: 0 3.8rem;
  }
}

.img-banner-2__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 767px) {
  .img-banner-2__content {
    justify-content: center;
  }
}

.img-banner-2__box {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  padding-top: 20.4rem;
}
@media (max-width: 767px) {
  .img-banner-2__box {
    padding-top: 0;
    gap: 2.4rem;
    justify-content: center;
  }
}
@media (min-width: 1600px) {
  .img-banner-2__box {
    padding-top: 34.4rem;
  }
}

.img-banner-2__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-1-scale) * 5.3rem);
  line-height: calc(1 + -0.01 / var(--font-heading-1-scale));
  letter-spacing: calc(var(--font-heading-1-scale) * -0.1rem);
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  z-index: 99999;
  margin: 0;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .img-banner-2__heading {
    font-size: calc(var(--font-heading-1-scale) * 10rem);
    line-height: calc(1 + 0.04 / var(--font-heading-1-scale));
    letter-spacing: calc(var(--font-heading-1-scale) * -0.4rem);
  }
}
@media (min-width: 1200px) {
  .img-banner-2__heading {
    font-size: calc(var(--font-heading-1-scale) * 12rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.2rem);
  }
}
@media (min-width: 1400px) {
  .img-banner-2__heading {
    font-size: calc(var(--font-heading-1-scale) * 14rem);
  }
}
@media (min-width: 1600px) {
  .img-banner-2__heading {
    font-size: calc(var(--font-heading-1-scale) * 16rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.6rem);
  }
}
@media (min-width: 1700px) {
  .img-banner-2__heading {
    font-size: calc(var(--font-heading-1-scale) * 17rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.6rem);
  }
}
@media (min-width: 1900px) {
  .img-banner-2__heading {
    font-size: calc(var(--font-heading-1-scale) * 19.3rem);
    letter-spacing: calc(var(--font-heading-1-scale) * -0.5rem);
  }
}

.img-banner-2__word {
  display: flex;
  overflow: hidden;
}

.img-banner-2__description {
  width: 100%;
  max-width: 30.6rem;
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(0.5 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.1 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.018rem);
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 992px) {
  .img-banner-2__description {
    max-width: 41.8rem;
    font-size: calc(var(--font-body-scale) * 2rem);
    line-height: calc(1 + 0.1 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  }
}