.img-with-text-6__left {
  display: flex;
  gap: 1.4rem;
  padding-inline-end: 0;
}
@media (min-width: 768px) {
  .img-with-text-6__left {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .img-with-text-6__left {
    padding-inline-end: 3.4rem;
  }
}
@media (min-width: 1400px) {
  .img-with-text-6__left {
    padding-inline-end: 5.6rem;
  }
}

.img-with-text-6__image {
  height: 100%;
  border-radius: 1.2rem;
  overflow: hidden;
}
.img-with-text-6__image:hover {
  cursor: pointer;
}
.img-with-text-6__image:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.img-with-text-6__image .xo-image {
  width: 100%;
  height: 100%;
}
.img-with-text-6__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.img-with-text-6__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.img-with-text-6__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.img-with-text-6__sub-heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.4;
  padding-bottom: 1.2rem;
}

.img-with-text-6__content {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
}

.img-with-text-6__button {
  padding-top: 2.4rem;
}
@media (min-width: 992px) {
  .img-with-text-6__button {
    padding-top: 3.5rem;
  }
}

.img-with-text-6__text {
  padding: 1rem 0 0 0;
}
@media (min-width: 992px) {
  .img-with-text-6__text {
    padding: 4rem 0;
  }
}
@media (min-width: 1400px) {
  .img-with-text-6__text {
    padding: 8rem 0;
  }
}