.img-with-text-5 .xo-image {
  width: 100%;
  height: 100%;
}
.img-with-text-5 img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  will-change: transform;
}
.img-with-text-5 .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.img-with-text-5 .placeholder-svg {
  width: 100%;
  height: 100%;
}

.img-with-text-5--modifier .img-with-text-5__text {
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .img-with-text-5--modifier .img-with-text-5__text {
    transform: translateY(calc(100% - 2.5rem));
  }
}
@media (min-width: 1400px) {
  .img-with-text-5--modifier .img-with-text-5__text {
    transform: translateY(calc(100% - 3.4rem));
  }
}
@media (min-width: 992px) {
  .img-with-text-5--modifier .img-with-text-5__sub-title {
    opacity: 0;
  }
}
.img-with-text-5--modifier .img-with-text-5__box:hover .img-with-text-5__text {
  transform: translateY(0);
}

.img-with-text-5__head {
  width: 100%;
  margin: 0 auto;
  padding: 2.2rem 2.2rem 3.2rem 2.2rem;
  text-align: center;
}
@media (min-width: 992px) {
  .img-with-text-5__head {
    padding-bottom: 4.8rem;
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .img-with-text-5__head {
    padding-bottom: 6.7rem;
    width: 32%;
  }
}

.img-with-text-5__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.37 / var(--font-body-scale));
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.4;
  padding-bottom: 1.3rem;
}

.img-with-text-5__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.img-with-text-5__sub-heading,
.img-with-text-5__sub-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 400;
  line-height: calc(1 + 0.45 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  opacity: 0.8;
}

.img-with-text-5__sub-heading {
  padding-top: 2.5rem;
  word-break: break-word;
  word-wrap: break-word;
}

.img-with-text-5__title {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
  transition: all 0.3s ease-in-out;
}

.img-with-text-5__sub-title {
  padding-top: 0.8rem;
  opacity: 1;
  transition: all 0.3s;
}

.img-with-text-5__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
}
.img-with-text-5__icon img {
  object-fit: contain;
}

.img-with-text-5__banner {
  position: relative;
  aspect-ratio: var(--aspect-ratio-mb);
}
@media (min-width: 768px) {
  .img-with-text-5__banner {
    aspect-ratio: var(--aspect-ratio-dt);
  }
}

.img-with-text-5__image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
[dir=ltr] .img-with-text-5__image {
  left: 0;
}
[dir=rtl] .img-with-text-5__image {
  right: 0;
}

.img-with-text-5__image-desktop {
  height: 100%;
  display: none;
}
@media (min-width: 992px) {
  .img-with-text-5__image-desktop {
    display: block;
  }
}

.img-with-text-5__image-mobile {
  height: 100%;
  display: block;
}
@media (min-width: 992px) {
  .img-with-text-5__image-mobile {
    display: none;
  }
}

.img-with-text-5__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4.3rem;
  padding: 2.4rem;
  border-radius: 2rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
@media (max-width: 991px) {
  .img-with-text-5__box {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .img-with-text-5__box {
    min-height: 28.5rem;
    gap: 6.3rem;
    padding: 2.5rem 3.8rem 2.5rem 3rem;
  }
}
@media (min-width: 1400px) {
  .img-with-text-5__box {
    padding: 3.4rem 5.8rem 3.4rem 4rem;
  }
}
.img-with-text-5__box:hover .img-with-text-5__sub-title {
  opacity: 1;
}

.img-with-text-5__container {
  height: 100%;
}

.img-with-text-5__content {
  height: 100%;
  padding-bottom: 3.2rem;
}
@media (max-width: 991px) {
  .img-with-text-5__content {
    height: unset;
    position: absolute;
    width: calc(100% - 4rem);
    bottom: 0;
  }
  [dir=ltr] .img-with-text-5__content {
    left: 2rem;
  }
  [dir=rtl] .img-with-text-5__content {
    right: 2rem;
  }
}
@media (min-width: 992px) {
  .img-with-text-5__content {
    padding-bottom: 5.4rem;
  }
}
@media (min-width: 1400px) {
  .img-with-text-5__content {
    padding-bottom: 7.8rem;
  }
}

.img-with-text-5__grid {
  width: 100%;
}

.img-with-text-5__desktop {
  height: 100%;
  display: none;
}
@media (min-width: 992px) {
  .img-with-text-5__desktop {
    display: flex;
    align-items: end;
  }
}

.img-with-text-5__mobile {
  height: 100%;
  display: block;
}
@media (min-width: 992px) {
  .img-with-text-5__mobile {
    display: none;
  }
}

.img-with-text-5__specification {
  height: 100%;
}