.xo-information-footer__label {
  display: block;
  padding-bottom: 1.2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  opacity: 0.65;
}
@media (min-width: 768px) {
  .xo-information-footer__label {
    padding-bottom: 1rem;
  }
}

.xo-information-footer__value {
  display: block;
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
}
@media (max-width: 767px) {
  .xo-information-footer__value {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  }
}