.login-form__item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--color-background));
}

.login-form__item-input {
  width: 100%;
  display: inline-flex;
}

.login-form__item-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}
[dir=ltr] .login-form__item-icon {
  right: 1.6rem;
}
[dir=rtl] .login-form__item-icon {
  left: 1.6rem;
}

.login-form__icon-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.1s;
}

.login-form__icon-hide.active {
  display: none;
  transition: ease-in 0.1s;
}

.login-form__icon-open {
  display: none;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.1s;
}

.login-form__icon-open.active {
  display: flex;
  transition: ease-in 0.1s;
}

.login-form__sign-in {
  padding-top: 2.4rem;
}
.login-form__sign-in .xo-btn__text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(1 + 0.26 / var(--font-heading-scale));
}

.login-form__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgb(var(--color-border), 0.4);
}
@media (min-width: 768px) {
  .login-form__footer {
    justify-content: space-between;
    gap: 1rem;
  }
}
.login-form__footer .login-form__left-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.7;
  padding-inline-end: 0.8rem;
}

@media (max-width: 767px) {
  .login-form__footer-left {
    text-align: center;
  }
}