/* stylelint-disable */
/* stylelint-enable */
/*MIXINS*/
body .shopify-section h1.xo-page-heading__heading {
  margin-bottom: 1.2rem;
  color: var(--color-black);
  font-family: var(--font-beausite-fit-web);
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1;
}
body .shopify-section h1.xo-page-heading__heading p {
  color: var(--color-black);
  font-family: var(--font-beausite-fit-web);
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1;
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__table {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__table thead {
    display: block;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__table thead .xo-cart-table__head-row {
    display: grid;
    grid-template-columns: 1fr 14rem 14rem;
    gap: 3.2rem;
    margin-bottom: 6rem;
    padding: 0;
    border: unset;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__table thead .xo-cart-table__head-row th {
    width: auto;
    padding: 0;
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: 1.6;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__table thead .xo-cart-table__head-row th.xo-cart-table__head-quantity, body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__table thead .xo-cart-table__head-row th.xo-cart-table__head-total {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body {
    display: block;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row {
  border: unset;
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 12rem 12rem;
    gap: 3.2rem;
    padding: 3.6rem;
    border-top: 0.1rem solid var(--color-black);
    box-sizing: border-box;
  }
}
@media (min-width: 1400px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row {
    gap: 4rem;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-quantity {
  width: 11.2rem;
  height: 4.5rem;
  padding: 0rem 0.2rem;
  border: 0.1rem solid var(--color-black);
  border-radius: 0;
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-quantity {
    width: 12.5rem;
    height: 5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-quantity .xo-quantity__button svg {
  width: 2rem;
  height: 2rem;
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-quantity .xo-quantity__number {
  padding: 0;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-quantity .xo-quantity__number {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__row-quantity,
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__row-total {
    padding: 0;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__row-total .xo-cart-table__price {
    top: 0;
    color: var(--color-black);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
  }
}
@media (min-width: 992px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__remove-text {
    color: var(--color-black);
    position: absolute;
    top: 9.2rem;
    right: 3.6rem;
    opacity: 1;
  }
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__remove-text .xo-btn,
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__remove-text .xo-btn__content,
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__body-row .xo-cart-table__remove-text .xo-btn__loading {
    color: var(--color-black);
    font-size: 1.8rem;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product {
  display: block;
  box-sizing: border-box;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  padding: 3.2rem 2rem;
  border-top: 0.1rem solid var(--color-black);
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product {
    display: inline-block;
    width: unset;
    margin: 0;
    padding: unset;
    border: unset;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item {
  display: grid;
  grid-template-columns: 16rem 1fr;
  gap: 4rem;
  padding: 0;
}
@media (min-width: 1400px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item {
    grid-template-columns: 22.4rem 1fr;
    gap: 6rem;
  }
}
@media (min-width: 1600px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item {
    gap: 8.2rem;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__img {
  width: 100%;
  height: 13.4rem;
}
@media (min-width: 1400px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__img {
    height: 19rem;
  }
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content {
    padding: 0;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__title {
  margin-bottom: 0.6rem;
  opacity: 1;
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__title p {
  color: var(--color-black);
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  opacity: 1;
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__title p {
    font-size: 1.8rem;
  }
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__price {
  margin-bottom: 3rem;
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__price .xo-cart-item__final-price {
  color: var(--color-black);
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__quantity-item {
  margin-bottom: 1.2rem;
  padding: 0;
}
body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__remove {
  color: var(--color-black);
  font-size: 1.6rem;
  line-height: 1;
  opacity: 0.6;
}
@media (min-width: 768px) {
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__remove {
    position: absolute;
    top: 9.2rem;
    right: 3.6rem;
    opacity: 1;
  }
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__remove .xo-btn,
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__remove .xo-btn__content,
  body .shopify-section .xo-main-cart__container .xo-main-cart__left .xo-cart-table__row-product .xo-cart-item .xo-cart-item__content .xo-cart-item__remove .xo-btn__loading {
    color: var(--color-black);
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=main-cart.css.map */
