.xo-media {
  width: 100%;
  height: 100%;
}
.xo-media .xo-image {
  width: 100%;
  height: 100%;
}
.xo-media .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.xo-media .placeholder-svg {
  width: 100%;
  height: 100%;
}
.xo-media model-viewer {
  width: 100%;
  height: 100%;
}

.player {
  height: 100%;
}

.xo-embed-responsive {
  height: 100% !important;
}