.multi-column-2 .xo-image,
.multi-column-2 .xo-image__placeholder,
.multi-column-2 .placeholder-svg,
.multi-column-2 img {
  width: 100%;
  height: 100%;
}
.multi-column-2 .heading-multi-column {
  padding-bottom: 3.3rem;
}
@media (min-width: 992px) {
  .multi-column-2 .heading-multi-column {
    padding-bottom: 5.2rem;
  }
}

.multi-column-2__item--radius {
  border-radius: var(--general-radius-1);
  overflow: hidden;
}

.multi-column-2__item {
  height: 100%;
  position: relative;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  transition: all 0.5s;
  overflow: hidden;
}
.multi-column-2__item:hover .multi-column-2__image {
  transform: scale(1.05);
  transition: all 0.5s;
}

.multi-column-2__image {
  transition: all 0.5s;
  transform: scale(1);
  will-change: transform;
}

.multi-column-2__image[xo-active] {
  filter: blur(0.5rem);
}

.multi-column-2__number {
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.25 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  opacity: 0.65;
  position: absolute;
  top: 2.5rem;
  z-index: 3;
}
[dir=ltr] .multi-column-2__number {
  left: 2.5rem;
}
[dir=rtl] .multi-column-2__number {
  right: 2.5rem;
}
@media (min-width: 768px) {
  .multi-column-2__number {
    top: 2.9rem;
    font-weight: 500;
    line-height: calc(1 + 0.4 / var(--font-heading-scale));
  }
  [dir=ltr] .multi-column-2__number {
    left: 3.1rem;
  }
  [dir=rtl] .multi-column-2__number {
    right: 3.1rem;
  }
}

.multi-column-2__title {
  padding: 0 2.5rem;
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.018rem);
  word-break: break-word;
  word-wrap: break-word;
  position: absolute;
  bottom: 2.9rem;
  z-index: 3;
  transition: all 0.3s;
}
[dir=ltr] .multi-column-2__title {
  left: 0;
}
[dir=rtl] .multi-column-2__title {
  right: 0;
}
@media (min-width: 768px) {
  .multi-column-2__title {
    bottom: 3.2rem;
    padding: 0 3.2rem;
    font-size: calc(var(--font-body-scale) * 2rem);
    line-height: calc(1 + 0.1 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  }
}
.multi-column-2__title:hover {
  opacity: 0.7;
}

.multi-column-2__desktop {
  display: none;
}
@media (min-width: 768px) {
  .multi-column-2__desktop {
    display: block;
  }
}

.multi-column-2__mobile {
  display: block;
}
@media (min-width: 768px) {
  .multi-column-2__mobile {
    display: none;
  }
}