.xo-hero__navigation {
  padding-top: 10px;
  position: relative;
}

xo-carousel-pagination {
  justify-content: center;
  gap: 8px;
}

.navigation-style {
  display: block;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navigation-style--hidden {
  display: none;
}

.navigation-style--circle {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-tertiary-button)) calc(1 * 100%), transparent);
  opacity: 0.65;
}

.navigation-style--box {
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 100px;
  background-color: color-mix(in srgb, rgba(var(--color-tertiary-button)) calc(1 * 100%), transparent);
  opacity: 0.65;
}

xo-carousel-bullet[xo-active] .navigation-style--box {
  opacity: 1;
}
xo-carousel-bullet[xo-active] .navigation-style--circle {
  opacity: 1;
}