.newsletter__wrapper {
  padding-inline-end: calc(4rem / var(--font-body-scale));
  padding-inline-start: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-inline-end: 9rem;
    padding-inline-start: 9rem;
  }
}
.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
  padding: 0.2rem 2rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.newsletter__wrapper .newsletter-form__field-wrapper .field__label {
  top: 50%;
  transform: translateY(-50%);
}

.newsletter__wrapper .newsletter-form__field-wrapper--radius {
  border-radius: var(--input-radius);
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}