.xo-orders-table {
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .xo-orders-table {
    padding-inline-end: 5.6rem;
  }
}

.xo-orders-table__table {
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 575px) {
  .xo-orders-table__table {
    display: block;
  }
  .xo-orders-table__table tbody,
  .xo-orders-table__table tfoot,
  .xo-orders-table__table tr,
  .xo-orders-table__table th,
  .xo-orders-table__table td {
    display: block;
  }
  .xo-orders-table__table tbody:last-child,
  .xo-orders-table__table tfoot:last-child,
  .xo-orders-table__table tr:last-child,
  .xo-orders-table__table th:last-child,
  .xo-orders-table__table td:last-child {
    padding-inline-end: 0;
  }
  .xo-orders-table__table thead {
    display: none;
  }
  .xo-orders-table__table td {
    text-align: right;
  }
  .xo-orders-table__table td:before {
    content: attr(data-th) ": ";
    float: left;
    display: flex;
    justify-content: space-between;
    color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
    font-weight: 500;
    font-size: calc(var(--font-body-scale) * 1.3rem);
    line-height: calc(1 + 0.4 / var(--font-body-scale));
    text-transform: uppercase;
    opacity: 0.8;
  }
}

.xo-orders-table__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}
@media (min-width: 768px) {
  .xo-orders-table__title {
    font-weight: 600;
    font-size: calc(var(--font-body-scale) * 3.1rem);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.093rem);
  }
}

.xo-orders-table__head-row {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(var(--font-body-scale) * 0.4rem);
  text-transform: uppercase;
  opacity: 0.6;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}

.xo-orders-table__head-row-item {
  text-align: left;
  padding: 1.6rem;
}
.xo-orders-table__head-row-item:last-child {
  text-align: right;
}

.xo-orders-table__body-row {
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
}
@media (max-width: 767px) {
  .xo-orders-table__body-row {
    padding: 0.6rem 0 1.6rem 0;
  }
}

.xo-orders-table__body-row-item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 400;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.8;
  padding: 1.6rem;
  text-align: left;
}
.xo-orders-table__body-row-item:last-child {
  text-align: right;
}
@media (max-width: 767px) {
  .xo-orders-table__body-row-item {
    padding: 1rem 0;
  }
}

.xo-orders-table__order-number {
  padding: 0.5rem 1.2rem;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.6;
  border-radius: 0.6rem;
  background-color: rgba(var(--color-button), 0.05);
}

.xo-orders-table__empty {
  padding: 2.4rem 0 7.3rem 0;
}
@media (min-width: 768px) {
  .xo-orders-table__empty {
    padding: 6.6rem 3rem;
  }
}
@media (min-width: 1400px) {
  .xo-orders-table__empty {
    padding: 9.6rem 4rem;
  }
}
.xo-orders-table__empty .xo-empty {
  gap: 0;
}
.xo-orders-table__empty .xo-empty__header {
  gap: 3.3rem;
}
@media (min-width: 768px) {
  .xo-orders-table__empty .xo-empty__header {
    gap: 3.5rem;
  }
}
.xo-orders-table__empty .xo-empty__icon {
  padding: 0;
  width: unset;
  height: unset;
}
.xo-orders-table__empty .xo-empty__content {
  width: 100%;
  margin: 0 auto;
  padding: 0.6rem 0 2.1rem 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-align: center;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .xo-orders-table__empty .xo-empty__content {
    width: 57%;
    padding: 0.4rem 0 2.4rem 0;
  }
}
.xo-orders-table__empty .xo-empty__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-4-scale) * 2rem);
  line-height: calc(1 + 0.05 / var(--font-heading-4-scale));
  letter-spacing: calc(var(--font-heading-4-scale) * -0.02rem);
}
@media (min-width: 768px) {
  .xo-orders-table__empty .xo-empty__title {
    font-weight: var(--font-heading-weight);
    font-size: calc(var(--font-heading-4-scale) * 4.2rem);
    line-height: calc(1 + 0.1 / var(--font-heading-4-scale));
    letter-spacing: calc(var(--font-heading-4-scale) * -0.21rem);
  }
}

.xo-orders-table__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-orders-table__btn-text {
  display: block;
}