.perfomance {
  height: 100%;
}

.perfomance__box {
  height: 100%;
  padding: 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 2.8rem;
}
@media (min-width: 1200px) {
  .perfomance__box {
    gap: 3.8rem;
    padding: 2.5rem 3.1rem 3.2rem 3.1rem;
  }
}

.perfomance__box--radius {
  border-radius: var(--general-radius-3);
}

.perfomance__circle-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfomance__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}

.perfomance__sub-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  font-weight: 500;
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
}

.perfomance__percent {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
}

.perfomance__specification {
  display: flex;
  align-items: end;
  gap: 1.2rem;
}