.xo-product-bundle {
  width: 100%;
  height: 100%;
}

.xo-product-bundle__heading {
  padding-bottom: 2.1rem;
}
@media (min-width: 1200px) {
  .xo-product-bundle__heading {
    padding-bottom: 3.4rem;
  }
}

.xo-product-bundle__sticky-mobile {
  display: block;
}
@media (min-width: 992px) {
  .xo-product-bundle__sticky-mobile {
    display: none;
  }
}

.xo-product-bundle__right {
  display: none;
}
@media (min-width: 992px) {
  .xo-product-bundle__right {
    display: block;
  }
}