.product-specification-11 {
  height: 100%;
}
@media (max-width: 991px) {
  .product-specification-11 {
    width: 100%;
    height: unset;
  }
}
.product-specification-11 .chart-1 {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .product-specification-11 .chart-1 {
    max-width: 86rem;
  }
}
@media (min-width: 992px) {
  .product-specification-11 .chart-1__content {
    gap: 3.4rem;
  }
}

.product-specification-11__content {
  height: 100%;
}
@media (max-width: 991px) {
  .product-specification-11__content {
    height: unset;
  }
}

.product-specification-11__desktop {
  height: 100%;
  width: fit-content;
  display: none;
}
@media (min-width: 992px) {
  .product-specification-11__desktop {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }
}

.product-specification-11__mobile {
  display: block;
}
@media (min-width: 992px) {
  .product-specification-11__mobile {
    display: none;
  }
}

.product-specification-11__row {
  width: 100%;
  height: 100%;
}

.product-specification-11__row--second {
  height: 100%;
}

.product-specification-11__chart {
  height: 100%;
}

.product-specification-11__grid {
  height: 100%;
  display: flex;
  gap: 2rem;
}

.product-specification-11__collection {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .product-specification-11__collection {
    max-width: 46.2rem;
  }
}
.product-specification-11__collection:hover .collection-image__button, .product-specification-11__collection:focus-within .collection-image__button {
  opacity: 1;
}
.product-specification-11__collection .collection-image__image--radius {
  border-radius: var(--collection-card-radius);
}
.product-specification-11__collection .collection-image__button {
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .product-specification-11__collection .collection-image__button {
    opacity: 0;
  }
}

.product-specification-11__product {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .product-specification-11__product {
    max-width: 37.7rem;
  }
}
.product-specification-11__product .xo-product-card__price-badge {
  padding-top: 0;
}
.product-specification-11__product .xo-product-card__price {
  padding-top: 0.8rem;
}