.product-specification-12__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .product-specification-12__left {
    gap: 2.8rem;
  }
}

.product-specification-12__right {
  height: 100%;
}

.product-specification-12__image {
  height: 100%;
  overflow: hidden;
}
.product-specification-12__image .xo-image {
  width: 100%;
  height: 100%;
}
.product-specification-12__image img {
  width: 100%;
  height: 100%;
}
.product-specification-12__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.product-specification-12__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.product-specification-12__image--radius {
  border-radius: 2rem;
  overflow: hidden;
}

.product-specification-12__image--desktop {
  display: none;
}
@media (min-width: 992px) {
  .product-specification-12__image--desktop {
    display: block;
  }
}

.product-specification-12__image--mobile {
  display: block;
}
@media (min-width: 992px) {
  .product-specification-12__image--mobile {
    display: none;
  }
}