.product-specification-1 {
  height: 100%;
}
.product-specification-1 .product-special__content {
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .product-specification-1 .product-special__content {
    gap: 4.4rem;
  }
}

.product-specification-1__container {
  height: 100%;
}

.product-specification-1__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.1rem 0 5.3rem 0;
}
@media (min-width: 992px) {
  .product-specification-1__content {
    padding: 6rem 0 8rem 0;
    gap: 3.2rem;
  }
}
@media (min-width: 1400px) {
  .product-specification-1__content {
    padding: 7.9rem 0 10rem 0;
  }
}

.product-specification-1__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}