.product-specification-14--with-product {
  height: 100%;
}
.product-specification-14--with-product .product-special__content {
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .product-specification-14--with-product .product-special__content {
    gap: 4.4rem;
  }
}
.product-specification-14--with-product .product-special__box {
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  padding: 3.5rem 4.1rem 4.3rem 4.1rem;
}
@media (max-width: 767px) {
  .product-specification-14--with-product .product-special__box {
    padding: 2.3rem 2.9rem 2.9rem 2.9rem;
  }
}
.product-specification-14--with-product .product-special__box--radius {
  border-radius: var(--general-radius-3);
}
.product-specification-14--with-product .product-specification-14__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 2.3rem 0 2.3rem 0;
}
@media (min-width: 992px) {
  .product-specification-14--with-product .product-specification-14__content {
    padding: 4.5rem 0 3.8rem 0;
  }
}
@media (min-width: 1400px) {
  .product-specification-14--with-product .product-specification-14__content {
    padding: 7.5rem 0 6.8rem 0;
  }
}
.product-specification-14--with-product .product-specification-14__left,
.product-specification-14--with-product .product-specification-14__center,
.product-specification-14--with-product .product-specification-14__right {
  height: 100%;
}

.product-specification-14--with-image {
  height: 100%;
}
.product-specification-14--with-image .product-special__content {
  height: 100%;
  gap: 2.7rem;
  justify-content: end;
}
@media (min-width: 768px) {
  .product-specification-14--with-image .product-special__content {
    gap: 3.2rem;
  }
}
.product-specification-14--with-image .product-specification-14__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9.6rem;
  padding: 5.4rem 0 3.2rem 0;
}
@media (min-width: 992px) {
  .product-specification-14--with-image .product-specification-14__content {
    padding: 5.4rem 0 5.8rem 0;
  }
}
@media (min-width: 1400px) {
  .product-specification-14--with-image .product-specification-14__content {
    padding: 7.5rem 0 8.3rem 0;
  }
}
.product-specification-14--with-image .product-specification-14__bottom {
  padding: 3.1rem 1rem 1.1rem 1rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  overflow: hidden;
}
@media (min-width: 992px) {
  .product-specification-14--with-image .product-specification-14__bottom {
    padding: 1.4rem 1.4rem 1.4rem 2rem;
  }
}
@media (min-width: 1400px) {
  .product-specification-14--with-image .product-specification-14__bottom {
    padding: 1.4rem 1.4rem 1.4rem 5rem;
  }
}
.product-specification-14--with-image .product-specification-14__bottom--radius {
  border-radius: var(--general-radius-3);
}
.product-specification-14--with-image .product-specification-14__left {
  height: 100%;
  padding: 0 1.5rem 1.5rem 2.3rem;
}
@media (min-width: 992px) {
  .product-specification-14--with-image .product-specification-14__left {
    padding: 3.1rem 0;
  }
}
.product-specification-14--with-image .product-specification-14__center {
  height: fit-content;
  padding: 0 1.5rem 1.3rem 2.3rem;
}
@media (min-width: 992px) {
  .product-specification-14--with-image .product-specification-14__center {
    padding: 0.6rem 3.6rem 0.6rem 0;
  }
}
.product-specification-14--with-image .product-specification-14__center .product-information__box {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  justify-content: start;
}
.product-specification-14--with-image .product-specification-14__center .product-information__content tr td {
  padding: 1.7rem 0;
}
@media (min-width: 768px) {
  .product-specification-14--with-image .product-specification-14__center .product-information__content tr td {
    padding: 2.5rem 0;
  }
  .product-specification-14--with-image .product-specification-14__center .product-information__content tr:first-child td {
    border-top: none;
  }
}
.product-specification-14--with-image .product-specification-14__right {
  overflow: hidden;
}
.product-specification-14--with-image .product-specification-14__right:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-specification-14--with-image .product-specification-14__right .xo-image {
  width: 100%;
  height: 100%;
}
.product-specification-14--with-image .product-specification-14__right img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.product-specification-14--with-image .product-specification-14__right .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.product-specification-14--with-image .product-specification-14__right .placeholder-svg {
  width: 100%;
  height: 100%;
}
.product-specification-14--with-image .product-specification-14__right--radius {
  border-radius: var(--general-radius-1);
}

.product-specification-14__container {
  height: 100%;
}

.product-specification-14__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.product-specification-14__desktop {
  display: none;
}
@media (min-width: 1025px) {
  .product-specification-14__desktop {
    display: block;
  }
}

.product-specification-14__mobile {
  display: block;
}
@media (min-width: 1025px) {
  .product-specification-14__mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .product-specification-14__mobile .product-specification-14__left,
  .product-specification-14__mobile .product-specification-14__center,
  .product-specification-14__mobile .product-specification-14__right {
    height: 48rem;
  }
}
.product-specification-14__mobile .product-specification-14__left,
.product-specification-14__mobile .product-specification-14__center,
.product-specification-14__mobile .product-specification-14__right {
  height: 100%;
}
.product-specification-14__mobile .product-special__item {
  padding: 1.6rem 0 2.9rem 0;
  border-top: 0.1rem solid rgba(var(--color-border));
}
.product-specification-14__mobile .product-special__item:last-child {
  padding: 1.6rem 0 0 0;
}
.product-specification-14__mobile .product-special__content {
  gap: 0;
}