.product-info-content-quickview__vendor {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.5 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-transform: uppercase;
  padding-bottom: 1.4rem;
}
@media (min-width: 768px) {
  .product-info-content-quickview__vendor {
    padding-bottom: 2rem;
  }
}

.product-info-content-quickview__title {
  width: 100%;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  padding-bottom: 2.2rem;
}

.product-info-content-quickview__description {
  padding-bottom: 2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.7;
  width: 100%;
}
@media (min-width: 992px) {
  .product-info-content-quickview__description {
    width: 80%;
  }
}

.product-info-content-quickview__price {
  padding-bottom: 2.7rem;
}
@media (min-width: 768px) {
  .product-info-content-quickview__price {
    padding-bottom: 3.2rem;
  }
}
.product-info-content-quickview__price .xo-price__sale {
  align-items: center;
  gap: 0.4rem;
  padding: 0;
}
.product-info-content-quickview__price .xo-price__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 2rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}
.product-info-content-quickview__price .xo-price__item--del {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.6;
}

.product-info-content-quickview__button-add-cart[xo-disabled] {
  display: block;
  width: 100%;
  cursor: not-allowed;
  opacity: 0.5;
}
.product-info-content-quickview__button-add-cart[xo-disabled] .xo-btn {
  width: 100%;
  pointer-events: none;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .product-info-content-quickview__add-cart .xo-btn__content {
    padding: 1.6rem 2rem;
  }
}

.product-info-content-quickview__variant {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-info-content-quickview__variant .xo-product-variant {
  display: flex;
  flex-direction: column;
}
.product-info-content-quickview__variant .xo-product-variant__inner {
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}
.product-info-content-quickview__variant .xo-product-variant__inner-value {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 0.4rem;
}
.product-info-content-quickview__variant .xo-product-variant__inner-value .xo-field-radio--radio,
.product-info-content-quickview__variant .xo-product-variant__inner-value .xo-field-radio--boxed {
  padding-inline-end: 0.5rem;
}
.product-info-content-quickview__variant .xo-product-variant__inner-value .xo-field-radio--radio:last-child,
.product-info-content-quickview__variant .xo-product-variant__inner-value .xo-field-radio--boxed:last-child {
  padding-inline-end: 0;
}
.product-info-content-quickview__variant .xo-product-variant__inner-name,
.product-info-content-quickview__variant .xo-product-variant__top-name {
  padding-bottom: 0.8rem;
  color: rgba(var(--color-foreground), 0.5);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
}
.product-info-content-quickview__variant .xo-product-variant__inner-name p,
.product-info-content-quickview__variant .xo-product-variant__top-name p {
  opacity: 1;
}
.product-info-content-quickview__variant .xo-product-variant__inner-selected-value {
  display: none;
}
.product-info-content-quickview__variant .xo-field-select-custom__trigger {
  width: 100%;
}
@media (min-width: 992px) {
  .product-info-content-quickview__variant .xo-field-select-custom__trigger {
    width: 14.5rem;
  }
}
@media (min-width: 1400px) {
  .product-info-content-quickview__variant .xo-field-select-custom__trigger {
    width: 17.5rem;
  }
}
.product-info-content-quickview__variant .xo-field-select-custom__popover {
  height: auto;
  min-width: unset;
  padding: 1.6rem 1.4rem;
  border-radius: 1.2rem;
}
@media (max-width: 767px) {
  .product-info-content-quickview__variant .xo-field-select-custom__popover {
    width: calc(100% - 4.4rem);
    left: 2.2rem !important;
  }
}
@media (min-width: 992px) {
  .product-info-content-quickview__variant .xo-field-select-custom__popover {
    width: 14.5rem;
  }
}
@media (min-width: 1400px) {
  .product-info-content-quickview__variant .xo-field-select-custom__popover {
    width: 17.5rem;
  }
}
.product-info-content-quickview__variant .xo-field-select-custom__name {
  opacity: 1;
}

.product-info-content-quickview__variant--pd {
  padding-bottom: 3.8rem;
}
@media (min-width: 1400px) {
  .product-info-content-quickview__variant--pd {
    padding-bottom: 3.4rem;
  }
}

.product-info-content-quickview__quantity {
  height: 100%;
  width: 100%;
}
.product-info-content-quickview__quantity .xo-quantity {
  width: 100%;
  height: 100%;
  padding: 1.3rem 0.8rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(0.4 * 100%), transparent);
}
@media (max-width: 767px) {
  .product-info-content-quickview__quantity .xo-quantity {
    padding: 1rem 0.8rem;
  }
}
.product-info-content-quickview__quantity .xo-quantity--radius {
  border-radius: var(--button-radius);
}
.product-info-content-quickview__quantity .xo-quantity__number {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.45 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.0015rem);
}
@media (min-width: 768px) {
  .product-info-content-quickview__quantity .xo-quantity__number {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.45 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}
.product-info-content-quickview__quantity .xo-quantity__button {
  padding: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.product-info-content-quickview__quantity .xo-quantity__button:hover {
  background-color: color-mix(in srgb, rgba(var(--color-gray-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-gray-button-text)) calc(1 * 100%), transparent);
}
.product-info-content-quickview__quantity svg {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.product-info-content-quickview__row {
  width: 100%;
  padding-top: 0.8rem;
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 767px) {
  .product-info-content-quickview__row {
    flex-direction: column-reverse;
    align-items: start;
  }
}

.product-info-content-quickview__add-cart {
  width: 100%;
}
@media (min-width: 992px) {
  .product-info-content-quickview__add-cart {
    width: 13.2rem;
  }
}
.product-info-content-quickview__add-cart .xo-btn__content {
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
}

.product-info-content-quickview__buy-now {
  width: 100%;
  height: 100%;
}
.product-info-content-quickview__buy-now .shopify-product-form {
  display: flex;
  flex-direction: column-reverse;
}
.product-info-content-quickview__buy-now .shopify-payment-button__more-options {
  display: none;
}
.product-info-content-quickview__buy-now .shopify-payment-button__button {
  padding: 1.35rem 0;
  min-height: 4.8rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .product-info-content-quickview__buy-now {
    width: calc(100% - 13.2rem);
  }
  .product-info-content-quickview__buy-now .shopify-payment-button__button {
    min-height: 5.64rem;
  }
}

.product-info-content-quickview__view-full-detail {
  padding-top: 2.4rem;
}
@media (min-width: 992px) {
  .product-info-content-quickview__view-full-detail {
    padding-top: 4.2rem;
  }
}