.product-specification-4__left {
  border-radius: 2rem;
  overflow: hidden;
}

.product-specification-4__right {
  height: 100%;
  padding: 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: end;
}
@media (min-width: 1400px) {
  .product-specification-4__right {
    padding: 5.6rem;
  }
}

.product-specification-4__right-grid {
  width: 100%;
  gap: 0;
}
@media (max-width: 767px) {
  .product-specification-4__right-grid {
    row-gap: 3.4rem;
  }
}

.product-specification-4__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
  padding-bottom: 2.4rem;
  width: 100%;
}
@media (min-width: 992px) {
  .product-specification-4__heading {
    width: 55%;
    padding-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .product-specification-4__heading {
    width: 50%;
  }
}

.product-specification-4__image {
  height: 100%;
}
.product-specification-4__image .xo-image {
  width: 100%;
  height: 100%;
}
.product-specification-4__image img {
  width: 100%;
  height: 100%;
}
.product-specification-4__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.product-specification-4__image .placeholder-svg {
  width: 100%;
  height: 100%;
}