.product-specification-9__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
  padding: 0 0 2.3rem 0;
}
@media (min-width: 992px) {
  .product-specification-9__heading {
    padding: 1.5rem 0 3.5rem 0;
  }
}
.product-specification-9__heading .xo-text__heading {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}

@media (max-width: 767px) {
  .product-specification-9__grid {
    row-gap: 5.1rem;
  }
}

.product-specification-9__chart {
  padding-top: 1.2rem;
}
@media (min-width: 768px) {
  .product-specification-9__chart {
    padding-top: 2.8rem;
  }
}

.product-specification-9__perfomance--desktop {
  display: none;
}
@media (min-width: 768px) {
  .product-specification-9__perfomance--desktop {
    display: block;
  }
}

.product-specification-9__perfomance--mobile {
  display: block;
}
@media (min-width: 768px) {
  .product-specification-9__perfomance--mobile {
    display: none;
  }
}