.product-specification-6 .product-information__box {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
.product-specification-6 .product-information__box-dflex {
  justify-content: unset;
  gap: 2.6rem;
}
@media (min-width: 768px) {
  .product-specification-6 .product-information__box-dflex {
    gap: 1.9rem;
  }
}
.product-specification-6 .product-information__content tr td {
  padding: 1.8rem 0;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  color: rgba(var(--color-foreground), 0.5);
}
.product-specification-6 .product-information__content tr td:last-child {
  width: 45%;
  padding: 1.8rem 1.8rem 1.8rem 0;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  color: rgba(var(--color-foreground), 1);
  text-align: left;
}
@media (min-width: 992px) {
  .product-specification-6 .product-information__content tr td:last-child {
    width: 50%;
    padding: 1.8rem 0;
  }
}
@media (min-width: 1400px) {
  .product-specification-6 .product-information__content tr td:last-child {
    width: 45%;
  }
}
.product-specification-6 .product-information__content tr:last-child td {
  padding: 1.8rem 0;
}
@media (max-width: 767px) {
  .product-specification-6 .product-information__content tr:last-child td:last-child {
    padding: 1.8rem 1.8rem 1.8rem 0;
  }
}

.product-specification-6__grid {
  row-gap: 3.6rem;
}
@media (min-width: 992px) {
  .product-specification-6__grid {
    row-gap: 5rem;
    column-gap: 5rem;
  }
}
@media (min-width: 1400px) {
  .product-specification-6__grid {
    row-gap: 7rem;
    column-gap: 13.5rem;
  }
}