.xo-product-recommendations__paginate {
  padding-top: 2.4rem;
}
@media (min-width: 992px) {
  .xo-product-recommendations__paginate {
    padding-top: 2.9rem;
  }
}

.xo-product-recommendations__head {
  padding-bottom: 1.6rem;
}
@media (min-width: 992px) {
  .xo-product-recommendations__head {
    padding-bottom: 2.9rem;
  }
}

.xo-product-recommendations__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-product-recommendations__button {
  display: none;
}
@media (min-width: 768px) {
  .xo-product-recommendations__button {
    display: flex;
    justify-content: end;
  }
}