.xo-product-card-custom-v2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 1.6rem;
}

.xo-product-card-custom-v2--radius .xo-product-card-custom-v2__image {
  overflow: hidden;
  border-radius: 1.2rem;
}

.xo-product-card-custom-v2__image .xo-product-image {
  width: 9.4rem;
  height: 11.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-product-card-custom-v2__image .xo-image {
  width: 100%;
  height: 100%;
}
.xo-product-card-custom-v2__image img {
  height: 100%;
  width: 100%;
}
.xo-product-card-custom-v2__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.xo-product-card-custom-v2__wrapper {
  display: flex;
  gap: 1.3rem;
}

.xo-product-card-custom-v2__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 0.2rem 0 0.3rem 0;
}

.xo-product-card-custom-v2__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  opacity: 0.85;
}

.xo-product-card-custom-v2__variant {
  padding-top: 0.6rem;
}
.xo-product-card-custom-v2__variant .xo-product-variant__inner-name {
  padding-bottom: 0;
  display: none;
}

.xo-product-card-custom-v2__price .xo-price__sale {
  flex-wrap: wrap;
  justify-content: start;
}

.xo-product-card-custom-v2__add-cart .xo-btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}