.product-info-media-tabs .xo-media {
  width: 100%;
  height: 100%;
}
.product-info-media-tabs .xo-image {
  width: 100%;
  height: 100%;
}
.product-info-media-tabs img {
  width: 100%;
  height: 100%;
}

.product-info-media-tabs__content {
  overflow: hidden;
}

.product-info-media-tabs__image {
  height: 33rem;
}
@media (min-width: 768px) {
  .product-info-media-tabs__image {
    height: 70.9rem;
  }
}
@media (min-width: 1400px) {
  .product-info-media-tabs__image {
    height: 91.7rem;
  }
}

.product-info-media-tabs__image--radius {
  overflow: hidden;
  border-radius: var(--toggle-tab-radius);
}

.product-info-media-tabs__trigger {
  display: flex;
  align-items: center;
  overflow-y: visible;
  width: max(100% + var(--xo-container-gap) * 2, 100% + var(--xo-bleed-offset) * 2);
  position: relative;
  padding-top: 1.6rem;
}
@media (min-width: 992px) {
  .product-info-media-tabs__trigger {
    padding-top: 2rem;
  }
}
@media (min-width: 1400px) {
  .product-info-media-tabs__trigger {
    padding-top: 3rem;
  }
}

.product-info-media-tabs__trigger-list {
  display: flex;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
.product-info-media-tabs__trigger-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@-moz-document url-prefix() {
  .product-info-media-tabs__trigger-list {
    scrollbar-width: none;
    scrollbar-height: none;
  }
}

.product-info-media-tabs__tab-trigger {
  display: inline-block;
  padding-inline-end: 0.5rem;
}
.product-info-media-tabs__tab-trigger:last-child {
  padding-inline-end: 0;
}
@media (min-width: 768px) {
  .product-info-media-tabs__tab-trigger {
    padding-inline-end: 0.8rem;
  }
}
.product-info-media-tabs__tab-trigger .xo-media {
  position: relative;
  width: 6.3rem;
  height: 6.1rem;
  overflow: hidden;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .product-info-media-tabs__tab-trigger .xo-media {
    width: 10.7rem;
    height: 10.7rem;
  }
}
.product-info-media-tabs__tab-trigger .xo-media:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-overlay), 0);
}
[dir=ltr] .product-info-media-tabs__tab-trigger .xo-media:after {
  left: 0;
}
[dir=rtl] .product-info-media-tabs__tab-trigger .xo-media:after {
  right: 0;
}
.product-info-media-tabs__tab-trigger:hover .xo-media:after {
  background-color: rgba(var(--color-overlay), 0.1);
}

.product-info-media-tabs__tab-trigger--radius .xo-media {
  border-radius: var(--toggle-tab-radius);
}

.product-info-media-tabs__tab-trigger[xo-active] .xo-media:after {
  background-color: rgba(var(--color-overlay), 0.1);
}

.product-info-media-tabs__tab-pane {
  overflow: hidden;
}

.xb-product-model__btn-view {
  position: absolute;
  top: 1rem;
  z-index: 10000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
[dir=ltr] .xb-product-model__btn-view {
  left: 1rem;
}
[dir=rtl] .xb-product-model__btn-view {
  right: 1rem;
}
@media (min-width: 768px) {
  .xb-product-model__btn-view {
    display: none;
  }
}