.product-featured-2 {
  height: 100%;
}
.product-featured-2 .xo-image {
  width: 100%;
  height: 100%;
}
.product-featured-2 img {
  width: 100%;
  height: 100%;
}
.product-featured-2 .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.product-featured-2 .placeholder-svg {
  width: 100%;
  height: 100%;
}

.product-featured-2__box {
  position: relative;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  overflow: hidden;
  height: 47.4rem;
}
@media (min-width: 992px) {
  .product-featured-2__box {
    height: 45.6rem;
  }
}

.product-featured-2__box--radius {
  border-radius: 2rem;
}

.product-featured-2__left {
  position: relative;
  width: fit-content;
  height: 100%;
  padding: 2.5rem 2.7rem 2.5rem 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.9rem;
}
@media (min-width: 992px) {
  .product-featured-2__left {
    padding: 3rem 3rem 3rem 3rem;
  }
}
@media (min-width: 1400px) {
  .product-featured-2__left {
    padding: 4rem 4.8rem 5.2rem 4.8rem;
  }
}

.product-featured-2__right {
  width: fit-content;
  height: 100%;
  position: relative;
}
.product-featured-2__right::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 18.95rem;
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
  filter: blur(7.2rem);
}
[dir=ltr] .product-featured-2__right::after {
  left: 50%;
}
[dir=rtl] .product-featured-2__right::after {
  right: 50%;
}
[dir=ltr] .product-featured-2__right::after {
  transform: translateX(-50%);
}
[dir=rtl] .product-featured-2__right::after {
  transform: translateX(50%);
}
@media (min-width: 992px) {
  .product-featured-2__right::after {
    bottom: 3.4rem;
    width: 24.7rem;
    height: 24.7rem;
  }
  [dir=ltr] .product-featured-2__right::after {
    left: 0;
  }
  [dir=rtl] .product-featured-2__right::after {
    right: 0;
  }
  [dir=ltr] .product-featured-2__right::after {
    transform: translateX(0);
  }
  [dir=rtl] .product-featured-2__right::after {
    transform: translateX(0);
  }
}

.product-featured-2__heading {
  width: 100%;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.product-featured-2__featured {
  display: flex;
}
@media (max-width: 767px) {
  .product-featured-2__featured {
    flex-direction: column;
  }
}

.product-featured-2__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.7rem 0;
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.product-featured-2__item:first-child {
  padding-top: 0;
}
.product-featured-2__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
@media (min-width: 992px) {
  .product-featured-2__item {
    justify-content: center;
    padding: 0 1.7rem;
    border-bottom: none;
  }
  [dir=ltr] .product-featured-2__item {
    border-inline-end: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  }
  [dir=rtl] .product-featured-2__item {
    border-inline-end: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(-1 * 100%), transparent);
  }
  .product-featured-2__item:first-child {
    padding-inline-start: 0;
  }
  .product-featured-2__item:last-child {
    padding-inline-end: 0;
    border-inline-end: none;
  }
}

.product-featured-2__icon {
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-featured-2__icon img {
  object-fit: contain;
}

.product-featured-2__description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.7rem);
  font-weight: 500;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.034rem);
  word-break: break-word;
  word-wrap: break-word;
}

.product-featured-2__image--desktop {
  height: 100%;
  display: none;
}
@media (min-width: 992px) {
  .product-featured-2__image--desktop {
    display: block;
  }
}

.product-featured-2__image--mobile {
  height: 100%;
  display: block;
}
@media (min-width: 992px) {
  .product-featured-2__image--mobile {
    display: none;
  }
}