.product-special {
  height: 100%;
}

.product-special__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.product-special__content {
  display: flex;
  flex-direction: column;
}

.product-special__sub-heading {
  padding-bottom: 1.2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}
@media (min-width: 768px) {
  .product-special__sub-heading {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}

.product-special__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}

.product-special__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}