.xo-product-info-media-carousel .xo-media,
.xo-product-info-media-carousel .xo-image,
.xo-product-info-media-carousel .xo-image__placeholder,
.xo-product-info-media-carousel .placeholder-svg,
.xo-product-info-media-carousel img {
  width: 100%;
  height: 100%;
}

.xo-product-info-media-carousel__image {
  height: 100%;
}

.xo-product-info-media-carousel__image--radius {
  overflow: hidden;
  border-radius: 0;
}

.xo-product-info-media-carousel__list .xo-product-info-media-carousel__image:hover {
  cursor: zoom-in;
}

.xo-product-info-media-carousel__content {
  padding-top: 1.6rem;
}
@media (min-width: 992px) {
  .xo-product-info-media-carousel__content {
    padding-top: 2rem;
  }
}
@media (min-width: 1400px) {
  .xo-product-info-media-carousel__content {
    padding-top: 3rem;
  }
}

.xo-product-info-media-carousel__content--hidden {
  display: none;
}

.xo-product-info-media-carousel__thumbnail .xo-product-info-media-carousel__thumb-slide .xo-product-info-media-carousel__thumb-image {
  position: relative;
}
.xo-product-info-media-carousel__thumbnail .xo-product-info-media-carousel__thumb-slide .xo-product-info-media-carousel__thumb-image::after {
  content: "";
  position: absolute;
  inset: 0.2rem;
  border: 0.1rem solid transparent;
  transition: 0.3s;
}
.xo-product-info-media-carousel__thumbnail .xo-product-info-media-carousel__thumb-slide:focus-visible {
  outline: none;
}
.xo-product-info-media-carousel__thumbnail .xo-product-info-media-carousel__thumb-slide:focus-visible .xo-product-info-media-carousel__thumb-image::after {
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}

.xo-product-info-media-carousel__thumb-image {
  height: 100%;
}
.xo-product-info-media-carousel__thumb-image .xo-media {
  position: relative;
  overflow: hidden;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  transition: all 0.3s;
}
.xo-product-info-media-carousel__thumb-image .xo-media:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-overlay), 0);
}
[dir=ltr] .xo-product-info-media-carousel__thumb-image .xo-media:after {
  left: 0;
}
[dir=rtl] .xo-product-info-media-carousel__thumb-image .xo-media:after {
  right: 0;
}
.xo-product-info-media-carousel__thumb-image:hover .xo-media:after {
  background-color: rgba(var(--color-overlay), 0.1);
}

.xo-product-info-media-carousel__thumb-image--radius .xo-media {
  border-radius: var(--toggle-tab-radius);
}
.xo-product-info-media-carousel__thumb-image--radius::after {
  border-radius: var(--toggle-tab-radius);
}

.xo-product-info-media-carousel__thumb-slide {
  padding-bottom: 1rem;
}

.xo-product-info-media-carousel__thumb-slide[xo-active]:not([xo-active=false]) .xo-media:after {
  background-color: rgba(var(--color-overlay), 0.1);
}

.xb-product-model__btn-view {
  position: absolute;
  top: 1rem;
  z-index: 10000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
[dir=ltr] .xb-product-model__btn-view {
  left: 1rem;
}
[dir=rtl] .xb-product-model__btn-view {
  right: 1rem;
}
@media (min-width: 768px) {
  .xb-product-model__btn-view {
    display: none;
  }
}