.product-specification-3 {
  height: 100%;
}
.product-specification-3 .product-special__content {
  height: 100%;
  gap: 2.7rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .product-specification-3 .product-special__content {
    gap: 3.2rem;
  }
}

.product-specification-3__container {
  height: 100%;
}

.product-specification-3__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9.6rem;
  padding: 5.4rem 0 3.2rem 0;
}
@media (min-width: 992px) {
  .product-specification-3__content {
    padding: 5.4rem 0 5.8rem 0;
  }
}
@media (min-width: 1400px) {
  .product-specification-3__content {
    padding: 7.5rem 0 8.3rem 0;
  }
}

.product-specification-3__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.product-specification-3__bottom {
  padding: 3.1rem 1rem 1.1rem 1rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  overflow: hidden;
}
@media (min-width: 992px) {
  .product-specification-3__bottom {
    padding: 1.4rem 1.4rem 1.4rem 2rem;
  }
}
@media (min-width: 1400px) {
  .product-specification-3__bottom {
    padding: 1.4rem 1.4rem 1.4rem 5rem;
  }
}

.product-specification-3__bottom--radius {
  border-radius: var(--general-radius-3);
}

.product-specification-3__left {
  height: 100%;
  padding: 0 1.5rem 1.5rem 2.3rem;
}
@media (min-width: 992px) {
  .product-specification-3__left {
    padding: 3.1rem 0;
  }
}

.product-specification-3__center {
  height: fit-content;
  padding: 0 1.5rem 1.3rem 2.3rem;
}
@media (min-width: 992px) {
  .product-specification-3__center {
    padding: 0.6rem 3.6rem 0.6rem 0;
  }
}
.product-specification-3__center .product-information__box {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  justify-content: start;
}
.product-specification-3__center .product-information__content tr td {
  padding: 1.7rem 0;
}
@media (min-width: 768px) {
  .product-specification-3__center .product-information__content tr td {
    padding: 2.5rem 0;
  }
  .product-specification-3__center .product-information__content tr:first-child td {
    border-top: none;
  }
}

.product-specification-3__right {
  overflow: hidden;
}
.product-specification-3__right:hover {
  cursor: pointer;
}
.product-specification-3__right:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-specification-3__right .xo-image {
  width: 100%;
  height: 100%;
}
.product-specification-3__right img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.product-specification-3__right .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.product-specification-3__right .placeholder-svg {
  width: 100%;
  height: 100%;
}

.product-specification-3__right--radius {
  border-radius: var(--general-radius-1);
}