.xo-product-info-media-slide {
  width: 100%;
  position: relative;
}

.xo-product-info-media-slide__vendor {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.65 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  padding-bottom: 1.4rem;
}
@media (min-width: 768px) {
  .xo-product-info-media-slide__vendor {
    padding-bottom: 2rem;
  }
}

.xo-product-info-media-slide__title {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4.8rem;
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__title {
    width: 70%;
    padding-bottom: 6.5rem;
  }
}
@media (min-width: 1400px) {
  .xo-product-info-media-slide__title {
    width: 60%;
  }
}

.xo-product-info-media-slide__desktop {
  display: none;
}
@media (min-width: 768px) {
  .xo-product-info-media-slide__desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__desktop {
    gap: 10.5rem;
  }
}
@media (min-width: 1400px) {
  .xo-product-info-media-slide__desktop {
    gap: 15.4rem;
  }
}
@media (min-width: 1600px) {
  .xo-product-info-media-slide__desktop {
    gap: 23.1rem;
  }
}

.xo-product-info-media-slide__mobile {
  display: block;
}
@media (min-width: 768px) {
  .xo-product-info-media-slide__mobile {
    display: none;
  }
}

.xo-product-info-media-slide__image {
  width: 100%;
  height: 26.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: zoom-in;
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__image {
    width: 26.5rem;
    height: 26.5rem;
  }
}
@media (min-width: 1400px) {
  .xo-product-info-media-slide__image {
    width: 37.7rem;
    height: 37.7rem;
  }
}
@media (min-width: 1600px) {
  .xo-product-info-media-slide__image {
    width: 45rem;
    height: 45rem;
  }
}
.xo-product-info-media-slide__image .xo-media,
.xo-product-info-media-slide__image .xo-image,
.xo-product-info-media-slide__image img {
  width: 100%;
  height: 100%;
}
.xo-product-info-media-slide__image img {
  object-fit: contain;
}

.xo-product-info-media-slide__image--radius {
  overflow: hidden;
  border-radius: var(--toggle-tab-radius);
}

.xo-product-info-media-slide__bottom {
  padding-top: 4.8rem;
  width: 100%;
  max-width: 62.1rem;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__bottom {
    padding-top: 5.5rem;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  .xo-product-info-media-slide__bottom {
    padding-top: 7.1rem;
  }
}

.xo-product-info-media-slide__action {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1.2rem;
  margin: 2rem 0;
}
.xo-product-info-media-slide__action .shopify-payment-button__button {
  padding: 1.35rem 0;
  min-height: 4.8rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__action {
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
  }
  .xo-product-info-media-slide__action .shopify-payment-button__button {
    min-height: 5.64rem;
  }
}
.xo-product-info-media-slide__action .shopify-product-form {
  width: 100%;
}

.xo-product-info-media-slide__group {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1.2rem;
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__group {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
  }
}

.xo-product-info-media-slide__add[xo-disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
.xo-product-info-media-slide__add[xo-disabled] .xo-btn {
  pointer-events: none;
  cursor: not-allowed;
}

.xo-product-info-media-slide__button {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .xo-product-info-media-slide__button {
    max-width: 30.4rem;
  }
}

.xo-product-info-media-slide__button--quantity .xo-quantity {
  width: 100%;
  height: 100%;
  padding: 1.3rem 0.8rem;
  border-radius: var(--button-radius);
  border: 0.1rem solid rgba(var(--color-button), 0.4);
}
@media (max-width: 767px) {
  .xo-product-info-media-slide__button--quantity .xo-quantity {
    padding: 1rem 0.8rem;
  }
}
.xo-product-info-media-slide__button--quantity .xo-quantity__number {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.45 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.0015rem);
}
@media (min-width: 768px) {
  .xo-product-info-media-slide__button--quantity .xo-quantity__number {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.45 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}
.xo-product-info-media-slide__button--quantity .xo-quantity__button {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.xo-product-info-media-slide__button--quantity .xo-quantity__button:hover {
  background-color: color-mix(in srgb, rgba(var(--color-gray-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-gray-button-text)) calc(1 * 100%), transparent);
}
.xo-product-info-media-slide__button--quantity svg {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-product-info-media-slide__buy-now {
  width: 100%;
}

.xo-product-info-media-slide__variants-inner {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.xo-product-info-media-slide__variants-inner .xo-product-variant__top {
  justify-content: center;
}
.xo-product-info-media-slide__variants-inner .xo-product-variant__inner-name,
.xo-product-info-media-slide__variants-inner .xo-product-variant__top-name {
  padding-bottom: 0.8rem;
  color: rgba(var(--color-foreground), 0.65);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  justify-content: center;
}
.xo-product-info-media-slide__variants-inner .xo-product-variant__inner-name p,
.xo-product-info-media-slide__variants-inner .xo-product-variant__top-name p {
  opacity: 1;
}
.xo-product-info-media-slide__variants-inner .xo-product-variant__inner-selected-value {
  display: none;
}
.xo-product-info-media-slide__variants-inner .xo-field-select-custom__label {
  text-transform: capitalize;
}

.xo-product-info-media-slide__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-product-info-media-slide__pagination {
  padding-top: 3.2rem;
}

.xo-product-info-media-slide__price-inner {
  padding-bottom: 2rem;
}
.xo-product-info-media-slide__price-inner .xo-price {
  align-items: center;
  justify-content: center;
}
.xo-product-info-media-slide__price-inner .xo-price__sale {
  align-items: center;
  gap: 0.4rem;
  padding: 0;
}
.xo-product-info-media-slide__price-inner .xo-price__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 2rem);
  font-weight: 500;
  line-height: calc(1 + 0.05 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.02rem);
}
.xo-product-info-media-slide__price-inner .xo-price__item--del {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.6;
}

.xo-product-info-media-slide__description-inner {
  padding-bottom: 2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.7 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
}

.xo-product-info-media-slide__pickup {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .xo-product-info-media-slide__pickup {
    padding-top: 3.2rem;
  }
}

.xo-product-info-media-slide__collapse {
  width: 100%;
}
.xo-product-info-media-slide__collapse .xo-collapse__trigger {
  padding: 2.4rem 0;
  border-top: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.xo-product-info-media-slide__collapse .xo-collapse__content {
  width: 100%;
  padding: 1.3rem 6.5rem 2.6rem 0;
  opacity: 0.7;
  text-align: start;
}
.xo-product-info-media-slide__collapse .xo-collapse__content ul {
  padding-inline-start: 2rem;
  margin: 0;
}

.xo-product-info-media-slide__collapse:last-child .xo-collapse__trigger {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
.xo-product-info-media-slide__collapse:last-child .xo-collapse__trigger[xo-active] {
  border-bottom: none;
}

.xo-product-info-media-slide__collapse:last-child:has(.xo-collapse__trigger[xo-active]) {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}