.product-information {
  height: 100%;
}

.product-information__box {
  height: 100%;
  padding: 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3rem;
}
@media (min-width: 992px) {
  .product-information__box {
    gap: 5rem;
    padding: 3.5rem 3.4rem 1rem 3.9rem;
  }
}

.product-information__box--radius {
  border-radius: var(--general-radius-3);
}

.product-information__box-dflex {
  justify-content: space-between;
}

.product-information__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.product-information__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}

.product-information__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-information__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .product-information__title {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}

.product-information__description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .product-information__description {
    font-size: calc(var(--font-body-scale) * 1.7rem);
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.034rem);
  }
}