.product-specification-10__left xo-tabs {
  height: 100%;
}

.product-specification-10__chart {
  padding-top: 1.2rem;
}
@media (min-width: 768px) {
  .product-specification-10__chart {
    padding-top: 2.8rem;
  }
}

.product-specification-10__product {
  position: relative;
  height: 55rem;
  padding: 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  overflow: hidden;
}
@media (min-width: 768px) {
  .product-specification-10__product {
    height: 100%;
    padding: 3.5rem 3.5rem 4.5rem 3.5rem;
  }
}
@media (min-width: 1400px) {
  .product-specification-10__product {
    padding: 5.5rem 6rem 7rem 6rem;
  }
}
@media (min-width: 1600px) {
  .product-specification-10__product {
    padding: 7.5rem 10rem 11.9rem 10.2rem;
  }
}

.product-specification-10__product--radius {
  border-radius: var(--general-radius-3);
}

.product-specification-10__tab-pane {
  height: 100%;
}

.product-specification-10__product-image {
  height: 100%;
  overflow: hidden;
}

.product-specification-10__sub-heading {
  position: absolute;
  top: 2rem;
  z-index: 10;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.65;
}
[dir=ltr] .product-specification-10__sub-heading {
  left: 2rem;
}
[dir=rtl] .product-specification-10__sub-heading {
  right: 2rem;
}
@media (min-width: 768px) {
  .product-specification-10__sub-heading {
    top: 2.5rem;
  }
  [dir=ltr] .product-specification-10__sub-heading {
    left: 2.5rem;
  }
  [dir=rtl] .product-specification-10__sub-heading {
    right: 2.5rem;
  }
}
@media (min-width: 992px) {
  .product-specification-10__sub-heading {
    top: 2.6rem;
  }
  [dir=ltr] .product-specification-10__sub-heading {
    left: 3.5rem;
  }
  [dir=rtl] .product-specification-10__sub-heading {
    right: 3.5rem;
  }
}

.product-specification-10__product-title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.product-specification-10__select {
  position: absolute;
  bottom: 2rem;
  z-index: 10;
  width: calc(100% - 4rem);
}
[dir=ltr] .product-specification-10__select {
  left: 2rem;
}
[dir=rtl] .product-specification-10__select {
  right: 2rem;
}
@media (min-width: 768px) {
  .product-specification-10__select {
    bottom: 2.5rem;
    width: calc(100% - 5rem);
  }
  [dir=ltr] .product-specification-10__select {
    left: 2.5rem;
  }
  [dir=rtl] .product-specification-10__select {
    right: 2.5rem;
  }
}
@media (min-width: 992px) {
  .product-specification-10__select {
    bottom: 3.5rem;
    width: calc(100% - 7rem);
  }
  [dir=ltr] .product-specification-10__select {
    left: 3.5rem;
  }
  [dir=rtl] .product-specification-10__select {
    right: 3.5rem;
  }
}

.product-specification-10__toggle-trigger {
  width: 100%;
  padding: 1.6rem 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  will-change: transform;
}
.product-specification-10__toggle-trigger:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(var(--color-overlay), 0.1) 0px 2px 8px 0px;
}

.product-specification-10__toggle-trigger--radius {
  border-radius: var(--toggle-trigger-radius);
  overflow: hidden;
}

.product-specification-10__icon.active svg {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.product-specification-10__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-specification-10__icon svg {
  transition: all 0.3s;
}

.product-specification-10__toggle-content {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 7.5rem;
  z-index: 10;
  width: 100%;
  max-height: 50rem;
  overflow-y: auto;
  padding: 1.6rem 2.4rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
[dir=ltr] .product-specification-10__toggle-content {
  left: 0;
}
[dir=rtl] .product-specification-10__toggle-content {
  right: 0;
}
@media (max-width: 767px) {
  .product-specification-10__toggle-content {
    max-height: 30rem;
  }
}

.product-specification-10__toggle-content--radius {
  border-radius: var(--general-radius-1);
}

.product-specification-10__toggle-content.active {
  display: block;
  opacity: 1;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

.product-specification-10__tab-trigger {
  padding-bottom: 1rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}
.product-specification-10__tab-trigger:last-child {
  padding-bottom: 0;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 3rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }
}
.product-specification-10__image {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .product-specification-10__image {
    display: flex;
    align-items: center;
  }
}