.xo-recipient[xo-active]:not([xo-active=false]) .xo-recipient__fields {
  display: block;
}
.xo-recipient[xo-error]:not([xo-error=false]) .xo-recipient__error {
  display: block;
}

.xo-recipient__error,
.xo-recipient__fields {
  display: none;
}