.xo-recover-password__form {
  padding-top: 2.2rem;
}
@media (min-width: 768px) {
  .xo-recover-password__form {
    padding-top: 2.4rem;
  }
}
.xo-recover-password__form form {
  display: flex;
  flex-direction: column;
}

.xo-recover-password__email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.xo-recover-password__email .xo-field-input {
  width: 100%;
}

.xo-recover-password__email-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
[dir=ltr] .xo-recover-password__email-icon {
  right: 1.6rem;
}
[dir=rtl] .xo-recover-password__email-icon {
  left: 1.6rem;
}

.xo-recover-password__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-6-scale) * 2.6rem);
  line-height: calc(1 + 0.1 / var(--font-heading-6-scale));
  letter-spacing: calc(var(--font-heading-6-scale) * -0.078rem);
  word-break: break-word;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .xo-recover-password__heading {
    font-size: calc(var(--font-heading-6-scale) * 4.2rem);
    letter-spacing: calc(var(--font-heading-6-scale) * -0.21rem);
  }
}

.xo-recover-password__description {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.7;
  padding-top: 1rem;
  padding-inline-end: 4rem;
}
@media (min-width: 768px) {
  .xo-recover-password__description {
    padding-inline-end: 0;
    padding-top: 0.5rem;
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.42 / var(--font-body-scale));
  }
}

xo-modal[xo-name=forgot-your-password] .xo-modal-content__inner {
  width: 100%;
  padding: 2.3rem 2rem;
  border-radius: 1.2rem;
}
@media (min-width: 768px) {
  xo-modal[xo-name=forgot-your-password] .xo-modal-content__inner {
    padding: 2.2rem 2.5rem 4rem 2.5rem;
  }
}
@media (min-width: 992px) {
  xo-modal[xo-name=forgot-your-password] .xo-modal-content__inner {
    width: 50.8rem !important;
  }
}
xo-modal[xo-name=forgot-your-password] .xo-modal-content__close {
  position: absolute;
  top: 1.4rem;
  padding: 0.8rem;
}
[dir=ltr] xo-modal[xo-name=forgot-your-password] .xo-modal-content__close {
  right: 0.8rem;
}
[dir=rtl] xo-modal[xo-name=forgot-your-password] .xo-modal-content__close {
  left: 0.8rem;
}