.xo-header--style-5 .xo-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
@media (max-width: 1140px) {
  .xo-header--style-5 .xo-header__top {
    display: none;
  }
}
.xo-header--style-5 .xo-header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1600px) {
  .xo-header--style-5 .xo-header__list {
    gap: 2rem;
  }
}
.xo-header--style-5 .xo-header__link {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.33 / var(--font-body-scale));
  opacity: 0.65;
  transition: all 0.3s;
}
.xo-header--style-5 .xo-header__top-language,
.xo-header--style-5 .xo-header__top-currency {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.6;
}
.xo-header--style-5 .xo-language-select__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header--style-5 .xo-header__top--modifier {
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
}
.xo-header--style-5 .xo-header__top-right {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media (min-width: 1600px) {
  .xo-header--style-5 .xo-header__top-right {
    gap: 2.3rem;
  }
}
.xo-header--style-5 .xo-header__container {
  margin: 0;
  padding: 0 3.1rem;
}
@media (min-width: 1600px) {
  .xo-header--style-5 .xo-header__container {
    padding: 0 7.3rem;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 .xo-header__container {
    background-color: transparent;
    box-shadow: none;
    padding: 0 2.2rem;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 .xo-header__center {
    padding: 0.5rem 1.8rem 0.5rem 0.8rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 1px 0px;
    background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 .xo-header__center--radius {
    border-radius: var(--header-radius-2);
  }
}
.xo-header--style-5 .xo-menu-horizontal__mega-menu {
  border-radius: 0;
}
@media (max-width: 1140px) {
  .xo-header--style-5 .xo-header__sticky {
    padding-top: 2rem;
  }
}
@media (min-width: 1140px) {
  .xo-header--style-5 .xo-header__logo-img--transparent {
    display: none;
  }
  .xo-header--style-5 .xo-header__logo-img--sticky {
    display: block;
  }
}
@media (min-width: 1141px) {
  .xo-header--style-5 .xo-header__left--modifier {
    width: fit-content;
    max-width: 20%;
    justify-content: start;
  }
}
@media (min-width: 1141px) {
  .xo-header--style-5 .xo-header__center--modifier {
    width: 50%;
  }
}
.xo-header--style-5 .xo-header__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (min-width: 1141px) {
  .xo-header--style-5 .xo-header__right--modifier {
    width: 30%;
  }
}
@media (min-width: 1400px) {
  .xo-header--style-5 .xo-header__content--modifier {
    gap: 3.2rem;
  }
}
@media (min-width: 1600px) {
  .xo-header--style-5 .xo-header__content--modifier {
    gap: 6.4rem;
  }
}
@media (min-width: 1800px) {
  .xo-header--style-5 .xo-header__content--modifier {
    gap: 13rem;
  }
}
.xo-header--style-5 .xo-header__link:hover {
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
  opacity: 1;
}
@media (max-width: 1140px) {
  .xo-header--style-5 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky--style-5 {
    padding: 2.2rem 2.2rem 0 2.2rem;
    background: transparent;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container {
    padding: 0 2.2rem;
    background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container--radius {
    border-radius: var(--header-radius-1);
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__center {
    padding: 0.5rem 0;
    background-color: transparent;
    box-shadow: none;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-5 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__center--radius {
    border-radius: 0;
  }
}

@media (max-width: 1140px) {
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-5:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent {
    display: block;
  }
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-5:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky {
    display: none;
  }
}