.product-specification-style-1 {
  position: relative;
  height: 61.7rem;
}
@media (min-width: 768px) {
  .product-specification-style-1 {
    height: 80.1rem;
  }
}
@media (min-width: 1200px) {
  .product-specification-style-1 {
    height: 100vh;
  }
}

.product-specification-style-1__content {
  height: 100%;
}