.xo-header--drawer {
  padding: 0 2.2rem;
  border-bottom: none;
}
.xo-header--drawer .xo-header__logo-img--transparent {
  display: none;
}
.xo-header--drawer .xo-header__logo-img--sticky {
  display: block;
}
.xo-header--drawer .xo-header__container--style-1 {
  padding: 0 2.2rem;
}
.xo-header--drawer .xo-header__container {
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}
@media (max-width: 1140px) {
  .xo-header--drawer .xo-header__container {
    padding: 0;
  }
}
.xo-header--drawer .xo-header__container--radius {
  border-radius: 0;
}
.xo-header--drawer .xo-header__box-sedcond {
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-header--drawer .xo-header__box-second--radius {
  border-radius: var(--header-radius-2);
}
.xo-header--drawer .xo-header__center {
  padding: 0.5rem 1.8rem 0.5rem 0.8rem;
}
.xo-header--drawer .xo-header__right {
  display: none;
}
.xo-header--drawer .xo-header__left {
  padding-bottom: 0;
  border-bottom: none;
  flex-shrink: 1;
}
@media (max-width: 1140px) {
  .xo-header--drawer .xo-header__box-second--style-1 {
    background-color: transparent;
  }
}
.xo-header--drawer .xo-header__box-second--style-3 {
  padding: 0;
}
@media (max-width: 1140px) {
  .xo-header--drawer .xo-header__box-second--style-4 {
    padding: 0;
  }
}
.xo-header--drawer .xo-header__box-first {
  width: 100%;
  max-width: 100%;
  padding: 0 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: none;
}
@media (max-width: 1140px) {
  .xo-header--drawer .xo-header__box-first {
    padding: 0;
  }
}
.xo-header--drawer .xo-header__content {
  gap: 1rem;
}
.xo-header--drawer .xo-header__content--reverse {
  flex-direction: row;
}
@media (min-width: 1141px) {
  .xo-header--drawer .xo-header__logo-heading-logo {
    max-width: 40rem;
  }
}
.xo-header--drawer .xo-header__top {
  display: none;
}
.xo-header--drawer .xo-header__container--style-5 {
  padding: 0 2.2rem;
}
@media (min-width: 768px) {
  .xo-header--drawer .xo-menu-hamburger__content {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .xo-header--drawer .xo-menu-hamburger__content {
    width: 40vw;
  }
}
@media (min-width: 1400px) {
  .xo-header--drawer .xo-menu-hamburger__content {
    width: 30vw;
  }
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky {
  padding: 2.2rem 2.2rem 0 2.2rem;
  background-color: transparent;
}
@media (max-width: 1140px) {
  .xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky {
    padding: 2.2rem 2.2rem 0 2.2rem;
    margin-top: 0;
  }
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container {
  padding: 0 2.2rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  box-shadow: 0 3.4rem 10.4rem 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 1140px) {
  .xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container {
    padding: 0 2.2rem;
  }
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container--radius {
  border-radius: 1.5rem;
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__center {
  padding: 0.5rem 0;
}
@media (min-width: 1140px) {
  .xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-second--style-1 .xo-header__center {
    padding: 0.5rem 0;
  }
}
@media (max-width: 1140px) {
  .xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container--style-3 .xo-header__center {
    padding: 0;
  }
}
@media (max-width: 1140px) {
  .xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container--style-4 .xo-header__center {
    padding: 0.5rem 0;
  }
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__logo-img--transparent {
  display: none;
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__logo-img--sticky {
  display: block;
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-second {
  background-color: transparent;
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-second--radius {
  border-radius: 0;
}
.xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-first {
  box-shadow: none;
}
@media (max-width: 1140px) {
  .xo-header--drawer xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-first {
    padding: 0;
  }
}

.xo-header--drawer.xo-header--style-1 .xo-header__sticky {
  height: unset;
}
.xo-header--drawer.xo-header--style-1 .xo-header__body {
  padding-top: 2rem;
}
@media (max-width: 1140px) {
  .xo-header--drawer.xo-header--style-1 .xo-header__body {
    padding-top: 0;
  }
}

.xo-header--drawer.xo-header--style-3 .xo-header__container {
  padding: 0;
}
@media (min-width: 1140px) {
  .xo-header--drawer.xo-header--style-3 .xo-header__container {
    padding: 0 3.1rem;
  }
}
.xo-header--drawer.xo-header--style-3 .xo-header__left {
  padding: 0;
}

.xo-header--drawer.xo-header--style-4 .xo-header__container {
  padding: 0;
}
@media (min-width: 1140px) {
  .xo-header--drawer.xo-header--style-4 .xo-header__container {
    padding: 0 3.1rem;
  }
}
.xo-header--drawer.xo-header--style-4 .xo-header__box-first {
  padding: 0;
}

.xo-header--drawer.xo-header--style-5 .xo-header__container {
  padding: 0;
}
@media (min-width: 1140px) {
  .xo-header--drawer.xo-header--style-5 .xo-header__container {
    padding: 0 3.1rem;
  }
}
.xo-header--drawer.xo-header--style-5 .xo-header__body {
  padding-top: 2rem;
}
@media (max-width: 1140px) {
  .xo-header--drawer.xo-header--style-5 .xo-header__body {
    padding-top: 0;
  }
}

.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__link {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__arrow svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__line-hover {
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-1:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-3:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-4:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent {
  display: block;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-1:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-3:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-4:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky {
  display: none;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-2:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-5:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent {
  display: block;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-2:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--drawer.xo-header--style-5:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky {
  display: none;
}