/* stylelint-disable */
/* stylelint-enable */
/*MIXINS*/
.custom-hero-banner-section {
  background-color: var(--section-bg-color);
  padding: 4rem 0 0 0;
}
@media (max-width: 992px) {
  .custom-hero-banner-section {
    padding: 0;
  }
  .custom-hero-banner-section xo-container {
    padding: 0;
  }
}

.custom-hero-banner {
  position: relative;
  min-height: 70rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--bg-desktop);
  overflow: hidden;
}
@media (max-width: 992px) {
  .custom-hero-banner {
    min-height: 55.7rem;
    justify-content: center;
    background-image: var(--bg-mobile) !important;
  }
}
.custom-hero-banner__content-box {
  position: relative;
  z-index: 2;
  background: var(--color-midnight-blue);
  color: var(--color-blue-40);
  padding: 5.4rem 12rem 8rem 12rem;
  margin-left: 4.8rem;
}
@media (max-width: 992px) {
  .custom-hero-banner__content-box {
    background: none;
    margin: 3.2rem 0.8rem;
    padding: 3.2rem 1.6rem;
    max-width: 100%;
    text-align: center;
    color: var(--color-white);
  }
}
.custom-hero-banner__heading {
  font-size: 6rem;
  line-height: 1 !important;
  margin-top: 0;
  font-weight: 300;
  font-family: var(--font-beausite-fit-web);
  color: var(--color-blue-80);
  margin-bottom: 2.4rem;
  max-width: 46rem;
}
@media (max-width: 992px) {
  .custom-hero-banner__heading {
    font-size: 4.2rem !important;
    text-align: center;
    max-width: 100%;
    margin-bottom: 2rem !important;
  }
}
.custom-hero-banner__subheading, .custom-hero-banner__desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--color-white);
}
@media (max-width: 992px) {
  .custom-hero-banner__subheading, .custom-hero-banner__desc {
    font-size: 1.4rem !important;
  }
}
.custom-hero-banner__subheading strong, .custom-hero-banner__desc strong {
  font-weight: 600;
}
.custom-hero-banner__desc {
  margin-bottom: 7.2rem;
}
@media (max-width: 992px) {
  .custom-hero-banner__desc {
    margin-bottom: 2.4rem;
  }
}
.custom-hero-banner__buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
@media (max-width: 992px) {
  .custom-hero-banner__buttons {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
  }
}
.custom-hero-banner__button {
  display: inline-block;
  padding: 1.2rem 6.9rem;
  border-radius: 12rem;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  transition: var(--default-transition);
}
@media (max-width: 992px) {
  .custom-hero-banner__button {
    font-size: 1.4rem !important;
    padding: 1.6rem 2.4rem;
  }
}
.custom-hero-banner__button--primary {
  background: var(--color-blue-80);
  color: var(--color-black);
}
@media (max-width: 992px) {
  .custom-hero-banner__button--primary {
    width: 100%;
  }
}
.custom-hero-banner__button--primary:hover {
  background: var(--color-blue-120);
}
.custom-hero-banner__button--secondary {
  background: transparent;
  color: var(--color-neutral-cream);
  opacity: 1;
  border: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.custom-hero-banner__button--secondary:hover {
  opacity: 0.8;
}
@media (max-width: 992px) {
  .custom-hero-banner__button--secondary {
    justify-content: center;
  }
}
/*# sourceMappingURL=section-custom-hero.css.map */
