.xo-address-list__head {
  padding-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .xo-address-list__head {
    padding-bottom: 5.2rem;
  }
}

.xo-address-list__heading {
  padding-bottom: 0.6rem;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
}

.xo-address-list__return-account {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-address-list__button-link {
  display: inline-flex;
}
.xo-address-list__button-link .xo-btn__content {
  text-decoration: none;
}