.featured-collection-style-10 {
  position: relative;
  height: 70rem;
}
@media (min-width: 992px) {
  .featured-collection-style-10 {
    height: 100vh;
  }
}

.featured-collection-style-10__background {
  position: absolute;
  inset: 0;
  z-index: -2;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.featured-collection-style-10__video {
  width: 100%;
  height: 100%;
}

.featured-collection-style-10__container {
  height: 100%;
}

.featured-collection-style-10__content {
  height: 100%;
}