.product-specification-style-9 {
  position: relative;
  height: unset;
}
@media (min-width: 1200px) {
  .product-specification-style-9 {
    height: 99.9rem;
  }
}

.product-specification-style-9__container {
  height: 100%;
}

.product-specification-style-9__content {
  height: 100%;
  padding: 5.2rem 0 2.2rem 0;
}
@media (min-width: 992px) {
  .product-specification-style-9__content {
    padding: 6rem 0 6rem 0;
  }
}
@media (min-width: 1400px) {
  .product-specification-style-9__content {
    padding: 10.9rem 0 11.6rem 0;
  }
}