.xo-popup-age-verification {
  --xo-popup-age-verification-delay: 200ms;
  width: 100%;
  height: 100%;
}
.xo-popup-age-verification.xo-popup-age-verification--flyout {
  padding: 1rem;
}
.xo-popup-age-verification__container {
  position: relative;
  max-width: calc(100vw - 2.4rem);
  max-height: calc(100vh - 2.4rem);
  text-align: var(--xo-popup-age-verification-text-alignment);
  width: var(--xo-popup-age-verification-content-width);
  overflow: hidden;
  overflow-y: auto;
}
.xo-popup-age-verification__container:has(.xo-btn--radius) {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-age-verification__container:has(.xo-btn--radius) .xo-popup-age-verification__media {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-age-verification__media {
  position: absolute;
  top: 1.4rem;
  bottom: 1.4rem;
  width: var(--xo-popup-age-verification-image-width);
  overflow: hidden;
}
.xo-popup-age-verification__media .xo-image {
  width: 100%;
  height: 100%;
}
.xo-popup-age-verification__media img, .xo-popup-age-verification__media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.xo-popup-age-verification__media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.xo-popup-age-verification__content-container {
  position: relative;
  transition: padding 0.5s ease;
  width: 100%;
  z-index: 9;
}
.xo-popup-age-verification__content {
  padding: 4.4rem 4.9rem 4.1rem 4.9rem;
  width: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-popup-age-verification__subheading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.5;
}
.xo-popup-age-verification__heading {
  margin-top: 0.9rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
}
.xo-popup-age-verification__body {
  margin-top: 1.5rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.7;
}
.xo-popup-age-verification__button {
  margin-top: 2.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.xo-popup-age-verification__disclaimer {
  margin-top: 1.4rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.7;
  padding: 0;
}
@media (min-width: 768px) {
  .xo-popup-age-verification__disclaimer {
    padding: 0 2.4rem;
  }
}
@media (min-width: 1200px) {
  .xo-popup-age-verification__disclaimer {
    padding: 0 3.2rem;
  }
}
@media (min-width: 1400px) {
  .xo-popup-age-verification__disclaimer {
    padding: 0 4.8rem;
  }
}
@media (min-width: 1600px) {
  .xo-popup-age-verification__disclaimer {
    padding: 0 7.5rem;
  }
}
.xo-popup-age-verification--left .xo-popup-age-verification__media {
  left: 1.4rem;
}
.xo-popup-age-verification--right .xo-popup-age-verification__media {
  right: 1.4rem;
}
.xo-popup-age-verification--background .xo-popup-age-verification__content {
  background-color: transparent;
}
.xo-popup-age-verification--background .xo-popup-age-verification__media {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

xo-modal[xo-active] .xo-popup-age-verification--left:has(img) .xo-popup-age-verification__container,
xo-modal[xo-active] .xo-popup-age-verification--left:has(video) .xo-popup-age-verification__container {
  animation: xo_popup_age_verification_open 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-age-verification-delay)) forwards;
}
xo-modal[xo-active] .xo-popup-age-verification--left:has(img) .xo-popup-age-verification__content-container,
xo-modal[xo-active] .xo-popup-age-verification--left:has(video) .xo-popup-age-verification__content-container {
  animation: xo_popup_age_verification_media_left 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-age-verification-delay)) forwards;
}
xo-modal[xo-active] .xo-popup-age-verification--right:has(img) .xo-popup-age-verification__container,
xo-modal[xo-active] .xo-popup-age-verification--right:has(video) .xo-popup-age-verification__container {
  animation: xo_popup_age_verification_open 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-age-verification-delay)) forwards;
}
xo-modal[xo-active] .xo-popup-age-verification--right:has(img) .xo-popup-age-verification__content-container,
xo-modal[xo-active] .xo-popup-age-verification--right:has(video) .xo-popup-age-verification__content-container {
  animation: xo_popup_age_verification_media_right 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-age-verification-delay)) forwards;
}

@media screen and (max-width: 991px) {
  .xo-popup-age-verification__container {
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .xo-popup-age-verification__content {
    padding: 3.2rem;
  }
  .xo-popup-age-verification__content-container {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .xo-popup-age-verification--left:not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media, .xo-popup-age-verification--right:not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media {
    position: static;
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
  }
  .xo-popup-age-verification--background:not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__content {
    background-color: transparent;
  }
  .xo-popup-age-verification--background:not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .xo-popup-age-verification.xo-popup-age-verification--hidden-image-mobile .xo-popup-age-verification__media {
    display: none !important;
  }
  xo-modal[xo-active] .xo-popup-age-verification--left:has(img):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__container,
  xo-modal[xo-active] .xo-popup-age-verification--left:has(video):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__container,
  xo-modal[xo-active] .xo-popup-age-verification--right:has(img):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__container,
  xo-modal[xo-active] .xo-popup-age-verification--right:has(video):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__container {
    animation: xo_popup_age_verification_open_mobile 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-age-verification-delay)) forwards;
    width: 100%;
  }
  xo-modal[xo-active] .xo-popup-age-verification--left:has(img):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media,
  xo-modal[xo-active] .xo-popup-age-verification--left:has(video):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media,
  xo-modal[xo-active] .xo-popup-age-verification--right:has(img):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media,
  xo-modal[xo-active] .xo-popup-age-verification--right:has(video):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__media {
    animation: xo_popup_age_verification_media_mobile 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-age-verification-delay)) forwards;
  }
  xo-modal[xo-active] .xo-popup-age-verification--left:has(img):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__content-container,
  xo-modal[xo-active] .xo-popup-age-verification--left:has(video):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__content-container,
  xo-modal[xo-active] .xo-popup-age-verification--right:has(img):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__content-container,
  xo-modal[xo-active] .xo-popup-age-verification--right:has(video):not(.xo-popup-age-verification--hidden-image-mobile) .xo-popup-age-verification__content-container {
    padding-inline-start: 0;
    animation: none;
  }
  xo-modal[xo-active] .xo-popup-age-verification--hidden-image-mobile .xo-popup-age-verification__media {
    animation: none !important;
  }
  xo-modal[xo-active] .xo-popup-age-verification--hidden-image-mobile .xo-popup-age-verification__content-container {
    padding-inline-start: 0;
    animation: none !important;
  }
}
@keyframes xo_popup_age_verification_open {
  from {
    width: var(--xo-popup-age-verification-content-width);
  }
  to {
    width: calc(var(--xo-popup-age-verification-content-width) + var(--xo-popup-age-verification-image-width));
  }
}
@keyframes xo_popup_age_verification_media_left {
  from {
    padding-inline-start: 0px;
  }
  to {
    padding-inline-start: calc(var(--xo-popup-age-verification-image-width) + 1.4rem);
  }
}
@keyframes xo_popup_age_verification_media_right {
  from {
    padding-inline-end: 0px;
  }
  to {
    padding-inline-end: calc(var(--xo-popup-age-verification-image-width) + 1.4rem);
  }
}
@keyframes xo_popup_age_verification_open_mobile {
  from {
    width: var(--xo-popup-age-verification-content-width);
  }
  to {
    width: var(--xo-popup-age-verification-content-width);
  }
}
@keyframes xo_popup_age_verification_media_mobile {
  from {
    height: 0;
  }
  to {
    height: 30rem;
  }
}