.xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .shopify-payment-button__button {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
}
.xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__price {
  display: none;
}
.xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
  cursor: not-allowed;
}
.xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__content {
  text-shadow: none;
}
.xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__text {
  position: relative;
  color: transparent;
  width: 100%;
}
.xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__text::before {
  content: attr(data-text-unavailable);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
[dir=ltr] .xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__text::before {
  left: 50%;
}
[dir=rtl] .xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__text::before {
  right: 50%;
}
[dir=ltr] .xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__text::before {
  transform: translateX(-50%);
}
[dir=rtl] .xo-main-product-quickview__product[xo-unavailable]:not([xo-unavailable=false]) .product-info-content-quickview__button-add-cart .xo-btn__text::before {
  transform: translateX(50%);
}

@media (max-width: 991px) {
  .xo-main-product-quickview__grid {
    row-gap: 2.4rem;
  }
}

@media (min-width: 768px) {
  .xo-main-product-quickview__media {
    position: sticky;
    top: 0;
  }
}

@media (min-width: 768px) {
  .xo-main-product-quickview__content {
    height: 95%;
  }
}
@media (min-width: 1600px) {
  .xo-main-product-quickview__content {
    height: 100%;
  }
}