.carousel-text__box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0 1.6rem 1rem 0;
}
@media (min-width: 992px) {
  .carousel-text__box {
    gap: 2.4rem;
    padding: 0 2.4rem 1rem 0;
  }
}

.carousel-text__image .xo-image {
  width: 5.5rem;
  height: 5.5rem;
}
.carousel-text__image img {
  width: 100%;
  height: 100%;
}
.carousel-text__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.carousel-text__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.carousel-text__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}