.banner-main-collection {
  position: relative;
}
.banner-main-collection::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  opacity: var(--overlay-opacity);
}

.banner-main-collection--small {
  height: 35rem;
}
@media (min-width: 768px) {
  .banner-main-collection--small {
    height: 42rem;
  }
}

.banner-main-collection--medium {
  height: 42rem;
}
@media (min-width: 768px) {
  .banner-main-collection--medium {
    height: 56rem;
  }
}

.banner-main-collection--large {
  height: 52rem;
}
@media (min-width: 768px) {
  .banner-main-collection--large {
    height: 72rem;
  }
}

.banner-main-collection__pr {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-main-collection__pr-2 {
  width: 100%;
  height: 100%;
}
.banner-main-collection__pr-2 .xo-image,
.banner-main-collection__pr-2 .xo-image__placeholder,
.banner-main-collection__pr-2 .placeholder-svg,
.banner-main-collection__pr-2 img {
  width: 100%;
  height: 100%;
}

.banner-main-collection__bg {
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.banner-main-collection__bg--mobile {
  display: block;
}
@media (min-width: 768px) {
  .banner-main-collection__bg--mobile {
    display: none;
  }
}

.banner-main-collection__bg--desktop {
  display: none;
}
@media (min-width: 768px) {
  .banner-main-collection__bg--desktop {
    display: block;
  }
}

.banner-main-collection__container {
  position: relative;
  z-index: 10;
  height: 100%;
}

.banner-main-collection__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding-bottom: 3.4rem;
}
@media (min-width: 992px) {
  .banner-main-collection__content {
    padding-bottom: 7.2rem;
  }
}

.banner-main-collection__head {
  display: flex;
  align-items: start;
  gap: 0.8rem;
}

.banner-main-collection__count {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.65;
  padding-top: 0;
}
@media (min-width: 768px) {
  .banner-main-collection__count {
    padding-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .banner-main-collection__count {
    padding-top: 1.6rem;
  }
}

.banner-main-collection__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}

.banner-main-collection__chars {
  display: flex;
  overflow: hidden;
}