.main-order__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.main-order__button {
  width: fit-content;
  padding: 1.6rem 0 0 0;
  display: inline-flex;
}
@media (min-width: 768px) {
  .main-order__button {
    padding: 1rem 0 1.2rem 0;
  }
}
.main-order__button .xo-btn {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.main-order__button .xo-btn__content {
  padding: 0;
  gap: 0.2rem;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  text-decoration: none;
}
.main-order__button .xo-btn__text {
  padding: 0;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 400;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
}
.main-order__button svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  width: 1.6rem;
  height: 1.6rem;
}

@media (max-width: 767px) {
  .main-order__grid {
    row-gap: 4.4rem;
  }
}

.main-order__table {
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .main-order__table {
    padding-inline-end: 3rem;
  }
}
@media (min-width: 1400px) {
  .main-order__table {
    padding-inline-end: 5.6rem;
  }
}