.xo-main-article {
  margin: auto;
  position: relative;
}

.xo-main-article__tag {
  display: none;
  color: rgba(var(--color-foreground), 0.4);
  font-size: calc(var(--font-body-scale) * 1.7rem);
  font-weight: 500;
  line-height: calc(1 + 0.41 / var(--font-body-scale));
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .xo-main-article__tag {
    display: block;
  }
}

.xo-main-article__box {
  display: flex;
  justify-content: center;
}

.xo-main-article__header {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .xo-main-article__header {
    width: 70.2rem;
  }
}
@media (min-width: 1400px) {
  .xo-main-article__header {
    width: 81.9rem;
  }
}

.xo-main-article__title {
  font-family: var(--font-heading-family);
  color: rgba(var(--color-foreground));
  font-weight: var(--font-heading-weight);
  text-align: left;
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .xo-main-article__title {
    padding-bottom: 2.4rem;
  }
}
@media (min-width: 992px) {
  .xo-main-article__title {
    text-align: center;
  }
}

.xo-main-article__published {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground), 0.7);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.62 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .xo-main-article__published {
    padding-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .xo-main-article__published {
    text-align: center;
  }
}

.xo-main-article__image {
  margin: 0 auto;
  width: unset;
  height: 32.5rem;
  padding-top: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .xo-main-article__image {
    width: 53.5rem;
  }
}
@media (min-width: 992px) {
  .xo-main-article__image {
    width: 90rem;
    height: 60rem;
    padding-top: 6.4rem;
  }
}
@media (min-width: 1400px) {
  .xo-main-article__image {
    width: 110rem;
    height: 68.7rem;
  }
}
.xo-main-article__image .xo-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.xo-main-article__image .xo-image:hover {
  cursor: pointer;
}
.xo-main-article__image .xo-image:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.xo-main-article__image img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all 0.5s ease;
}
.xo-main-article__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.xo-main-article__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.xo-main-article__image--radius .xo-image {
  border-radius: var(--article-image-radius);
}

.xo-main-article__content {
  margin: 0 auto;
  width: unset;
}
@media (min-width: 992px) {
  .xo-main-article__content {
    width: 71.2rem;
  }
}

.xo-main-article__share {
  margin: 0 auto;
  width: unset;
  display: flex;
  justify-content: var(--align_mb);
}
@media (min-width: 992px) {
  .xo-main-article__share {
    justify-content: var(--align_dt);
    width: 71.2rem;
  }
}
.xo-main-article__share .xo-share {
  gap: 0.4rem;
}
.xo-main-article__share .xo-share__link {
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
}
@media (max-width: 767px) {
  .xo-main-article__share .xo-share__link {
    padding: 1.4rem;
    width: 5.6rem;
    height: 5.6rem;
  }
}

.xo-main-article__button {
  margin: 0 auto;
  width: unset;
  padding-top: 1.7rem;
  border-top: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .xo-main-article__button {
    width: 71.2rem;
    padding-top: 3.2rem;
  }
}
.xo-main-article__button .xo-btn__content {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  gap: 0.2rem;
}
.xo-main-article__button .xo-btn__text {
  padding: 0;
}
.xo-main-article__button svg {
  width: 2rem;
  height: 2rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}