.xo-reset-password__content {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .xo-reset-password__content {
    max-width: 54rem;
  }
}

.xo-reset-password__head {
  text-align: center;
  padding: 0 0 4rem 0;
}

.xo-reset-password__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-reset-password__sub-heading {
  padding-top: 0.7rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .xo-reset-password__sub-heading {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.44 / var(--font-body-scale));
    padding-top: 1rem;
  }
}

.xo-reset-password__input-item {
  display: flex;
  position: relative;
}

.xo-reset-password__item-input {
  width: 100%;
}

.xo-reset-password__item-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
[dir=ltr] .xo-reset-password__item-icon {
  right: 1.6rem;
}
[dir=rtl] .xo-reset-password__item-icon {
  left: 1.6rem;
}
.xo-reset-password__item-icon svg {
  opacity: 0.6;
}

.xo-reset-password__icon-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}

.xo-reset-password__icon-hide.active {
  display: none;
  transition: all 0.1s;
}

.xo-reset-password__icon-open {
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}

.xo-reset-password__icon-open.active {
  display: flex;
  transition: all 0.1s;
}