.shopify-section:has(.main-product) {
  position: relative;
  z-index: 10;
}

.main-product {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-product__image {
  position: relative;
}

.main-product__image-content {
  position: sticky;
  top: 1rem;
}

.main-product__product {
  width: 100%;
  height: 100%;
}

.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .shopify-payment-button__button {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .shopify-payment-button__add {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add {
  position: relative;
  pointer-events: none;
  cursor: not-allowed;
}
.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__content {
  text-shadow: none;
}
.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__text {
  position: relative;
  color: transparent;
  width: 100%;
}
.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__text::before {
  content: attr(data-text-unavailable);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
[dir=ltr] .main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__text::before {
  left: 50%;
}
[dir=rtl] .main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__text::before {
  right: 50%;
}
[dir=ltr] .main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__text::before {
  transform: translateX(-50%);
}
[dir=rtl] .main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-conntent__add .xo-btn__text::before {
  transform: translateX(50%);
}
.main-product__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-content__price {
  display: none;
}

.main-product__content--pd {
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .main-product__content--pd {
    padding-inline-end: 3rem;
  }
}
@media (min-width: 1200px) {
  .main-product__content--pd {
    padding-inline-end: 5rem;
  }
}
@media (min-width: 1400px) {
  .main-product__content--pd {
    padding-inline-end: 10rem;
  }
}

.main-product__header--change {
  display: none;
}
@media (max-width: 767px) {
  .main-product__header--change {
    display: block;
  }
}

.main-product__content--change {
  display: none;
}
.main-product__content--change .xo-product-info-content__title {
  display: block;
}
@media (max-width: 767px) {
  .main-product__content--change .xo-product-info-content__title {
    display: none;
  }
}
.main-product__content--change .xo-product-info-content__description {
  word-break: break-word;
  word-wrap: break-word;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.35 / var(--font-body-scale));
  font-weight: 500;
  padding: 1.6rem 0;
}
@media (min-width: 768px) {
  .main-product__content--change .xo-product-info-content__description {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    font-weight: 400;
    line-height: calc(1 + 0.43 / var(--font-body-scale));
    padding-bottom: 3.5rem;
  }
}
.main-product__content--change .xo-product-info-content__price {
  padding-bottom: 3.3rem;
  font-size: calc(var(--font-body-scale) * 2.8rem);
  line-height: calc(1 + 0.25 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.056rem);
}
@media (max-width: 767px) {
  .main-product__content--change .xo-product-info-content__price {
    font-size: calc(var(--font-body-scale) * 2.5rem);
    line-height: calc(1 + 0.44 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.05rem);
    padding-bottom: 1.4rem;
  }
}
.main-product__content--change .xo-product-info-content {
  padding-top: 6.9rem;
}
@media (max-width: 767px) {
  .main-product__content--change .xo-product-info-content {
    padding-top: 1rem;
  }
}

.main-product__content {
  padding: 4.3rem 0 0 0;
}
@media (min-width: 992px) {
  .main-product__content {
    padding: 4rem 0 3.2rem 0;
  }
}
@media (min-width: 1200px) {
  .main-product__content {
    padding: 4rem 0 3.2rem 3.2rem;
  }
}
@media (min-width: 1400px) {
  .main-product__content {
    padding: 4rem 0 3.2rem 2rem;
  }
}
@media (min-width: 1600px) {
  .main-product__content {
    padding: 8rem 0 7.2rem 5.2rem;
  }
}