/* stylelint-disable */
/* stylelint-enable */
/*MIXINS*/
.custom-product-reviews-list-section {
  background-color: var(--section-bg-color);
  margin-bottom: 12rem;
}
@media (max-width: 992px) {
  .custom-product-reviews-list-section {
    margin-bottom: 0rem;
  }
}

.custom-product-reviews-list__container {
  background-color: var(--container-bg-color);
  padding: 12rem 10rem;
}
@media (max-width: 991px) {
  .custom-product-reviews-list__container {
    padding: 4rem 2.4rem;
  }
}
.custom-product-reviews-list__header {
  text-align: center;
  max-width: 130rem;
  margin: 0 auto 9.4rem auto;
}
@media (max-width: 991px) {
  .custom-product-reviews-list__header {
    margin-bottom: 4rem;
  }
}
.custom-product-reviews-list__top-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem !important;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__top-line {
    gap: 1.4rem;
    font-size: 1.44rem;
  }
}
.custom-product-reviews-list__stars--header {
  display: flex;
  gap: 0.1rem;
  color: #FF9900;
}
.custom-product-reviews-list__heading {
  font-size: 7.2rem !important;
  font-family: var(--font-beausite-fit-web);
  font-weight: 300;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__heading {
    font-size: 3.2rem !important;
  }
}
.custom-product-reviews-list__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__grid {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
.custom-product-reviews-list__card {
  display: flex;
  gap: 3.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3.2rem 2.4rem 0 2.4rem;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__card {
    display: block;
    padding: 2.4rem 0 0 0;
  }
}
@media (max-width: 768px) {
  .custom-product-reviews-list__card-aside {
    flex-basis: auto;
    margin-bottom: 1.6rem;
  }
}
.custom-product-reviews-list__badge {
  background-color: rgb(51, 174, 106);
  color: var(--color-white);
  padding: 0.1rem 1.2rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  max-height: 2.2rem;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__badge {
    font-size: 1.12rem !important;
    max-height: 1.8rem !important;
    padding: 0 0.8rem;
  }
}
.custom-product-reviews-list__card-main {
  flex: 1;
}
.custom-product-reviews-list__stars--card {
  display: flex;
  gap: 0.1rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__stars--card svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
  }
}
.custom-product-reviews-list__author {
  font-size: 2.4rem;
  font-family: var(--font-beausite-fit-web);
  font-weight: 300;
  margin: 0 0 1rem 0 !important;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__author {
    font-size: 2rem;
    margin: 0 0 0.8rem 0 !important;
  }
}
.custom-product-reviews-list__content {
  font-size: 1.6rem !important;
  line-height: 1.6;
  color: var(--color-black);
}
@media (max-width: 768px) {
  .custom-product-reviews-list__content {
    font-size: 1.28rem !important;
  }
}
.custom-product-reviews-list__content p {
  margin: 0;
}
.custom-product-reviews-list__footer {
  text-align: center;
  margin-top: 9.4rem;
}
@media (max-width: 768px) {
  .custom-product-reviews-list__footer {
    margin-top: 4rem;
    text-align: left;
  }
}
.custom-product-reviews-list__button {
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  transition: text-decoration-color var(--default-transition);
  text-decoration-thickness: 0.1rem;
  text-decoration-color: var(--color-black);
  background: none;
  color: var(--color-black);
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}
.custom-product-reviews-list__button:hover, .custom-product-reviews-list__button:focus-visible {
  text-decoration-color: transparent;
}
/*# sourceMappingURL=section-custom-product-reviews-list.css.map */
