/* section-announcement-bar */
.shopify-section-group-header-group {
  z-index: 99999;
  position: relative;
}

.xo-announcement-bar {
  height: 100%;
  transition: all 0.5s;
}
.xo-announcement-bar .xo-section {
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}

.xo-announcement-bar.hidden {
  opacity: 0;
  height: 0;
}

.xo-announcement-bar__body {
  position: relative;
}

.xo-announcement-bar__container {
  height: 100%;
}

.xo-announcement-bar__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
[dir=ltr] .xo-announcement-bar__button {
  right: 2.4rem;
}
[dir=rtl] .xo-announcement-bar__button {
  left: 2.4rem;
}
@media (min-width: 768px) {
  .xo-announcement-bar__button {
    display: block;
  }
}
.xo-announcement-bar__button:hover .xo-announcement-bar__icon {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.xo-announcement-bar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  will-change: transform;
}

.xo-announcement-bar__inner {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .xo-announcement-bar__inner {
    width: var(--carousel-width);
  }
}

.xo-announcement-bar__carousel {
  width: 100%;
}
.xo-announcement-bar__carousel .xo-announcement-text__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-announcement-bar__carousel-inner {
  margin: 0 3rem;
}

.xo-announcement-bar__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
}
[dir=ltr] .xo-announcement-bar__prev {
  left: 0;
}
[dir=rtl] .xo-announcement-bar__prev {
  right: 0;
}

.xo-announcement-bar__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
}
[dir=ltr] .xo-announcement-bar__next {
  right: 0;
}
[dir=rtl] .xo-announcement-bar__next {
  left: 0;
}

.xo-announcement-bar__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-announcement-bar__item .xo-btn--secondary {
  background-color: color-mix(in srgb, rgba(var(--color-secondary-button)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-secondary-button-text)) calc(1 * 100%), transparent);
}

.xo-announcement-text__item {
  height: 100%;
}

.xo-announcement-bar__marquee .xo-announcement-text__item {
  padding-inline-end: 1.8rem;
}

.xo-announcement-bar__inline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .xo-announcement-bar__inline {
    flex-direction: row;
    gap: 2rem;
  }
}