.shop-the-look-style-1 {
  position: relative;
}

.shop-the-look-style-1__banner .xo-image,
.shop-the-look-style-1__banner .xo-image__placeholder,
.shop-the-look-style-1__banner .placeholder-svg,
.shop-the-look-style-1__banner img {
  width: 100%;
  height: 100%;
}

.shop-the-look-style-1__banner--radius {
  border-radius: 2rem;
  overflow: hidden;
}

.shop-the-look-style-1__right {
  height: 100%;
}

.shop-the-look-style-1__right {
  position: relative;
  height: 100%;
}

.shop-the-look-style-1__desktop {
  display: none;
}
@media (min-width: 768px) {
  .shop-the-look-style-1__desktop {
    display: block;
  }
}

.shop-the-look-style-1__mobile {
  display: block;
}
@media (min-width: 768px) {
  .shop-the-look-style-1__mobile {
    display: none;
  }
}

.shop-the-look-style-1__content {
  position: absolute;
  z-index: 100;
  top: calc(var(--top_mb) * 1%);
  left: calc(var(--left_mb) * 1%);
}
[dir=ltr] .shop-the-look-style-1__content {
  transform: translate(-50%, -50%);
}
[dir=rtl] .shop-the-look-style-1__content {
  transform: translate(50%, -50%);
}
@media (min-width: 768px) {
  .shop-the-look-style-1__content {
    top: calc(var(--top_dt) * 1%);
    left: calc(var(--left_dt) * 1%);
  }
}