.gallery-style-1__flex {
  display: flex;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .gallery-style-1__flex {
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .gallery-style-1__flex {
    gap: 2.8rem;
  }
}

.gallery-style-1__item {
  height: 100%;
}

.gallery-style-1__item--radius {
  border-radius: var(--gallery-radius);
  overflow: hidden;
}

.gallery-style-1__item .xo-image {
  width: 100%;
  height: 100%;
}
.gallery-style-1__item img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  will-change: transform;
}
.gallery-style-1__item .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.gallery-style-1__item .placeholder-svg {
  width: 100%;
  height: 100%;
}
.gallery-style-1__item:hover img {
  transform: scale(1.05);
}

.gallery-style-1__desktop .gallery-style-1__item--1 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.gallery-style-1__desktop .gallery-style-1__item--4 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gallery-style-1__item--1 {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-style-1__item--1 {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  .gallery-style-1__item--1 {
    height: unset;
    width: 10rem;
  }
}
@media (min-width: 1200px) {
  .gallery-style-1__item--1 {
    width: 15rem;
  }
}
@media (min-width: 1800px) {
  .gallery-style-1__item--1 {
    width: 23rem;
  }
}

.gallery-style-1__item--2,
.gallery-style-1__item--3 {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-style-1__item--2,
  .gallery-style-1__item--3 {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  .gallery-style-1__item--2,
  .gallery-style-1__item--3 {
    height: unset;
    width: 22.5rem;
  }
}
@media (min-width: 1200px) {
  .gallery-style-1__item--2,
  .gallery-style-1__item--3 {
    width: 24.5rem;
  }
}
@media (min-width: 1400px) {
  .gallery-style-1__item--2,
  .gallery-style-1__item--3 {
    width: 32.5rem;
  }
}
@media (min-width: 1800px) {
  .gallery-style-1__item--2,
  .gallery-style-1__item--3 {
    width: 42.5rem;
  }
}

.gallery-style-1__item--4 {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-style-1__item--4 {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  .gallery-style-1__item--4 {
    height: unset;
    width: 10rem;
  }
}
@media (min-width: 1200px) {
  .gallery-style-1__item--4 {
    width: 15rem;
  }
}
@media (min-width: 1800px) {
  .gallery-style-1__item--4 {
    width: 23rem;
  }
}

.gallery-style-1__text {
  width: 100%;
  height: 26.6rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.8rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .gallery-style-1__text {
    gap: 2.4rem;
    padding: 3rem 1rem;
    width: 100%;
    height: 26.6rem;
  }
}
@media (min-width: 992px) {
  .gallery-style-1__text {
    padding: 4rem 1.6rem;
    width: calc(100vw - 20rem - 45rem - 8rem);
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .gallery-style-1__text {
    gap: 2.8rem;
    padding: 4rem 1.6rem;
    width: calc(100vw - 30rem - 49rem - 11.2rem);
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .gallery-style-1__text {
    gap: 2.8rem;
    padding: 4rem 2rem;
    width: calc(100vw - 30rem - 65rem - 11.2rem);
    height: 100%;
  }
}
@media (min-width: 1800px) {
  .gallery-style-1__text {
    gap: 3.4rem;
    padding: 5rem 2rem;
    width: calc(100vw - 46rem - 85rem - 11.2rem);
    height: 100%;
  }
}

.gallery-style-1__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.gallery-style-1__desktop {
  display: none;
}
@media (min-width: 992px) {
  .gallery-style-1__desktop {
    display: block;
  }
}

.gallery-style-1__mobile {
  display: block;
}
@media (min-width: 992px) {
  .gallery-style-1__mobile {
    display: none;
  }
}

.gallery-style-1__grid {
  row-gap: 1.2rem;
  column-gap: 1.2rem;
}