.xo-main-blog .xo-article-card__title {
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

.xo-main-blog__content {
  display: flex;
  flex-direction: column;
  padding-top: 2.6rem;
}
@media (min-width: 768px) {
  .xo-main-blog__content {
    padding-top: 4rem;
  }
}

.xo-main-blog__grid {
  row-gap: 3.5rem;
  column-gap: 1.5rem;
}
@media (min-width: 992px) {
  .xo-main-blog__grid {
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
  }
}