.shop-the-look-style-2 {
  position: relative;
}
.shop-the-look-style-2 .xo-image,
.shop-the-look-style-2 .xo-image__placeholder,
.shop-the-look-style-2 .placeholder-svg,
.shop-the-look-style-2 img {
  width: 100%;
  height: 100%;
}

.shop-the-look-style-2__container .shop-the-look-style-2__heading {
  position: relative;
  top: 0;
  padding-bottom: 2.4rem;
  width: unset;
}
[dir=ltr] .shop-the-look-style-2__container .shop-the-look-style-2__heading {
  left: 0;
}
[dir=rtl] .shop-the-look-style-2__container .shop-the-look-style-2__heading {
  right: 0;
}
@media (min-width: 992px) {
  .shop-the-look-style-2__container .shop-the-look-style-2__heading {
    padding-bottom: 3.4;
  }
}
.shop-the-look-style-2__container .shop-the-look-style-2__banner--radius {
  border-radius: 0.6rem;
  overflow: hidden;
}

.shop-the-look-style-2__desktop {
  display: none;
}
@media (min-width: 768px) {
  .shop-the-look-style-2__desktop {
    display: block;
  }
}

.shop-the-look-style-2__mobile {
  display: block;
}
@media (min-width: 768px) {
  .shop-the-look-style-2__mobile {
    display: none;
  }
}

.shop-the-look-style-2__content {
  position: absolute;
  z-index: 100;
  top: calc(var(--top_mb) * 1%);
  left: calc(var(--left_mb) * 1%);
}
[dir=ltr] .shop-the-look-style-2__content {
  transform: translate(-50%, -50%);
}
[dir=rtl] .shop-the-look-style-2__content {
  transform: translate(50%, -50%);
}
@media (min-width: 768px) {
  .shop-the-look-style-2__content {
    top: calc(var(--top_dt) * 1%);
    left: calc(var(--left_dt) * 1%);
  }
}

.shop-the-look-style-2__heading {
  position: absolute;
  top: 4.2rem;
  z-index: 2;
}
[dir=ltr] .shop-the-look-style-2__heading {
  left: 2.3rem;
}
[dir=rtl] .shop-the-look-style-2__heading {
  right: 2.3rem;
}
@media (min-width: 992px) {
  .shop-the-look-style-2__heading {
    top: 6.4rem;
  }
  [dir=ltr] .shop-the-look-style-2__heading {
    left: 10.4rem;
  }
  [dir=rtl] .shop-the-look-style-2__heading {
    right: 10.4rem;
  }
}
@media (min-width: 1400px) {
  .shop-the-look-style-2__heading {
    top: 9.4rem;
  }
  [dir=ltr] .shop-the-look-style-2__heading {
    left: 16.4rem;
  }
  [dir=rtl] .shop-the-look-style-2__heading {
    right: 16.4rem;
  }
}