.product-specification-style-11 {
  position: relative;
  height: 86.5rem;
}
@media (min-width: 992px) {
  .product-specification-style-11 {
    height: 99.6rem;
  }
}

.product-specification-style-11__container {
  height: 100%;
}

.product-specification-style-11__content {
  height: 100%;
  padding: 2.3rem;
  display: flex;
  align-items: end;
  justify-content: end;
}
@media (min-width: 768px) {
  .product-specification-style-11__content {
    padding: 2.8rem;
  }
}