.section-footer:has(.footer--fixed) {
  position: sticky;
  bottom: 0;
}

.section-footer .xo-section {
  background-color: color-mix(in srgb, rgba(var(--color-accent-4)) calc(1 * 100%), transparent);
}

.footer {
  height: 100%;
}
.footer .xo-socials__link {
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
}
.footer *:focus-visible {
  outline: 0.1rem solid rgb(var(--color-foreground-5));
}
.footer .xo-field-input__input:focus-visible {
  border-radius: var(--general-radius-3);
}
.footer .xo-language-select__item:focus-visible,
.footer .xo-currency-select__item:focus-visible {
  outline: 0.2rem solid rgb(var(--color-accent));
}
.footer .xo-language-select__trigger,
.footer .xo-currency-select__trigger {
  color: color-mix(in srgb, rgba(var(--color-foreground-5)) calc(1 * 100%), transparent);
}
.footer .xo-language-select__content,
.footer .xo-currency-select__content {
  background-color: rgba(var(--color-background), 1);
}
.footer .xo-language-select__item:hover,
.footer .xo-currency-select__item:hover {
  background-color: rgba(var(--color-background), 0.7);
}
.footer .xo-language-select__name,
.footer .xo-currency-select__name {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.footer__container {
  width: 100%;
  height: 100%;
}