.xo-breadcrumb-heading {
  display: flex;
  gap: 1rem;
}

.xo-breadcrumb-heading--center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.xo-breadcrumb-heading--right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}