.main-page-heading-style-2 {
  position: relative;
}
.main-page-heading-style-2 .xo-section {
  height: 100%;
}
.main-page-heading-style-2 .xo-section::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  opacity: var(--overlay-opacity);
}

.main-page-heading-style-2__pr {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-page-heading-style-2__bg {
  width: 100%;
  height: 100%;
  background-image: var(--img-mobile);
  background-size: cover;
  background-position: center;
  opacity: 1 !important;
}
@media (min-width: 768px) {
  .main-page-heading-style-2__bg {
    background-image: var(--img-desktop);
  }
}

.main-page-heading-style-2__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-page-heading-style-2__image .xo-image,
.main-page-heading-style-2__image .xo-image__placeholder,
.main-page-heading-style-2__image .placeholder-svg,
.main-page-heading-style-2__image img {
  width: 100%;
  height: 100%;
}
.main-page-heading-style-2__image img {
  transition: all 0.5s ease-in-out;
  will-change: transform;
}
.main-page-heading-style-2__image:hover img {
  transform: scale(1.05);
}

.main-page-heading-style-2__image--absolute {
  position: absolute;
  inset: 0;
}

.main-page-heading-style-2__bottom {
  padding-top: 2rem;
}
@media (min-width: 740px) {
  .main-page-heading-style-2__bottom {
    padding-top: 2.6rem;
  }
}

.main-page-heading-style-2__image--bottom {
  position: relative;
  aspect-ratio: 333/204;
  overflow: hidden;
}
@media (min-width: 740px) {
  .main-page-heading-style-2__image--bottom {
    aspect-ratio: 1592/633;
  }
}

.main-page-heading-style-2__image--radius {
  border-radius: 1rem;
  overflow: hidden;
}

.main-page-heading-style-2__content {
  position: relative;
  z-index: 9;
}

.main-page-heading-style-2__breadcrumb {
  padding-bottom: 1.6rem;
}
@media (min-width: 992px) {
  .main-page-heading-style-2__breadcrumb {
    padding-bottom: 2.4rem;
  }
}

.main-page-heading-style-2__image-desktop {
  height: 100%;
  display: none;
}
@media (min-width: 768px) {
  .main-page-heading-style-2__image-desktop {
    display: block;
  }
}

.main-page-heading-style-2__image-mobile {
  height: 100%;
  display: block;
}
@media (min-width: 768px) {
  .main-page-heading-style-2__image-mobile {
    display: none;
  }
}