.blog-list__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2rem 0;
}
@media (min-width: 992px) {
  .blog-list__head {
    align-items: end;
    padding: 0 1.1rem 3.2rem 0;
  }
}

.blog-list__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .blog-list__grid {
    row-gap: 3.5rem;
  }
}

.blog-list__image .xo-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blog-list__image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  will-change: transform;
}
.blog-list__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.blog-list__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.blog-list__image--radius {
  border-radius: var(--article-image-radius);
  overflow: hidden;
}

.blog-list__title {
  display: inline-flex;
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-heading-6-scale) * 1.8rem);
  font-weight: var(--font-heading-weight);
  line-height: calc(1 + 0.05 / var(--font-heading-6-scale));
  letter-spacing: calc(var(--font-heading-6-scale) * -0.018rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .blog-list__title {
    font-size: calc(var(--font-heading-6-scale) * 2rem);
    letter-spacing: calc(var(--font-heading-6-scale) * -0.02rem);
  }
}

.blog-list__group {
  padding: 0.7rem 0 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.65;
}
@media (min-width: 768px) {
  .blog-list__group {
    opacity: 0.6;
  }
}

.blog-list__dot {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.blog-list__description {
  padding-inline-end: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 400;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.6;
}

.blog-list__box {
  padding: 1.6rem 2.4rem 0 0;
}