.main-activate-account__item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--color-background));
}

.main-activate-account__input {
  width: 100%;
  display: inline-flex;
}

.main-activate-account__icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}
[dir=ltr] .main-activate-account__icon {
  right: 1.6rem;
}
[dir=rtl] .main-activate-account__icon {
  left: 1.6rem;
}

.main-activate-account__icon-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.1s;
}

.main-activate-account__icon-hide.active {
  display: none;
  transition: ease-in 0.1s;
}

.main-activate-account__icon-open {
  display: none;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.1s;
}

.main-activate-account__icon-open.active {
  display: flex;
  transition: ease-in 0.1s;
}

@media (max-width: 767px) {
  .main-activate-account__button--acvivate {
    padding-bottom: 2.8rem;
    border-bottom: 0.1rem solid rgba(var(--color-border), 0.4);
  }
}

.main-activate-account__button--decline {
  text-align: center;
}