xo-product-quick-view {
  --xo-container-gap: 0;
}

.xo-quick-view .xo-modal-content {
  width: unset;
  height: auto;
}
@media (min-width: 992px) {
  .xo-quick-view .xo-modal-content {
    width: 90rem;
  }
}
@media (min-width: 1200px) {
  .xo-quick-view .xo-modal-content {
    width: 120rem;
  }
}
@media (max-width: 767px) {
  .xo-quick-view .xo-modal-content {
    width: unset;
    height: auto;
  }
}
@media (max-width: 1399px) {
  .xo-quick-view .xo-modal-content {
    height: auto;
  }
}
.xo-quick-view .xo-modal-content__content {
  padding: 2rem;
}
@media (min-width: 768px) {
  .xo-quick-view .xo-modal-content__content {
    padding: 3rem;
  }
}
@media (min-width: 992px) {
  .xo-quick-view .xo-modal-content__content {
    padding: 4.2rem;
  }
}
@media (min-width: 1400px) {
  .xo-quick-view .xo-modal-content__content {
    padding: 6rem;
  }
}
.xo-quick-view .xo-modal-content__inner {
  padding: 0;
  width: 100%;
}
.xo-quick-view .xo-modal-content__inner .xo-scrollbar {
  --width: 0;
}
.xo-quick-view .xo-modal-content__inner .xo-scrollbar::-webkit-scrollbar {
  display: none;
}
.xo-quick-view .product-info-media-quickview__content xo-modal-trigger:not([xo-active=false]) {
  pointer-events: none;
}

xo-modal[xo-name=quick-view] .xo-modal-content__inner {
  width: 100%;
}
@media (min-width: 992px) {
  xo-modal[xo-name=quick-view] .xo-modal-content__inner {
    padding: 2.4rem 3.8rem;
  }
}
@media (min-width: 1400px) {
  xo-modal[xo-name=quick-view] .xo-modal-content__inner {
    padding: 3.2rem 4.8rem;
  }
}
@media (min-width: 1600px) {
  xo-modal[xo-name=quick-view] .xo-modal-content__inner {
    padding: 5.3rem 7rem;
  }
}
xo-modal[xo-name=quick-view] .xo-modal-content__close {
  position: absolute;
  top: 1rem;
}
[dir=ltr] xo-modal[xo-name=quick-view] .xo-modal-content__close {
  right: 1rem;
}
[dir=rtl] xo-modal[xo-name=quick-view] .xo-modal-content__close {
  left: 1rem;
}