.newsletter-form__content {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newsletter-form__form {
  width: 100%;
}

.newsletter-form__heading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  padding-bottom: 1.6rem;
}

.newsletter-form__sub-heading {
  padding-bottom: 2.4rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.8 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}
@media (min-width: 768px) {
  .newsletter-form__sub-heading {
    padding-bottom: 3.2rem;
  }
}
@media (min-width: 992px) {
  .newsletter-form__sub-heading {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.38 / var(--font-body-scale));
    padding-bottom: 4rem;
  }
}
.newsletter-form__sub-heading a {
  color: inherit;
  text-decoration: underline;
}

.newsletter-form__field-input {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--inputs-radius-outset);
  border: var(--inputs-border-width) solid rgba(var(--color-border), var(--inputs-border-opacity));
  box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) color-mix(in srgb, rgba(var(--color-shadow)) calc(var(--inputs-shadow-opacity) * 100%), transparent);
}
.newsletter-form__field-input .xo-field-input__input {
  padding-inline-end: 3.2rem;
}

.newsletter-form__field-input--rounded {
  border-radius: max(var(--inputs-radius-outset), 1.5rem);
}

.newsletter-form__field-button {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}
[dir=ltr] .newsletter-form__field-button {
  right: 1rem;
}
[dir=rtl] .newsletter-form__field-button {
  left: 1rem;
}
.newsletter-form__field-button svg {
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
}
.newsletter-form__field-button:hover {
  opacity: 0.8;
}