.gallery-style-2__carousel {
  position: relative;
}

.gallery-style-2__wrapper {
  height: 21.3rem;
}
@media (min-width: 768px) {
  .gallery-style-2__wrapper {
    height: 60vh;
  }
}
@media (min-width: 1200px) {
  .gallery-style-2__wrapper {
    height: 80vh;
  }
}

.gallery-style-2__image {
  height: 100%;
}
.gallery-style-2__image .xo-image {
  width: 100%;
  height: 100%;
}
.gallery-style-2__image img {
  width: 100%;
  height: 100%;
}
.gallery-style-2__image .xo-image__placeholder {
  width: 100%;
  height: 100%;
}
.gallery-style-2__image .placeholder-svg {
  width: 100%;
  height: 100%;
}

.gallery-style-2__button {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding-inline-end: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .gallery-style-2__button {
    display: none;
  }
}

[dir=ltr] .gallery-style-2__button--prev {
  left: 0;
}
[dir=rtl] .gallery-style-2__button--prev {
  right: 0;
}

[dir=ltr] .gallery-style-2__button--next {
  right: 0;
}
[dir=rtl] .gallery-style-2__button--next {
  left: 0;
}

.gallery-style-2__button--prev xo-scroll-carousel-prev,
.gallery-style-2__button--next xo-scroll-carousel-next {
  width: 100%;
  height: 100%;
}