@media (prefers-reduced-motion: no-preference) {
  ::view-transition-group(*) {
    animation-duration: 300ms;
    animation-timing-function: ease;
  }
}
.xo-main-collection__filters[xo-loading] .xo-main-collection__vertical-loader,
.xo-main-collection__filters[xo-loading] .xo-main-collection__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(0.2 * 100%), transparent);
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xo-main-collection__toggle {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.8;
  cursor: pointer;
}

.xo-main-collection__left {
  padding-inline-end: 0;
}
@media (min-width: 1200px) {
  .xo-main-collection__left {
    padding-inline-end: 2.4rem;
  }
}
@media (min-width: 1400px) {
  .xo-main-collection__left {
    padding-inline-end: 4rem;
  }
}
@media (min-width: 1800px) {
  .xo-main-collection__left {
    padding-inline-end: 7rem;
  }
}
.xo-main-collection__left .xo-facets-vertical {
  display: none;
}
@media (min-width: 768px) {
  .xo-main-collection__left .xo-facets-vertical {
    display: block;
  }
}

.xo-main-collection__left.xo-active {
  opacity: 0;
  width: 0;
  display: none;
}

.xo-main-collection__right.xo-active {
  width: 100%;
}

.xo-main-collection__left,
.xo-main-collection__right {
  transition: all 0.3s ease-in-out;
}

.xo-main-collection__right,
.xo-main-collection__filter-content {
  position: relative;
}

.xo-main-collection__vertical-loader,
.xo-main-collection__loader {
  display: none;
}

.xo-main-collection .xo-facets-horizontal__caption--hide {
  display: none;
}
.xo-main-collection .xo-field-select-custom__name {
  opacity: 0.8;
}
.xo-main-collection .xo-field-select-custom__popover {
  min-width: 25rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid rgba(var(--color-border), 0.15);
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0784313725);
  border-radius: 0.8rem;
  border: none;
}

.xo-main-collection__head {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .xo-main-collection__head {
    display: flex;
    padding-bottom: 2.5rem;
  }
}

.xo-main-collection__grid {
  padding-top: 0;
  row-gap: 0;
}
@media (min-width: 768px) {
  .xo-main-collection__grid {
    row-gap: unset;
    border-top: 0.1rem solid rgba(var(--color-border), 0.4);
    padding-top: 2.4rem;
  }
}
.xo-main-collection__grid .filter-content__grid {
  padding-top: 0;
}

.xo-main-collection__caption {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  text-transform: uppercase;
  opacity: 0.65;
}

.xo-main-collection__sort-by {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.xo-main-collection__sort-by .xo-field-select-custom__trigger {
  padding: 0;
  border: none;
  border-radius: 0;
}