.main-list-collections__breadcrumb {
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .main-list-collections__breadcrumb {
    padding-bottom: 2.8rem;
  }
}
.main-list-collections__breadcrumb .xo-breadcrumb__link {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.25 / var(--font-body-scale));
  font-weight: 500;
  letter-spacing: calc(var(--font-body-scale) * -0.032rem);
}
@media (min-width: 768px) {
  .main-list-collections__breadcrumb .xo-breadcrumb__link {
    font-size: calc(var(--font-body-scale) * 2.2rem);
    line-height: calc(1 + 0.22 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.044rem);
  }
}
.main-list-collections__breadcrumb .xo-breadcrumb--current {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: calc(var(--font-heading-1-scale) * 4.3rem);
  line-height: calc(1 + 0.4 / var(--font-heading-1-scale));
  letter-spacing: calc(var(--font-heading-1-scale) * -0.215rem);
}
@media (min-width: 992px) {
  .main-list-collections__breadcrumb .xo-breadcrumb--current {
    font-size: calc(var(--font-heading-1-scale) * 17rem);
    line-height: calc(1 + 0 / var(--font-heading-1-scale));
    letter-spacing: calc(var(--font-heading-1-scale) * -0.85rem);
  }
}
@media (max-width: 767px) {
  .main-list-collections__breadcrumb .xo-breadcrumb__list {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-list-collections__content {
  row-gap: 2rem;
}
@media (min-width: 992px) {
  .main-list-collections__content {
    row-gap: 6rem;
  }
}

.main-list-collections__item {
  position: relative;
  transition: all 0.5s;
}
.main-list-collections__item .xo-collection-card-9__image .xo-image {
  transition: all 0.5s;
}

.main-list-collections__item:hover {
  transition: all 0.5s;
  cursor: pointer;
}
.main-list-collections__item:hover .main-list-collections__item-btn {
  opacity: 1;
}
.main-list-collections__item:hover .xo-collection-card-9__image .xo-image {
  transition: all 0.5s;
  filter: brightness(80%);
}

.main-list-collections__item-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s;
}
[dir=ltr] .main-list-collections__item-btn {
  left: 50%;
}
[dir=rtl] .main-list-collections__item-btn {
  right: 50%;
}
[dir=ltr] .main-list-collections__item-btn {
  transform: translate(-50%, -50%);
}
[dir=rtl] .main-list-collections__item-btn {
  transform: translate(50%, -50%);
}
.main-list-collections__item-btn .xo-btn__text {
  text-align: center;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  font-weight: 500;
  line-height: calc(1 + 0.44 / var(--font-body-scale));
  text-transform: uppercase;
}