.product-specification-style-14--with-product {
  position: relative;
  height: 67.2rem;
}
@media (min-width: 768px) {
  .product-specification-style-14--with-product {
    height: 80.1rem;
  }
}
@media (min-width: 1200px) {
  .product-specification-style-14--with-product {
    height: 100vh;
  }
}

.product-specification-style-14--with-image {
  position: relative;
  min-height: 100dvh;
  height: 100%;
}
@media (min-width: 992px) {
  .product-specification-style-14--with-image {
    height: 108.1rem;
  }
}

.product-specification-style-14__content {
  height: 100%;
}