.xo-popup-product-quickview {
  --xo-popup-product-quickview-delay: 200ms;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.xo-popup-product-quickview__container {
  position: relative;
  max-width: calc(100vw - 2.4rem);
  max-height: calc(100vh - 2.4rem);
  width: var(--xo-popup-product-quickview-content-width);
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  box-shadow: 0px 4px 29px 0px rgba(var(--color-overlay), 0.15);
  overflow: hidden;
  overflow-y: auto;
}
@media (max-width: 767px) {
  .xo-popup-product-quickview__container {
    width: 100%;
  }
}
.xo-popup-product-quickview__container:has(.xo-product-card-custom-v2--radius) {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-product-quickview__content-container {
  position: relative;
  transition: padding 0.5s ease;
  width: 100%;
  z-index: 9;
}
.xo-popup-product-quickview__content {
  width: 100%;
}