.xo-popup-signup {
  --xo-popup-signup-delay: 200ms;
  width: 100%;
  height: 100%;
}
.xo-popup-signup.xo-popup-signup--flyout {
  padding: 1rem;
}
.xo-popup-signup__container {
  position: relative;
  max-width: calc(100vw - 2.4rem);
  max-height: calc(100vh - 2.4rem);
  text-align: var(--xo-popup-signup-text-alignment);
  width: var(--xo-popup-signup-content-width);
  overflow: hidden;
  overflow-y: auto;
}
.xo-popup-signup__container:has(.xo-btn--radius) {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-signup__container:has(.xo-btn--radius) .xo-popup-signup__media {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-signup__media {
  position: absolute;
  top: 1.4rem;
  bottom: 1.4rem;
  width: var(--xo-popup-signup-image-width);
  overflow: hidden;
}
.xo-popup-signup__media .xo-image {
  width: 100%;
  height: 100%;
}
.xo-popup-signup__media img, .xo-popup-signup__media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.xo-popup-signup__media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.xo-popup-signup__content-container {
  position: relative;
  transition: padding 0.5s ease;
  width: 100%;
  z-index: 9;
}
.xo-popup-signup__content {
  padding: 4.4rem 4.9rem 4.5rem 4.9rem;
  width: 100%;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-popup-signup__subheading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.5;
}
.xo-popup-signup__heading {
  margin-top: 0.8rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
}
.xo-popup-signup__body {
  margin-top: 1rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.7;
}
.xo-popup-signup__input-container {
  margin-top: 2.3rem;
  position: relative;
}
.xo-popup-signup__input-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}
[dir=ltr] .xo-popup-signup__input-container svg {
  right: 2.3rem;
}
[dir=rtl] .xo-popup-signup__input-container svg {
  left: 2.3rem;
}
.xo-popup-signup .xo-field-checkbox {
  position: relative;
  margin-top: 1.1rem;
}
.xo-popup-signup .xo-field-checkbox__input {
  position: absolute;
  display: block;
  opacity: 0;
  z-index: -1;
}
.xo-popup-signup .xo-field-checkbox__label {
  margin-top: 1.4rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.7;
}
.xo-popup-signup__button {
  margin-top: 1.1rem;
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 767px) {
  .xo-popup-signup__button {
    flex-direction: column;
  }
}
.xo-popup-signup__disclaimer {
  margin-top: 1.4rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.7;
}
.xo-popup-signup--left .xo-popup-signup__media {
  left: 1.4rem;
}
.xo-popup-signup--right .xo-popup-signup__media {
  right: 1.4rem;
}
.xo-popup-signup--background .xo-popup-signup__content {
  background-color: transparent;
}
.xo-popup-signup--background .xo-image {
  width: 100%;
  height: 100%;
}
.xo-popup-signup--background .xo-popup-signup__media {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

xo-modal[xo-active] .xo-popup-signup--left:has(img) .xo-popup-signup__container,
xo-modal[xo-active] .xo-popup-signup--left:has(video) .xo-popup-signup__container {
  animation: xo_popup_signup_open 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-signup-delay)) forwards;
}
xo-modal[xo-active] .xo-popup-signup--left:has(img) .xo-popup-signup__content-container,
xo-modal[xo-active] .xo-popup-signup--left:has(video) .xo-popup-signup__content-container {
  animation: xo_popup_signup_media_left 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-signup-delay)) forwards;
}
xo-modal[xo-active] .xo-popup-signup--right:has(img) .xo-popup-signup__container,
xo-modal[xo-active] .xo-popup-signup--right:has(video) .xo-popup-signup__container {
  animation: xo_popup_signup_open 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-signup-delay)) forwards;
}
xo-modal[xo-active] .xo-popup-signup--right:has(img) .xo-popup-signup__content-container,
xo-modal[xo-active] .xo-popup-signup--right:has(video) .xo-popup-signup__content-container {
  animation: xo_popup_signup_media_right 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-signup-delay)) forwards;
}

@media screen and (max-width: 991px) {
  .xo-popup-signup__container {
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .xo-popup-signup__content {
    padding: 3.2rem;
  }
  .xo-popup-signup__content-container {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .xo-popup-signup--left:not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media, .xo-popup-signup--right:not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media {
    position: static;
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
  }
  .xo-popup-signup--background:not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__content {
    background-color: transparent;
  }
  .xo-popup-signup--background:not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .xo-popup-signup.xo-popup-signup--hidden-image-mobile .xo-popup-signup__media {
    display: none !important;
  }
  xo-modal[xo-active] .xo-popup-signup--left:has(img):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__container,
  xo-modal[xo-active] .xo-popup-signup--left:has(video):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__container,
  xo-modal[xo-active] .xo-popup-signup--right:has(img):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__container,
  xo-modal[xo-active] .xo-popup-signup--right:has(video):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__container {
    animation: xo_popup_signup_open_mobile 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-signup-delay)) forwards;
    width: 100%;
  }
  xo-modal[xo-active] .xo-popup-signup--left:has(img):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media,
  xo-modal[xo-active] .xo-popup-signup--left:has(video):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media,
  xo-modal[xo-active] .xo-popup-signup--right:has(img):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media,
  xo-modal[xo-active] .xo-popup-signup--right:has(video):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__media {
    animation: xo_popup_signup_media_mobile 500ms ease calc(var(--xo-duration) * 1ms + var(--xo-popup-signup-delay)) forwards;
  }
  xo-modal[xo-active] .xo-popup-signup--left:has(img):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__content-container,
  xo-modal[xo-active] .xo-popup-signup--left:has(video):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__content-container,
  xo-modal[xo-active] .xo-popup-signup--right:has(img):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__content-container,
  xo-modal[xo-active] .xo-popup-signup--right:has(video):not(.xo-popup-signup--hidden-image-mobile) .xo-popup-signup__content-container {
    padding-inline-start: 0;
    animation: none;
  }
  xo-modal[xo-active] .xo-popup-signup--hidden-image-mobile .xo-popup-signup__media {
    animation: none !important;
  }
  xo-modal[xo-active] .xo-popup-signup--hidden-image-mobile .xo-popup-signup__content-container {
    padding-inline-start: 0;
    animation: none !important;
  }
}
@keyframes xo_popup_signup_open {
  from {
    width: var(--xo-popup-signup-content-width);
  }
  to {
    width: calc(var(--xo-popup-signup-content-width) + var(--xo-popup-signup-image-width));
  }
}
@keyframes xo_popup_signup_media_left {
  from {
    padding-inline-start: 0px;
  }
  to {
    padding-inline-start: calc(var(--xo-popup-signup-image-width) + 1.4rem);
  }
}
@keyframes xo_popup_signup_media_right {
  from {
    padding-inline-end: 0px;
  }
  to {
    padding-inline-end: calc(var(--xo-popup-signup-image-width) + 1.4rem);
  }
}
@keyframes xo_popup_signup_open_mobile {
  from {
    width: var(--xo-popup-signup-content-width);
  }
  to {
    width: var(--xo-popup-signup-content-width);
  }
}
@keyframes xo_popup_signup_media_mobile {
  from {
    height: 0;
  }
  to {
    height: 30rem;
  }
}