.side-actions {
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}

.side-actions--hidden {
  transform: translateX(110%);
}

.side-actions--middle-left {
  top: 50%;
  transform: translateY(-50%);
  padding-inline-start: 0.8rem;
}
[dir=ltr] .side-actions--middle-left {
  left: 0;
}
[dir=rtl] .side-actions--middle-left {
  right: 0;
}
@media (min-width: 768px) {
  .side-actions--middle-left {
    padding-inline-start: 2rem;
  }
}

.side-actions--middle-right {
  top: 50%;
  transform: translateY(-50%);
  padding-inline-end: 0.8rem;
}
[dir=ltr] .side-actions--middle-right {
  right: 0;
}
[dir=rtl] .side-actions--middle-right {
  left: 0;
}
@media (min-width: 768px) {
  .side-actions--middle-right {
    padding-inline-end: 2rem;
  }
}

.side-actions--bottom-left {
  bottom: 2%;
  padding-inline-start: 0.8rem;
}
[dir=ltr] .side-actions--bottom-left {
  left: 0;
}
[dir=rtl] .side-actions--bottom-left {
  right: 0;
}
@media (min-width: 768px) {
  .side-actions--bottom-left {
    bottom: 10%;
    padding-inline-start: 2rem;
  }
}

.side-actions--bottom-right {
  bottom: 2%;
  padding-inline-end: 0.8rem;
}
[dir=ltr] .side-actions--bottom-right {
  right: 0;
}
[dir=rtl] .side-actions--bottom-right {
  left: 0;
}
@media (min-width: 768px) {
  .side-actions--bottom-right {
    bottom: 10%;
    padding-inline-end: 2rem;
  }
}

.side-actions--middle-left.side-actions--hidden {
  transform: translate(-110%, -50%);
}

.side-actions--bottom-left.side-actions--hidden {
  transform: translateX(-110%);
}

.side-actions--middle-right.side-actions--hidden {
  transform: translate(110%, -50%);
}

.side-actions__content {
  box-shadow: 0 0.4rem 2rem rgba(var(--color-overlay), 0.1);
}

.side-actions__content--modifier {
  padding: 0.8rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}

.side-actions__content--radius {
  border-radius: 2.5rem;
  overflow: hidden;
}

.slide-actions__wrapper {
  font-size: 4rem;
}
@media (min-width: 768px) {
  .slide-actions__wrapper {
    font-size: 6rem;
  }
}

.side-actions__social .xo-socials {
  flex-direction: column;
}