.collection-list-style-4__grid {
  display: grid;
  gap: 1.4rem;
}
@media (min-width: 768px) {
  .collection-list-style-4__grid {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .collection-list-style-4__grid {
    gap: 2.8rem;
  }
}

.collection-list-style-4__grid--modifier-3 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .collection-list-style-4__grid--modifier-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .collection-list-style-4__grid--modifier-3 .collection-list-style-4__item--2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .collection-list-style-4__grid--modifier-3 .collection-list-style-4__item--3 {
    grid-row: span 2/span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.collection-list-style-4__grid--modifier-6 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .collection-list-style-4__grid--modifier-6 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .collection-list-style-4__grid--modifier-6 .collection-list-style-4__item--2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .collection-list-style-4__grid--modifier-6 .collection-list-style-4__item--3 {
    grid-row: span 2/span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .collection-list-style-4__grid--modifier-6 .collection-list-style-4__item--4 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .collection-list-style-4__grid--modifier-6 .collection-list-style-4__item--5 {
    grid-column-start: 2;
    grid-row-start: 4;
  }
  .collection-list-style-4__grid--modifier-6 .collection-list-style-4__item--6 {
    grid-row: span 2/span 2;
    grid-column-start: 1;
    grid-row-start: 3;
  }
}

.collection-list-style-4__grid--modifier-1 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0rem;
}

.collection-list-style-4__grid--modifier-2 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .collection-list-style-4__grid--modifier-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.collection-list-style-4__grid--modifier-4 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .collection-list-style-4__grid--modifier-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .collection-list-style-4__grid--modifier-4 .collection-list-style-4__item--2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .collection-list-style-4__grid--modifier-4 .collection-list-style-4__item--3 {
    grid-row: span 2/span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .collection-list-style-4__grid--modifier-4 .collection-list-style-4__item--4 {
    grid-column: span 2/span 2;
    grid-row-start: 3;
  }
}

.collection-list-style-4__grid--modifier-5 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .collection-list-style-4__grid--modifier-5 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .collection-list-style-4__grid--modifier-5 .collection-list-style-4__item--2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .collection-list-style-4__grid--modifier-5 .collection-list-style-4__item--3 {
    grid-row: span 2/span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .collection-list-style-4__grid--modifier-5 .collection-list-style-4__item--4 {
    grid-row-start: 3;
  }
  .collection-list-style-4__grid--modifier-5 .collection-list-style-4__item--5 {
    grid-row-start: 3;
  }
}