.xo-popup-sale-notification {
  z-index: -1;
  position: relative;
  padding: 1rem;
  width: 430px;
  max-width: calc(100vw - 2.4rem);
  gap: 1.3rem;
  box-shadow: 0px 4px 29px 0px rgba(var(--color-overlay), 0.15);
}
.xo-popup-sale-notification__container {
  position: relative;
  display: flex;
  gap: 2rem;
  width: 100%;
}
.xo-popup-sale-notification__container:has(.xo-btn--radius) .xo-popup-sale-notification__image {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-sale-notification__close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  cursor: pointer;
}
.xo-popup-sale-notification__image {
  position: relative;
  width: 9.4rem;
  height: 11.6rem;
  object-fit: cover;
  overflow: hidden;
}
.xo-popup-sale-notification__image .xo-image {
  width: 100%;
  height: 100%;
}
.xo-popup-sale-notification__image img,
.xo-popup-sale-notification__image .placeholder-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.xo-popup-sale-notification__content {
  padding: 0.5rem 0 0.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.xo-popup-sale-notification__subheading {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.7;
}
.xo-popup-sale-notification__product-title {
  margin-top: 0.5rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.85;
}
.xo-popup-sale-notification__text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.xo-popup-sale-notification__text .xo-popup-sale-notification__time,
.xo-popup-sale-notification__text .xo-popup-sale-notification__text-content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  opacity: 0.7;
}
.xo-popup-sale-notification__progress {
  height: 4px;
  width: 0;
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
  margin-top: 10px;
  animation: xo-popup-sale-notification-progress calc(var(--xo-delay) * 1ms) linear;
}
.xo-popup-sale-notification:hover .xo-popup-sale-notification__progress {
  animation-play-state: paused;
}

.xo-popup-sale-notification--radius {
  border-radius: 1.2rem;
  overflow: hidden;
}
.xo-popup-sale-notification--radius .xo-popup-sale-notification__progress {
  border-radius: 0.5rem;
}

@keyframes xo-popup-sale-notification-progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}