.shopify-section:has(xo-products-fetcher[xo-empty]) {
  display: none;
}

.recently-viewed {
  height: 100%;
}

.recently-viewed__head {
  padding-bottom: 2.1rem;
}
@media (min-width: 992px) {
  .recently-viewed__head {
    padding-bottom: 3.1rem;
  }
}

.recently-viewed__item {
  height: 100%;
}