.xo-404-page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .xo-404-page__body {
    max-width: 47.4rem;
  }
}

.xo-404-page__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.xo-404-page__sub-heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
  padding-top: 0.9rem;
}
@media (min-width: 768px) {
  .xo-404-page__sub-heading {
    padding-top: 0.3rem;
  }
}

.xo-404-page__content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.37 / var(--font-body-scale));
  opacity: 0.75;
  padding: 1.6rem 2rem 0 2rem;
}
@media (min-width: 768px) {
  .xo-404-page__content {
    padding: 2rem 0 0 0;
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.38 / var(--font-body-scale));
  }
}
@media (min-width: 992px) {
  .xo-404-page__content {
    padding: 3.5rem 0 0 0;
  }
}

.xo-404-page__button {
  padding-top: 2.8rem;
}
@media (min-width: 768px) {
  .xo-404-page__button {
    padding-top: 3.4rem;
  }
}