.xo-header--style-1 {
  padding: 0;
  border-bottom: 0.1rem solid rgba(var(--color-border), 0.5);
}
@media (max-width: 1140px) {
  .xo-header--style-1 {
    padding: 0 2.2rem;
    border-bottom: none;
  }
}
.xo-header--style-1 .xo-header__sticky {
  padding-top: 0;
}
@media (max-width: 1140px) {
  .xo-header--style-1 .xo-header__sticky {
    padding-top: 2.2rem;
  }
}
.xo-header--style-1 .xo-header__container--transparent .xo-menu-horizontal__mega-menu {
  border-radius: 0;
}
.xo-header--style-1 .xo-menu-horizontal__mega-menu {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.xo-header--style-1 .mega-menu-1--desktop {
  padding: 0;
}
.xo-header--style-1 .mega-menu-2--desktop {
  padding: 0;
}
.xo-header--style-1 .xo-header__container {
  margin: 0;
}
@media (max-width: 1140px) {
  .xo-header--style-1 .xo-header__container {
    background-color: transparent;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky--style-1 {
    padding: 2.2rem 2.2rem 0 2.2rem;
    background-color: transparent;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__center {
    padding: 0.5rem 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
}
.xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container {
  padding: 0 3.1rem;
}
@media (max-width: 1140px) {
  .xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container {
    padding: 0 2.2rem;
    box-shadow: 0 3.4rem 10.4rem 0 rgba(0, 0, 0, 0.1);
    background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  }
}
@media (max-width: 1140px) {
  .xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container--radius {
    border-radius: var(--header-radius-1);
  }
}
.xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .mega-menu-1__container {
  padding: 0 5.1rem;
}
.xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .mega-menu-2__container {
  padding: 0 5.1rem;
}
.xo-header--style-1 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__logo-heading-logo {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header--style-1 .xo-header__container {
  padding: 0 5.1rem;
}
@media (max-width: 1399px) {
  .xo-header--style-1 .xo-header__container {
    padding: 0 2.3rem;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-1 .xo-header__container {
    padding: 0;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-1 .xo-header__center {
    padding: 0.5rem 1.8rem 0.5rem 0.8rem;
    box-shadow: 0 3.4rem 10.4rem 0 rgba(0, 0, 0, 0.1);
    background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  }
}
@media (max-width: 1140px) {
  .xo-header--style-1 .xo-header__center--radius {
    border-radius: var(--header-radius-2);
  }
}
.xo-header--style-1 .mega-menu-1__container {
  padding: 0 5.1rem;
}
.xo-header--style-1 .mega-menu-2__container {
  padding: 0 5.1rem;
}
.xo-header--style-1 .xo-header__right-item--language .xo-language-select__trigger {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}
.xo-header--style-1 .xo-header__right-item--currency .xo-currency-select__trigger {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}

.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) {
  position: absolute;
  z-index: 100;
  top: 0;
}
[dir=ltr] .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) {
  left: 0;
}
[dir=rtl] .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) {
  right: 0;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) {
  height: 100%;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__link {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__item:hover > .xo-menu-horizontal__link,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__item.xo-menu-horizontal__item--current > .xo-menu-horizontal__link {
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__item:hover > .xo-menu-horizontal__link svg,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__item.xo-menu-horizontal__item--current > .xo-menu-horizontal__link svg {
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__link--sub {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__link--sub .xo-menu-horizontal__arrow svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__arrow svg {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) svg {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__line-hover {
  background-color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-header__container {
  background-color: transparent;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-header__logo-heading-logo {
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-header__container--style-1 {
  height: 100%;
}
@media (max-width: 1140px) {
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__link {
    color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  }
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__arrow svg {
    color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  }
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) svg {
    color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  }
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(:has(xo-sticky[xo-is-sticky])) .xo-header__sticky--style-1:not(.xo-header__sticky--modifier) .xo-menu-horizontal__line-hover {
    background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  }
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1.xo-header--modifier:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent {
  display: none;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1.xo-header--modifier:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky {
  display: block;
}