.featured-product-special .xo-carousel-navigation__button {
  opacity: 1;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  background-color: transparent;
}
@media (max-width: 767px) {
  .featured-product-special .xo-carousel-navigation__button {
    width: 2.2rem;
    height: 2.2rem;
  }
  .featured-product-special .xo-carousel-navigation__button svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.featured-product-special .xo-carousel-navigation--in-content .xo-carousel-navigation__nav {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .featured-product-special .xo-carousel-navigation--in-content .xo-carousel-navigation__nav {
    padding: 0 1.6rem;
  }
}
.featured-product-special .xo-carousel-navigation__button[xo-disabled]:not([xo-disabled=false]) {
  opacity: 1;
  cursor: not-allowed;
}
@media (max-width: 767px) {
  .featured-product-special .xo-carousel-navigation--in-content {
    top: 50%;
  }
}

.featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .shopify-payment-button__button {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-featured-product-content__add {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
  cursor: not-allowed;
}
.featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-product-info-content__pricing {
  display: none;
}
.featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__content {
  text-shadow: none;
}
.featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__text {
  position: relative;
  color: transparent;
  width: 100%;
}
.featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__text::before {
  content: attr(data-text-unavailable);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
[dir=ltr] .featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__text::before {
  left: 50%;
}
[dir=rtl] .featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__text::before {
  right: 50%;
}
[dir=ltr] .featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__text::before {
  transform: translateX(-50%);
}
[dir=rtl] .featured-product-special__product[xo-unavailable]:not([xo-unavailable=false]) .xo-btn__text::before {
  transform: translateX(50%);
}

.featured-product-special__content--pd {
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  .featured-product-special__content--pd {
    padding-inline-end: 3rem;
  }
}
@media (min-width: 1200px) {
  .featured-product-special__content--pd {
    padding-inline-end: 5rem;
  }
}
@media (min-width: 1400px) {
  .featured-product-special__content--pd {
    padding-inline-end: 10rem;
  }
}

.featured-product-special__header--change {
  display: none;
}
@media (max-width: 767px) {
  .featured-product-special__header--change {
    display: block;
  }
}

.featured-product-special__content--change {
  display: none;
}
.featured-product-special__content--change .xo-product-info-content__title {
  display: block;
}
@media (max-width: 767px) {
  .featured-product-special__content--change .xo-product-info-content__title {
    display: none;
  }
}
.featured-product-special__content--change .xo-product-info-content__description {
  word-break: break-word;
  word-wrap: break-word;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.35 / var(--font-body-scale));
  font-weight: 500;
  padding: 1.6rem 0;
}
@media (min-width: 768px) {
  .featured-product-special__content--change .xo-product-info-content__description {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    font-weight: 400;
    line-height: calc(1 + 0.43 / var(--font-body-scale));
    padding-bottom: 3.5rem;
  }
}
.featured-product-special__content--change .xo-product-info-content__price {
  padding-bottom: 3.3rem;
  font-size: calc(var(--font-body-scale) * 2.8rem);
  line-height: calc(1 + 0.25 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.056rem);
}
@media (max-width: 767px) {
  .featured-product-special__content--change .xo-product-info-content__price {
    font-size: calc(var(--font-body-scale) * 2.5rem);
    line-height: calc(1 + 0.44 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.05rem);
    padding-bottom: 1.4rem;
  }
}
.featured-product-special__content--change .xo-product-info-content {
  padding-top: 6.9rem;
}
@media (max-width: 767px) {
  .featured-product-special__content--change .xo-product-info-content {
    padding-top: 1rem;
  }
}

.featured-product-special__content {
  padding: 4.3rem 0 0 0;
}
@media (min-width: 992px) {
  .featured-product-special__content {
    padding: 4rem 0 3.2rem 3.2rem;
  }
}
@media (min-width: 1400px) {
  .featured-product-special__content {
    padding: 8rem 0 7.2rem 5.2rem;
  }
}