.main-page {
  width: 100%;
}
.main-page ul,
.main-page ol {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-page__wrapper--center {
  text-align: center;
}

.main-page__wrapper--right {
  text-align: right;
}

.main-page__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
}

.main-page__content {
  padding: 1.7rem 0 0 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 400;
  font-size: calc(var(--font-nody-scale) * 1.7rem);
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.034rem);
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .main-page__content {
    padding: 1.6rem 0 0 0;
  }
}