.main-search .xo-field-select-custom__popover {
  min-width: 25rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid rgba(var(--color-border), 0.15);
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0784313725);
  border-radius: 0.8rem;
  border: none;
}
.main-search .xo-pagination__list {
  padding: 7.2rem 0;
}
@media (min-width: 768px) {
  .main-search .xo-pagination__list {
    padding: 5.6rem 0;
  }
}
.main-search .xo-facets-horizontal__caption--hide {
  display: none;
}

.main-search__header .xo-predictive-search {
  padding: 0;
}
.main-search__header .xo-field-input__input {
  padding: 1.4rem 0;
}
@media (min-width: 768px) {
  .main-search__header .xo-field-input__input {
    padding: 2rem 0;
  }
}
.main-search__header .xo-field-input__input::placeholder {
  opacity: 0.4;
}
.main-search__header .xo-predictive-search__search {
  display: flex;
  justify-content: center;
  top: 60%;
}

.main-search__search {
  padding: 17.6rem 0 9.8rem 0;
}
@media (max-width: 767px) {
  .main-search__search {
    padding: 11.2rem 0 3.2rem 0;
  }
}

.main-search__tag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-top: 3.1rem;
}

.main-search__tag-item {
  padding: 0.5rem 1.2rem;
  border-radius: 0.6rem;
  background-color: rgba(var(--color-accent), 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
}
.main-search__tag-item a {
  color: rgba(var(--color-accent), 0.6);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.57 / var(--font-body-scale));
  transition: all 0.5s;
}
.main-search__tag-item:hover {
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.main-search__tag-item:hover a {
  color: rgba(var(--color-button-text), 1);
}

.main-search__tag-item.active {
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
  transition: all 0.5s;
}
.main-search__tag-item.active a {
  color: rgba(var(--color-button-text), 1);
}

.main-search__result {
  padding-bottom: 6rem;
}

.main-search__result--modifier {
  padding-bottom: 0;
}

.main-search__result-text {
  padding: 2.4rem 0;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
}
.main-search__result-text span {
  opacity: 0.7;
  padding: 0 0.8rem;
}

.main-search__result-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
  padding: 4.2rem 0 19.2rem 0;
}
@media (min-width: 992px) {
  .main-search__result-empty {
    padding: 5.6rem 0 10.9rem 0;
  }
}
@media (min-width: 1400px) {
  .main-search__result-empty {
    padding: 9.6rem 0 16.9rem 0;
  }
}

.main-search__text-empty {
  width: 100%;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .main-search__text-empty {
    gap: 0.4rem;
    width: 100%;
    max-width: 64rem;
  }
}

.main-search__empty-heading {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-heading-4-scale) * 3.1rem);
  line-height: calc(1 + 0.2 / var(--font-heading-4-scale));
  letter-spacing: calc(var(--font-heading-4-scale) * -0.093rem);
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .main-search__empty-heading {
    font-size: calc(var(--font-heading-4-scale) * 4.2rem);
    line-height: calc(1 + -0.02 / var(--font-heading-4-scale));
    letter-spacing: calc(var(--font-heading-4-scale) * -0.21rem);
  }
}

.main-search__empty-description {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 400;
  line-height: calc(1 + 0.42 / var(--font-body-scale));
  opacity: 0.7;
}
.main-search__empty-description span {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
}

.xo-filters-main-search[xo-loading] .vertical-loader-search,
.xo-filters-main-search[xo-loading] .xo-filters-main-search__loader {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(0.2 * 100%), transparent);
  opacity: 0.6;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .vertical-filter-search {
    padding-inline-end: 5rem;
  }
}
.vertical-filter-search .xo-facets-vertical {
  display: none;
}
@media (min-width: 768px) {
  .vertical-filter-search .xo-facets-vertical {
    display: block;
  }
}
.vertical-filter-search .xo-collapse__trigger-icon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.vertical-product-search,
.xo-filters-main-search__filter-content {
  position: relative;
}

.vertical-loader-search,
.xo-filters-main-search__loader {
  display: none;
}