@media (min-width: 1140px) {
  .xo-header--style-4 .xo-header__logo-img--transparent {
    display: none;
  }
  .xo-header--style-4 .xo-header__logo-img--sticky {
    display: block;
  }
  .xo-header--style-4 .xo-header__logo-heading-logo {
    max-width: unset;
  }
}
.xo-header--style-4 .xo-header__box-first {
  box-shadow: 0 3.4rem 10.4rem 0 rgba(0, 0, 0, 0.1);
  max-width: 120rem;
}
@media (max-width: 1139px) {
  .xo-header--style-4 .xo-header__box-first {
    gap: 2rem;
    box-shadow: none;
  }
}
.xo-header--style-4 .xo-menu-horizontal__mega-menu {
  border: none;
}
.xo-header--style-4 .xo-header__body {
  padding-top: 0;
}
@media (min-width: 1140px) {
  .xo-header--style-4 .xo-header__body {
    padding-top: 2rem;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-4 .xo-header__sticky {
    padding-top: 2rem;
  }
}
.xo-header--style-4 .xo-header__box-first--radius {
  transition: all 0.3s;
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky {
  padding: 2.2rem 0 0 0;
  background-color: transparent;
}
@media (max-width: 1140px) {
  .xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky {
    padding: 2.2rem 0 0 0;
  }
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__body {
  padding-top: 0;
}
@media (min-width: 1140px) {
  .xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__body {
    padding-top: 2rem;
  }
}
@media (max-width: 1140px) {
  .xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky {
    padding-top: 2rem;
  }
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-first {
  box-shadow: 0 3.4rem 10.4rem 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 1140px) {
  .xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-first {
    padding: 0.5rem 1.8rem;
    background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
    box-shadow: none;
  }
}
@media (max-width: 1139px) {
  .xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-first--radius {
    border-radius: var(--header-radius-1);
  }
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__box-second--style-4 {
  padding: 0;
  background-color: transparent;
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__container {
  padding: 0;
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__mega-menu {
  background: none;
}
.xo-header--style-4 xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .mega-menu-1__container {
  padding: 0 2rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-header--style-4 .xo-header__content {
  justify-content: end;
}
.xo-header--style-4 .xo-header__container {
  padding: 0;
  background-color: transparent;
}
.xo-header--style-4 .xo-menu-horizontal {
  padding-top: 0;
}
.xo-header--style-4 .xo-menu-horizontal__item--first {
  padding: 2.5rem 0 2.1rem 0;
}
.xo-header--style-4 .xo-header__right {
  padding: 1.5rem 0 2.1rem 0 !important;
}
.xo-header--style-4 .xo-header__left {
  justify-content: start;
  padding-bottom: 2.2rem;
  border-bottom: 0.1rem solid rgba(var(--color-overlay), 0.1);
}
@media (max-width: 1140px) {
  .xo-header--style-4 .xo-header__left {
    padding: 0;
    border-bottom: none;
  }
}

.xo-header__box-second--style-4 {
  display: flex;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.31, 0.41, 0.38, 0.96);
}
@media (max-width: 1140px) {
  .xo-header__box-second--style-4 {
    padding: 0.5rem 1.8rem;
    gap: 6rem;
    background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  }
}
@media (min-width: 1140px) {
  .xo-header__box-second--style-4 {
    padding: 0 1rem 0 0;
    gap: 4rem;
  }
  .xo-header__box-second--style-4 .xo-header__right {
    padding: 2.1rem 0 3rem 0;
  }
}
@media (min-width: 1400px) {
  .xo-header__box-second--style-4 {
    gap: 7rem;
  }
}
@media (min-width: 1600px) {
  .xo-header__box-second--style-4 {
    gap: 10rem;
  }
}

@media (max-width: 1140px) {
  .xo-header__box-second--style-4-radius {
    border-radius: 2.35rem;
  }
}

.xo-header--style-4:has(.xo-menu-horizontal__item--first:hover .xo-menu-horizontal__mega-menu:not(:empty)) .xo-header__box-first--radius {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.xo-header--style-4:has(.xo-menu-horizontal__item--first:hover .xo-menu-horizontal__mega-menu:not(:empty)) .xo-menu-horizontal__mega-menu {
  border-top-right-radius: 0;
}

@media (max-width: 1140px) {
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-4:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent {
    display: block;
  }
  .shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-4:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky {
    display: none;
  }
}