.xo-header {
  width: 100%;
  position: relative;
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.31, 0.41, 0.38, 0.96);
}

.xo-header--style-1,
.xo-header--style-2,
.xo-header--style-3,
.xo-header--style-4,
.xo-header--style-5 {
  position: sticky;
  z-index: 100;
  top: 0;
}
[dir=ltr] .xo-header--style-1,
[dir=ltr] .xo-header--style-2,
[dir=ltr] .xo-header--style-3,
[dir=ltr] .xo-header--style-4,
[dir=ltr] .xo-header--style-5 {
  left: 0;
}
[dir=rtl] .xo-header--style-1,
[dir=rtl] .xo-header--style-2,
[dir=rtl] .xo-header--style-3,
[dir=rtl] .xo-header--style-4,
[dir=rtl] .xo-header--style-5 {
  right: 0;
}

.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(.xo-header:has(xo-sticky[xo-is-sticky])),
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-3:not(.xo-header:has(xo-sticky[xo-is-sticky])) {
  background-color: transparent;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-3:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--transparent {
  display: block;
}
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-1:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky,
.shopify-section.section-header:has(~ #xo-main-content > .shopify-section.section-hero:first-child) .xo-header--style-3:not(.xo-header:has(xo-sticky[xo-is-sticky])) .xo-header__logo-img--sticky {
  display: none;
}

.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) {
  background: var(--color-background);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__sticky {
  background-color: rgb(var(--color-background));
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__logo-img--transparent {
  display: none;
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__logo-img--sticky {
  display: block;
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__link {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__item:hover > .xo-menu-horizontal__link,
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__item.xo-menu-horizontal__item--current > .xo-menu-horizontal__link {
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__item:hover > .xo-menu-horizontal__link svg,
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__item.xo-menu-horizontal__item--current > .xo-menu-horizontal__link svg {
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__arrow svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__line-hover {
  background-color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__item:hover > .xo-menu-horizontal__link {
  color: rgb(var(--color-accent));
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__item:hover > .xo-menu-horizontal__link svg {
  color: rgb(var(--color-accent));
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__polygon svg {
  color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-menu-horizontal__border svg {
  color: rgba(var(--color-foreground), 0.1);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__right-item--language .xo-language-select__trigger {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header xo-sticky[xo-is-sticky]:not([xo-is-sticky=false]) .xo-header__right-item--currency .xo-currency-select__trigger {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-header__sticky {
  position: relative;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.31, 0.41, 0.38, 0.96);
  will-change: transform;
  padding-top: 0 !important;
}

.xo-header__container {
  margin: 0 2.2rem;
  padding: 0 3.1rem;
  transition: all 0.5s cubic-bezier(0.31, 0.41, 0.38, 0.96);
  will-change: transform;
}
@media (max-width: 767px) {
  .xo-header__container {
    padding: 0 2.2rem;
  }
}

.xo-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
@media (min-width: 992px) {
  .xo-header__content {
    gap: 2rem;
  }
}

@media (max-width: 1140px) {
  .xo-header__content--reverse {
    flex-direction: row-reverse;
  }
}

.xo-header__desktop:not(.xo-header__desktop--only) {
  display: none;
}
@media (min-width: 1141px) {
  .xo-header__desktop:not(.xo-header__desktop--only) {
    display: block;
  }
}

.xo-header__mobile {
  display: block;
}
@media (min-width: 1141px) {
  .xo-header__mobile {
    display: none;
  }
}

.xo-header__center {
  display: flex;
  align-items: center;
}
.xo-header__center svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header__center .xo-menu-horizontal__polygon svg {
  color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-header__center .xo-menu-horizontal__border svg {
  color: rgba(var(--color-foreground), 0.1);
}

.xo-header__center--width {
  order: -1;
}
@media (max-width: 1140px) {
  .xo-header__center--width {
    width: unset;
  }
}
@media (min-width: 1140px) {
  .xo-header__center--width {
    width: 50%;
  }
}

.xo-header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .xo-header__left {
    flex-shrink: 0;
  }
}
.xo-header__left a {
  display: flex;
  align-items: center;
}

.xo-header__logo-img {
  width: var(--width_mobile);
  height: var(--height_mobile);
}
@media (min-width: 992px) {
  .xo-header__logo-img {
    width: var(--width_desktop);
    height: var(--height_desktop);
  }
}

.xo-header__logo-img--sticky {
  display: block;
}

.xo-header__logo-img--transparent {
  display: none;
}

.xo-header__logo-heading-logo {
  width: 100%;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  word-break: break-word;
  word-wrap: break-word;
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  .xo-header__logo-heading-logo {
    max-width: 30rem;
  }
}
@media (min-width: 992px) {
  .xo-header__logo-heading-logo {
    max-width: 50rem;
    font-size: calc(var(--font-body-scale) * 3.2rem);
    letter-spacing: calc(var(--font-body-scale) * -0.096rem);
    line-height: calc(1 + 0.12 / var(--font-body-scale));
  }
}
@media (min-width: 1141px) {
  .xo-header__logo-heading-logo {
    max-width: 25rem;
  }
}

.xo-header__right {
  display: none;
}
@media (min-width: 1141px) {
  .xo-header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 1140px) {
  .xo-header__right--width {
    width: unset;
  }
}
@media (min-width: 1140px) {
  .xo-header__right--width {
    width: 50%;
  }
}

.xo-header__right-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}
.xo-header__right-item svg {
  transition: all 0.3s;
}
.xo-header__right-item:hover svg {
  opacity: 0.65;
  transition: all 0.3s;
}
.xo-header__right-item:hover .xo-header__right-number {
  opacity: 1;
  transition: all 0.3s;
}

.xo-header__right-item--language,
.xo-header__right-item--currency,
.xo-header__right-item--search,
.xo-header__right-item--account,
.xo-header__right-item--favorite,
.xo-header__right-item--cart {
  padding: 1rem;
}

.xo-header__right-item--search svg,
.xo-header__right-item--account svg,
.xo-header__right-item--favorite svg,
.xo-header__right-item--cart svg {
  transition: all 0.5s;
  will-change: transform;
}
.xo-header__right-item--search:hover svg,
.xo-header__right-item--account:hover svg,
.xo-header__right-item--favorite:hover svg,
.xo-header__right-item--cart:hover svg {
  transform: scale(1.1);
}

.xo-header__right-item--favorite {
  position: relative;
}

.xo-header__right-item--account {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-header__right-item--cart {
  position: relative;
}

.xo-header__right-number {
  padding: 0.4rem;
  min-width: 1.8rem;
  height: 1.8rem;
  background-color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
  border-radius: 1.6rem;
  position: absolute;
  top: 50%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color-mix(in srgb, rgba(var(--color-foreground-3)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1rem);
  line-height: calc(1 + 0 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.01rem);
  transition: all 0.3s;
}
[dir=ltr] .xo-header__right-number {
  right: 0;
}
[dir=rtl] .xo-header__right-number {
  left: 0;
}

.xo-header__box-first {
  padding: 3rem 2.6rem 0 3.2rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
@media (max-width: 1140px) {
  .xo-header__box-first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
  }
}

.xo-header__box-first--radius {
  border-radius: var(--header-radius-1);
}
@media (max-width: 1140px) {
  .xo-header__box-first--radius {
    border-radius: 0;
  }
}

.xo-header__right-item--currency {
  display: flex;
  align-items: center;
}
.xo-header__right-item--currency .xo-currency-select {
  margin: 0;
}
.xo-header__right-item--currency .xo-currency-select__trigger {
  opacity: 1;
}
.xo-header__right-item--currency .xo-currency-select__trigger span {
  white-space: nowrap;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.38 / var(--font-body-scale));
}
.xo-header__right-item--currency .xo-currency-select__content {
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-header__right-item--currency .xo-currency-select__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

.xo-header__right-item--language {
  display: flex;
  align-items: center;
}
.xo-header__right-item--language .xo-language-select {
  margin: 0;
}
.xo-header__right-item--language .xo-language-select__trigger {
  opacity: 1;
}
.xo-header__right-item--language .xo-language-select__trigger span {
  white-space: nowrap;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  line-height: calc(1 + 0.38 / var(--font-body-scale));
}
.xo-header__right-item--language .xo-language-select__content {
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}
.xo-header__right-item--language .xo-language-select__item {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}