.xo-share {
  display: flex;
  gap: 1.3rem;
}

.xo-share__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  color: rgba(var(--color-foreground), 0.8);
  cursor: pointer;
  transition: 0.3s;
}
.xo-share__link svg {
  width: 100%;
  height: 100%;
}