.xo-share-product {
  width: 100%;
  padding-top: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-share-product__share-link {
  display: none;
}

.xo-share-product__share-link--block {
  display: block;
}

.xo-share-product__share-link-trigger {
  display: flex;
  align-items: end;
  gap: 0.3rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.37 / var(--font-body-scale));
  cursor: pointer;
}
.xo-share-product__share-link-trigger span {
  transition: all 0.3s;
  display: block;
}
.xo-share-product__share-link-trigger:hover span {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  transition: all 0.3s;
}

.xo-share-product__link-copy {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  overflow-y: hidden;
}
@media (min-width: 740px) {
  .xo-share-product__link-copy {
    padding: 2rem;
    max-width: 40rem;
  }
}

.xo-share-product__link-url {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  line-height: calc(1 + 0.35 / var(--font-body-scale));
  white-space: nowrap;
}
@media (min-width: 768px) {
  .xo-share-product__link-url {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.37 / var(--font-body-scale));
  }
}

.xo-share-product__icon-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.xo-share-product__icon-copy:hover {
  opacity: 0.5;
}

.xo-toast-inner {
  padding: 1.5rem 2rem;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-weight: 500;
  line-height: calc(1 + 0.37 / var(--font-body-scale));
}
@media (max-width: 767px) {
  .xo-toast-inner {
    width: 100%;
    font-size: calc(var(--font-body-scale) * 1.4rem);
    line-height: calc(1 + 0.35 / var(--font-body-scale));
  }
}
.xo-toast-inner svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
}

@media (max-width: 767px) {
  xo-toast-portal[xo-placement$=-center] {
    width: 100%;
  }
}

.xo-share-product__icon-link {
  display: flex;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
}

.xo-share-product__share-social {
  display: none;
  align-items: center;
  gap: 0.4rem;
}

.xo-share-product__share-social--block {
  display: flex;
}

.xo-share-product__list-icon-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.xo-share-product__icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.xo-share-product__icon-social:hover {
  opacity: 0.6;
}
.xo-share-product__icon-social a {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}