.testimonial-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 992px) {
  .testimonial-box {
    gap: 5rem;
  }
}
@media (min-width: 1400px) {
  .testimonial-box {
    gap: 7.2rem;
  }
}

.testimonial-box__navigation {
  width: fit-content;
  display: flex;
  gap: 0.8rem;
}
.testimonial-box__navigation xo-carousel-prev[xo-disabled] .testimonial-box__navi-icon,
.testimonial-box__navigation xo-carousel-next[xo-disabled] .testimonial-box__navi-icon {
  opacity: 0.1;
  cursor: not-allowed;
}

.testimonial-box__navi-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.testimonial-box__navi-icon--desktop {
  display: none;
}
@media (min-width: 992px) {
  .testimonial-box__navi-icon--desktop {
    display: flex;
  }
}

.testimonial-box__navi-icon--mobile {
  display: flex;
}
@media (min-width: 992px) {
  .testimonial-box__navi-icon--mobile {
    display: none;
  }
}

.testimonial-box__head {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 0;
}
@media (min-width: 768px) {
  .testimonial-box__head {
    gap: 2.8rem;
  }
}
@media (min-width: 992px) {
  .testimonial-box__head {
    padding-top: 4.65rem;
  }
}

.testimonial-box__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.testimonial-box__content {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 2.4rem);
  line-height: calc(1 + 0.1 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.12rem);
  word-break: break-word;
  word-wrap: break-word;
  padding: 0;
}
@media (min-width: 768px) {
  .testimonial-box__content {
    padding: 0.4rem 0;
  }
}
@media (min-width: 992px) {
  .testimonial-box__content {
    font-size: calc(var(--font-body-scale) * 4.2rem);
    letter-spacing: calc(var(--font-body-scale) * -0.21rem);
  }
}

@media (max-width: 767px) {
  .testimonial-box__customer {
    padding-top: 0.7rem;
  }
}

.testimonial-box__verified {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.testimonial-box__verified-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-box__verified-text {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .testimonial-box__verified-text {
    font-size: calc(var(--font-body-scale) * 1.4rem);
  }
}

.testimonial-box__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.testimonial-box__avatar {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}
.testimonial-box__avatar .xo-image {
  width: 100%;
  height: 100%;
}
.testimonial-box__avatar img {
  width: 100%;
  height: 100%;
}
.testimonial-box__avatar .xo-image__placeholder {
  height: 100%;
  width: 100%;
}
.testimonial-box__avatar .placeholder-svg {
  width: 100%;
  height: 100%;
}

.testimonial-box__name {
  padding-bottom: 0.6rem;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1 + 0.62 / var(--font-body-scale));
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .testimonial-box__name {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.44 / var(--font-body-scale));
  }
}