@media (max-width: 767px) {
  .testimonial-box-1__grid {
    row-gap: 4rem;
  }
}

.testimonial-box-1__left {
  padding-inline-end: 0;
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .testimonial-box-1__left {
    padding-bottom: 2.25rem;
    padding-inline-end: 5rem;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-1__left {
    padding-inline-end: 10rem;
  }
}
@media (max-width: 767px) {
  .testimonial-box-1__left .testimonial-box__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0;
  }
  .testimonial-box-1__left .testimonial-box__customer {
    padding-top: 0.7rem;
  }
}

.testimonial-box-1__right {
  height: 100%;
}
.testimonial-box-1__right .image-button {
  height: 100%;
}
.testimonial-box-1__right .image-button__image {
  height: 100%;
}