.testimonial-box-2__right {
  padding-inline-start: 0;
}
@media (min-width: 992px) {
  .testimonial-box-2__right {
    padding-inline-start: 4.6rem;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-2__right {
    padding-inline-start: 6rem;
  }
}
.testimonial-box-2__right .testimonial-box {
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .testimonial-box-2__right .testimonial-box {
    gap: 5.2rem;
  }
}
.testimonial-box-2__right .testimonial-box__head {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 2.4rem;
}
@media (max-width: 767px) {
  .testimonial-box-2__right .testimonial-box__head {
    gap: 1.6rem;
    padding-top: 2.6rem;
  }
}
.testimonial-box-2__right .testimonial-box__icon {
  display: none;
}
.testimonial-box-2__right .testimonial-box__content {
  display: block;
}
@media (max-width: 767px) {
  .testimonial-box-2__right .testimonial-box__content {
    padding: 0;
  }
}
.testimonial-box-2__right .testimonial-box__customer {
  padding-top: 0;
}
.testimonial-box-2__right .testimonial-box__navi-icon--desktop {
  display: none;
}
.testimonial-box-2__right .testimonial-box__navi-icon--mobile {
  display: flex;
}
.testimonial-box-2__right xo-carousel-prev[xo-disabled] .testimonial-box__navi-icon,
.testimonial-box-2__right xo-carousel-next[xo-disabled] .testimonial-box__navi-icon {
  opacity: 0.65 !important;
  cursor: not-allowed;
}