.testimonial-box-8 .testimonial-box {
  height: 100%;
  justify-content: space-between;
}
.testimonial-box-8 .testimonial-box__navigation {
  opacity: 0;
  transition: all 0.3s;
}
.testimonial-box-8 xo-carousel-slide[xo-active] .testimonial-box__navigation {
  opacity: 1;
  transition-delay: 0.6s;
}

.testimonial-box-8__grid--product .testimonial-box-8__right {
  padding-inline-start: 0;
}
@media (min-width: 992px) {
  .testimonial-box-8__grid--product .testimonial-box-8__right {
    padding-inline-start: 4.6rem;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-8__grid--product .testimonial-box-8__right {
    padding-inline-start: 6rem;
  }
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box {
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box {
    gap: 5.2rem;
  }
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__head {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 2.4rem;
}
@media (max-width: 767px) {
  .testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__head {
    gap: 1.6rem;
    padding-top: 2.6rem;
  }
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__icon {
  display: none;
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__content {
  display: block;
}
@media (max-width: 767px) {
  .testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__content {
    padding: 0;
  }
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__customer {
  padding-top: 0;
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__navi-icon--desktop {
  display: none;
}
.testimonial-box-8__grid--product .testimonial-box-8__right .testimonial-box__navi-icon--mobile {
  display: flex;
}
.testimonial-box-8__grid--product .testimonial-box-8__right xo-carousel-prev[xo-disabled] .testimonial-box__navi-icon,
.testimonial-box-8__grid--product .testimonial-box-8__right xo-carousel-next[xo-disabled] .testimonial-box__navi-icon {
  opacity: 0.65 !important;
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .testimonial-box-8__grid--image {
    row-gap: 4rem;
  }
}
.testimonial-box-8__grid--image .testimonial-box-8__left {
  padding-inline-end: 0;
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .testimonial-box-8__grid--image .testimonial-box-8__left {
    padding-bottom: 2.25rem;
    padding-inline-end: 5rem;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-8__grid--image .testimonial-box-8__left {
    padding-inline-end: 10rem;
  }
}
@media (max-width: 767px) {
  .testimonial-box-8__grid--image .testimonial-box-8__left .testimonial-box__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0;
  }
  .testimonial-box-8__grid--image .testimonial-box-8__left .testimonial-box__customer {
    padding-top: 0.7rem;
  }
}
.testimonial-box-8__grid--image .testimonial-box-8__right {
  height: 100%;
}
.testimonial-box-8__grid--image .testimonial-box-8__right .image-button {
  height: 100%;
}
.testimonial-box-8__grid--image .testimonial-box-8__right .image-button__image {
  height: 100%;
}