.testimonial-box-9__inner[data-length="1"] .testimonial-box-9__item--1 {
  top: 20%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="1"] .testimonial-box-9__item--1 {
  left: 10%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="1"] .testimonial-box-9__item--1 {
  right: 10%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="1"] .testimonial-box-9__item--1 {
    top: 50%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="1"] .testimonial-box-9__item--1 {
    left: 50%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="1"] .testimonial-box-9__item--1 {
    right: 50%;
  }
}

.testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--1 {
  top: 18%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--1 {
  left: 12%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--1 {
  right: 12%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--1 {
    top: 48%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--1 {
    left: 40%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--1 {
    right: 40%;
  }
}
.testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--2 {
  top: 20%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--2 {
  left: 50%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--2 {
  right: 50%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--2 {
    top: 50%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--2 {
    left: 60%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="2"] .testimonial-box-9__item--2 {
    right: 60%;
  }
}

.testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--1 {
  top: 25%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--1 {
  left: 12%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--1 {
  right: 12%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--1 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--1 {
    left: 20%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--1 {
    right: 20%;
  }
}
.testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--2 {
  top: 22%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--2 {
  left: 52%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--2 {
  right: 52%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--2 {
    top: 25%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--2 {
    left: 50%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--2 {
    right: 50%;
  }
}
.testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--3 {
  top: 45%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--3 {
  left: 2%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--3 {
  right: 2%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--3 {
    top: 75%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--3 {
    left: 70%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="3"] .testimonial-box-9__item--3 {
    right: 70%;
  }
}

.testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--1 {
  top: 25%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--1 {
  left: 10%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--1 {
  right: 10%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--1 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--1 {
    left: 10%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--1 {
    right: 10%;
  }
}
.testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--2 {
  top: 22%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--2 {
  left: 60%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--2 {
  right: 60%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--2 {
    top: 40%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--2 {
    left: 40%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--2 {
    right: 40%;
  }
}
.testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--3 {
  top: 64%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--3 {
  left: 15%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--3 {
  right: 15%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--3 {
    top: 40%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--3 {
    left: 90%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--3 {
    right: 90%;
  }
}
.testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--4 {
  top: 65%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--4 {
  left: 50%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--4 {
  right: 50%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--4 {
    top: 90%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--4 {
    left: 50%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="4"] .testimonial-box-9__item--4 {
    right: 50%;
  }
}

.testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--1 {
  top: 40%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--1 {
  left: 2%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--1 {
  right: 2%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--1 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--1 {
    left: 5%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--1 {
    right: 5%;
  }
}
.testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--2 {
  top: 20%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--2 {
  left: 25%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--2 {
  right: 25%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--2 {
    top: 30%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--2 {
    left: 25%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--2 {
    right: 25%;
  }
}
.testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--3 {
  top: 65%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--3 {
  left: 25%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--3 {
  right: 25%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--3 {
    top: 80%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--3 {
    left: 35%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--3 {
    right: 35%;
  }
}
.testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--4 {
  top: 15%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--4 {
  left: 60%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--4 {
  right: 60%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--4 {
    top: 50%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--4 {
    left: 50%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--4 {
    right: 50%;
  }
}
.testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--5 {
  top: 65%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--5 {
  left: 80%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--5 {
  right: 80%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--5 {
    top: 70%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--5 {
    left: 70%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="5"] .testimonial-box-9__item--5 {
    right: 70%;
  }
}

.testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--1 {
  top: 40%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--1 {
  left: 2%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--1 {
  right: 2%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--1 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--1 {
    left: 5%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--1 {
    right: 5%;
  }
}
.testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--2 {
  top: 20%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--2 {
  left: 35%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--2 {
  right: 35%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--2 {
    top: 35%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--2 {
    left: 25%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--2 {
    right: 25%;
  }
}
.testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--3 {
  top: 65%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--3 {
  left: 50%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--3 {
  right: 50%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--3 {
    top: 85%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--3 {
    left: 30%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--3 {
    right: 30%;
  }
}
.testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--4 {
  top: 65%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--4 {
  left: 5%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--4 {
  right: 5%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--4 {
    top: 50%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--4 {
    left: 45%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--4 {
    right: 45%;
  }
}
.testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--5 {
  top: 70%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--5 {
  left: 80%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--5 {
  right: 80%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--5 {
    top: 80%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--5 {
    left: 80%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--5 {
    right: 80%;
  }
}
.testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--6 {
  top: 16%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--6 {
  left: 70%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--6 {
  right: 70%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--6 {
    top: 30%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--6 {
    left: 90%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="6"] .testimonial-box-9__item--6 {
    right: 90%;
  }
}

.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
  top: 66%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
  left: 60%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
  right: 60%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
    left: 0;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
    right: 0;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
    left: 9.3rem;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--1 {
    right: 9.3rem;
  }
}
.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
  top: 30%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
  left: 0;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
  right: 0;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
    top: 30%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
    left: 15%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
    right: 15%;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
    top: 30%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
    left: 21%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--2 {
    right: 21%;
  }
}
.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
  top: 44%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
  left: 0;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
  right: 0;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
    top: unset;
    bottom: 0;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
    left: 16%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
    bottom: 0;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
    left: 20%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--3 {
    right: 20%;
  }
}
.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
  top: 70%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
  left: 2.3rem;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
  right: 2.3rem;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
    left: 30%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
    right: 30%;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
    top: 60%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
    left: 35%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--4 {
    right: 35%;
  }
}
.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
  bottom: 10rem;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
  left: 80%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
  right: 80%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
    bottom: 8.9rem;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
    left: 60%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
    right: 60%;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
    bottom: 8.9rem;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
    left: 57%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--5 {
    right: 57%;
  }
}
.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
  bottom: 74%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
  right: 8%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
  left: 8%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
    bottom: 0;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
    right: 5%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
    left: 5%;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
    bottom: 0;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
    right: 14%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--6 {
    left: 14%;
  }
}
.testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
  top: 20%;
}
[dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
  right: 50%;
}
[dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
  left: 50%;
}
@media (min-width: 992px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
    top: 30%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
    right: 5%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
    left: 5%;
  }
}
@media (min-width: 1400px) {
  .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
    top: 30%;
  }
  [dir=ltr] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
    right: 7%;
  }
  [dir=rtl] .testimonial-box-9__inner[data-length="7"] .testimonial-box-9__item--7 {
    left: 7%;
  }
}