.testimonial-box-5__heading {
  font-family: var(--font-heading-family);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  font-weight: var(--font-heading-weight);
  word-break: break-word;
  word-wrap: break-word;
}

.testimonial-box-5__content {
  display: flex;
  align-items: start;
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .testimonial-box-5__content {
    flex-direction: column;
  }
}

.testimonial-box-5__item {
  padding: 0.8rem !important;
}
.testimonial-box-5__item .testimonial-box {
  padding: 2.4rem;
  width: 100%;
  max-width: 45.3rem;
  background-color: color-mix(in srgb, rgba(var(--color-layer)) calc(1 * 100%), transparent);
  overflow: hidden;
}
@media (min-width: 992px) {
  .testimonial-box-5__item .testimonial-box {
    padding: 3.3rem 1rem 3.4rem 3rem;
  }
}
.testimonial-box-5__item .testimonial-box--radius {
  border-radius: 2rem;
}
.testimonial-box-5__item .testimonial-box__head {
  padding: 0;
  gap: 1.6rem;
}
.testimonial-box-5__item .testimonial-box__content {
  padding: 0;
  display: block;
  font-weight: 400;
  font-size: calc(var(--font-body-scale) * 1.8rem);
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.054rem);
}
@media (min-width: 768px) {
  .testimonial-box-5__item .testimonial-box__content {
    font-size: calc(var(--font-body-scale) * 2.2rem);
    letter-spacing: calc(var(--font-body-scale) * -0.066rem);
  }
}
.testimonial-box-5__item .testimonial-box__name {
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
  opacity: 0.8;
}
@media (min-width: 768px) {
  .testimonial-box-5__item .testimonial-box__name {
    font-size: calc(var(--font-body-scale) * 1.6rem);
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}