.xo-transform-list table {
  width: 100%;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(0.9 * 100%), transparent);
  border: none;
  border-spacing: 0;
}
.xo-transform-list table tr:last-child td {
  border-bottom: 0;
}
@media (max-width: 767px) {
  .xo-transform-list table tr:last-child td {
    padding: 1.4rem 2.3rem 0 0;
  }
}
.xo-transform-list table td {
  border: none;
  padding: 1.4rem 0;
  border-top: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  color: rgba(var(--color-foreground), 0.6);
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: calc(var(--font-body-scale) * -0.015rem);
}
@media (min-width: 768px) {
  .xo-transform-list table td {
    padding: 2.3rem 0;
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.4 / var(--font-body-scale));
    letter-spacing: calc(var(--font-body-scale) * -0.016rem);
  }
}
.xo-transform-list table td:last-child {
  padding: 1.4rem 2.3rem 1.4rem 0;
  text-align: right;
  color: rgba(var(--color-foreground), 1);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  letter-spacing: calc(var(--font-body-scale) * -0.032rem);
}
@media (min-width: 768px) {
  .xo-transform-list table td:last-child {
    padding: 2.3rem 2.6rem 2.3rem 0;
    font-size: calc(var(--font-body-scale) * 1.7rem);
    letter-spacing: calc(var(--font-body-scale) * -0.034rem);
  }
}
@media (min-width: 1400px) {
  .xo-transform-list table td:last-child {
    padding: 2.3rem 5.6rem 2.3rem 0;
  }
}

.xo-transform-list__hidden-item {
  display: none;
}