.xo-transform-pill__hidden-item {
  display: none;
}

.xo-transform-pill__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-top: 1rem;
}

.xo-transform-pill__link {
  padding: 0.5rem 1rem;
  background-color: rgba(var(--color-button), 0.1);
  color: rgba(var(--color-button), 0.6);
  font-weight: 500;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  cursor: pointer;
  transition: all 0.3s;
}
.xo-transform-pill__link:hover {
  background-color: rgba(var(--color-button), 1);
  color: rgba(var(--color-button-text), 1);
}

.xo-transform-pill--radius .xo-transform-pill__link {
  border-radius: 2.5rem;
}