.video-button {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-button--radius {
  border-radius: 2rem;
  overflow: hidden;
}

.video-button__content {
  width: 100%;
  height: 100%;
}

.video-button__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 1;
  transition: all 0.3s;
}
[dir=ltr] .video-button__button {
  left: 50%;
}
[dir=rtl] .video-button__button {
  right: 50%;
}