xo-video-custom {
  display: block;
  height: 100%;
  width: 100%;
}
xo-video-custom .xo-media {
  height: 100%;
}
xo-video-custom .placeholder-svg {
  height: 100%;
  width: 100%;
}

.xo-video {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.xo-video__poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}
[dir=ltr] .xo-video__poster {
  left: 0;
}
[dir=rtl] .xo-video__poster {
  right: 0;
}
.xo-video__poster .xo-image {
  width: 100%;
  height: 100%;
}
.xo-video__poster .xo-image img {
  width: 100%;
  height: 100%;
}

.xo-video .xo-media iframe {
  width: 100%;
  height: 100%;
}
.xo-video .xo-media video {
  width: 100%;
  height: 100%;
}

.xo-video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 11;
}
[dir=ltr] .xo-video__button {
  left: 50%;
}
[dir=rtl] .xo-video__button {
  right: 50%;
}
[dir=ltr] .xo-video__button {
  transform: translate(-50%, -50%);
}
[dir=rtl] .xo-video__button {
  transform: translate(50%, -50%);
}