.xo-volume-discount {
  width: 100%;
  margin: 1.6rem 0;
}
.xo-volume-discount[xo-discount-value="0"] .xo-volume-discount__reduced {
  display: none;
}
.xo-volume-discount[xo-discount-value="0"] .xo-volume-discount__original {
  display: block;
}

.xo-volume-discount__reduced {
  display: flex;
}
@media (max-width: 767px) {
  .xo-volume-discount__reduced {
    flex-direction: row;
    gap: 0.4rem;
    padding-inline-start: 2.8rem;
  }
}

.xo-volume-discount__original {
  display: none;
}

.xo-volume-discount__trigger {
  position: relative;
  min-height: 8.5rem;
  width: 100%;
  padding: 2rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.xo-volume-discount__trigger--radius {
  border-radius: 1.2rem;
}

.xo-volume-discount__trigger[xo-checked] {
  border-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.xo-volume-discount__trigger[xo-checked] .xo-volume-discount__check {
  opacity: 1;
  transform: scale(1);
}

.xo-volume-discount__wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .xo-volume-discount__wrapper {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.2rem;
  }
}

.xo-volume-discount__box {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
  border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}

.xo-volume-discount__check {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  transform: scale(0);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.xo-volume-discount__price-item,
.xo-volume-discount__label {
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgba(var(--color-accent), 1);
  font-weight: 500;
}

.xo-volume-discount__label {
  display: block;
  color: rgba(var(--color-foreground), 1);
}

.xo-volume-discount__price-item--del {
  text-decoration: line-through;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  color: rgba(var(--color-accent), 0.5);
}

.xo-volume-discount__highlight {
  display: block;
  padding: 0.4rem 1.2rem;
  font-size: calc(var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.37 / var(--font-body-scale));
  font-weight: 500;
  color: var(--text-color);
  background: var(--bg-color);
}

.xo-volume-discount__highlight--aside.xo-volume-discount__highlight--radius {
  border-radius: 2.5rem;
}

.xo-volume-discount__highlight--above.xo-volume-discount__highlight--radius {
  border-radius: 0 0 0.5rem 0.5rem;
}

.xo-volume-discount__highlight--above {
  --color: color-mix(in srgb, rgba(var(--color-overlay)) 30%, var(--bg-color));
  position: absolute;
  top: -1.1rem;
  margin-inline-end: 0.5rem;
}
[dir=ltr] .xo-volume-discount__highlight--above {
  right: 1.6rem;
}
[dir=rtl] .xo-volume-discount__highlight--above {
  left: 1.6rem;
}
.xo-volume-discount__highlight--above::before {
  content: "";
  position: absolute;
  top: 0;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid var(--color);
}
[dir=ltr] .xo-volume-discount__highlight--above::before {
  left: -1rem;
}
[dir=rtl] .xo-volume-discount__highlight--above::before {
  right: -1rem;
}
.xo-volume-discount__highlight--above::after {
  content: "";
  position: absolute;
  top: 0;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid var(--color);
}
[dir=ltr] .xo-volume-discount__highlight--above::after {
  right: -1rem;
}
[dir=rtl] .xo-volume-discount__highlight--above::after {
  left: -1rem;
}